{% set adapter =
  coopcycle_setting('autocomplete_provider')|default(autocomplete_adapter)|default('geocode-earth') %}

<div id="autocomplete-adapter" data-value="{{ adapter }}"></div>

{% if adapter == 'locationiq' %}
<div id="locationiq"
  data-access-token="{{ locationiq_access_token }}"
  data-viewbox="{{ coopcycle_bounding_rect() }}"></div>
{% elseif adapter == 'google' %}
<div id="google"
  data-location="{{ coopcycle_setting('latlng')|e('html_attr') }}"
  data-lat-lng-bounds="{{ coopcycle_lat_lng_bounds() }}"></div>
{% else %}
<div id="geocode-earth" data-api-key="{{ geocode_earth_api_key }}"
  data-boundary-circle-latlon="{{ coopcycle_setting('latlng')|e('html_attr') }}"></div>
{% endif %}
