{% block coopcycle_address_book_widget %}
  <div id="{{ form.vars.id }}">

    {{ form_widget(form.existingAddress) }}
    {{ form_widget(form.newAddress.streetAddress) }}

    {{ form_widget(form.newAddress.postalCode, { attr: { 'data-address-prop': 'postalCode' } }) }}
    {{ form_widget(form.newAddress.addressLocality, { attr: { 'data-address-prop': 'addressLocality' } }) }}
    {{ form_widget(form.newAddress.latitude, { attr: { 'data-address-prop': 'latitude' } }) }}
    {{ form_widget(form.newAddress.longitude, { attr: { 'data-address-prop': 'longitude' } }) }}

    {{ form_widget(form.isNewAddress) }}
  </div>
{% endblock %}
