{% extends 'bootstrap_3_horizontal_layout.html.twig' %}

{% block _delivery_originAddress_streetAddress_row %}
{% spaceless %}
  <div class="form-group {% if not form.vars.valid %}has-error{% endif %}">
    <div class="col-sm-10 col-md-offset-2">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-cube"></i></div>
        {{ form_widget(form) }}
      </div>
    </div>
    {% if not form.vars.valid %}{{ form_errors(form) }}{% endif %}
  </div>
{% endspaceless %}
{% endblock %}

{% block _delivery_deliveryAddress_streetAddress_row %}
{% spaceless %}
  <div class="form-group {% if not form.vars.valid %}has-error{% endif %}">
    <div class="col-sm-10 col-md-offset-2">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-flag"></i></div>
        {{ form_widget(form) }}
      </div>
      {% if not form.vars.valid %}{{ form_errors(form) }}{% endif %}
    </div>
  </div>
{% endspaceless %}
{% endblock %}

{% block _delivery_date_row %}
{% spaceless %}
  {{ block('hidden_widget') }}
  <div class="form-group {% if not form.vars.valid %}has-error{% endif %}">
    {{ form_label(form) }}
    <div class="col-sm-10">
      <div id="datetimepicker" {% if not form.vars.valid %}data-has-error="true"{% endif %}></div>
      {% if not form.vars.valid %}{{ form_errors(form) }}{% endif %}
    </div>
  </div>
{% endspaceless %}
{% endblock %}

{% block _delivery_distance_row %}
{% spaceless %}
  <div class="form-group">
    {{ form_label(form, 'Distance'|trans({}, 'messages')) }}
    <div class="col-sm-10">
      <p class="form-control-static"><span id="delivery_distance"></span></p>
    </div>
  </div>
{% endspaceless %}
{% endblock %}

{% block _delivery_duration_row %}
{% spaceless %}
  <div class="form-group">
    {{ form_label(form, 'Duration'|trans({}, 'messages')) }}
    <div class="col-sm-10">
      <p class="form-control-static"><span id="delivery_duration"></span></p>
    </div>
  </div>
{% endspaceless %}
{% endblock %}
