{% extends 'bootstrap_3_layout.html.twig' %}

{% block _restaurant_menu_products_entry_widget %}
{% spaceless %}
<div class="list-group-item" data-product>
  <div class="hidden">
    {{ form_widget(form.recipeCategory) }}
  </div>
  <div class="row">
    <div class="col-sm-8">
      {{ form_label(form.name) }}
      {{ form_widget(form.name) }}
    </div>
    <div class="col-sm-3">
      {{ form_label(form.price) }}
      {{ form_widget(form.price, { attr: { class: 'text-right' } }) }}
    </div>
    <div class="col-sm-1">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
  </div>
</div>
{{ form_rest(form) }}
{% endspaceless %}
{% endblock %}
