{% extends 'bootstrap_3_layout.html.twig' %}

{% block _menu_addSection_row %}
<div class="form-group row">
  <div class="col-sm-9">
    {{ form_widget(form, { attr: { placeholder: 'Appetizers, Dishes…'|trans([], 'messages') } }) }}
  </div>
  <div class="col-sm-3">
    <button type="button" class="btn btn-success pull-right" id="add-menu-section">
      {% trans from 'messages' %}Add section{% endtrans %}
    </button>
  </div>
</div>
{% endblock %}

{% block _menu_suggestions_row %}
{% if form.vars.choices|length > 0 %}
<div id="{{ form.vars.id }}" class="form-group row">
  <div class="col-sm-12">
    <label>Suggestions</label>   {% for choice in form.vars.choices %}
      <a class="btn btn-xs btn-default" href="#">{{ choice.data.name }}</a>
    {% endfor %}
  </div>
</div>
{% endif %}
{% endblock %}

{% block _menu_sections_entry_row %}
{% spaceless %}

  {% set headingSelector = form.vars.id ~ '_heading' %}
  {% set collapseSelector = form.vars.id ~ '_collapse' %}

  <div id="{{ form.vars.id }}" class="panel panel-default" data-section-id="{{ form.vars.value.id }}">

    <div class="panel-heading" role="tab" id="{{ headingSelector }}">
      <h4 class="panel-title">
        <a role="button"
          data-toggle="collapse" data-parent="#menu_sections"
          href="#{{ collapseSelector }}"
          aria-expanded="true" aria-controls="{{ collapseSelector }}">
          {# form.vars may be null when used for prototype #}
          {{ form.vars.data ? form.vars.data.name : '' }}
          {{ form.vars.data ? '(' ~ form.vars.data.items|length ~ ')' : '' }}
          <button type="button" class="btn btn-danger btn-xs pull-right"
            data-toggle="remove-menu-section" data-target="#{{ form.vars.id }}">{% trans from 'messages' %}Delete{% endtrans %}</button>
        </a>
        <button class="btn btn-xs btn-success pull-right"
          style="margin-right: 15px;"
          data-toggle="add-menu-item" data-target="#{{ form.items.vars.id }}"><i class="fa fa-plus"></i> {% trans from 'messages' %}Add a new item{% endtrans %}</button>
      </h4>
    </div>

    <div id="{{ collapseSelector }}" class="panel-collapse collapse {% if form.vars.name < 1 %}in{% endif %}" role="tabpanel" aria-labelledby="{{ headingSelector }}">
      {{ form_row(form.items, { attr: {class: 'list-group', style: 'margin-bottom: 0' } }) }}
    </div>

  </div>

{% endspaceless %}
{% endblock %}

{% block _menu_sections_entry_items_row %}
  <div class="list-group">
    {{- form_label(form) -}}
    {{- form_widget(form) -}}
    {{- form_errors(form) -}}
  </div>
{% endblock %}

{% block _menu_sections_entry_items_entry_row %}
{% spaceless %}
  {% set containerSelector = form.vars.id ~ '_container' %}
  <div class="list-group-item">
    <div class="form-group row">
      <div class="col-sm-6">
        {{ form_label(form.name) }}
        {{ form_widget(form.name, { attr: {class: 'input-sm' } }) }}
      </div>
      <div class="col-sm-3">
        {{ form_label(form.price) }}
        {{ form_widget(form.price, { attr: { class: 'input-sm text-right' } }) }}
      </div>
      <div class="col-sm-2">
        {{ form_widget(form.isAvailable, { attr: { class: 'checkbox' }}) }}
      </div>
      <div class="col-sm-1">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" tabindex="-1"><span aria-hidden="true">&times;</span></button>
      </div>
    </div>
    <div class="form-group show-description">
      <div>
        <a class="text-muted"
          data-toggle="collapse" data-target="#{{ containerSelector }}"
          aria-expanded="false" aria-controls="{{ containerSelector }}">
          {# form.vars may be null when used for prototype #}
          {% if form.vars.value and form.vars.value.description %}
            <i class="fa fa-pencil"></i>  <small>{% trans %}Modify description{% endtrans %}</small>
          {% else %}
            <i class="fa fa-plus"></i>  <small>{% trans %}Add description{% endtrans %}</small>
          {% endif %}
        </a>
      </div>
    </div>
    <div class="form-group row collapse" id="{{ containerSelector }}">
      <div class="col-sm-8">
        {{ form_label(form.description) }}
        {{ form_widget(form.description, { attr: {class: 'input-sm' } }) }}
      </div>
    </div>
  </div>
{% endspaceless %}
{% endblock %}
