{% extends 'bootstrap_3_layout.html.twig' %}

{% block _menu_addSection_row %}
<div class="form-group row">
  <div class="col-sm-9">
    {{ form_widget(form, { attr: { placeholder: 'Appetizers, Dishes…'|trans([], 'messages') } }) }}
  </div>
  <div class="col-sm-3">
    <button type="button" class="btn btn-success pull-right" id="add-menu-section">
      {% trans from 'messages' %}Add section{% endtrans %}
    </button>
  </div>
</div>
{% endblock %}

{% block _menu_suggestions_row %}
{% if form.vars.choices|length > 0 %}
<div id="{{ form.vars.id }}" class="form-group row">
  <div class="col-sm-12">
    <label>Suggestions</label>   {% for choice in form.vars.choices %}
      <a class="btn btn-xs btn-default" href="#">{{ choice.data.name }}</a>
    {% endfor %}
  </div>
</div>
{% endif %}
{% endblock %}

{% block _menu_sections_entry_row %}
{% spaceless %}

  {% set headingSelector = form.vars.id ~ '_heading' %}
  {% set collapseSelector = form.vars.id ~ '_collapse' %}

  <div id="{{ form.vars.id }}" class="panel panel-default" data-section-id="{{ form.vars.value.id }}">

    <div class="panel-heading" role="tab" id="{{ headingSelector }}">
      <h4 class="panel-title">
        <a role="button"
          data-toggle="collapse" data-parent="#menu_sections"
          href="#{{ collapseSelector }}"
          aria-expanded="true" aria-controls="{{ collapseSelector }}">
          {# form.vars may be null when used for prototype #}
          {{ form.vars.data ? form.vars.data.name : '' }}
          {{ form.vars.data ? '(' ~ form.vars.data.items|length ~ ')' : '' }}
          <button type="button" class="btn btn-danger btn-xs pull-right"
            data-toggle="remove-menu-section" data-target="#{{ form.vars.id }}">{% trans from 'messages' %}Delete{% endtrans %}</button>
        </a>
        <button class="btn btn-xs btn-success pull-right"
          style="margin-right: 15px;"
          data-toggle="add-menu-item" data-target="#{{ form.items.vars.id }}"><i class="fa fa-plus"></i> {% trans from 'messages' %}Add a new item{% endtrans %}</button>
      </h4>
    </div>

    <div id="{{ collapseSelector }}" class="panel-collapse collapse {% if form.vars.name < 1 %}in{% endif %}" role="tabpanel" aria-labelledby="{{ headingSelector }}">
      {{ form_row(form.items, { attr: {class: 'list-group', style: 'margin-bottom: 0' } }) }}
    </div>

  </div>

{% endspaceless %}
{% endblock %}

{% block _menu_sections_entry_items_row %}
  <div class="list-group">
    {{- form_label(form) -}}
    {{- form_widget(form) -}}
    {{- form_errors(form) -}}
  </div>
{% endblock %}

{% block _menu_sections_entry_items_entry_row %}
{% spaceless %}
  {% set containerSelector = form.vars.id ~ '_container' %}
  <div class="list-group-item" id="{{ form.vars.id }}">
    <div class="form-group row">
      <div class="col-sm-6">
        {{ form_label(form.name) }}
        {{ form_widget(form.name, { attr: { class: 'input-sm' } }) }}
      </div>
      <div class="col-sm-2">
        {{ form_label(form.price) }}
        {{ form_widget(form.price, { attr: { class: 'input-sm text-right' } }) }}
      </div>
      <div class="col-sm-3">
        {{ form_widget(form.isAvailable, { attr: { class: 'checkbox switch' }}) }}
      </div>
      <div class="col-sm-1">
        <button type="button" class="close" aria-label="Close" tabindex="-1"
          data-target="{{ '#' ~ form.vars.id }}">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
    <div class="form-group show-description">
      <div>
        <a class="text-muted"
          data-toggle="collapse" data-target="#{{ containerSelector }}"
          aria-expanded="false" aria-controls="{{ containerSelector }}">
          {# form.vars may be null when used for prototype #}
          {% if form.vars.value and form.vars.value.description %}
            <i class="fa fa-pencil"></i>  <small>{% trans %}Modify description{% endtrans %}</small>
          {% else %}
            <i class="fa fa-plus"></i>  <small>{% trans %}Add description{% endtrans %}</small>
          {% endif %}
        </a>
      </div>
    </div>
    <div class="form-group row collapse" id="{{ containerSelector }}">
      <div class="col-sm-8">
        {{ form_label(form.description) }}
        {{ form_widget(form.description, { attr: { class: 'input-sm' } }) }}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <label class="control-label">{% trans %}Extra groups{% endtrans %}</label>
      </div>
      <div class="col-sm-6 text-right">
        <button type="button" class="btn btn-xs btn-success"
          data-toggle="add-menu-item-modifier-group" data-target="{{ '#' ~ form.modifiers.vars.id }}">
          <i class="fa fa-plus"></i> {% trans %}Add an extra groups{% endtrans %}
        </button>
      </div>
    </div>
    {{ form_widget(form.modifiers) }}
  </div>
{% endspaceless %}
{% endblock %}

{% block _menu_sections_entry_items_entry_modifiers_entry_row %}
{% set tooltip %}
  <strong>{% trans %}menu.modifier.STRATEGY_FREE{% endtrans %}</strong>
  <br>
  {% trans %}The extra is free{% endtrans %}
  <br>
  <strong>{% trans %}menu.modifier.STRATEGY_ADD_MODIFIER_PRICE{% endtrans %}</strong>
  <br>
  {% trans %}The extra has a fixed price{% endtrans %}
  <br>
  <strong>{% trans %}menu.modifier.STRATEGY_ADD_MENUITEM_PRICE{% endtrans %}</strong>
  <br>
  {% trans %}Each extra has a custom price{% endtrans %}
{% endset %}
<div id="{{ form.vars.id }}" class="menu-item-modifiers">
  <div class="form-group row">
    <div class="col-sm-6">
      {{ form_label(form.name) }}
      {{ form_widget(form.name, { attr: { class: 'input-sm' } }) }}
    </div>
    <div class="col-sm-3">
      {{ form_label(form.calculusStrategy) }}  <a data-toggle="tooltip" data-placement="top" data-html="true" title="{{ tooltip }}">
        <i class="fa fa-info-circle"></i>
      </a>
      {{ form_widget(form.calculusStrategy, { attr: { class: 'modifier-calculus-strategy input-sm' } }) }}
    </div>
    <div class="col-sm-2">
      {{ form_label(form.price, null, { label_attr: { class: 'modifier-group-price-label' } }) }}
      {{ form_widget(form.price, { attr: { class: 'modifier-group-price input-sm' } }) }}
    </div>
    <div class="col-sm-1">
      <button type="button" class="close" aria-label="Close" tabindex="-1"
        data-target="{{ '#' ~ form.vars.id }}">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  <h6 class="text-muted">{% trans %}Extras{% endtrans %} ({{ form.modifierChoices.vars.value|length }})</h6>
  {{ form_widget(form.modifierChoices) }}
  <button type="button" class="btn btn-xs btn-success" data-toggle="add-menu-item-modifier">
    <i class="fa fa-plus"></i> {% trans %}Add an extra{% endtrans %}
  </button>
</div>
{% endblock %}

{% block _menu_sections_entry_items_entry_modifiers_entry_modifierChoices_entry_row %}
<div class="form-group row" id="{{ form.vars.id }}">
  <div class="col-sm-6">
    {{ form_label(form.name, null, { label_attr: { class: 'sr-only' } }) }}
    {{ form_widget(form.name, { attr: { class: 'input-sm' } }) }}
  </div>
  <div class="col-sm-3">
    {{ form_widget(form.price, { attr: { class: 'modifier-price input-sm' } }) }}
  </div>
  <div class="col-sm-3">
    <button type="button" class="close" aria-label="Close" tabindex="-1"
      data-target="{{ '#' ~ form.vars.id }}">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
{% endblock %}
