{% extends "bootstrap_3_layout.html.twig" %}

{% block choice_widget_expanded %}
  {% if name == 'createDeliveryAddress' %}
    <div class="form-group">
      <div class="btn-group" data-toggle="buttons">
      {% for child in form %}
        {{ form_widget(child, { 'label_attr': {'class': 'btn btn-primary'} }) }}
      {% endfor %}
      </div>
    </div>
  {% else %}
    {{ parent() }}
  {% endif %}
{% endblock choice_widget_expanded %}

{% block radio_widget -%}
  {% set parent_label_class = parent_label_class|default(label_attr.class|default('')) %}
  {% if 'btn' in parent_label_class %}
    {% if checked %}
      {% set parent_label_class = parent_label_class ~ ' active' %}
    {% endif %}
    {{ form_label(form, null, {
      widget: block('radio_widget', 'form_div_layout.html.twig'),
      label_attr: {class: parent_label_class}
    }) }}
  {% else %}
    {{ parent() }}
  {%- endif %}
{%- endblock radio_widget %}

{% block checkout_shippedAt_row %}
  {% if form.vars.help is defined %}
  <div class="alert alert-info">
    {{ form.vars.help }}
  </div>
  {% endif %}
  <div class="form-group{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}">
    {{ form_label(form) }}
    {{ form_widget(form) }}
    {{ form_errors(form) }}
  </div>
{% endblock %}

{% block checkout_shippedAt_widget %}
  <div id="{{ form.vars.id }}" data-choices="{{ form.vars.choices|json_encode()|raw|e('html_attr') }}">
    <div class="row" >
      <div class="col-xs-6">
        {{ form_widget(form.date) }}
      </div>
      <div class="col-xs-6">
        {{ form_widget(form.time) }}
      </div>
    </div>
  </div>
{% endblock %}

{% block _checkout_address_shippedAt_row %}
  {{ block('checkout_shippedAt_row') }}
{% endblock %}

{% block _checkout_address_shippedAt_widget %}
  {{ block('checkout_shippedAt_widget') }}
{% endblock %}

{% block _checkout_payment_shippedAt_row %}
  {{ block('checkout_shippedAt_row') }}
{% endblock %}

{% block _checkout_payment_shippedAt_widget %}
  {{ block('checkout_shippedAt_widget') }}
{% endblock %}
