{% extends "bootstrap_3_layout.html.twig" %}

{% block choice_widget_expanded %}
  {% if name == 'createDeliveryAddress' %}
    <div class="form-group">
      <div class="btn-group" data-toggle="buttons">
      {% for child in form %}
        {{ form_widget(child, { 'label_attr': {'class': 'btn btn-primary'} }) }}
      {% endfor %}
      </div>
    </div>
  {% else %}
    {{ parent() }}
  {% endif %}
{% endblock choice_widget_expanded %}

{% block radio_widget -%}
  {% set parent_label_class = parent_label_class|default(label_attr.class|default('')) %}
  {% if 'btn' in parent_label_class %}
    {% if checked %}
      {% set parent_label_class = parent_label_class ~ ' active' %}
    {% endif %}
    {{ form_label(form, null, {
      widget: block('radio_widget', 'form_div_layout.html.twig'),
      label_attr: {class: parent_label_class}
    }) }}
  {% else %}
    {{ parent() }}
  {%- endif %}
{%- endblock radio_widget %}

{% block _checkout_address_promotionCoupon_widget %}
<div class="input-group input-group-sm">
  {{ form_widget(form) }}
  <span class="input-group-btn">
    {{ form_widget(form.parent.addPromotion, { attr: { class: 'btn-primary' } }) }}
  </span>
</div>
{% endblock %}

{% block _checkout_address_tipAmount_widget %}
<div class="input-group input-group-sm">
  {{ form_widget(form) }}
  <span class="input-group-btn">
    {{ form_widget(form.parent.addTip, { attr: { class: 'btn-primary' } }) }}
  </span>
</div>
{% endblock %}

{% block _checkout_address_shippingAddress_streetAddress_row %}
  {% set address = form.parent.vars.value %}
  {% if address is empty %}
    {% set row_attr = row_attr|merge({
      class: (row_attr.class|default('') ~ ' d-none')
    }) %}
  {% endif %}
  {{ block('form_row') }}
{% endblock %}

{% block _checkout_address_shippingAddress_floor_row %}
  {% set address = form.parent.vars.value %}
  {% if address is empty %}
    {% set row_attr = row_attr|merge({
      class: (row_attr.class|default('') ~ ' d-none')
    }) %}
  {% endif %}
  {{ block('form_row') }}
{% endblock %}

{% block _checkout_address_reusablePackagingEnabled_row %}

  {% set isLoopeat = attr['data-loopeat'] is defined and attr['data-loopeat'] == 'true' %}
  {% set isChecked = form.parent.reusablePackagingEnabled.vars.data == 1 %}
  {% set reusablePackagingQuantity = attr['data-packaging-quantity'] %}
  {% set loopeatAvailableCredits = attr['data-loopeat-available'] %}
  {% set hasBalanceError = isChecked and form.parent.reusablePackagingPledgeReturn is defined and
                    form.parent.reusablePackagingPledgeReturn.vars.errors|length > 0 %}
  {% set missing = hasBalanceError ?
                    form.parent.reusablePackagingPledgeReturn.vars.errors[0].getMessageParameters()['%missing%'] :
                    attr['data-loopeat-missing'] %}
  {% set loopeat_trans_prefix = 'form.checkout_address.reusable_packaging.loopeat'  %}

  {% if isLoopeat %}
    <div id="loopeat-block" class="p-3{{ isChecked ? " active": "" }}">
      <div class="py-0 m-0">
        {{ form_widget(form) }}
      </div>
      {% if isChecked %}
        <div>
          <ul class="list-unstyled loopeat-summary">
            <li>
              <span class="loopeat-icon">♻️</span>
              <span>
                {{ (loopeat_trans_prefix ~ '.reusable_quantity_label')|trans({
                  '%reusablePackagingQuantity%': reusablePackagingQuantity
                })|raw }}
              </span>
            </li>
            <li>
              <span class="loopeat-icon">💶</span>
              <span>
                {{ (loopeat_trans_prefix ~ '.available_credits_label')|trans({
                  '%loopeatAvailableCredits%': loopeatAvailableCredits
                })|raw }}
              </span>
            </li>
            <li>
              <span class="loopeat-icon">🍱</span>
              <span>
                <label for="{{form.parent.reusablePackagingPledgeReturn.vars.id}}">
                  {{ (loopeat_trans_prefix ~ '.return_pledge_label')|trans({
                    '%field%': form_widget(form.parent.reusablePackagingPledgeReturn, { label_attr: { class: 'm-0' } })
                  })|raw }}
                </label>
              </span>
            </li>
            <li>
              {% if hasBalanceError %}
                <span class="loopeat-icon">🤔</span>
                <span id="loopeat-conclusion">{{ form.parent.reusablePackagingPledgeReturn.vars.errors[0].getMessage() }}</span>
              {% else %}
                <span class="loopeat-icon">👍</span>
                <span id="loopeat-conclusion">{{ (loopeat_trans_prefix ~ '.enough_credits')|trans }}</span>
              {% endif %}
            </li>
          </ul>
          <div id="loopeat-buttons"
            class="d-flex flex-row justify-content-between {% if not hasBalanceError %}d-none{% endif %}">
            {{ form_widget(form.parent.cancelReusablePackaging)}}
            <a id="loopeat-add-credit" href="" class="btn btn-default">
              {{ 'form.checkout_address.reusable_packaging.loopeat.add'|trans({'%missing%':missing})}}
            </a>
          </div>
        </div>
      {% else %}
        {# TODO: figure how to remove these fields from the form #}
        {{ form_widget(form.parent.reusablePackagingPledgeReturn, { 'attr': {'style': 'display: none;'} }) }}
        {{ form_widget(form.parent.cancelReusablePackaging, { 'attr': {'style': 'display: none;'} }) }}
        <img class="loopeat-bowl1" src="{{ asset('img/loopeat/bowl1.png') }}" alt="Loopeat" />
        <div class="my-2">
          <a href="https://loopeat.fr/en-savoir-plus/" target="_blank">
            <span class="mr-2">{{ 'form.checkout_address.reusable_packaging.loopeat.learn_more'|trans }}</span>
            <i class="fa fa-external-link"></i>
          </a>
        </div>
      {% endif %}
    </div>
  {% else %}
    <div>
      <div class="alert alert-info py-0 m-0">
        {{ form_widget(form) }}
      </div>
    </div>
  {% endif %}
{% endblock %}
