{% extends "bootstrap_3_layout.html.twig" %}

{% block choice_widget_expanded %}
  {% if name == 'createDeliveryAddress' %}
    <div class="form-group">
      <div class="btn-group" data-toggle="buttons">
      {% for child in form %}
        {{ form_widget(child, { 'label_attr': {'class': 'btn btn-primary'} }) }}
      {% endfor %}
      </div>
    </div>
  {% else %}
    {{ parent() }}
  {% endif %}
{% endblock choice_widget_expanded %}

{% block radio_widget -%}
  {% set parent_label_class = parent_label_class|default(label_attr.class|default('')) %}
  {% if 'btn' in parent_label_class %}
    {% if checked %}
      {% set parent_label_class = parent_label_class ~ ' active' %}
    {% endif %}
    {{ form_label(form, null, {
      widget: block('radio_widget', 'form_div_layout.html.twig'),
      label_attr: {class: parent_label_class}
    }) }}
  {% else %}
    {{ parent() }}
  {%- endif %}
{%- endblock radio_widget %}

{% block _checkout_address_promotionCoupon_widget %}
<div class="input-group input-group-sm">
  {{ form_widget(form) }}
  <span class="input-group-btn">
    {{ form_widget(form.parent.addPromotion, { attr: { class: 'btn-primary' } }) }}
  </span>
</div>
{% endblock %}

{% block _checkout_address_tipAmount_widget %}
<div class="input-group input-group-sm">
  {{ form_widget(form) }}
  <span class="input-group-btn">
    {{ form_widget(form.parent.addTip, { attr: { class: 'btn-primary' } }) }}
  </span>
</div>
{% endblock %}

{% block _checkout_address_shippingAddress_streetAddress_row %}
  {% set address = form.parent.vars.value %}
  {% if address is empty %}
    {% set row_attr = row_attr|merge({
      class: (row_attr.class|default('') ~ ' d-none')
    }) %}
  {% endif %}
  {{ block('form_row') }}
{% endblock %}

{% block _checkout_address_shippingAddress_floor_row %}
  {% set address = form.parent.vars.value %}
  {% if address is empty %}
    {% set row_attr = row_attr|merge({
      class: (row_attr.class|default('') ~ ' d-none')
    }) %}
  {% endif %}
  {{ block('form_row') }}
{% endblock %}

{% block _checkout_address_reusablePackagingEnabled_row %}
  <div class="p-3">
    <div class="alert alert-info py-0 m-0">
      {{ form_widget(form) }}
    </div>
    {% if attr['data-loopeat'] is defined and attr['data-loopeat'] == 'true' %}
      <div class="text-right my-2">
        <a href="https://loopeat.fr/en-savoir-plus/" target="_blank">
          <span class="mr-2">{{ 'form.checkout_address.reusable_packaging.loopeat.learn_more'|trans }}</span>
          <i class="fa fa-external-link"></i>
        </a>
      </div>
    {% endif %}
  </div>
{% endblock %}
