{% extends 'bootstrap_3_layout.html.twig' %}

{% block _product_variants_entry_row %}

  {% set values = [] %}
  {% for optionValue in form.vars.data.optionValues %}
    {% set values = values|merge([ optionValue.value ]) %}
  {% endfor %}

  <div class="panel panel-default">
    <div class="panel-heading">
      {% if values|length > 0 %}
        {{ values|join(' + ') }}
      {% else %}
        Default
      {% endif %}
      <span class="pull-right">{{ form.vars.data.code }}</span>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-4">
          {{ form_row(form.name) }}
        </div>
        <div class="col-sm-4">
          {{ form_row(form.price) }}
        </div>
        <div class="col-sm-4">
          {{ form_row(form.taxCategory) }}
        </div>
      </div>
    </div>
  </div>

{% endblock %}
