{% extends 'bootstrap_3_layout.html.twig' %}

{% block _product_option_values_entry_row %}
  {% set row_id = form.vars.id ~ '_row' %}
  <div class="row" id="{{ row_id }}">
    <div class="col-sm-5">
      {{ form_row(form.translations, { label: false }) }}
    </div>
    <div class="col-sm-5">
      {{ form_row(form.price) }}
    </div>
    <div class="col-sm-2 text-right">
      <div class="form-group form-group-delete">
        <button data-delete-row data-target="{{ '#' ~ row_id }}" type="button" class="btn btn-danger">
          <i class="fa fa-trash"></i> {{ 'basics.delete'|trans }}
        </button>
      </div>
    </div>
  </div>
{% endblock %}

{% block _product_option_additional_widget %}
  {{ block('checkbox_widget') }}
  {{ block('form_help') }}
{% endblock %}

{% block _product_option_values_entry_translations_entry_row %}
  {{ form_widget(form) }}
{% endblock %}

{% block _product_option_values_widget %}
  {{ form_widget(form) }}
  <button type="button" class="btn btn-success" id="add-option-value">
    <i class="fa fa-plus"></i> {{ 'form.product_option.add_value.label'|trans }}
  </button>
{% endblock %}

{% block _product_option_valuesRange_row %}
  <div class="row" {{ block('widget_container_attributes') }}>
    <div class="col-xs-6">
      {{ form_row(form.lower, { attr: { class: 'input-sm' } }) }}
    </div>
    <div class="col-xs-6">
      {{ form_row(form.upper, { attr: { class: 'input-sm' } }) }}
      {{ form_widget(form.infinity) }}
    </div>
  </div>
{% endblock %}
