{% extends 'bootstrap_3_layout.html.twig' %}

{% block _restaurant_servesCuisine_entry_widget %}
{% spaceless %}
<div class="form-group row">
  <div class="col-sm-11">
  {{ form_widget(form) }}
  </div>
  <div class="col-sm-1">
    <button type="button" class="btn btn-danger pull-right" data-remove><span class="glyphicon glyphicon-remove-sign"></span></button>
  </div>
</div>
{% endspaceless %}
{% endblock %}

{% block _restaurant_imageFile_row %}
  <div class="form-group {% if not form.vars.valid %}has-error{% endif %}">
    <div class="image-uploader"
      {% if image_uri is defined and image_uri %}style="background-image: url({{ image_uri }})"{% endif %}>
      <label for="{{ form.file.vars.id }}" class="btn btn-danger">
        <i class="fa fa-upload"></i> {% trans %}restaurant.form.uploadImage{% endtrans %}
      </label>
      {{ form_widget(form.file) }}
    </div>
    {{ form_errors(form) }}
  </div>
  {% if form.delete is defined %}
  {{ form_row(form.delete) }}
  {% endif %}
{% endblock %}
