{% extends 'bootstrap_3_layout.html.twig' %}

{% block _settings_administrator_email_widget %}
{{ block('form_widget') }}
<span class="help-block">{% trans %}form.settings.administrator_email.help{% endtrans %}</span>
{% endblock %}

{% block _settings_phone_number_widget %}
{{ block('form_widget') }}
<span class="help-block">{% trans %}form.settings.phone_number.help{% endtrans %}</span>
{% endblock %}

{% block password_widget %}
{% if form.vars.name matches '/^stripe_/' %}
  {% set disabled = is_demo %}
  <div class="input-group">
    <span class="input-group-addon">
      {% if form.vars.name matches '/^stripe_live_/' %}
        LIVE
      {% else %}
        TEST
      {% endif %}
    </span>
    {{ block('form_widget') }}
  </div>
{% else %}
  {{ parent() }}
{% endif %}
{% endblock %}

{% block _settings_google_api_key_widget %}
{% set disabled = is_demo %}
{{ block('form_widget') }}
<span class="help-block">{% trans %}form.settings.google_api_key.help{% endtrans %}</span>
{% endblock %}

{% block _settings_latlng_widget %}
{{ block('form_widget') }}
<span class="help-block">{% trans %}form.settings.latlng.help{% endtrans %}</span>
{% endblock %}

{% block _settings_default_tax_category_widget %}
{{ block('choice_widget') }}
<span class="help-block">{% trans %}form.settings.default_tax_category.help{% endtrans %}</span>
{% endblock %}
