{% extends 'bootstrap_3_layout.html.twig' %}

{% block _task_address_widget %}
{% spaceless %}
  <div id="{{ form.vars.id }}">
    {{ form_row(form.streetAddress) }}
    <a class="help-block" role="button" data-toggle="collapse" href="#{{ form.vars.id }}_options">
      <i class="fa fa-plus"></i> {% trans from 'messages' %}More options{% endtrans %}
    </a>
  </div>
  <div class="collapse" id="{{ form.vars.id }}_options">
    {{ form_row(form.postalCode) }}
    {{ form_row(form.addressLocality) }}
    {{ form_row(form.floor) }}
    {{ form_row(form.description) }}
  </div>
  {{ form_widget(form.latitude) }}
  {{ form_widget(form.longitude) }}
{% endspaceless %}
{% endblock %}

{% block _task_edit_address_widget %}
{{ block('_task_address_widget') }}
{% endblock %}

{% block _task_tagsAsString_label %}
<div>
{{ form_label(form) }}
<span class="pull-right">
  <a class="task-tags-selector" href="#" title="Select tags"><i class="fa fa-cog"></i></a>
</span>
</div>
{% endblock %}

{% block _task_edit_tagsAsString_label %}
{{ block('_task_tagsAsString_label') }}
{% endblock %}

{% block _task_tagsAsString_widget %}
<div class="task-tag-list"></div>
{{ block('hidden_widget') }}
{% endblock %}

{% block _task_edit_tagsAsString_widget %}
{{ block('_task_tagsAsString_widget') }}
{% endblock %}
