{% extends 'bootstrap_3_layout.html.twig' %}

{% block _update_profile_restaurants_entry_widget %}
{% spaceless %}
<tr>
  <td>
    {{ form.vars.data ? form.vars.data.name : '__restaurant_name__' }}
    <input type="hidden" id="{{ form.vars.id ? form.vars.id : '' }}"
      name="{{ form.vars.full_name ? form.vars.full_name : '' }}"
      value="{{ form.vars.value ? form.vars.value : '__value__' }}">
  </td>
  <td class="text-right">
    <a href="#" class="remove-restaurant"><span class="glyphicon glyphicon-trash"></span></a>
  </td>
</tr>
{% endspaceless %}
{% endblock %}

{% block _update_profile_stores_entry_widget %}
{% spaceless %}
<tr>
  <td>
    {{ form.vars.data ? form.vars.data.name : '__store_name__' }}
    <input type="hidden" id="{{ form.vars.id ? form.vars.id : '' }}"
      name="{{ form.vars.full_name ? form.vars.full_name : '' }}"
      value="{{ form.vars.value ? form.vars.value : '__value__' }}">
  </td>
  <td class="text-right">
    <a href="#" class="remove-store"><span class="glyphicon glyphicon-trash"></span></a>
  </td>
</tr>
{% endspaceless %}
{% endblock %}

{% block _update_profile_restaurants_row %}
{% spaceless %}
<div class="form-group">
  {{ form_label(form, 'Restaurants managed by user'|trans({}, 'messages')) }}
  <table class="table" id="{{ form.vars.id }}" data-prototype="{{ form_widget(form.vars.prototype)|e }}">
    <tbody>
    {% for child in form.children %}
      {{ form_widget(child) }}
    {% endfor %}
    </tbody>
  </table>
</div>
<div class="form-horizontal">
  <div class="form-group form-group-sm">
    <label class="col-sm-2 control-label">{% trans from 'messages' %}Add a restaurant{% endtrans %}</label>
    <div class="col-sm-10">
      <div id="restaurant-search"></div>
    </div>
  </div>
</div>
{% endspaceless %}
{% endblock %}

{% block _update_profile_stores_row %}
{% spaceless %}
<div class="form-group">
  {{ form_label(form, 'Stores managed by user'|trans({}, 'messages')) }}
  <table class="table" id="{{ form.vars.id }}" data-prototype="{{ form_widget(form.vars.prototype)|e }}">
    <tbody>
    {% for child in form.children %}
      {{ form_widget(child) }}
    {% endfor %}
    </tbody>
  </table>
</div>
<div class="form-horizontal">
  <div class="form-group form-group-sm">
    <label class="col-sm-2 control-label">{% trans from 'messages' %}Add a store{% endtrans %}</label>
    <div class="col-sm-10">
      <div id="store-search"></div>
    </div>
  </div>
</div>
{% endspaceless %}
{% endblock %}

{% block _update_profile_roles_widget %}
{% spaceless %}
<div class="alert alert-info">{% trans with { '%link%': path('help_admin_roles') } from 'messages' %}user.edit.roles.help{% endtrans %}</div>
{{ form_widget(form) }}
{% endspaceless %}
{% endblock %}
