{% extends "profile.html.twig" %}

{% block content %}
  {% if addresses is empty %}
    <div class="alert alert-warning">
      {% trans %}profile.addresses.empty{%  endtrans %}
    </div>
  {% else %}
    <table class="table">
      <thead>
        <th colspan="2">{% trans %}profile.myAddresses{% endtrans %}</th>
      </thead>
      <tbody>
        {% for address in addresses %}
        <tr>
          <td>{{ address.streetAddress }}</td>
          <td class="text-right">{{ address.name }}</td>
          <td class="text-right">
            <a href="{{ path('_api_/addresses/{id}{._format}_delete', {'id': address.id}) }}" class="delete-address btn btn-danger"><i class="fa fa-trash"></i></a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
  <div class="text-right">
    <a class="btn btn-success" href="{{ path('profile_address_new') }}"><i class="fa fa-plus mr-1"></i>{% trans %}profile.addresses.add{% endtrans %}</i></a>
  </div>
{% endblock %}

{% block scripts %}
<script>
  const httpClient = new window._auth.httpClient()

  document.addEventListener('DOMContentLoaded', function() {
    document.querySelectorAll('.delete-address').forEach(link => {
      link.addEventListener('click', async function(event) {
        event.preventDefault();

        if (confirm("{{ 'basics.are_you_sure'|trans }}")) {
          const { error } = await httpClient.delete(this.href);

          if (!error) {
            location.reload();
          }
        }
      });
    });
  });
</script>
{% endblock %}
