{% extends "profile.html.twig" %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block content %}
  {{ form_start(form) }}
    <div class="form-section">
      <div class="header rounded-top">
        <h2>{{ 'registration.step.personal'|trans }}</h2>
      </div>
      <div>
        <div class="row">
          <div class="col-md-6">
            {{ form_row(form.username) }}
          </div>
          <div class="col-md-6">
            {{ form_row(form.fullName) }}
          </div>
        </div>
        {{ form_row(form.email) }}
        {{ form_row(form.telephone) }}

        <div>
          <a class="btn btn-primary btn-link" href="{{ path('nucleos_user_change_password') }}">{% trans %}profile.password.change{% endtrans %}</a>
        </div>

        {% if form.loopeatDisconnect is defined %}
          <div class="form-group">
            {{ form_widget(form.loopeatDisconnect, { attr: { class: 'btn-primary' } }) }}
          </div>
        {% endif %}

        {% if form.dabbaDisconnect is defined %}
          <div class="form-group">
            {{ form_widget(form.dabbaDisconnect, { attr: { class: 'btn-primary' } }) }}
          </div>
        {% endif %}

        {{ form_rest(form) }}
      </div>
    </div>
    <div class="flex justify-between">
      <button type="button" onclick="delete_my_account()" class="btn btn-outline btn-warning">{% trans %}profile.delete_my_account{% endtrans %}</button>
      <button type="submit" class="btn btn-primary">{% trans %}basics.save{% endtrans %}</button>
    </div>
  {{ form_end(form) }}
{% endblock %}

{% block scripts %}
<script>
function delete_my_account() {
  if (window._auth) {
    if (prompt("{% trans %}profile.type_username_to_confirm{% endtrans %}") === window._auth.user.username) {
      fetch('{{ path('_api_/me_delete') }}', {
        method: 'DELETE',
        headers: {
          'Authorization': `Bearer ${window._auth.jwt}`,
          'Accept': 'application/ld+json',
          'Content-Type': 'application/ld+json'
        }
      })
        .then(response => {
          if (response.status === 204) {
            window.location.href = '/'
          } else {
            alert('Delete request failed');
          }
        })
        .catch(error => {
          console.error('Error:', error);
        });
    }
  }
}
</script>
{% endblock %}
