{% extends "base.html.twig" %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
    <h2 class="page-header">{% trans %}authentication.choose_password{% endtrans %}</h2>
    {{ form_start(form) }}
      {{ form_row(form.email) }}
      {{ form_row(form.username) }}
      {{ form_row(form.plainPassword) }}
      {{ form_row(form.legal) }}
      {{ form_widget(form.save, { attr: { class: 'btn btn-block btn-lg btn-primary' } }) }}
    {{ form_end(form) }}
    </div>
  </div>
</div>
{% endblock %}
