{% extends "base.html.twig" %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
    <h2 class="page-header">{% trans %}authentication.choose_password{% endtrans %}</h2>
    {{ form_start(form) }}
      {{ form_row(form.email) }}
      {{ form_row(form.username) }}
      {{ form_row(form.plainPassword) }}
      {% if form.legal is defined %}
        {{ form_row(form.legal) }}
      {% elseif form.termsAndConditionsAndPrivacyPolicy is defined %}
        {{ form_row(form.termsAndConditionsAndPrivacyPolicy) }}
      {% endif %}
      {% for optin in form.optins.vars.value|split(',') %}
        {{ form_row(form[optin]) }}
      {% endfor %}
      {{ form_widget(form.save, { attr: { class: 'btn btn-block btn-lg btn-primary' } }) }}
    {{ form_end(form) }}
    </div>
  </div>
</div>

{% if form.termsAndConditionsAndPrivacyPolicy is defined %}
  <div id="termsAndConditionsAndPrivacyPolicy">
  </div>
{% endif %}

{% endblock %}

{% block styles %}
  {{ encore_entry_link_tags('register') }}
{% endblock %}

{% block scripts %}
  {{ encore_entry_script_tags('register') }}
{% endblock %}
