<div class="text-right">
  <a class="btn btn-sm btn-success" href="{{ path('profile_edit') }}">
    <i class="fa fa-pencil" aria-hidden="true"></i>  {% trans from 'messages' %}basics.edit{%  endtrans %}
  </a>
</div>

<p><strong>{% trans %}profile.username{% endtrans %}</strong>: {{ user.username }}</p>
<p><strong>{% trans %}profile.email{% endtrans %}</strong>: {% if is_demo %}✴✴✴{% else %}{{ user.email }}{% endif %}</p>
<p><strong>{% trans %}profile.fullName{% endtrans %}</strong>: {{ user.customer.fullName }}</p>
<p><strong>{% trans %}profile.telephone{% endtrans %}</strong>: {% if user.telephone %}{{ user.telephone|phone_number_format('NATIONAL') }}{% endif %}</p>
<p><a href="{{ path('fos_user_change_password') }}">{% trans %}profile.password.change{% endtrans %}</a></p>

{% if loopeat_enabled %}
  {% if customer.hasLoopEatCredentials() %}
    <p><a class="btn btn-default btn-sm"><i class="fa fa-check"></i> {% trans %}profile.loopeat.connected{% endtrans %}</a></p>
  {% else %}
    <p><a href="{{ loopeat_authorize_url }}" class="btn btn-success btn-sm">{% trans %}profile.loopeat.connect{% endtrans %}</a></p>
  {% endif %}
{% endif %}
