{% extends "profile.html.twig" %}


{% block content %}

<div class="text-right">
  <label class="control-label" style="margin-right: 15px;">{% trans %}profile.task.date{% endtrans %}</label>
  <span id="datepicker"></span>
</div>

<hr>

{% if tasks|length == 0 %}

  <div class="alert alert-warning">
    {% trans %}profile.task.noTasks{% endtrans %}
  </div>

{% else %}

  <table class="table">
    <thead>
      <th></th>
      <th></th>
      <th></th>
      <th>{% trans %}profile.task.dueDate{% endtrans %}</th>
      <th>{% trans %}profile.task.address{% endtrans %}</th>
      <th></th>
    </thead>
    <tbody>
    {% for task in tasks %}
      <tr>
        <td width="2%">
          {% include "_partials/task/status_icon.html.twig" %}
        </td>
        <td width="2%">
          #{{ task.id }}
        </td>
        <td width="5%">
          {% include "_partials/task/type_label.html.twig" %}
        </td>
        <td width="15%">
          <i class="fa fa-clock-o"></i> 
          {{ task.doneAfter|format_datetime('none', 'short') }} - {{ task.doneBefore|format_datetime('none', 'short') }}
        </td>
        <td>{{ task.address.streetAddress }}</td>
        <td class="text-right">
          <button type="button" class="btn btn-xs btn-primary {% if task.done %}disabled{% endif %}" data-task="{{ task.id }}">
            <i class="fa fa-check"></i> {% trans %}profile.task.complete{% endtrans %}
          </button>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  <dialog id="task-complete-modal">
    {# Content will be fetched in JavaScript #}
  </dialog>

{% endif %}

{% endblock %}

{% block scripts %}
<script>
  new CoopCycle.DatePicker(document.querySelector('#datepicker'), {
    defaultValue: "{{ date|date('Y-m-d') }}",
    onChange: function(date, dateString) {
      window.location.replace(window.Routing.generate('profile_tasks', { date: date.format('YYYY-MM-DD') }))
    }
  });
</script>
{{ encore_entry_script_tags('profile-tasks') }}
{% endblock %}
