{% block coopcycle_address_book_widget %}
  <div id="{{ form.vars.id }}">

    {% set isNewAddress = (form.isNewAddress.vars.data == true) %}

    {{ form_widget(form.existingAddress,          { attr: { 'class': (isNewAddress ? 'd-none' : '') } }) }}
    {{ form_widget(form.newAddress.streetAddress, { attr: { 'class': (isNewAddress ? '' : 'd-none') } }) }}

    {% if form.rememberAddress is defined %}
      {{ form_widget(form.rememberAddress) }}
    {% endif %}

    {{ form_widget(form.newAddress.postalCode, { attr: { 'data-address-prop': 'postalCode' } }) }}
    {{ form_widget(form.newAddress.addressLocality, { attr: { 'data-address-prop': 'addressLocality' } }) }}
    {{ form_widget(form.newAddress.latitude, { attr: { 'data-address-prop': 'latitude' } }) }}
    {{ form_widget(form.newAddress.longitude, { attr: { 'data-address-prop': 'longitude' } }) }}

    <div class="invisible">
    {{ form_widget(form.name) }}
    {{ form_widget(form.telephone) }}
    {{ form_widget(form.contactName) }}
    </div>

    {{ form_widget(form.isNewAddress, { attr: { 'class': 'd-none' } }) }}

  </div>
{% endblock %}
