{% extends 'bootstrap_3_horizontal_layout.html.twig' %}

{% block form_label_class -%}
col-md-3
{%- endblock form_label_class %}

{% block form_group_class -%}
col-md-9
{%- endblock form_group_class %}

{% block task_row %}
<div id="{{ form.vars.id }}"
  class="delivery__form__task delivery__form__task--{{ form.vars.data.type|lower }}"
  data-form="task">
  {% if form.vars.data.type|lower == 'dropoff' %}
  <a href="#"
    class="btn btn-transparent"
    style="position: absolute; right: 0; top: -18px;"
    data-delete="task">
    <span class="mr-1">{{ 'basics.delete'|trans }}</span><i class="fa fa-lg fa-times"></i>
  </a>
  {% endif %}
  {{ form_widget(form) }}
</div>
{% endblock %}

{% block task_widget %}

  {{ form_row(form.address) }}

  {% if form.doneBefore is defined %}
    {{ form_row(form.doneBefore, { label: 'form.delivery.' ~ (form.vars.data.type|lower) ~ '.doneBefore.label' }) }}
  {% endif %}

  {% if form.timeSlot is defined %}
    {{ form_row(form.timeSlot) }}
  {% endif %}

  {{ form_row(form.comments) }}

  {% if form.doorstep is defined %}
    {{ form_row(form.doorstep) }}
  {% endif %}

  {% if form.tagsAsString is defined %}
    {{ form_row(form.tagsAsString) }}
  {% endif %}

  {# The fields below are hidden #}

  {{ form_widget(form.type) }}

  {% if form.doneAfter is defined %}
    {{ form_widget(form.doneAfter) }}
  {% endif %}

{% endblock %}

{% block vehicle_widget %}
<div>
  <div class="btn-group btn-group--vehicle" data-toggle="buttons">
  {% for child in form %}
    {% set value = child.vars.value %}
    {% set checked = child.vars.checked %}
    {% set label = child.vars.label %}
    <label class="btn btn-default {% if checked %}active{% endif %}">
      <div class="bike-icon bike-icon--{{ value }}"></div>
      <input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} /> {{ label }}
    </label>
  {% endfor %}
  </div>
</div>
{% endblock %}

{% block _delivery_vehicle_widget %}
  {{ block('vehicle_widget') }}
{% endblock %}

{% block _delivery_weight_widget %}
  <div class="input-group">
    {{ block('form_widget_simple') }}
    <span class="input-group-addon">{{ 'basics.kilos'|trans }}</span>
  </div>
{% endblock %}

{% block _delivery_packages_widget %}
<div id="{{ form.vars.id }}" class="delivery__form__packages" data-packages-required="{{ form.vars.attr['data-packages-required'] }}">
  <div id="{{ form.vars.id }}_list"
    data-prototype="{{ form_widget(form.vars.prototype)|e }}"
    data-widget-counter="{{ form.children|length }}"
    class="delivery__form__packages__list">
    {% for child in form %}
      {{ form_widget(child) }}
    {% endfor %}
  </div>
  <div class="text-right">
    <button type="button" class="btn btn-default" id="{{ form.vars.id }}_add"
      data-target="#{{ form.vars.id }}_list">{{ 'basics.add'|trans }}</button>
  </div>
</div>
{% endblock %}

{% block _delivery_packages_entry_widget %}
<div class="delivery__form__packages__list-item" id="{{ form.vars.id }}">
  {{ form_widget(form.quantity, { attr: { class: 'delivery__form__packages__list-item-quantity' } }) }}
  <span class="delivery__form__packages__list-item-multiply">×</span>
  {{ form_widget(form.package, { attr: { class: 'delivery__form__packages__list-item-package' } }) }}
  <button type="button" class="btn btn-default delivery__form__packages__list-item-delete"
    data-delete
    data-target="#{{ form.vars.id }}"><i class="fa fa-trash-o"></i></button>
</div>
{% endblock %}

{% block _delivery_tasks_entry_row %}
  {{ block('task_row') }}
{% endblock %}

{% block _delivery_tasks_entry_widget %}
  {{ block('task_widget') }}
{% endblock %}

{% block _delivery_tasks_entry_type_widget %}
  {{ block('hidden_widget') }}
{% endblock %}

{% block _delivery_tasks_entry_doneAfter_widget %}
  {{ block('hidden_widget') }}
{% endblock %}

{% block _delivery_tasks_entry_doneBefore_widget %}
  {{ block('hidden_widget') }}
  <div id="{{ form.vars.id ~ '_widget' }}"></div>
{% endblock %}

{% block _delivery_tasks_entry_tagsAsString_widget %}
<div id="{{ form.vars.id ~ '_widget' }}"></div>
{{ block('hidden_widget') }}
{% endblock %}

{% block _delivery_tasks_widget %}
{{ block('collection_widget') }}
{% if form.parent.addTask is defined %}
  <div class="text-right">
    {{ form_widget(form.parent.addTask, {
      attr: { class: 'btn-primary' },
      label: '<i class="fa fa-plus mr-1"></i><span>' ~ ('basics.add'|trans) ~ '</span>',
      label_html: true
    }) }}
  </div>
{% endif %}
{% endblock %}
