{% extends '@DaisyuiForm/form/daisyui_layout.html.twig' %}

{% block delivery_vehicle_widget %}
<div>
  <div class="join w-full">
  {% for child in form %}
    {% set value = child.vars.value %}
    {% set checked = child.vars.checked %}
    {% set label = child.vars.label %}
    <label class="btn join-item w-1/2 h-auto px-2 py-4 {% if checked %}active{% endif %}">
      <div class="bike-icon bike-icon--{{ value }}"></div>
      <input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} /> {{ label }}
    </label>
  {% endfor %}
  </div>
</div>
{% endblock %}

{% block _delivery_vehicle_widget %}
  {{ block('delivery_vehicle_widget') }}
{% endblock %}

{% block weight_widget %}
  <div class="input-group">
    {{ block('form_widget_simple') }}
    <span class="input-group-addon">{{ 'basics.kilos'|trans }}</span>
  </div>
{% endblock %}

{% block packages_widget %}
  <div id="{{ form.vars.id }}" class="delivery__form__packages" data-packages-required="{{ form.vars.attr['data-packages-required'] }}">
    <div id="{{ form.vars.id }}_list"
      data-prototype="{{ form_widget(form.vars.prototype)|e }}"
      data-widget-counter="{{ form.children|length }}"
      class="delivery__form__packages__list">
      {% for child in form %}
        {{ form_widget(child) }}
      {% endfor %}
    </div>
    <div class="text-right">
      <button type="button" class="btn btn-default" id="{{ form.vars.id }}_add"
        data-target="#{{ form.vars.id }}_list">{{ 'basics.add'|trans }}</button>
    </div>
  </div>
{% endblock %}

{% block _delivery_tasks_entry_packages_widget %}
  {{ block('packages_widget') }}
{% endblock %}

{% block _delivery_tasks_entry_weight_widget %}
  {{ block('weight_widget') }}
{% endblock %}

{% block packages_entry_widget %}
  <div class="delivery__form__packages__list-item" id="{{ form.vars.id }}">
    {{ form_widget(form.quantity, { attr: { class: 'delivery__form__packages__list-item-quantity' } }) }}
    <span class="delivery__form__packages__list-item-multiply">×</span>
    {{ form_widget(form.package, { attr: { class: 'delivery__form__packages__list-item-package' } }) }}
    <button type="button" class="btn btn-default delivery__form__packages__list-item-delete"
      data-delete
      data-target="#{{ form.vars.id }}"><i class="fa fa-trash-o"></i></button>
  </div>
{% endblock %}

{% block _delivery_tasks_entry_packages_entry_widget %}
  {{ block('packages_entry_widget') }}
{% endblock %}

{% block _delivery_tasks_entry_doneAfter_widget %}
  {{ block('hidden_widget') }}
{% endblock %}

{% block _delivery_tasks_entry_doneBefore_widget %}
  {{ block('hidden_widget') }}
  <div id="{{ form.vars.id ~ '_widget' }}"></div>
{% endblock %}

{% block _delivery_tasks_widget %}
{{ block('collection_widget') }}
{% endblock %}

{% block _delivery_tasks_entry_timeSlot_widget %}
  {{ form_widget(form) }}
{% endblock %}
