{% extends 'bootstrap_3_layout.html.twig' %}

{% block _form_restaurants_row %}
{% spaceless %}
<div class="form-horizontal mt-4">
  <div class="form-group form-group-sm">
    <label class="col-sm-2 control-label">{{ 'adminDashboard.users.edit.addRestaurant'|trans }}</label>
    <div class="col-sm-10">
      <div id="restaurant-search"></div>
    </div>
  </div>
</div>
<div class="form-group">
  <table class="table" id="{{ form.vars.id }}" data-prototype="{{ form_widget(form.vars.prototype)|e('html_attr') }}">
    <thead>
      <th colspan="2">{{ (form.vars.label)|trans }}</th>
    </thead>
    <tbody>
    {% for child in form.children %}
      {{ form_widget(child) }}
    {% endfor %}
    </tbody>
  </table>
</div>
{% endspaceless %}
{% endblock %}

{% block _form_restaurants_entry_widget %}
{% spaceless %}
<tr {{ form.vars.data and form.vars.data.edenredSyncSent ? 'style="text-decoration: line-through;"' : '__restaurant_style__' }} >
  <td>
    {{ form.vars.data ? form.vars.data.name : '__restaurant_name__' }}
    <input type="hidden" id="{{ form.vars.id ? form.vars.id : '' }}"
      name="{{ form.vars.full_name ? form.vars.full_name : '' }}"
      value="{{ form.vars.value ? form.vars.value : '__value__' }}">
  </td>
  <td class="text-right">
    <a href="#" data-remove="restaurant"><span class="glyphicon glyphicon-trash"></span></a>
  </td>
</tr>
{% endspaceless %}
{% endblock %}
