{% extends 'bootstrap_3_layout.html.twig' %}

{% block _product_allergens_row %}
  {{ block('choice_label') }}
  {{ block('form_help') }}
  {{ block('choice_widget_expanded') }}
{% endblock %}

{% block _product_restrictedDiets_row %}
  {{ block('choice_label') }}
  {{ block('form_help') }}
  {{ block('choice_widget_expanded') }}
{% endblock %}

{% block _product_reusablePackagings_entry_widget %}
  <div class="d-flex mb-3">
  {{ form_widget(form.reusablePackaging) }}
  {{ form_widget(form.units, { attr: { class: 'ml-2' } }) }}
  <button type="button" class="btn btn-transparent" data-reusable-packaging-delete>
    <i class="fa fa-lg fa-close"></i>
  </button>
  </div>
{% endblock %}
