{% extends 'bootstrap_3_layout.html.twig' %}

{% block _restaurant_imageFile_row %}
  {% set image_url = coopcycle_asset(form.parent.vars.value, 'imageFile', 'restaurant_thumbnail') %}
  <div class="form-group {% if not form.vars.valid %}has-error{% endif %}">
    <div class="image-uploader"
      {% if image_url is not empty %}style="background-image: url({{ image_url }})"{% endif %}>
      <label for="{{ form.file.vars.id }}" class="btn btn-danger">
        <i class="fa fa-upload"></i> {% trans %}restaurant.form.uploadImage{% endtrans %}
      </label>
      {{ form_widget(form.file) }}
    </div>
    {{ form_errors(form) }}
  </div>
  {% if form.delete is defined %}
  {{ form_row(form.delete) }}
  {% endif %}
{% endblock %}

{% block fulfillment_method_item_row %}
<div class="panel panel-default">
  <div class="panel-heading">
    {{ ('fulfillment_method.' ~ form.vars.value.type)|trans }}
    <span class="pull-right">{{ form_widget(form.enabled, { label_attr: { class: 'checkbox-inline' } }) }}</span>
  </div>
  <div class="panel-body">
    {{ form_row(form) }}
  </div>
</div>
{% endblock %}

{% block fulfillment_method_item_widget %}
<div id="{{ form.vars.id }}">

  {% set fulfillment_method = form.vars.value %}
  {% set method = fulfillment_method.type %}

  {% set method_disabled = (not form.vars.value.enabled ) %}
  {# Only admins can modify "delivery" fulfillment method #}
  {% if method == 'delivery' %}
    {% set method_disabled = ( not is_granted('ROLE_ADMIN') and not (fulfillment_method.hasOption('allow_edit') and fulfillment_method.getOption('allow_edit') == true) ) %}
  {% endif %}

  {% set opening_hours_errors = [] %}
  {% for key, value in form.openingHours %}
    {% if not value.vars.valid %}
      {% set opening_hours_errors = opening_hours_errors|merge([ key ]) %}
    {% endif %}
  {% endfor %}

  {{ form_row(form.openingHours, { label: false, attr: {
    'data-widget': 'opening-hours',
    'data-errors': opening_hours_errors|json_encode,
    'data-disabled': method_disabled|json_encode,
    'data-behavior': form.vars.value.openingHoursBehavior|e('html_attr'),
    'data-behavior-selector': ('#' ~ form.openingHoursBehavior.vars.id),
    'data-method': method|e('html_attr'),
  }}) }}
  {{ form_row(form.openingHoursBehavior, { row_attr: { class: 'd-none' } }) }}

  <hr />

  <div class="form-horizontal">
    <div class="form-group">
      {{ form_label(form.minimumAmount, null, { label_attr: { class: 'col-sm-7' } }) }}
      <div class="col-sm-5">
        {{ form_widget(form.minimumAmount) }}
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-7 control-label">{{ 'localBusiness.form.orderingDelayMinutes'|trans }}</label>
      <div class="col-sm-5">
        <div class="d-flex">
          <div class="input-group mr-4">
            {{ form_widget(form.orderingDelayDays, { attr: { size: 2 } }) }}
            <span class="input-group-addon"><small>{{ form.orderingDelayDays.vars.label|trans }}</small></span>
          </div>
          <div class="input-group">
            {{ form_widget(form.orderingDelayHours, { attr: { size: 2 } }) }}
            <span class="input-group-addon"><small>{{ form.orderingDelayHours.vars.label|trans }}</small></span>
          </div>
        </div>
        <span class="help-block mb-0">
          {{ 'localBusiness.form.orderingDelayMinutes.help'| trans }}
        </span>
      </div>
    </div>
    {% if method == 'delivery' and form.rangeDuration is defined %}
    <div class="form-group">
      {{ form_label(form.rangeDuration, null, { label_attr: { class: 'col-sm-7' } }) }}
      <div class="col-sm-5">
        {{ form_widget(form.rangeDuration) }}
      </div>
    </div>
    {% endif %}
    <div class="form-group">
      <div class="col-sm-offset-7 col-sm-5">
        {{ form_widget(form.preOrderingAllowed) }}
        {{ form_help(form.preOrderingAllowed) }}
      </div>
    </div>
    {% if method == 'delivery' and form.allowEdit is defined %}
    <div class="form-group">
      <div class="col-sm-offset-7 col-sm-5">
        {{ form_widget(form.allowEdit) }}
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block contract_widget %}

  <div class="panel panel-default">
    <div class="panel-body">
      <div class="alert alert-info">{% trans %}restaurant.contract.calculation_info{% endtrans %}</div>
      <div class="row">
        <div class="col-sm-6">
          {{ form_row(form.variableDeliveryPriceEnabled) }}
          {{ form_row(form.flatDeliveryPrice) }}
          {{ form_row(form.variableDeliveryPrice) }}
        </div>
        <div class="col-sm-6">
          {{ form_row(form.variableCustomerAmountEnabled) }}
          {{ form_row(form.customerAmount) }}
          {{ form_row(form.variableCustomerAmount) }}
        </div>
      </div>
    </div>
  </div>

  {{ form_row(form.feeRate) }}
  {{ form_row(form.takeAwayFeeRate) }}

  {% if form.restaurantPaysStripeFee is defined %}
  <p>
    <a class="help-block collapsed" role="button" data-toggle="collapse" href="#{{ form.vars.id }}_advanced">
      <i class="fa fa-plus"></i>
      <i class="fa fa-minus"></i>
      <span>{% trans %}restaurant.contract.showAdvanced{% endtrans %}</span>
    </a>
  </p>
  <div class="collapse" id="{{ form.vars.id }}_advanced">
    {{ form_row(form.restaurantPaysStripeFee, { help: 'restaurant.contract.restaurantPaysStripeFee.help' }) }}
  </div>
  {% endif %}

{% endblock %}

{% block _hub_restaurants_row %}
{% spaceless %}
<div class="form-group">
  <table class="table" id="{{ form.vars.id }}" data-prototype="{{ form_widget(form.vars.prototype)|e('html_attr') }}">
    <thead>
      <th colspan="2">{{ (form.vars.label)|trans }}</th>
    </thead>
    <tbody>
    {% for child in form.children %}
      {{ form_widget(child) }}
    {% endfor %}
    </tbody>
  </table>
</div>
<div class="form-horizontal">
  <div class="form-group form-group-sm">
    <label class="col-sm-2 control-label">{{ 'adminDashboard.users.edit.addRestaurant'|trans }}</label>
    <div class="col-sm-10">
      <div id="restaurant-search"></div>
    </div>
  </div>
</div>
{% endspaceless %}
{% endblock %}

{% block _hub_restaurants_entry_widget %}
{% spaceless %}
<tr>
  <td>
    {{ form.vars.data ? form.vars.data.name : '__restaurant_name__' }}
    <input type="hidden" id="{{ form.vars.id ? form.vars.id : '' }}"
      name="{{ form.vars.full_name ? form.vars.full_name : '' }}"
      value="{{ form.vars.value ? form.vars.value : '__value__' }}">
  </td>
  <td class="text-right">
    <a href="#" data-remove="restaurant"><span class="glyphicon glyphicon-trash"></span></a>
  </td>
</tr>
{% endspaceless %}
{% endblock %}

{% block _business_restaurant_group_restaurantsWithMenu_row %}
{% spaceless %}
<div class="form-group">
  {{ form_label(form) }}
  <table class="table" id="{{ form.vars.id }}"
    data-index="{{ form.children|length > 0 ? form.children|last.vars.name + 1 : 0 }}"
    data-prototype="{{ form_widget(form.vars.prototype)|e('html_attr') }}">
    <thead>
      <th>{{ 'form.business_restaurant_group.restaurant'|trans }}</th>
      <th>{{ 'form.business_restaurant_group.menu'|trans }}</th>
    </thead>
    <tbody>
      {% for child in form %}
        {{ form_widget(child) }}
      {% endfor %}
    </tbody>
  </table>
</div>
<div class="form-horizontal">
  <div class="form-group form-group-sm">
    <label class="col-sm-2 control-label">{{ 'adminDashboard.users.edit.addRestaurant'|trans }}</label>
    <div class="col-sm-10">
      <div id="restaurant-search"></div>
    </div>
  </div>
</div>
{% endspaceless %}
{% endblock %}

{% block _business_restaurant_group_restaurantsWithMenu_entry_widget %}
{% spaceless %}
  <tr>
    <td>
      {{ form.vars.data ? form.vars.data.restaurant.name : '__restaurant_name__' }}
      <input type="hidden" id="{{ form.restaurant.vars.id ? form.restaurant.vars.id : '' }}"
        name="{{ form.restaurant.vars.full_name ? form.restaurant.vars.full_name : '' }}"
        value="{{ form.restaurant.vars.value ? form.restaurant.vars.value : '__value__' }}">
    </td>
    <td>
      <select
        class="form-control"
        data-toggle="menu"
        data-controls="#{{ form.menu.vars.id ? form.menu.vars.id : '' }}">
        {% if form.menu.vars.choices|length > 0 %}
          {% for choice in form.menu.vars.choices %}
            <option value="{{ choice.value }}" {% if choice.value == form.menu.vars.value %} selected="selected"{% endif %}>{{ choice.label }}</option>
          {% endfor %}
        {% else %}
          {{ '__restaurant_menus__' }}
        {% endif %}
      </select>
      <input type="hidden" id="{{ form.menu.vars.id ? form.menu.vars.id : '' }}"
        name="{{ form.menu.vars.full_name ? form.menu.vars.full_name : '' }}"
        value="{{ form.menu.vars.value ? form.menu.vars.value : '' }}">
    </td>
    <td class="text-right">
      <a href="#" data-remove="restaurant"><span class="glyphicon glyphicon-trash"></span></a>
    </td>
  </tr>
{% endspaceless %}
{% endblock %}

{% block delivery_perimeter_expression_widget %}
  <h4>{% trans %}restaurant.deliveryPerimeterExpression.title{% endtrans %}</h4>
  <div
    data-widget="delivery-perimeter-expression"
    data-default-value="{{ form.vars.data|e('html_attr') }}"
    data-zones="{{ coopcycle_zone_names()|json_encode|e('html_attr') }}">
    {{ form_widget(form) }}
  </div>
  <span class="help-block">
    <i class="fa fa-info-circle"></i> {{ 'restaurant.deliveryPerimeterExpression.help'|trans|raw }}
  </span>
{% endblock %}

{% block _restaurant_ordersRateLimiter_row %}
<div class="panel panel-default">
  <div class="panel-heading">{% trans %}restaurant.ordersRateLimiter.title{% endtrans %}</div>
  <div class="panel-body">
  <div
    data-widget="orders-rate-limiter"
    data-default-value="{{ form.vars.data|e('html_attr') }}">
    {{ form_widget(form) }}
  </div>
  <span class="help-block">
    <i class="fa fa-info-circle"></i> {{ 'restaurant.ordersRateLimiter.help'|trans|raw }}</span>
  </div>
</div>
{% endblock %}

{% block _restaurant_deliveryPerimeterExpression_row %}
  {{ block('delivery_perimeter_expression_widget') }}
{% endblock %}

{% block _hub_deliveryPerimeterExpression_row %}
  {{ block('delivery_perimeter_expression_widget') }}
{% endblock %}

{% block _business_restaurant_group_deliveryPerimeterExpression_row %}
  {{ block('delivery_perimeter_expression_widget') }}
{% endblock %}
