{% extends 'bootstrap_3_layout.html.twig' %}

{% block _store_imageFile_row %}

  {% set image_url = coopcycle_asset(form.parent.vars.value, 'imageFile', 'store_thumbnail') %}

  <div class="form-group {% if not form.vars.valid %}has-error{% endif %}">
    <div class="image-uploader"
      {% if image_url is not empty %}style="background-image: url({{ image_url }})"{% endif %}>
      <label for="{{ form.file.vars.id }}" class="btn btn-danger">
        <i class="fa fa-upload"></i> {% trans %}adminDashboard.stores.form.uploadImage{% endtrans %}
      </label>
      {{ form_widget(form.file) }}
    </div>
    {{ form_errors(form) }}
  </div>
  {% if form.delete is defined %}
  {{ form_row(form.delete) }}
  {% endif %}
{% endblock %}

{% block _store_checkExpression_row %}
  {{ block('delivery_perimeter_expression_widget') }}
{% endblock %}

