{% extends 'bootstrap_3_layout.html.twig' %}

{% block user_owning_widget %}
{% spaceless %}
<div>
  <div class="form-group">
    <table class="table" id="{{ form.vars.id }}" data-prototype="{{ form_widget(form.vars.prototype)|e }}">
      <thead>
        <th colspan="2">{{ form.vars.label|trans }}</th>
      </thead>
      <tbody>
      {% for child in form.children %}
        {{ form_widget(child) }}
      {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="form-horizontal">
    <div class="form-group form-group-sm">
      <label class="col-sm-4 control-label">{{ 'basics.add'|trans }}</label>
      <div class="col-sm-8">
        <div data-search-url="{{ attr['data-search-url'] }}"
          data-target="#{{ form.vars.id }}"
          data-placeholder="{{ 'basics.search'|trans }}"></div>
      </div>
    </div>
  </div>
</div>
{% endspaceless %}
{% endblock %}

{% block user_owning_entry_widget %}
{% spaceless %}
<tr>
  <td>
    {{ form.vars.data ? form.vars.data.name : '__label__' }}
    <input type="hidden" id="{{ form.vars.id ? form.vars.id : '' }}"
      name="{{ form.vars.full_name ? form.vars.full_name : '' }}"
      value="{{ form.vars.value ? form.vars.value : '__value__' }}">
  </td>
  <td class="text-right">
    <a href="#" class="remove-restaurant"><span class="glyphicon glyphicon-trash"></span></a>
  </td>
</tr>
{% endspaceless %}
{% endblock %}

{% block _update_profile_restaurants_entry_widget %}
  {{ block('user_owning_entry_widget') }}
{% endblock %}

{% block _update_profile_stores_entry_widget %}
  {{ block('user_owning_entry_widget') }}
{% endblock %}

{% block _update_profile_restaurants_widget %}
  {{ block('user_owning_widget') }}
{% endblock %}

{% block _invite_user_restaurants_widget %}
  {{ block('user_owning_widget') }}
{% endblock %}

{% block _invite_user_restaurants_entry_widget %}
  {{ block('user_owning_entry_widget') }}
{% endblock %}

{% block _invite_user_stores_widget %}
  {{ block('user_owning_widget') }}
{% endblock %}

{% block _invite_user_stores_entry_widget %}
  {{ block('user_owning_entry_widget') }}
{% endblock %}

{% block _update_profile_stores_widget %}
  {{ block('user_owning_widget') }}
{% endblock %}

{% block _update_profile_roles_widget %}
{% spaceless %}
<div class="alert alert-info">{% trans from 'messages' %}user.edit.roles.help{% endtrans %}</div>
{{ form_widget(form) }}
{% endspaceless %}
{% endblock %}
