{% extends "base.html.twig" %}

{% trans_default_domain 'NucleosProfileBundle' %}

{% block body %}
  <div class="navbar-coopcycle">
    <div class="container">
      <h5>{{ 'registration.navigation.title'|trans({}, 'messages') }}</h5>
    </div>
  </div>
  <div class="main">
    <div class="container">
      {% block nucleos_user_content %}
        <div class="d-flex justify-content-center">
          <div class="info-section text-center rounded">
            <img src="{{ asset('img/registration-congrats.svg') }}">
            <h5>{{ 'registration.congratulations'|trans }}</h5>
            <strong>{% trans with { '%username%': user.username } %}registration.confirmed{% endtrans %}</strong>
            {% set cart = cart_provider.getCart() %}
            {% if cart is not empty and cart.restaurant is not empty and cart.state == 'cart' %}
              <div class="text-center">
                <a href="{{ path('order') }}" class="btn btn-md bg-primary mt-3">
                  {{ 'registration.after_confirmation_continue_order'|trans }}
                  <i class="fa fa-angle-right ml-2" aria-hidden="true"></i>
                </a>
              </div>
            {% elseif targetUrl %}
              <p class="text-center mt-2">
                <a href="{{ targetUrl }}">
                  {{ 'registration.back'|trans }}
                </a>
              </p>
            {% else %}
              <p class="mt-2">{{ 'registration.after_confirmation_redirect_to_dashboard'|trans }}</p>
              <a href="{{ is_granted('DASHBOARD_VIEW') ? path('dashboard') : path('profile_edit') }}" class="btn btn-md bg-primary mt-3">
                {{ 'registration.go_to_dashboard'|trans }}
              </a>
            {% endif %}
          </div>
        </div>
        <div class="d-flex">
          <img src="{{ asset('img/registration-image.svg') }}">
        </div>
      {% endblock nucleos_user_content %}
    </div>
  </div>
{% endblock body %}
