{#% form_theme form 'bootstrap_3_layout.html.twig' %#}

{% trans_default_domain 'NucleosProfileBundle' %}

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="text-center">
      <a href="{{ hwi_oauth_authorization_url('facebook')|oauth2_proxy }}" class="btn btn-facebook" alt="{{ 'social.sign_in_with_facebook'|trans }}" rel="nofollow">
        <i class="fa fa-facebook-official"></i>  {{ 'social.sign_in_with_facebook'|trans({}, 'messages') }}
      </a>
    </div>
    <hr>
    {{ dump(form.vars.errors) }}
    {{ form_start(form, {'method': 'post', 'action': path('nucleos_profile_registration_register'), 'attr': {'class': 'nucleos_profile_registration_register'}}) }}
      {{ form_row(form.email) }}
      {{ form_row(form.username) }}
      {% set break = false %}
      {% for key, error in form.vars.errors if not break %}
        {% if error.cause.propertyPath == 'username' %}
        <div class="alert alert-danger">
          <ul class="list-unstyled">
            <li>
              <span class="glyphicon glyphicon-exclamation-sign"></span>
              {{ error.message }}
            </li>
          </ul>
        </div>
          {% set break = true %}
        {% endif %}
      {% endfor %}
      {{ form_row(form.plainPassword) }}
      {% set break = false %}
      {% for key, error in form.vars.errors if not break %}
        {% if error.cause.propertyPath == 'plainPassword' %}
        <div class="alert alert-danger">
          <ul class="list-unstyled">
            <li>
              <span class="glyphicon glyphicon-exclamation-sign"></span>
              {{ error.message }}
            </li>
          </ul>
        </div>
          {% set break = true %}
        {% endif %}
      {% endfor %}

      {% if form.legal is defined %}
        {{ form_row(form.legal) }}
      {% elseif form.termsAndConditionsAndPrivacyPolicy is defined %}
        {{ form_row(form.termsAndConditionsAndPrivacyPolicy) }}
      {% endif %}

      {% for optin in form.optins.vars.value|split(',') %}
        {{ form_row(form[optin]) }}
      {% endfor %}

      {# TODO Add other fields #}

      {{ form_widget(form.save, { attr: { class: 'btn btn-block btn-lg btn-primary' } }) }}
      <div class="help-block">
        {% trans from 'messages' %}authentication.unsubscribe{% endtrans %}
      </div>
      {% set break = false %}
      {% for key, error in form.vars.errors if not break %}
        {% if error.cause.propertyPath == 'email' %}
        <div class="alert alert-danger">
          <ul class="list-unstyled">
            <li>
              <span class="glyphicon glyphicon-exclamation-sign"></span>
              {% trans from 'messages' %}authentication.registration_error{% endtrans %}
            </li>
          </ul>
        </div>
          {% set break = true %}
        {% endif %}
      {% endfor %}
    {{ form_end(form) }}
    <hr>
    <div class="panel panel-default">
      <a class="panel-body d-block text-center" href="{{ path('nucleos_user_security_login') }}">
        <span>{% trans from 'messages' %}authentication.already_registered{% endtrans %}</span>
        <span>{% trans from 'messages' %}authentication.sign_in{% endtrans %}</span>
      </a>
    </div>
  </div>
</div>

{% if form.termsAndConditionsAndPrivacyPolicy is defined %}
  <div id="termsAndConditionsAndPrivacyPolicy">
  </div>
{% endif %}
