<table class="table">
  <thead>
    <th>{{ 'form.payment.state.label'|trans }}</th>
    <th>{{ 'form.payment.method.name.label'|trans }}</th>
    <th class="text-right">{{ 'form.payment.amount.label'|trans }}</th>
    <th class="text-right">{{ 'form.payment.refund_amount.label'|trans }}</th>
    <th class="text-right">{{ 'form.payment.last_update.label'|trans }}</th>
    {% if is_granted('ROLE_ADMIN') %}
    <th></th>
    {% endif %}
  </thead>
  <tbody>
    {% for payment in order.payments %}
    <tr>
      <td>
        {% include '_partials/payment/state.html.twig' with { payment: payment } %}
      </td>
      <td data-testid="payment-{{ loop.index0 }}:method-name">
        {{ payment.method.name }}
      </td>
      <td class="text-right">
        {{ payment.amount|price_format }}
      </td>
      <td class="text-right">
        {{ payment.refundTotal|price_format }}
      </td>
      <td class="text-right">
        {{ payment.updatedAt|format_datetime('medium', 'short') }}
      </td>
      {% if is_granted('ROLE_ADMIN') %}
      <td class="text-right">
        <button type="button" class="btn btn-xs btn-danger"
          data-toggle="tooltip" data-placement="left" title="{{ 'form.order.payment_refund.tooltip'|trans|e('html_attr') }}">
          {{ 'form.order.payment_refund.label'|trans }}
        </button>
      </td>
      {% endif %}
    </tr>
  {% endfor %}
  <tbody>
</table>
