{% set order_public_link = url('public_order', { hashid: order|hashid }) %}

<div class="row mb-4">
  <div class="col-xs-6">
    <strong>{{ 'order.public_link'|trans }}</strong>
  </div>
  <div class="col-xs-6 text-right">
    <a href="{{ order_public_link }}" target="_blank">
      {{ order_public_link }}
    </a>
  </div>
</div>
<div class="row">
  <div class="col-xs-6">
    <button type="button" class="btn btn-default btn-sm"
      id="copy" data-clipboard-text="{{ order_public_link }}">
      <i class="fa fa-copy"></i> {{ 'basics.copy'|trans }}
    </button>
  </div>
  <div class="col-xs-6 text-right">
    <button type="button" class="btn btn-default btn-sm"
      data-toggle="modal" data-target="#send-payment-link-modal">
      <i class="fa fa-envelope"></i> {{ 'orders.payment_link.send_by_email'|trans }}
    </button>
  </div>
</div>
