{% extends "AppBundle::base.html.twig" %}

{% block body %}

{# {% set examples = {
  'Oberkampf': path('restaurants', { geohash: 'u09typ9kp93' }),
  'Châtelet': path('restaurants', { geohash: 'u09tvqjrnvr' }),
  'Opéra': path('restaurants', { geohash: 'u09tvpgsem8' }),
  'République': path('restaurants', { geohash: 'u09wjb108ub' }),
} %} #}

{% set examples = {} %}

<section id="search">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-md-offset-3">
        <form class="form-inline" method="GET" id="address-search-form" action="{{ path('restaurants') }}">
          <input type="hidden" name="geohash">
          <div class="input-group">
            <input type="text" class="form-control" id="address-search" placeholder="{% trans %}Enter your address{% endtrans %}" size="48">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-success disabled">{% trans %}Search for restaurants{% endtrans %}</button>
            </span>
          </div>
        </form>
        <div class="text-center">
          <small>
          {% for name, path in examples %}
            <a href="{{ path }}" class="btn btn-info btn-xs"><span>{{ name }}</span></a>
          {% endfor %}
          </small>
        </div>
      </div>
    </div>
  </div>
</section>

{# <section>
  <div class="container">
    <div id="map-wrapper">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="{{ path('restaurants_map', { zoom: 13 }) }}"></iframe>
      </div>
    </div>
  </div>
</section> #}

<section id="map">
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="{{ path('restaurants_map', { zoom: 13 }) }}"></iframe>
  </div>
</section>

{% endblock %}

{% block scripts %}
<script src="{{ asset('js/homepage.js') }}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}&libraries=places&callback=initMap"
  async defer></script>
{% endblock %}
