{% extends "@App/base.html.twig" %}

{% block body %}

{# {% set examples = {
  'Oberkampf': path('restaurants', { geohash: 'u09typ9kp93' }),
  'Châtelet': path('restaurants', { geohash: 'u09tvqjrnvr' }),
  'Opéra': path('restaurants', { geohash: 'u09tvpgsem8' }),
  'République': path('restaurants', { geohash: 'u09wjb108ub' }),
} %} #}

{% set examples = {} %}

<section class="homepage-search" data-search="address"
  data-addresses="{{ addresses_normalized|json_encode()|e('html') }}"
  data-tracking-category="Homepage">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-4 col-md-offset-2">
        <h1 class="banner-title">{% trans %}index.banner{% endtrans %}</h1>
      </div>
      <div class="col-xs-12 col-md-4 banner-search">
        <div data-element>
          <!-- This will be replaced by React -->
          <div class="form-group">
            <input class="form-control" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Do NOT put the search component inside the form -->
  <form method="GET" action="{{ path('restaurants') }}" data-form>
    <input type="hidden" name="geohash">
  </form>
</section>

{% if restaurants|length > 0 %}
  {% include '@App/index/_partials/section.html.twig' with {
    items: restaurants,
    section_title: 'index.our_restaurants'|trans,
    view_all: 'index.view_all_restaurants'|trans,
    view_all_path: path('restaurants'),
    show_more: show_more_restaurants
  } %}
{% endif %}

{% if stores|length > 0 %}
  {% include '@App/index/_partials/section.html.twig' with {
    items: stores,
    section_title: 'index.our_shops'|trans,
    view_all: 'index.view_all_shops'|trans,
    view_all_path: path('stores'),
    show_more: show_more_stores
  } %}
{% endif %}

<section class="homepage-map">
  <div class="container">
    <p class="text-center">{% trans %}index.map.tip{% endtrans %}</p>
    <p class="text-center"><i class="fa fa-chevron-down"></i></p>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="{{ path('restaurants_map', { zoom: 13 }) }}"></iframe>
    </div>
  </div>
</section>

{% endblock %}

{% block scripts %}
{{ encore_entry_script_tags('search-address') }}
{{ encore_entry_script_tags('restaurant-list') }}
<script src="https://maps.googleapis.com/maps/api/js?key={{ coopcycle_setting('google_api_key') }}&libraries=places&callback=initMap" async defer></script>
{% endblock %}
