{% extends is_granted('ROLE_ADMIN') ? "AppBundle::admin.html.twig" : "AppBundle::profile.html.twig" %}

{% block breadcrumb %}
<li><a href="{{ path(restaurants_route) }}">{% trans %}Restaurants{% endtrans %}</a></li>
<li><a href="{{ path(restaurant_route, { id: restaurant.id }) }}">{{ restaurant.name }}</a></li>
<li>{% trans %}Orders{% endtrans %}</li>
{% endblock %}

{% block content %}

{% set current_route = app.request.attributes.get('_route') %}
{% set current_route_params = app.request.attributes.get('_route_params') %}

<div class="row">
  <div class="col-md-6">
    <div class="well well-sm"><strong>{% trans %}Waiting{% endtrans %}</strong></div>
    <ul class="nav nav-justified nav-pills">
      <li role="presentation" {% if tab == 'today' %}class="active"{% endif %}>
        <a href="{{ path(current_route, current_route_params|merge({tab: 'today'})) }}">
          {% trans %}Today{% endtrans %}
        </a>
      </li>
      <li role="presentation" {% if tab == 'tomorrow' %}class="active"{% endif %}>
        <a href="{{ path(current_route, current_route_params|merge({tab: 'tomorrow'})) }}">
        {% trans %}Tomorrow{% endtrans %}
        </a>
      </li>
    </ul>
    <hr>
    <div id="order-list"></div>
  </div>
  <div class="col-md-6">
    <div class="well well-sm"><strong>{% trans %}History{% endtrans %}</strong></div>
    <table class="table table-condensed">
      <tbody>
      {% for order in history %}
      <tr>
        <td width="10%">
          <a href="{{ path(routes.order_details, { id: order.id }) }}">#{{ order.id }}</a>
        </td>
        <td>{% include "AppBundle:Order:label.html.twig" %}</td>
        <td>{{ order.createdAt|ago }}</td>
        <td class="text-right">{{ order.total }}€</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script src="/restaurant-panel/socket.io/socket.io.js"></script>
<script>
window.__order_status_i18n = {
  'CREATED':  "{{ 'order.status.CREATED'|trans }}",
  'CANCELED': "{{ 'order.status.CANCELED'|trans }}",
  'WAITING':  "{{ 'order.status.WAITING'|trans }}",
  'ACCEPTED': "{{ 'order.status.ACCEPTED'|trans }}",
  'REFUSED':  "{{ 'order.status.REFUSED'|trans }}",
  'READY':    "{{ 'order.status.READY'|trans }}",
}
window.__restaurant = {{ restaurant_json|raw }};
window.__restaurant = {{ restaurant_json|raw }};
window.__orders = {{ orders_json|raw }};
window.__routes = {
  'order_accept':  "{{ path(routes.order_accept,  { id: '__ORDER_ID__' }) }}",
  'order_refuse':  "{{ path(routes.order_refuse,  { id: '__ORDER_ID__' }) }}",
  'order_cancel':  "{{ path(routes.order_cancel,  { id: '__ORDER_ID__' }) }}",
  'order_ready':   "{{ path(routes.order_ready,   { id: '__ORDER_ID__' }) }}",
  'order_details': "{{ path(routes.order_details, { id: '__ORDER_ID__' }) }}",
};
window.__i18n = {
  "No orders yet": "{% trans %}No orders yet{% endtrans %}"
}
</script>
<script src="{{ asset('js/restaurant-panel.js') }}"></script>
{% endblock %}
