{% extends is_granted('ROLE_ADMIN') ? "AppBundle::admin.html.twig" : "AppBundle::profile.html.twig" %}

{% block breadcrumb %}
<li><a href="{{ path(restaurants_route) }}">{% trans %}Restaurants{% endtrans %}</a></li>
<li><a href="{{ path(restaurant_route, { id: restaurant.id }) }}">{{ restaurant.name }}</a></li>
<li>{% trans %}Orders{% endtrans %}</li>
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-6">
    <div class="well well-sm"><strong>{% trans %}Today{% endtrans %}</strong></div>
    <div id="order-list"></div>
  </div>
  <div class="col-md-6">
    <div class="well well-sm"><strong>{% trans %}Tomorrow{% endtrans %}</strong></div>
    <div class="alert alert-warning">{% trans %}You don't have any orders yet{% endtrans %}</div>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script src="/restaurant-panel/socket.io/socket.io.js"></script>
<script>
window.__order_status_i18n = {
  'CREATED':  "{{ 'order.status.CREATED'|trans }}",
  'CANCELED': "{{ 'order.status.CANCELED'|trans }}",
  'WAITING':  "{{ 'order.status.WAITING'|trans }}",
  'ACCEPTED': "{{ 'order.status.ACCEPTED'|trans }}",
  'REFUSED':  "{{ 'order.status.REFUSED'|trans }}",
  'READY':    "{{ 'order.status.READY'|trans }}",
}
window.__restaurant = {{ restaurant_json|raw }};
window.__restaurant = {{ restaurant_json|raw }};
window.__orders = {{ orders_json|raw }};
window.__routes = {
  'order_accept': "{{ path('admin_restaurant_order_accept', { restaurantId: restaurant.id, orderId: '__ORDER_ID__' }) }}",
  'order_refuse': "{{ path('admin_restaurant_order_refuse', { restaurantId: restaurant.id, orderId: '__ORDER_ID__' }) }}",
  'order_cancel': "{{ path('admin_restaurant_order_cancel', { restaurantId: restaurant.id, orderId: '__ORDER_ID__' }) }}",
  'order_ready':  "{{ path('admin_restaurant_order_ready',  { restaurantId: restaurant.id, orderId: '__ORDER_ID__' }) }}"
};
</script>
<script src="{{ asset('js/restaurant-panel.js') }}"></script>
{% endblock %}
