{% extends 'AppBundle::Emails/layout.html.twig' %}

{% block content %}
  {{  'order.confirmationMail.body' | trans({'%orderId%': orderId}, 'emails') | raw }}
  <br><br>
  <table border="0" cellpadding="0" cellspacing="0" style="width:600px; margin: 20px auto; line-height: 30px;">
    <thead style="background-color: #ebebeb; font-size: 14px; font-weight: 200;">
      <tr>
        <th style="text-align: left; padding-left: 20px; width: 40px;">#</th>
        <th style="text-align: left; padding-left: 20px;">Item</th>
        <th style="width: 120px; text-align: left; padding-left: 20px;">{% trans from 'emails' %}order.confirmationMail.quantity{% endtrans %}</th>
        <th style="width: 100px; text-align: right; padding-right: 20px;">Total</th>
      </tr>
    </thead>
    <tbody>
      {% for item in order.orderedItem %}
        <tr>
          <td style="text-align: left; padding-left: 20px;">{{ loop.index }}</td>
          <td style="text-align: left; padding-left: 20px;">{{ item.name }}</td>
          <td style="text-align: left; padding-left: 20px;">{{ item.quantity }}</td>
          <td style="text-align: right; padding-right: 20px;">{{ item.price|number_format(2, ',', ',') }}&nbsp;€</td>
        </tr>
      {% endfor %}
      <tr style="background-color:#ebebeb;">
        <td colspan="3" style="padding-left: 20px;">Taxes</td>
        <td style="text-align: right; padding-right: 20px;">{{ order.totalTax|number_format(2, ',', ',') }}&nbsp;€</td>
      </tr>
      <tr style="background-color:#ebebeb;">
        <td colspan="3" style="padding-left: 20px;">{% trans from 'emails' %}order.confirmationMail.delivery{% endtrans %}</td>
        <td style="text-align: right; padding-right: 20px; ">{{ order.delivery.price|number_format(2, ',', ',') }}&nbsp;€</td>
      </tr>
      <tr style="font-weight: 600; background-color: #BFBFBF;">
        <td colspan="3" style="padding-left: 20px;">Total</td>
        <td style="text-align: right; padding-right: 20px;">{{ order.totalIncludingTax|number_format(2, ',', ',') }}&nbsp;€</td>
      </tr>
    </tbody>
  </table>
  <br><br>
  {% trans from 'emails' %}order.confirmationMail.outro{% endtrans %}
{% endblock %}
