{% set username = event.getCreatedBy().getUsername() %}
<div class="media event">
  <div class="media-left media-top">
    <a href="#">
      <img class="media-object" width="32" src="{{ path('user_avatar', { username: username }) }}" alt="{{username}}">
    </a>
  </div>
  <div class="media-body">
        <span class="font-weight-bold">{{ username }}<span>
        <span class="font-weight-light">rescheduled the task</span>
        <span class="text-muted font-weight-light">{{ event.getCreatedAt()|time_diff }}</span>
  <div class="text-monospace font-weight-light text-muted">
  {% for key, value in event.getMetadata() %}
{{ key }} - {{ value }}
  {% endfor %}
  </div>
  </div>
</div>
