{% set username = event.getCreatedBy().getUsername() %}
<div class="media">
  <div class="media-left media-top">
    <a href="#">
      <img class="media-object" width="32" src="{{ path('user_avatar', { username: username }) }}" alt="{{username}}">
    </a>
  </div>
  <div class="media-body">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="font-weight-bold">{{ username }}<span> <span class="text-muted font-weight-light">{{ event.getCreatedAt()|time_diff }}</span>
      </div>
      <div class="panel-body">
        {{ event.getMessage() }}
      </div>
    </div>
  </div>
</div>
