{% form_theme form '@App/form/task_modal.html.twig' %}

{% set task = form.vars.data %}
{% set is_new_task = (task.id is null) %}

{% set form_start_variables = {
  attr: {
    class: 'modal-content',
    'data-ajax': is_new_task ? 'false' : 'true'
  }
} %}
{% if not is_new_task %}
  {% set form_start_variables = form_start_variables|merge({
    action: path('admin_task', { id: task.id })
  }) %}
{% endif %}

{% set modal_title %}
  {% if is_new_task %}
    {% trans %}task.form.create{% endtrans %}
  {% else %}
    {{ 'task.form.edit' | trans({ '%id%': ('#' ~ task.id) }) }}
  {% endif %}
{% endset %}

<div class="modal-dialog" role="document">
  {{ form_start(form, form_start_variables) }}
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title">
        {{ modal_title }}
        {% if form.complete is defined %}
          <a class="pull-right margin-right-md" id="show-task-finish">{% trans %}task.form.finish{%  endtrans %}</a>
          <a class="pull-right margin-right-md" id="show-task-details" style="display:none;">{% trans %}task.form.details{%  endtrans %}</a>
        {% endif %}
      </h4>
    </div>
    <div class="modal-body">

      {{ form_errors(form) }}

      {% if form.complete is defined %}
        <div id="task-finish" style="display:none;">
          {{ form_row(form.complete.notes) }}
        </div>
      {% endif %}

      <div id="task-details">

        {% if form.lastEvent is defined %}
          <p>{{ ('task.form.finish.' ~ task.status ~ '.info')|trans }}</p>
          {{ form_row(form.lastEvent.notes, { label: false }) }}
        {% endif %}

        {{ form_row(form.type) }}
        {{ form_widget(form.address) }}

        {{ form_row(form.dateRange) }}
        {{ form_row(form.comments) }}
        {{ form_row(form.tagsAsString) }}

        {% if form.assign is defined %}
          {{ form_row(form.assign) }}
        {% endif %}

        {% if not is_new_task %}
          <p>
            <a class="help-block" role="button" data-toggle="collapse" href="#{{ form.vars.id }}_history">
              <i class="fa fa-plus"></i> {% trans from 'messages' %}task.form.showHistory{% endtrans %}
            </a>
          </p>
          <div class="collapse" id="{{ form.vars.id }}_history">
            <ul class="list-unstyled" data-render="timeline">
              {% for event in task.events %}
                <li data-event="{{ event.name }}">
                  <time datetime="{{ event.createdAt|date('c') }}">{{ event.createdAt|localizeddate('short', 'short') }}</time> 
                  <span>{{ event.name }}</span> 
                  {% if event.data.notes is defined %}
                    <pre>
                  {{ event.data.notes }}
                </pre>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}

        {% if task.images|length > 0 %}
          <label class="control-label">Images</label>
          <div class="row">
          {% for image in task.images %}
            <div class="col-xs-6 col-md-3">
              <a href="#" class="thumbnail">
                <img src="{{ vich_uploader_asset(image, 'file')|imagine_filter('task_image_thumbnail') }}">
              </a>
            </div>
          {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>

    <div class="modal-footer">
      {% if form.delete is defined %}
      {{ form_widget(form.delete, { attr: { class: 'btn btn-danger pull-left' } }) }}
      {% endif %}
      <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}task.form.cancel{% endtrans %}</button>
      {{ form_widget(form.save, { attr: { class: 'btn btn-primary' } }) }}
      {% if form.complete is defined %}
        {{ form_widget(form.complete.done, { attr: { class: 'btn btn-success', style: 'display: none;' } }) }}
        {{ form_widget(form.complete.fail, { attr: { class: 'btn btn-danger', style: 'display: none;' } }) }}
      {% endif %}
    </div>
  {{ form_end(form) }}
</div>

{% if init_javascript|default(false) %}
<script>
  new CoopCycle.TaskModal("{{ form.vars.name }}", "{{ path('admin_tags', { format: 'json' }) }}");
  $('#show-task-finish').on('click', function (event) {
    var $modal = $(event.target).closest('.modal-dialog');
    $(event.target).hide(400, function () {$modal.find("#show-task-details").fadeIn()});
    $modal.find("#task-details").hide(400, function () {$modal.find("#task-finish").fadeIn()});
    $('#task_edit_save').hide();
    $('#task_edit_complete_done').show();
    $('#task_edit_complete_fail').show();
  });
  $('#show-task-details').on('click', function (event) {
    var $modal = $(event.target).closest('.modal-dialog');
    $(event.target).hide(400, function () {$modal.find("#show-task-finish").fadeIn()});
    $modal.find("#task-finish").hide(400, function () {$modal.find("#task-details").fadeIn()});
    $('#task_edit_complete_done').hide();
    $('#task_edit_complete_fail').hide();
    $('#task_edit_save').show();
  });
</script>
{% endif %}
