{% set step = 1 %}
{% if app.request.get('_route') == 'order' or app.request.get('_route') == 'order_delivery' %}
  {% set step = 2 %}
{% endif %}
{% if app.request.get('_route') == 'order_payment' %}
  {% set step = 3 %}
{% endif %}

{% if (restaurant is not defined) and (order is defined) %}
  {% set restaurant = order.restaurant %}
{% endif %}

<ol class="breadcrumb">
  <li>
    <a href="{{ path('restaurant', {'id': order.restaurant.id, 'slug': order.restaurant.name|slugify }) }}">
    {{ order.restaurant.name }}
    </a>
  </li>
  <li {% if step == 2 %}class="active"{% endif %}>
    {% if order is defined %}<a href="{{ path('order') }}">{% endif %}
    {{ 'checkout.breadcrumb.address'|trans }}
    {% if order is defined %}</a>{% endif %}
  </li>
  <li {% if step == 3 %}class="active"{% endif %}>
    {{ 'checkout.breadcrumb.payment'|trans }}
  </li>
</ol>
