{% set step = 1 %}
{% if app.request.get('_route') == 'order' or app.request.get('_route') == 'order_delivery' %}
  {% set step = 2 %}
{% endif %}
{% if app.request.get('_route') == 'order_payment' %}
  {% set step = 3 %}
{% endif %}

{% if (restaurant is not defined) and (order is defined) %}
  {% set restaurant = order.restaurant %}
{% endif %}

<ol class="multi-step-list mb-4">
  <li class="multi-step-item">
    <a class="item-wrap" href="{{ path('restaurant', {'id': order.restaurant.id, 'slug': order.restaurant.name|slugify }) }}">
      <span class="item-title">{{ order.restaurant.name }}</span>
    </a>
  </li>
  <li class="multi-step-item {% if step == 2 %}active current{% endif %}">
    {% if order is defined %}<a class="item-wrap" href="{{ path('order') }}">{% endif %}
      <span class="item-title">{{ 'checkout.breadcrumb.address'|trans }}</span>
    {% if order is defined %}</a>{% endif %}
  </li>
  <li class="multi-step-item {% if step == 3 %}active current{% endif %}">
    <div class="item-wrap">
      <span class="item-title">{{ 'checkout.breadcrumb.payment'|trans }}</span>
    </div>
  </li>
</ol>
