{% extends "AppBundle::base.html.twig" %}

{% block body %}
<div class="container">
  <h2>Order #{{ order.id }}</h2>
  <div class="alert alert-info">Votre commande est en cours de livraison</div>
  <div class="row">
    <div class="col-sm-4">
      <div id="order-events">
        {% for event in order.events %}
          <div class="alert alert-success" data-timestamp="{{ event.createdAt|date('U') }}">
            {{ event.eventName }} <span class="pull-right">{{ event.createdAt|ago }}</span>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="col-sm-8">
      <div class="embed-responsive embed-responsive-16by9">
        <div class="embed-responsive-item" id="map"></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ asset('/tracking/socket.io/socket.io.js') }}"></script>
<script>
window.__order = {{ order_json|raw }}
</script>
<script src="{{ asset('/js/order-tracking.js') }}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}&callback=initMap" async defer></script>
{% endblock %}