{% extends layout %}

{% block breadcrumb %}
<li><a href="{{ path(breadcrumb_path) }}">{% trans %}adminDashboard.orders.title{% endtrans %}</a></li>
<li>#{{ order.id }}</li>
{% endblock %}

{% block content %}
  {% include "AppBundle::_partials/Order/orderFollow.html.twig" %}
{% endblock %}

{% block scripts %}
<script src="/tracking/socket.io/socket.io.js"></script>
<script>
  window.AppData = window.AppData || {};
  window.AppData.order = {{ order_json|raw }};
  window.AppData.order_events = {{ order_events_json|raw }}
  window.AppData.delivery_events = {{ delivery_events_json|raw }}
</script>
<script src="{{ asset('js/order-tracking.js') }}"></script>
{% endblock %}
