{% extends layout %}

{% block breadcrumb %}
<li><a href="{{ path(breadcrumb_path) }}">{% trans %}Orders{% endtrans %}</a></li>
<li>#{{ order.id }}</li>
{% endblock %}

{% block content %}
  {% include "AppBundle:Order:orderFollow.html.twig" %}
{% endblock %}

{% block scripts %}
<script src="/tracking/socket.io/socket.io.js"></script>
<script>
  window.__order = {{ order_json|raw }};
  window.__order_events = {{ order_events_json|raw }}
  window.__delivery_events = {{ delivery_events_json|raw }}
</script>
<script src="{{ asset('js/order-tracking.js') }}"></script>
{% endblock %}
