{% extends layout %}

{% block breadcrumb %}
<li><a href="{{ path(breadcrumb_path) }}">{% trans %}adminDashboard.orders.title{% endtrans %}</a></li>
<li>#{{ order.id }}</li>
{% endblock %}

{% block content %}
  <div class="order-map__wrapper">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-md-offset-6">
        <div class="order-map__column">

          <a class="order-map__column-heading" role="button" data-toggle="collapse" href="#restaurant" aria-expanded="false" aria-controls="restaurant">
            <h4>{{ order.restaurant.name }} <span class="pull-right"><i class="fa fa-chevron-down"></i></span></h4>
          </a>
          <div class="collapse order-map__column-block" id="restaurant">
            {% include "@App/_partials/order/restaurant_details.html.twig" %}
          </div>

          <a class="order-map__column-heading" role="button" data-toggle="collapse" href="#items" aria-expanded="false" aria-controls="items">
            <h4>{{ 'order.cart.title'|trans }}<span class="pull-right"><i class="fa fa-chevron-down"></i></span></h4>
          </a>
          <div class="collapse order-map__column-block" id="items">
            {% include '@App/_partials/order/items.html.twig' with { with_taxes: false } %}
          </div>

          <div class="order-map__column-block">
            <div id="order-timeline"></div>
          </div>
        </div>
      </div>
    </div>
    <div id="map" class="order-map hidden-xs hidden-sm"></div>
  </div>
{% endblock %}

{% block scripts %}
{{ encore_entry_script_tags('delivery-map') }}
<script>
new CoopCycle.DeliveryMap('map', {
  pickup: {{ order.restaurant.address|latlng|json_encode() }},
  dropoff: {{ order.shippingAddress|latlng|json_encode() }},
  fitBoundsOptions: {
    paddingBottomRight: [ 350, 0 ]
  }
});
new CoopCycle.OrderTimeline(document.querySelector('#order-timeline'), {
  order: {{ order_normalized|json_encode()|raw }},
  events: {{ events|json_encode()|raw }},
  jwt: "{{ jwt }}"
});
</script>
{% if reset %}
<script>
sessionStorage.removeItem('search_address');
sessionStorage.removeItem('search_geohash');
</script>
{% endif %}
{% if track_goal and goal_id is not empty %}
<script>
setTimeout(function() {
  _paq.push(['trackGoal', {{ goal_id|escape('js') }}, {{ order.total|price_format(false)|floatval|escape('js') }}]);
}, 1000);
</script>
{% endif %}
{% endblock %}
