{% extends layout %}

{% block breadcrumb %}
<li><a href="{{ path(breadcrumb_path) }}">{% trans %}adminDashboard.orders.title{% endtrans %}</a></li>
<li>#{{ order.id }}</li>
{% endblock %}

{% block content %}
  <div class="order-map__wrapper">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="order-map__column">
          <div>
            {% include "@App/_partials/order/restaurant_details.html.twig" %}
          </div>
          <hr>
          {% include '@App/_partials/order/items.html.twig' %}
        </div>
      </div>
      <div class="col-xs-12 col-md-5 col-md-offset-3">
        <div class="order-map__column">
          <div id="order-timeline"></div>
        </div>
      </div>
    </div>
    <div id="map" class="order-map hidden-xs hidden-sm"></div>
  </div>
{% endblock %}

{% block scripts %}
<script src="{{ asset('js/widgets.js') }}"></script>
<script>
new CoopCycle.DeliveryMap('map', {
  pickup: {{ order.restaurant.address|latlng|json_encode() }},
  dropoff: {{ order.shippingAddress|latlng|json_encode() }},
  fitBoundsOptions: {
    paddingBottomRight: [ 220, -350 ]
  }
});
new CoopCycle.OrderTimeline(document.querySelector('#order-timeline'), {
  order: {{ order_normalized|json_encode()|raw }},
  events: {{ events|json_encode()|raw }}
});
</script>
{% endblock %}
