{% extends "@App/base.html.twig" %}

{% form_theme form '@App/form/order.html.twig' %}

{% block body %}
<div class="container container--full-height">

  {% if not order.empty %}

    {% include '@App/order/breadcrumb.html.twig' %}

    {{ form_start(form) }}
    {% include '@App/order/_partials/time.html.twig' %}
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="border mb-3">

          <h4 class="bg-light p-3 m-0">{{ order.restaurant.name }}</h4>
          <div class="px-3 py-4">
            {% include "@App/_partials/order/restaurant_details.html.twig" %}
          </div>

          <h4 class="bg-light p-3 m-0">{{ 'order.cart.title'|trans }}</h4>
          <div class="border-bottom" id="items">
            {% include '@App/_partials/order/items.html.twig' with { with_taxes: false } %}
            {% if order.restaurant.isLoopeatEnabled() and not loopeat_valid %}
            <div class="p-3">
              <div class="alert alert-warning">
                {% trans from 'validators' %}loopeat.insufficient_balance{% endtrans %}
              </div>
            </div>
            {% endif %}
            {% if form.reusablePackagingEnabled is defined %}
            <div class="p-3">
              <div class="alert alert-info py-0 m-0">
                {{ form_widget(form.reusablePackagingEnabled) }}
              </div>
            </div>
            {% endif %}
          </div>

          <div class="px-3 pt-3 border-bottom">
            {{ form_row(form.promotionCoupon) }}
            {# We use an input group with the button #}
            {# {{ form_row(form.addPromotion) }} #}
          </div>

          <div class="px-3 pt-3">
            {{ form_row(form.tipAmount) }}
            {# We use an input group with the button #}
            {# {{ form_row(form.addPromotion) }} #}
          </div>

        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="border">

          <h4 class="bg-light p-3 m-0">{% trans %}cart.widget.title{% endtrans %}</h4>
          <div class="p-3 border-bottom">

            {% if order.takeaway %}
              <div class="alert alert-warning">
                <i class="fa fa-warning mr-2"></i>
                {{ 'form.checkout_address.takeaway.disclaimer'|trans }}
                {% if order.restaurant.telephone %}
                  {{ 'form.checkout_address.takeaway.contact'|trans({ '%telephone%': (order.restaurant.telephone|phone_number_format('NATIONAL')) }) }}
                {% endif %}
                <span class="text-danger">{{ 'form.checkout_address.takeaway.no_show_disclaimer'|trans }}</span>
              </div>
            {% endif %}

            {% if form.telephone is defined %}
              {{ form_row(form.telephone) }}
            {% endif %}

            {% if form.shippingAddress is defined %}
              {{ form_row(form.shippingAddress.streetAddress) }}
              {{ form_row(form.shippingAddress.floor) }}

              {{ form_row(form.shippingAddress.description) }}
            {% endif %}

          </div>
          <div class="p-3 border-bottom">
            {{ form_row(form.notes) }}
            <div class="text-center">
              <button class="btn btn-block btn-lg btn-primary" type="submit">
                {% trans %}cart.widget.button{% endtrans %}
              </button>
              {% if form.quote is defined %}
                {{ form_widget(form.quote, { attr: { class: 'btn-block btn-lg btn-default' } }) }}
              {% endif %}
            </div>
          </div>

        </div>
      </div>
    </div>
    {{ form_end(form) }}

  {% else %}
    <div class="alert alert-warning">
      {% trans from 'validators' %}cart.empty{% endtrans %}
    </div>
  {% endif %}
</div>
{% endblock %}

{% block scripts %}
{% if not order.empty %}
<script>
$('#checkout_address_reusablePackagingEnabled').on('change', function(e) {
  $(this).closest('form').submit();
});
</script>
{% endif %}
{% endblock %}
