{% extends "@App/base.html.twig" %}

{% form_theme form '@App/form/order.html.twig' %}

{% block body %}
<div class="container container--full-height">

  {% if not order.empty %}

    {% include '@App/order/breadcrumb.html.twig' %}

    {{ form_start(form) }}
    {% include '@App/order/_partials/time.html.twig' %}
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="border mb-3">

          <h4 class="bg-light p-3 m-0">{{ order.restaurant.name }}</h4>
          <div class="px-3 py-4">
            {% include "@App/_partials/order/restaurant_details.html.twig" %}
          </div>

          <h4 class="bg-light p-3 m-0">{{ 'order.cart.title'|trans }}</h4>
          <div class="border-bottom" id="items">
            {% include '@App/_partials/order/items.html.twig' with { with_taxes: false } %}
            {% if form.reusablePackagingEnabled is defined %}
              {{ form_row(form.reusablePackagingEnabled) }}
            {% endif %}
          </div>

          <div class="px-3 pt-3 border-bottom">
            {{ form_row(form.promotionCoupon) }}
            {# We use an input group with the button #}
            {# {{ form_row(form.addPromotion) }} #}
          </div>

          <div class="px-3 pt-3">
            {{ form_row(form.tipAmount) }}
            {# We use an input group with the button #}
            {# {{ form_row(form.addPromotion) }} #}
          </div>

        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="border">

          <h4 class="bg-light p-3 m-0">{% trans %}cart.widget.title{% endtrans %}</h4>
          <div class="p-3 border-bottom">

            {% if order.takeaway %}
              <div class="alert alert-warning">
                <i class="fa fa-warning mr-2"></i>
                {{ 'form.checkout_address.takeaway.disclaimer'|trans }}
                {% if order.restaurant.telephone %}
                  {{ 'form.checkout_address.takeaway.contact'|trans({ '%telephone%': (order.restaurant.telephone|phone_number_format('NATIONAL')) }) }}
                {% endif %}
                <span class="text-danger">{{ 'form.checkout_address.takeaway.no_show_disclaimer'|trans }}</span>
              </div>
            {% endif %}

            {% if form.telephone is defined %}
              {{ form_row(form.telephone) }}
            {% endif %}

            {% if form.shippingAddress is defined %}
              {{ form_row(form.shippingAddress.streetAddress) }}
              {{ form_row(form.shippingAddress.floor) }}

              {{ form_row(form.shippingAddress.description) }}
            {% endif %}

          </div>
          <div class="p-3 border-bottom">
            {{ form_row(form.notes) }}
            <div class="text-center">
              <button class="btn btn-block btn-lg btn-primary" type="submit">
                {% trans %}cart.widget.button{% endtrans %}
              </button>
              {% if form.quote is defined %}
                {{ form_widget(form.quote, { attr: { class: 'btn-block btn-lg btn-default' } }) }}
              {% endif %}
            </div>
          </div>

        </div>
      </div>
    </div>
    {{ form_end(form) }}

    <div class="modal fade" id="modal-loopeat" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-body mb-0 p-0">
            <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
              <iframe class="embed-responsive-item" allowfullscreen></iframe>
            </div>
          </div>
          <div class="modal-footer justify-content-center">
            <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">{{ 'basics.close'|trans }}</button>
          </div>
        </div>
      </div>
    </div>

  {% else %}
    <div class="alert alert-warning">
      {% trans from 'validators' %}cart.empty{% endtrans %}
    </div>
  {% endif %}
</div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block scripts %}
{% if not order.empty %}
<script>
(function () {

  var loopeatIframe = document.querySelector('#modal-loopeat iframe');
  var preventUncheck = false;

  function onMessage(e) {
    if (e.source === loopeatIframe.contentWindow) {
      var messageData = JSON.parse(e.data)
      if (messageData && messageData.loopeat) {
        if (messageData.loopeat.success) {
          preventUncheck = true;
          $('#modal-loopeat').modal('hide');

          $('#checkout_address_reusablePackagingEnabled').prop('checked', true);
          $('#checkout_address_reusablePackagingEnabled').closest('form').submit();
        } else {
          $('#modal-loopeat').modal('hide');
        }
      }
    }
  }
  window.addEventListener('message', onMessage, true);

  $('#modal-loopeat').on('shown.bs.modal', function() {
    preventUncheck = false;
  });
  $('#modal-loopeat').on('hidden.bs.modal', function() {
    if (!preventUncheck) {
      $('#checkout_address_reusablePackagingEnabled').prop('checked', false);
    }
  });

  $('#checkout_address_reusablePackagingEnabled').on('change', function(e) {
    var isChecked = $(this).is(':checked');
    var isLoopeat = $(this).data('loopeat') === true;
    var iframeUrl = $(this).data('loopeatAuthorizeUrl');
    if (isChecked && isLoopeat && iframeUrl) {
      $('#modal-loopeat iframe').attr('src', iframeUrl);
      $('#modal-loopeat').modal('show');
    } else {
      $(this).closest('form').submit();
    }
  });

})();
</script>
{% endif %}
{% endblock %}
