{% extends "AppBundle::base.html.twig" %}

{% if form is defined %}
  {% form_theme form with ['AppBundle:Order:order_fields.html.twig'] %}
{% endif %}

{% block body %}
<div class="container">

  {% include 'AppBundle:Order:breadcrumb.html.twig' %}

  <div class="order-map__wrapper">
    <div id="map" class="order-map hidden-xs hidden-sm"></div>
    <div class="row">
      <div class="col-md-3">
        <div class="order-map__column">
          {% include "AppBundle::_partials/Order/restaurantDetails.html.twig" %}
        </div>
      </div>
      <div class="col-xs-12 col-md-5 col-md-offset-4">
        <div class="order-map__column">
          {{ form_start(form) }}
            <h4>{% trans %}cart.widget.title{% endtrans %}</h4>
            {{ form_row(form.floor) }}
            {{ form_row(form.streetAddress) }}
            <div class="row">
              <div class="col-md-4">
                {{ form_row(form.postalCode) }}
              </div>
              <div class="col-md-8">
                {{ form_row(form.addressLocality) }}
              </div>
            </div>
            {{ form_row(form.description) }}
            <div class="text-center">
              <button class="btn btn-primary" type="submit">{% trans %}cart.widget.button{% endtrans %}</button>
            </div>
          {{ form_end(form) }}
        </div>
      </div>
    </div>
  </div>
</div>
{%  endblock %}


{% block scripts %}
  <script type="text/javascript">
    window.AppData = window.AppData || {};
    window.AppData.restaurantCoordinates = {
      'lat': "{{ order.restaurant.address.geo.latitude }}",
      'lng': "{{ order.restaurant.address.geo.longitude }}"
    };
    window.AppData.customerCoordinates = {
      'lat': "{{ deliveryAddress.geo.latitude }}",
      'lng': "{{ deliveryAddress.geo.longitude }}"
    };
  </script>
  <script type="text/javascript" src="{{ asset('js/order.js') }}"></script>
{% endblock %}
