{% extends "@App/pdf/layout.html.twig" %}

{% block content %}

<div style="text-align: center;">
  <h1>{% trans %}adminDashboard.orders.invoice.title{% endtrans %} #{{ order.number }}</h1>
</div>

<div>
  <div style="margin-bottom: 30px; width: 50%; float: left;">
    <table style="width: 100%;">
      <tbody>
        <tr>
          <td><strong>{{ order.restaurant.name }}</strong></td>
        </tr>
        <tr>
          <td>{{ order.restaurant.address.streetAddress }}</td>
        </tr>
        <tr>
          <td>{{ order.restaurant.address.postalCode }} {{ order.restaurant.address.addressLocality }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div style="margin-bottom: 30px; width: 50%; float: left; text-align: right;">
    {% set fullName = order.customer.givenName ~ ' ' ~ order.customer.familyName %}
    <table style="width: 100%;">
      <tbody>
        <tr>
          <td><strong>{{ fullName|trim is not empty ? fullName : order.customer.username }}</strong></td>
        </tr>
        <tr>
          <td>{{ order.shippingAddress.streetAddress }}</td>
        </tr>
        <tr>
          <td>{{ order.shippingAddress.postalCode }} {{ order.shippingAddress.addressLocality }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div style="clear: both;"></div>

<table style="width: 100%;">
  <tbody>
  {% for item in order.items %}
    <tr>
        <td>{{ item.variant.product.name }} × {{ item.quantity }}
          {% for adjusment in item.adjustments %}
            {% if adjusment.type == 'menu_item_modifier' %}
              <br><span style="color: #999;">{{ adjusment.label }} {{ adjusment.amount|price_format }}</span>
              {% endif %}
          {% endfor %}
        </td>
        <td style="text-align: right; vertical-align: top;">{{ item.total|price_format }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

<hr>

<table style="width: 100%;">
  <tbody>
    <tr>
      <td><strong>{% trans %}adminDashboard.orders.invoice.productsTotal{% endtrans %}</strong></td>
      <td style="text-align: right;">{{ order.itemsTotal|price_format }}</td>
    </tr>
    <tr>
      <td><strong>{% trans %}adminDashboard.orders.invoice.deliveryTotal{% endtrans %}</strong></td>
      <td style="text-align: right;">
        {% for adjusment in order.adjustments %}
          {% if adjusment.type == 'delivery' %}{{ adjusment.amount|price_format }}{% endif %}
        {% endfor %}
      </td>
    </tr>
    <tr>
      <td><strong>{% trans %}adminDashboard.orders.invoice.totalTax{% endtrans %}</strong></td>
      <td style="text-align: right;">{{ order.taxTotal|price_format }}</td>
    </tr>
    <tr>
      <td><strong>{% trans %}adminDashboard.orders.invoice.totalIncludingTax{% endtrans %}</strong></td>
      <td style="text-align: right;">{{ order.total|price_format }}</td>
    </tr>
  </tbody>
</table>

{% endblock %}
