{% extends "@App/pdf/layout.html.twig" %}

{% block styles %}
<style>
.bordered-box {
  border: 1px solid #ddd;
  padding: 5mm;
}
</style>
{% endblock %}

{% block content %}

<div style="text-align: center;">
  <h2>{% trans %}adminDashboard.orders.invoice.title{% endtrans %} #{{ order.number }}</h2>
</div>

<header>
  <div class="bordered-box">
    <ul>
      <li><strong>{{ order.restaurant.name }}</strong></li>
      <li>{{ order.restaurant.address.streetAddress }}</li>
      <li>{{ order.restaurant.address.postalCode }} {{ order.restaurant.address.addressLocality }}</li>
    </ul>
  </div>
  <div class="bordered-box">
    {% set fullName = order.customer.givenName ~ ' ' ~ order.customer.familyName %}
    <ul style="text-align: right;">
      <li><strong>{{ fullName|trim is not empty ? fullName : order.customer.username }}</strong></li>
      <li>{{ order.shippingAddress.streetAddress }}</li>
      <li>{{ order.shippingAddress.postalCode }} {{ order.shippingAddress.addressLocality }}</li>
    </ul>
  </div>
</header>

<table style="width: 100%;">
  <tbody>
  {% for item in order.items %}
    <tr>
      <td>{{ item.variant.product.name }} × {{ item.quantity }}
        {% for adjusment in item.adjustments %}
          {% if adjusment.type == 'menu_item_modifier' %}
            <br><span style="color: #999;">- {{ adjusment.label }} {{ adjusment.amount|price_format }}</span>
            {% endif %}
        {% endfor %}
      </td>
      <td style="text-align: right; vertical-align: top;">{{ item.total|price_format }}</td>
    </tr>
  {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <td><strong>{% trans %}adminDashboard.orders.invoice.productsTotal{% endtrans %}</strong></td>
      <td style="text-align: right;">{{ order.itemsTotal|price_format }}</td>
    </tr>
    <tr>
      <td><strong>{% trans %}adminDashboard.orders.invoice.deliveryTotal{% endtrans %}</strong></td>
      <td style="text-align: right;">
        {% for adjusment in order.adjustments %}
          {% if adjusment.type == 'delivery' %}{{ adjusment.amount|price_format }}{% endif %}
        {% endfor %}
      </td>
    </tr>
    <tr>
      <td><strong>{% trans %}adminDashboard.orders.invoice.totalTax{% endtrans %}</strong></td>
      <td style="text-align: right;">{{ order.taxTotal|price_format }}</td>
    </tr>
    <tr>
      <td><strong>{% trans %}adminDashboard.orders.invoice.totalIncludingTax{% endtrans %}</strong></td>
      <td style="text-align: right;">{{ order.total|price_format }}</td>
    </tr>
  </tfoot>
</table>

{% endblock %}
