{% extends "@App/base.html.twig" %}

{% form_theme form '@App/form/order.html.twig' %}

{% block body %}
<div class="container container--full-height">

  {% if not order.empty %}

    {% include '@App/order/breadcrumb.html.twig' %}

    <div class="order-map__wrapper">
      <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-6">
          <div class="order-map__column">

            {{ form_start(form) }}

            <div class="row">
              <div class="col-xs-12">
                {% include '@App/order/_partials/time.html.twig' %}
              </div>
            </div>

            <a class="order-map__column-heading" role="button" data-toggle="collapse" href="#restaurant" aria-expanded="false" aria-controls="restaurant">
              <h4>{{ order.restaurant.name }} <span class="pull-right"><i class="fa fa-chevron-down"></i></span></h4>
            </a>
            <div class="collapse order-map__column-block" id="restaurant">
              {% include "@App/_partials/order/restaurant_details.html.twig" %}
            </div>

            <a class="order-map__column-heading" role="button" data-toggle="collapse" href="#items" aria-expanded="false" aria-controls="items">
              <h4>{{ 'order.cart.title'|trans }}<span class="pull-right"><i class="fa fa-chevron-down"></i></span></h4>
            </a>
            <div class="collapse order-map__column-block" id="items">
              {% include '@App/_partials/order/items.html.twig' with { with_taxes: false } %}
            </div>

            <h4>{% trans %}order.payment.title{% endtrans %}</h4>
            <div class="order-map__column-block">
              {% if error is defined %}
                <div class="alert alert-danger">
                  {{ error }}
                </div>
              {% endif %}

              {{ form_errors(form) }}

              {{ form_widget(form.stripePayment.stripeToken) }}

              {{ form_row(form.stripePayment.cardholderName) }}

              <div class="form-group">
                <label class="control-label hidden" for="card-element">
                  {% trans %}order.payment.title{% endtrans %}
                </label>
                <div id="card-element">
                  <!-- a Stripe Element will be inserted here. -->
                </div>
                <!-- Used to display form errors -->
                <div id="card-errors" role="alert"></div>
              </div>

              <div class="text-center">
                <button type="submit" class="btn btn-block btn-lg btn-primary btn-payment" disabled="disabled">
                  <i class="fa fa-spinner fa-spin"></i> {% trans with { '%total%': order.total|price_format } %}order.payment.total{% endtrans %}
                </button>
              </div>
            </div>

            {{ form_end(form) }}

          </div>
        </div>
      </div>
      <div id="map" class="order-map hidden-xs hidden-sm"></div>
    </div>

  {% else %}
    <div class="alert alert-warning">
      {% trans from 'validators' %}cart.empty{% endtrans %}
    </div>
  {% endif %}
</div>
{% endblock %}

{% block scripts %}
{% if not order.empty %}
<script type="text/javascript" src="https://js.stripe.com/v3/"></script>
{{ encore_entry_script_tags('delivery-map') }}
<script type="text/javascript">
  new CoopCycle.DeliveryMap('map', {
    pickup: {{ order.restaurant.address|latlng|json_encode() }},
    dropoff: {{ order.shippingAddress|latlng|json_encode() }},
    fitBoundsOptions: {
      paddingBottomRight: [ 350, 0 ]
    }
  });
  new CoopCycle.StripePaymentForm(document.querySelector('form[name="checkout_payment"]'), {
    publishableKey: "{{ coopcycle_setting('stripe_publishable_key') }}",
    tokenElement: document.querySelector('#checkout_payment_stripePayment_stripeToken'),
    cardholderNameElement: document.querySelector('#checkout_payment_stripePayment_cardholderName')
  });
  new CoopCycle.CheckoutDateTime(document.querySelector('#checkout_payment_shippedAt'), {
    dateElement: document.querySelector('#checkout_payment_shippedAt_date'),
    timeElement: document.querySelector('#checkout_payment_shippedAt_time')
  });
</script>
{% endif %}
{% endblock %}
