{% extends "AppBundle::base.html.twig" %}

{% block body %}
<div class="container">

  {% include 'AppBundle:Order:breadcrumb.html.twig' %}

  <div class="order-map__wrapper">
    <div id="map" class="order-map hidden-xs hidden-sm"></div>
    <div class="row">
      <div class="col-md-3">
        <div class="order-map__column">
          {% include "AppBundle::_partials/Order/restaurantDetails.html.twig" %}
        </div>
      </div>
      <div class="col-xs-12 col-md-5 col-md-offset-4">
        <div class="order-map__column">
          {% if error is defined %}
            <div class="alert alert-danger">
              {{ error }}
            </div>
          {% endif %}
          <form id="payment-form" method="POST">
            <div class="alert alert-danger hidden" id="stripe-error"></div>
            <h4>{% trans %}order.payment.title{% endtrans %}</h4>
            <div class="form-group">
              <label for="number" class="control-label">{% trans %}order.payment.card_number.label{% endtrans %}</label>
              <input id="number" class="form-control" type="text" size="20" data-stripe="number" autocomplete="off" placeholder="4242424242424242" {% if is_demo %}value="4242424242424242"{%  endif  %}>
              <span class="help-block">
                {% if is_demo %}<small>{% trans with { '%total%': order.total } %}order.payment.card_number.help{% endtrans %}</small>{%  endif  %}
              </span>
            </div>
            <label for="number" class="control-label">{% trans %}order.payment.expiration.label{% endtrans %}</label>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="exp_month" class="control-label">{% trans %}order.payment.month.label{% endtrans %}</label>
                  <input id="exp_month" class="form-control" type="text" size="2" data-stripe="exp_month" autocomplete="off" placeholder="04" {% if is_demo %}value="04"{%  endif  %}>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="exp_year" class="control-label">{% trans %}order.payment.year.label{% endtrans %}</label>
                  <input id="exp_year" class="form-control" type="text" size="2" data-stripe="exp_year" autocomplete="off" placeholder="25" {% if is_demo %}value="25"{%  endif  %}>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="number" class="control-label">{% trans %}CVC{% endtrans %}</label>
                  <input id="cvc" class="form-control" type="text" size="4" data-stripe="cvc" autocomplete="off"  placeholder="123" {% if is_demo %}value="123"{%  endif  %}>
                </div>
              </div>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary">
                {% trans with { '%total%': order.total } %}order.payment.total{% endtrans %}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <script type="text/javascript">
    Stripe.setPublishableKey("{{ craue_setting('stripe_publishable_key') }}");
    window.AppData = window.AppData || {};
    window.AppData.restaurantCoordinates = {
      'lat': "{{ order.restaurant.address.geo.latitude }}",
      'lng': "{{ order.restaurant.address.geo.longitude }}"
    };
    window.AppData.customerCoordinates = {
      'lat': "{{ deliveryAddress.geo.latitude }}",
      'lng': "{{ deliveryAddress.geo.longitude }}"
    };
  </script>
  <script type="text/javascript" src="{{ asset('js/order.js') }}"></script>
  <script type="text/javascript" src="{{ asset('js/order-payment.js') }}"></script>
{% endblock %}
