{% extends "@App/base.html.twig" %}

{% form_theme form '@App/form/order.html.twig' %}

{% block body %}
<div class="container container--full-height">

  {% if not order.empty %}

    {% include '@App/order/breadcrumb.html.twig' %}

    {{ form_start(form) }}
    {% include '@App/order/_partials/time.html.twig' %}
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="border mb-3">

          <h4 class="bg-light p-3 m-0">{{ order.restaurant.name }}</h4>
          <div class="px-3 py-4">
            {% include "@App/_partials/order/restaurant_details.html.twig" %}
          </div>

          <h4 class="bg-light p-3 m-0">{{ 'order.cart.title'|trans }}</h4>
          <div id="items">
            {% include '@App/_partials/order/items.html.twig' with { with_taxes: false } %}
          </div>

        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="border">
          <h4 class="bg-light p-3 m-0">{% trans %}order.payment.title{% endtrans %}</h4>
          <div class="p-3">

            {% if error is defined %}
              <div class="alert alert-danger">
                {{ error }}
              </div>
            {% endif %}

            {{ form_errors(form) }}

            {{ form_widget(form.stripePayment.stripeToken) }}

            {{ form_row(form.stripePayment.cardholderName) }}

            <div class="form-group">
              <label class="control-label hidden" for="card-element">
                {% trans %}order.payment.title{% endtrans %}
              </label>
              <div id="card-element">
                <!-- a Stripe Element will be inserted here. -->
              </div>
              <!-- Used to display form errors -->
              <div id="card-errors" role="alert"></div>
            </div>

            <div class="text-center">
              <button type="submit" class="btn btn-block btn-lg btn-primary btn-payment" disabled="disabled">
                <i class="fa fa-spinner fa-spin"></i> {% trans with { '%total%': order.total|price_format } %}order.payment.total{% endtrans %}
              </button>
            </div>

          </div>
        </div>
      </div>
    </div>
    {{ form_end(form) }}

  {% else %}
    <div class="alert alert-warning">
      {% trans from 'validators' %}cart.empty{% endtrans %}
    </div>
  {% endif %}
</div>
{% endblock %}

{% block scripts %}
{% if not order.empty %}
<script type="text/javascript" src="https://js.stripe.com/v3/"></script>
<script type="text/javascript">
  new CoopCycle.StripePaymentForm(document.querySelector('form[name="checkout_payment"]'), {
    publishableKey: "{{ coopcycle_setting('stripe_publishable_key') }}",
    tokenElement: document.querySelector('#checkout_payment_stripePayment_stripeToken'),
    cardholderNameElement: document.querySelector('#checkout_payment_stripePayment_cardholderName')
  });
  new CoopCycle.CheckoutDateTime(document.querySelector('#checkout_payment_shippedAt'), {
    dateElement: document.querySelector('#checkout_payment_shippedAt_date'),
    timeElement: document.querySelector('#checkout_payment_shippedAt_time')
  });
</script>
{% endif %}
{% endblock %}
