{% extends layout %}

{% form_theme email_form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block breadcrumb %}
<li><a href="{{ path('admin_orders') }}">{% trans %}adminDashboard.orders.title{% endtrans %}</a></li>
<li>#{{ order.id }}</li>
{% endblock %}

{% block content %}

{{ form_start(form) }}

{% include '@App/_partials/order/navbar.html.twig' %}

{% if form.accept is defined %}
  <div class="alert alert-info">
    <i class="fa fa-info-circle"></i> {{ 'form.order.accept.help'|trans }}
  </div>
{% endif %}

<div class="row">
  <div class="col-md-7" data-change-state>
    {% include '@App/_partials/order/items.html.twig' with { with_total_excluding_tax: true } %}
    <div class="mb-4">
      <label class="control-label">Notes</label>
      <textarea class="form-control" disabled>{{ order.notes }}</textarea>
    </div>
    <div class="row">
      <div class="col-xs-6">
        {% if form.cancel is defined %}
          {{ form_widget(form.cancel, { attr: { class: 'btn btn-block btn-danger' } }) }}
        {% endif %}
      </div>
      <div class="col-xs-6">
      {% if is_granted('ROLE_ADMIN') %}
        {% if form.accept is defined %}
          {{ form_widget(form.accept, { attr: { class: 'btn btn-block btn-success' } }) }}
        {% endif %}
        {% if form.fulfill is defined %}
          {{ form_widget(form.fulfill, { attr: { class: 'btn btn-block btn-success' } }) }}
        {% endif %}
      {% endif %}
      </div>
    </div>
  </div>
  <hr class="visible-xs visible-sm">
  <div class="col-md-5">

    {% if is_granted('ROLE_ADMIN') %}

      {% if not order.foodtech %}

        {% set order_public_link = url('public_order', { number: order|hashid }) %}

        <div class="row mb-4">
          <div class="col-xs-6">
            <strong>{{ 'order.public_link'|trans }}</strong>
          </div>
          <div class="col-xs-6 text-right">
            <a href="{{ order_public_link }}" target="_blank">
              {{ order_public_link }}
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <button type="button" class="btn btn-default btn-sm"
              id="copy" data-clipboard-text="{{ order_public_link }}">
              <i class="fa fa-copy"></i> {{ 'basics.copy'|trans }}
            </button>
          </div>
          <div class="col-xs-6 text-right">
            <button type="button" class="btn btn-default btn-sm"
              data-toggle="modal" data-target="#send-payment-link-modal">
              <i class="fa fa-envelope"></i> {{ 'orders.payment_link.send_by_email'|trans }}
            </button>
          </div>
        </div>

      {% endif %}

      {% if order.customer is not empty %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">Client</h4>
        </div>
        <div class="panel-body">
          <i class="fa fa-user"></i>  
          <a href="{{ path('admin_user_details', { username: order.customer.username }) }}">
            {{ order.customer.username }}
          </a>
          <br>
          <i class="fa fa-envelope"></i>  {{ order.customer.email }}
          {% if order.customer.telephone is not empty %}
          <br>
          <i class="fa fa-phone"></i>  {{ order.customer.telephone|phone_number_format('NATIONAL') }}
          {% endif %}
        </div>
      </div>
      {% endif %}

    {% endif %}

    {% if order.billingAddress is not null %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Adresse de facturation</h4>
      </div>
      <div class="panel-body">
        {% if order.billingAddress.company is not empty %}
        {{ order.billingAddress.company }}
        <br>
        {% endif %}
        {{ order.billingAddress.streetAddress }}
        <br>
        {{ order.billingAddress.postalCode }} {{ order.billingAddress.addressLocality }}
      </div>
    </div>
    {% endif %}

    {% if order.reusablePackagingEnabled %}
    <div class="alert alert-warning">
      {{ 'order.reusable_packaging.alert'|trans }}
    </div>
    {% endif %}

  </div>
</div>

{% if delivery is not empty %}

<hr>

<h3 id="delivery">Livraison</h3>

<div class="row">
  <div class="col-md-7">
    <div class="map-container" style="min-height: 250px;">
      <div class="map-container__map" id="map"></div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <span>
            <i class="fa fa-cube"></i>  {{ 'task.type.PICKUP'|trans }}
          </span>
          <span class="pull-right">
            <i class="fa fa-clock-o"></i>  {{ delivery.pickup.getTimeRange()|time_range_for_humans }}
          </span>
        </h4>
      </div>
      <div class="panel-body">
        {{ delivery.pickup.address.streetAddress }}
        {% if delivery.pickup.address.description is not empty %}
        <textarea class="form-control" disabled>{{ delivery.pickup.address.description }}</textarea>
        {% endif %}
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <span>
            <i class="fa fa-arrow-down"></i>  {{ 'task.type.DROPOFF'|trans }}
          </span>
          <span class="pull-right">
            <i class="fa fa-clock-o"></i>  {{ delivery.dropoff.getTimeRange()|time_range_for_humans }}
          </span>
        </h4>
      </div>
      <div class="panel-body">
        {{ delivery.dropoff.address.streetAddress }}
        {% if delivery.dropoff.address.description is not empty %}
        <textarea class="form-control" disabled>{{ delivery.dropoff.address.description }}</textarea>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% endif %}

<hr>

<h3 id="payments">Paiements</h3>

{% do form.payments.setRendered %}

{% include '@App/order/_partials/payments.html.twig' %}

{{ form_end(form) }}

{% for payment_form in form.payments %}
  {% include '@App/order/_partials/payment_form.html.twig' %}
{% endfor %}

<div class="modal fade" id="send-payment-link-modal" tabindex="-1" role="dialog" aria-labelledby="send-payment-link-modal-label">
  <div class="modal-dialog" role="document">
    {{ form_start(email_form, { attr: { class: 'modal-content' } }) }}
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="send-payment-link-modal-label">{{ 'orders.payment_link.send_by_email'|trans }}</h4>
      </div>
      <div class="modal-body">
        {{ form_widget(email_form) }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'basics.cancel'|trans }}</button>
        <button type="submit" class="btn btn-primary">{{ 'orders.payment_link.send_by_email'|trans }}</button>
      </div>
    {{ form_end(email_form) }}
  </div>
</div>

{% endblock %}

{% block scripts %}
{{ encore_entry_script_tags('delivery-map') }}
<script>
new ClipboardJS('#copy');
{% if delivery is not empty %}
new CoopCycle.DeliveryMap('map', {
  pickup: [ {{ delivery.pickup.address.geo.latitude }}, {{ delivery.pickup.address.geo.longitude }} ],
  dropoff: [ {{ delivery.dropoff.address.geo.latitude }}, {{ delivery.dropoff.address.geo.longitude }} ]
});
{% endif %}
$('[data-change-state] button[type="submit"]').on('click', function(e) {
  if (!window.confirm('{{ 'basics.are_you_sure'|trans }}')) {
    e.preventDefault();
  }
});
</script>
{% endblock %}
