{% extends "AppBundle::base.html.twig" %}

{% block banner %}{% endblock %}

{% block body %}
<div class="container">

  <ol class="breadcrumb">
    <li><a href="{{ path('admin_index') }}">{% trans %}Admin area{% endtrans %}</a></li>
    {% block breadcrumb %}{% endblock %}
  </ol>

  <div class="row">
    <div class="col-md-3">
      <div class="list-group">
        <a href="{{ path('admin_dashboard') }}" class="list-group-item">{% trans %}Dashboard{% endtrans %}</a>
      </div>
      <div class="list-group">
        <a href="{{ path('admin_orders') }}" class="list-group-item">{% trans %}Orders{% endtrans %}</a>
        <a href="{{ path('admin_deliveries') }}" class="list-group-item">{% trans %}Deliveries{% endtrans %}</a>
      </div>
      <div class="list-group">
        <a href="{{ path('admin_restaurants') }}" class="list-group-item">{% trans %}Restaurants{% endtrans %}</a>
        <a href="{{ path('admin_users') }}" class="list-group-item">{% trans %}Users{% endtrans %}</a>
      </div>
    </div>
    <div class="col-md-9">
      {% block content %}{% endblock %}
    </div>
  </div>

</div>
{% endblock %}
