{% extends "AppBundle::base.html.twig" %}

{% block banner %}{% endblock %}

{% block body %}
<div class="container">

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#admin-navbar" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ path('admin_dashboard') }}">{% trans %}Dashboard{% endtrans %}</a>
      </div>
      <div class="collapse navbar-collapse" id="admin-navbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{{ path('admin_orders') }}"><i class="fa fa-cube"></i>  {% trans %}Orders{% endtrans %}</a></li>
          <li><a href="{{ path('admin_deliveries') }}"><i class="fa fa-bicycle"></i>  {% trans %}Deliveries{% endtrans %}</a></li>
          <li><a href="{{ path('admin_restaurants') }}"><i class="fa fa-cutlery"></i>  {% trans %}Restaurants{% endtrans %}</a></li>
          <li><a href="{{ path('admin_users') }}"><i class="fa fa-user"></i>  {% trans %}Users{% endtrans %}</a></li>
          {% if is_granted('ROLE_ADMIN') %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-cog"></i>  {% trans %}Settings{% endtrans %} <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li class="dropdown-header">Menu</li>
              <li><a href="{{ path('admin_menu_categories') }}">{% trans %}Categories{% endtrans %}</a></li>
            </ul>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  <ol class="breadcrumb">
    <li><a href="{{ path('admin_index') }}">{% trans %}Admin area{% endtrans %}</a></li>
    {% block breadcrumb %}{% endblock %}
  </ol>

  {% block content %}{% endblock %}

</div>
{% endblock %}
