<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}CoopCycle - {{ 'meta.title'|trans }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Arvo:400,700">
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    {% block styles %}{% endblock %}
  </head>
  <body>
    {% include "AppBundle::menu.html.twig" %}
    <section id="banner">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 text-center">
            <small>{{ 'demo.disclaimer'|trans }}</small>
          </div>
        </div>
      </div>
    </section>
    {% block body %}{% endblock %}
    <div class="container text-center">
      <hr>
      <ul class="list-inline">
        <li>
          <a href="https://github.com/coopcycle" target="_blank">
            <i class="fa fa-github fa-lg"></i>  {% trans %}GitHub{% endtrans %}
          </a>
        </li>
        <li>
          <a href="https://twitter.com/coopcycle" target="_blank">
            <i class="fa fa-twitter fa-lg"></i>  {% trans %}Twitter{% endtrans %}
          </a>
        </li>
      </ul>
    </div>
    <script src="{{ asset('js/bootstrap.js') }}"></script>
    {% block scripts %}{% endblock %}
    {% if app.environment == "dev" %}
    <script src="{{ asset('webpack-dev-server.js') }}"></script>
    {% endif %}
    {{ piwik_code() }}
  </body>
</html>
