<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}CoopCycle - {{ 'meta.title'|trans }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:400,700">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway:400,700">
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    {% block styles %}{% endblock %}
  </head>
  <body>
    {% block menu %}
      {% include "AppBundle::menu.html.twig" %}
    {% endblock %}
    {% block banner %}
      {% if is_demo %}
        <section id="banner">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-md-offset-2 text-center">
                <h3>{{ 'demo.disclaimer'|trans|raw }}</h3>
                <h4 class="hidden-xs">{{ 'demo.disclaimer.subtitle'|trans|raw }}</h4>
              </div>
            </div>
          </div>
        </section>
      {% endif %}
    {% endblock %}
    {% block body %}{% endblock %}
    {% block footer %}
    <footer class="footer text-center">
      <ul class="list-inline">
        <li>
          <a class="footer-link" href="mailto:contact@coopcycle.org">
            {% trans %}Contact us{% endtrans %}
          </a>
        </li>
        <li>
          <a class="footer-link" href="{{ path('help') }}">
            {% trans %}Help{% endtrans %}
          </a>
        </li>
      </ul>
    </footer>
    {% endblock %}
    {% if app.environment == "prod" %}
      <script src="https://cdn.ravenjs.com/3.19.1/raven.min.js" crossorigin="anonymous"></script>
      <script>
        Raven.config("{{ sentry_public_dsn }}").install();
      </script>
    {% endif %}
    <script>
      window.AppData = window.AppData || {};
      window.AppData.countryIso = "{{ country_iso }}";
      window.__i18n = {
        "Cart": "{% trans %}Cart{% endtrans %}",
        "cart.widget.button": "{% trans %}My order{% endtrans %}"
      }
    </script>

    <script src="{{ asset('js/common.js') }}"></script>
    {% set cart = cart_provider.getCart() %}
    <script>
      window.AppData.Cart = {
        {% if cart is not empty %}
        items: {{ cart.normalizedItems|json_encode()|raw }},
        date: {% if cart.date is not empty %}"{{ cart.date|date('Y-m-d H:i:s') }}"{% else %}null{% endif %},
        {# FIXME Cannot serialize cart.restaurant directly #}
        restaurant: {
          id: {{ cart.restaurant.id }},
          minimumCartAmount: {{ cart.restaurant.minimumCartAmount }},
          flatDeliveryPrice: {{ cart.restaurant.flatDeliveryPrice }}
        },
        total: {{ cart.total }},
        {% else %}
        items: [],
        date: null,
        restaurant: null,
        total: 0,
        {% endif %}
        addToCartURL: "{{ path('restaurant_add_to_cart', { 'id': '__RESTAURANT_ID__' }) }}",
        removeFromCartURL: "{{ path('restaurant_remove_from_cart', { 'id': '__RESTAURANT_ID__', 'itemKey': '__ITEM_KEY__' }) }}",
        restaurantURL: "{{ path('restaurant', { 'id': '__RESTAURANT_ID__' }) }}",
        validateCartURL: "{{ path('order') }}"
      };
    </script>
    {% include "AppBundle::_partials/mapHelper.html.twig" %}
    {% block scripts %}{% endblock %}
      <script src="{{ asset('js/cart.js') }}"></script>
    {% if app.environment == "dev" %}
      <script src="{{ asset('webpack-dev-server.js') }}"></script>
    {% endif %}
    {{ piwik_code() }}
  </body>
</html>
