<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
  <head>
    {{ sonata_seo_title() }}
    {{ sonata_seo_link_canonical() }}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    {{ sonata_seo_metadatas() }}
    {{ encore_entry_link_tags('common') }}
  </head>
  <body>
    <div class="container container--full-height container--center  ">
      <div class="maintenance">
        <i class="fa fa-warning"></i>
        <br />
        {% if message is not empty %}
          {{ message|markdown }}
        {% else %}
          {% trans %}maintenance.text{% endtrans %}
        {% endif %}
      </div>
    </div>
    {% include "@App/_partials/analytics.html.twig" %}
  </body>
</html>
