<nav id="topnav" class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Menu</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ path('homepage') }}"><img src="https://coopcycle.org/images/logo.svg" width="20" height="20" /></a>
      <a class="navbar-brand" href="{{ path('homepage') }}">CoopCycle</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      {% set default_locale = 'en' %}
      {% set locales = {
        'en': 'English',
        'fr': 'Français'
      } %}
      {% set current_locale = default_locale %}
      {% if locales[app.request.locale] is defined %}
        {% set current_locale = locales[app.request.locale] %}
      {% endif %}
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            {{ current_locale }} <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            {% for locale, label in locales %}
              {% if locale != app.request.locale %}
              <li>
                <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': locale})) }}">{{ label }}</a>
              </li>
              {% endif %}
            {% endfor %}
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        {% if app.user %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              {{ app.user.username }} <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="{{ path('fos_user_profile_show') }}">{% trans %}My account{% endtrans %}</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="{{ path('fos_user_security_logout') }}">{% trans from 'FOSUserBundle' %}layout.logout{% endtrans %}</a></li>
            </ul>
          </li>
        {% else %}
          <li>
            <a href="{{ path('fos_user_security_login') }}">Connexion</a>
          </li>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
          <li class="active">
            <a href="{{ path('admin_index') }}">{% trans %}<i class="fa fa-lock"></i>{% endtrans %}</a>
          </li>
        {% endif %}
      </ul>

      <div id='cart-top'></div>

    </div>
  </div>
</nav>

