{% extends "AppBundle::base.html.twig" %}

{% block banner %}{% endblock %}

{% block body %}
<div class="container main-container">

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#profile-navbar" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        {# NB: ROLE_ADMIN is also ROLE_COURIER (couriers are admins ;)) #}
        {% if is_granted('ROLE_COURIER') %}
          <a class="navbar-brand" href="{{ path('profile_courier_deliveries') }}">{% trans %}My deliveries{% endtrans %}</a>
        {% elseif is_granted('ROLE_STORE') %}
          <a class="navbar-brand" href="{{ path('profile_stores') }}">{% trans %}My stores{% endtrans %}</a>
        {% elseif is_granted('ROLE_RESTAURANT') %}
          <a class="navbar-brand" href="{{ path('profile_restaurants') }}">{% trans %}My restaurants{% endtrans %}</a>
        {% else %}
          <a class="navbar-brand" href="{{ path('fos_user_profile_show') }}">{% trans %}My account{% endtrans %}</a>
        {% endif %}
      </div>
      <div class="collapse navbar-collapse" id="profile-navbar">
        <ul class="nav navbar-nav navbar-right">

          {% if is_granted('ROLE_COURIER') %}
            <li><a href="{{ path('profile_tasks') }}"><i class="fa fa-calendar-check-o"></i>  {% trans %}My tasks{% endtrans %}</a></li>
            <li><a href="{{ path('profile_tracking') }}"><i class="fa fa-location-arrow"></i>  {% trans %}My tracking{% endtrans %}</a></li>
          {% endif %}

          {% if is_granted('ROLE_STORE') and is_granted('ROLE_COURIER') %}
            <li><a href="{{ path('profile_stores') }}"><i class="fa fa-shopping-cart"></i>  {% trans %}My stores{% endtrans %}</a></li>
          {% endif %}

          {% if is_granted('ROLE_RESTAURANT') %}
            <li><a href="{{ path('profile_payment') }}"><i class="fa fa fa-credit-card"></i>  {% trans %}Payment{% endtrans %}</a></li>
            {% if is_granted('ROLE_STORE') or is_granted('ROLE_COURIER') %}
              <a class="navbar-brand" href="{{ path('profile_restaurants') }}">{% trans %}My restaurants{% endtrans %}</a>
            {% endif %}
          {% endif %}

          {% if is_granted('ROLE_COURIER') or is_granted('ROLE_RESTAURANT') or is_granted('ROLE_STORE') %}
            <li class="dropdown">
              <a class="admin-navbar__link" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-user"></i>  {% trans %}My account{% endtrans %} <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="{{ path('fos_user_profile_show') }}"><i class="fa fa-list-ul"></i>  {% trans %}My personal informations{% endtrans %}</a></li>
                <li><a href="{{ path('profile_orders') }}"><i class="fa fa-cube"></i>  {% trans %}My orders{% endtrans %}</a></li>
                <li><a href="{{ path('profile_addresses') }}"><i class="fa fa-map-marker"></i>  {% trans %}My addresses{% endtrans %}</a></li>
              </ul>
            </li>
          {% else %}
            <li><a href="{{ path('profile_orders') }}"><i class="fa fa-cube"></i>  {% trans %}My orders{% endtrans %}</a></li>
            <li><a href="{{ path('profile_addresses') }}"><i class="fa fa-map-marker"></i>  {% trans %}My addresses{% endtrans %}</a></li>
          {%  endif %}
        </ul>
      </div>
    </div>
  </nav>

  {% block content %}{% endblock %}
</div>
{% endblock %}
