<table class="table">
  <thead>
    <th></th>
    <th>{{ 'basics.name'|trans }}</th>
    <th>{{ 'sylius.ui.code'|trans }}</th>
    <th>{{ 'sylius.form.promotion_coupon.usage_limit'|trans }}</th>
    <th>{{ 'sylius.form.promotion_coupon.per_customer_usage_limit'|trans }}</th>
    <th>{{ 'sylius.form.promotion_coupon.expires_at'|trans }}</th>
    <th class="text-right">{% trans %}promotion_coupon.used.label{% endtrans %}</th>
    {% if show_archive %}
    <th></th>
    {% endif %}
  </thead>
  <tbody>

  {% for promotion in promotions %}
    {% if promotion is instanceof('Sylius\\Component\\Promotion\\Model\\PromotionCoupon') %}
      <tr>
        <td><a href="{{ path(promotion_coupon_route, {
          restaurantId: restaurant.id,
          promotionId: promotion.promotion.id,
          couponId: promotion.id}) }}">#{{ promotion.id }}</a></td>
        <td>{{ promotion.promotion.name }}</td>
        <td>
          {{ promotion.code }}
        </td>
        <td>
          {{ promotion.usageLimit }}
        </td>
        <td>
          {{ promotion.perCustomerUsageLimit }}
        </td>
        <td>
          {% if promotion.expiresAt is not empty %}
            {{ promotion.expiresAt|format_datetime('medium', 'short') }}
          {% endif %}
        </td>
        <td class="text-right">
          {{ promotion.used }}
        </td>
        {% if show_archive %}
        <td class="text-right">
          <form method="post" action="{{ path(promotion_archive_route, {restaurantId: restaurant.id}) }}">
            <input type="hidden" name="type" value="coupon" />
            <input type="hidden" name="id" value={{ promotion.id }} />
            <button class="btn btn-sm btn-default" title="Archive" type="submit" onclick="return window.confirm('{{ 'basics.are_you_sure'|trans|escape('js') }}')">
              <i class="fa fa-archive"></i>
            </button>
          </form>
        </td>
        {% endif %}
      </tr>
    {% else %}
      <tr>
        <td></td>
        <td>
          <span>{{ promotion.name }}</span>
          <ul class="list-unstyled">
          {% for promotion_rule in promotion.rules %}
            <li>
              <small>{{ promotion_rule|promotion_rule_for_humans }}</small>
            </li>
          {% endfor %}
          </ul>
          <ul class="list-unstyled">
          {% for promotion_action in promotion.actions %}
            <li>
              <small>{{ promotion_action|promotion_action_for_humans }}</small>
            </li>
          {% endfor %}
          </ul>
        </td>
        <td></td>
        <td>
          {{ promotion.usageLimit }}
        </td>
        <td></td>
        <td>
          {% if promotion.endsAt is not empty %}
            {{ promotion.endsAt|format_datetime('medium', 'short') }}
          {% endif %}
        </td>
        <td class="text-right"></td>
        {% if show_archive %}
        <td class="text-right">
          <form method="post" action="{{ path(promotion_archive_route, {restaurantId: restaurant.id}) }}">
            <input type="hidden" name="type" value="promotion" />
            <input type="hidden" name="id" value={{ promotion.id }} />
            <button class="btn btn-sm btn-default" title="Archive" type="submit" onclick="return window.confirm('{{ 'basics.are_you_sure'|trans|escape('js') }}')">
              <i class="fa fa-archive"></i>
            </button>
          </form>
        </td>
        {% endif %}
      </tr>
    {% endif %}
  {% endfor %}
  </tbody>
</table>
