{% extends layout %}

{% block breadcrumb %}
<li><a href="{{ path(stores_route) }}">{% trans %}adminDashboard.stores.title{% endtrans %}</a></li>
<li><a href="{{ path(store_route, { id: store.id }) }}">{{ store.name }}</a></li>
<li>{% trans %}stores.addresses{% endtrans %}</li>
{% endblock %}

{% block content %}

<p class="text-right">
  <a href="{{ path('admin_store_new_address', { id: store.id }) }}" class="btn btn-success">
    <i class="fa fa-plus"></i> {% trans %}basics.add{% endtrans %}
  </a>
</p>

{% if store.addresses|length > 0 %}
  <table class="table">
    <thead>
      <th>{{ 'form.address.name.label'|trans }}</th>
      <th>{{ 'form.address.streetAddress.label'|trans }}</th>
    </thead>
    <tbody>
    {% for address in store.addresses %}
      <tr>
        <td>{{ address.name }}</td>
        <td>{{ address.streetAddress }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% else %}
  <div class="alert alert-info">
  {% trans %}basics.no_entries{% endtrans %}
  </div>
{% endif %}

{% endblock %}

{% block scripts %}
{% endblock %}
