{% extends layout %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block breadcrumb %}
<li><a href="{{ path(stores_route) }}">{% trans %}adminDashboard.stores.title{% endtrans %}</a></li>
<li><a href="{{ path(store_route, { id: store.id }) }}">{{ store.name }}</a></li>
<li>{% trans %}stores.addresses{% endtrans %}</li>
{% endblock %}

{% block content %}
  {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-block btn-primary">
      {{ 'basics.save'|trans }}
    </button>
  {{ form_end(form) }}
{% endblock %}

{% block scripts %}
  <script>
  function initMap() {
    new CoopCycle.AddressInput(document.querySelector('#address_streetAddress'), {
      elements: {
        latitude: document.querySelector('#address_latitude'),
        longitude: document.querySelector('#address_longitude'),
        postalCode: document.querySelector('#address_postalCode'),
        addressLocality: document.querySelector('#address_addressLocality')
      }
    })
  }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key={{ coopcycle_setting('google_api_key') }}&libraries=places&callback=initMap"
  async defer></script>
{% endblock %}
