{% extends layout %}

{% form_theme form '@App/Form/storeToken.html.twig' %}

{% block breadcrumb %}
<li><a href="{{ path(stores_route) }}">{% trans %}adminDashboard.stores.title{% endtrans %}</a></li>
<li>{{ store.name }}</li>
{% endblock %}

{% block content %}

{{ form_start(form) }}
  {{ form_widget(form) }}
{{ form_end(form) }}

{% endblock %}

{% block scripts %}
<script>
new ClipboardJS('#copy');
</script>
{% endblock %}
