{% extends layout %}

{% block breadcrumb %}
<li><a href="{{ path(stores_route) }}">{% trans %}adminDashboard.stores.title{% endtrans %}</a></li>
<li><a href="{{ path(store_route, { id: store.id }) }}">{{ store.name }}</a></li>
<li>{% trans %}stores.deliveries{% endtrans %}</li>
{% endblock %}

{% block content %}
<div class="text-right mb-4">
  <a href="{{ path(routes.store_new, { id: store.id }) }}" class="btn btn-success pull-right">
    <i class="fa fa-plus"></i> {{ 'delivery.createNew'|trans }}
  </a>
  <div class="dropdown pull-right mr-4">
    {% include '@App/_partials/delivery/sort.html.twig' %}
  </div>
</div>
{% include '@App/_partials/delivery/list.html.twig' %}
<nav class="text-center">
  {{ knp_pagination_render(deliveries) }}
</nav>
{% endblock %}
