{% extends layout %}

{% block breadcrumb %}
<li><a href="{{ path(stores_route) }}">{% trans %}adminDashboard.stores.title{% endtrans %}</a></li>
<li><a href="{{ path(store_route, { id: store.id }) }}">{{ store.name }}</a></li>
<li>{% trans %}stores.deliveries{% endtrans %}</li>
{% endblock %}

{% block content %}

<p>
  <span class="pull-right">
    <a href="{{ path(store_delivery_new_route, { id: store.id }) }}" class="btn btn-success">
      <i class="fa fa-plus"></i>  {{ 'basics.add'|trans }}
    </a>
  </span>
</p>

{% if deliveries|length > 0 %}
  {% for delivery in deliveries %}
    <div class="panel panel-default panel--delivery">
      <div class="panel-heading">
        {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path(delivery_route, { id: delivery.id }) }}">
        {% endif %}
          <i class="fa fa-bicycle"></i>  
          <span>{{ 'stores.deliveries.heading'|trans({
            '%delivery_id%': delivery.id,
            '%delivery_distance%': delivery.distance|meters_to_kilometers
          }) }}
          </span>
          {% if is_granted('ROLE_ADMIN') %}
          <span class="pull-right">
            <i class="fa fa-arrow-right"></i>  
          </span>
          {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
        </a>
        {% endif %}
      </div>
      <table class="table">
        <tbody>
          {% include "@App/store/_partials/task_row.html.twig" with { task: delivery.pickup } %}
          {% include "@App/store/_partials/task_row.html.twig" with { task: delivery.dropoff } %}
        </tbody>
      </table>
    </div>
  {% endfor %}
  <nav class="text-center">
    {{ knp_pagination_render(deliveries) }}
  </nav>
{% else %}
  <div class="alert alert-info">
  {% trans %}stores.list.noUsers{% endtrans %}
  </div>
{% endif %}

{% endblock %}
