{% extends layout %}

{% form_theme form 'AppBundle:Form:store.html.twig' %}

{% block breadcrumb %}
<li><a href="{{ path(stores_route) }}">{% trans %}adminDashboard.stores.title{% endtrans %}</a></li>
<li>{% if store.id is not empty %}{{ store.name }}{% else %}{% trans %}adminDashboard.stores.createNew{% endtrans %}{% endif %}</li>
{% endblock %}

{% block content %}

{% if store.id is not empty %}
<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#store-navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="navbar-brand">
        {{ store.name }}
      </span>
    </div>
    <div class="collapse navbar-collapse" id="store-navbar">
      <div class="nav navbar-nav navbar-right">
        <a href="{{ path(store_deliveries_route, { id: store.id }) }}" class="btn btn-default navbar-btn">
          <i class="fa fa-bicycle"></i>  {% trans %}delivery.pastDeliveries{% endtrans %}
        </a>
        <a href="{{ path(store_delivery_route, { id: store.id }) }}" class="btn btn-default navbar-btn">
          <i class="fa fa-bicycle"></i>  {% trans %}delivery.createNew{% endtrans %}
        </a>
      </div>
    </div>
  </div>
</nav>
{% endif %}

{{ form_start(form) }}

  <div class="row">
    <div class="col-sm-4">
      {{ form_row(form.imageFile) }}
    </div>
    <div class="col-sm-8">
      {{ form_row(form.name) }}
      <div class="hidden">
        {{ form_label(form.enabled) }} {{ form_widget(form.enabled, { attr: { class: 'checkbox switch' }}) }}&nbsp;
        <a data-toggle="tooltip" data-placement="top" data-html="true" title="{{ "restaurant.form.enabled.tooltip" | trans | raw }}">
          <i class="fa fa-info-circle"></i>
        </a>
      </div>
      {{ form_row(form.legalName) }}
      {{ form_row(form.website) }}
      {{ form_row(form.telephone) }}
      {% if form.siret is defined %}
        {{ form_row(form.siret) }}
      {% endif %}
    </div>
  </div>
  <hr>

  {% if form.pricingRuleSet is defined %}

  {{ form_row(form.pricingRuleSet) }}
  <hr>

  {% endif %}

  {{ form_row(form.openingHours) }}
  <hr>

  {{ form_row(form.address.streetAddress) }}
  {{ form_row(form.address.postalCode) }}
  {{ form_row(form.address.addressLocality) }}
  {{ form_widget(form.address.longitude) }}
  {{ form_widget(form.address.latitude) }}
  {% do form.address.setRendered %}

  <hr>

  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-xs-12">
      <button type="submit" class="btn btn-block btn-primary">{% trans %}stores.form.save{% endtrans %}</button>
    </div>
  </div>

{{ form_end(form) }}

{% endblock %}

{% block scripts %}
<script src="{{ asset('js/widgets.js') }}"></script>
<script>
new CoopCycle.OpeningHoursInput(document.querySelector('#store_openingHours'), {
  locale: $('html').attr('lang')
})
function initMap() {
  new CoopCycle.AddressInput(document.querySelector('#store_address_streetAddress'), {
    elements: {
      latitude: document.querySelector('#store_address_latitude'),
      longitude: document.querySelector('#store_address_longitude'),
      postalCode: document.querySelector('#store_address_postalCode'),
      addressLocality: document.querySelector('#store_address_addressLocality')
    }
  })
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ craue_setting('google_api_key') }}&libraries=places&callback=initMap" async defer></script>
{% endblock %}
