{% if stores|length > 0 %}
  <table class="table">
    <thead>
      <th></th>
      <th>{{ 'basics.name'|trans }}</th>
      <th>{{ 'stores.pricing_rule_set'|trans }}</th>
      <th></th>
    </thead>
    <tbody>
    {% for store in stores %}
      <tr>
        <td><a href="{{ path(store_route, { id: store.id }) }}">#{{ store.id }}</a></td>
        <td>{{ store.name }}</td>
        <td>{{ store.pricingRuleSet is not null ? store.pricingRuleSet.name : '' }}</td>
        <td class="text-right">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {% trans %}stores.manage{% endtrans %}   <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li>
                <a href="{{ path(store_route, { id: store.id }) }}">
                  {% trans %}stores.settings{% endtrans %}
                </a>
              </li>
              <li>
                <a href="{{ path(store_delivery_route, { id: store.id }) }}">
                  {% trans %}stores.createNewDelivery{% endtrans %}
                </a>
              </li>
            </ul>
          </div>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% else %}
  <div class="alert alert-info">
  {% trans %}stores.list.noStores{% endtrans %}
  </div>
{% endif %}
