{% if form.pricingRuleSet is defined %}
  {% if form.pricingRuleSet.vars.choices|length == 0 %}
    <div
      class="alert alert-warning">{% trans with {'%editPricingRule%':admin_deliveries_pricing} %}restaurant.form.noPricingRule{% endtrans %}</div>
    <div class="hidden">
      {{ form_row(form.pricingRuleSet) }}
    </div>
  {% else %}
    {{ form_row(form.pricingRuleSet) }}
    {% if form.pricingRuleSet.vars.data is null %}
      <div
        class="alert alert-warning">{% trans %}form.store_type.pricing_rule_set.warning{% endtrans %}</div>
    {% endif %}
  {% endif %}
{% endif %}

{% if form.prefillPickupAddress is defined %}
  {{ form_row(form.prefillPickupAddress) }}
{% endif %}
{% if form.weightRequired is defined %}
  {{ form_row(form.weightRequired) }}
{% endif %}
{% if form.packagesRequired is defined %}
  {{ form_row(form.packagesRequired) }}
{% endif %}
{% if form.multiDropEnabled is defined %}
  {{ form_row(form.multiDropEnabled) }}
{% endif %}
{% if form.checkExpression is defined %}
  {{ form_row(form.checkExpression) }}
{% endif %}

{% if form.transporter is defined %}
  <hr>
  {{ form_row(form.transporter) }}
{% endif %}

{% if form.vars.data.id is not null %}
  <hr>
  <div {{ react_component('Store/TimeSlot', {
    store: form.vars.data|serialize,
  }) }}>
  </div>
{% endif %}

{% if form.packageSet is defined %}
  <hr>
  {{ form_row(form.packageSet) }}
{% endif %}

{% if form.tags is defined %}
  <hr>
  {{ form_row(form.tags) }}
{% endif %}

{% if form.failureReasonSet is defined %}
  <hr>
  {{ form_row(form.failureReasonSet) }}
{% endif %}

{% if form.billingMethod is defined %}
  <hr>
  {{ form_row(form.billingMethod) }}
{% endif %}

{% if form.defaultCourier is defined %}
  <hr>
  {{ form_row(form.defaultCourier) }}
{% endif %}

{% if form.urbantzHubId is defined %}
  <hr>
  {{ form_row(form.urbantzHubId) }}
{% endif %}
