{% extends is_granted('ROLE_ADMIN') ? "AppBundle::admin.html.twig" : "AppBundle::profile.html.twig" %}

{% block breadcrumb %}
<li><a href="{{ path(restaurants_route) }}">{% trans %}Restaurants{% endtrans %}</a></li>
<li><a href="{{ path(restaurant_route, { id: restaurant.id }) }}">{{ restaurant.name }}</a></li>
<li>{% trans %}Orders{% endtrans %}</li>
{% endblock %}

{% block content %}

{% set current_route = app.request.attributes.get('_route') %}
{% set current_route_params = app.request.attributes.get('_route_params') %}

<div class="restaurant-dashboard">

  <div class="restaurant-dashboard__list">
    {% set route_params = {
      restaurantId: restaurant.id,
      orderId: order ? order.id : null,
      date: date|date_modify('-1 day')|date('Y-m-d')
    } %}
    <a href="{{ path(routes.dashboard, route_params) }}" class="btn btn-block btn-default">
      {% trans %}Previous orders{% endtrans %}
    </a>
    <hr>
    <div id="order-list"></div>
  </div>
  <aside class="restaurant-dashboard__details"></aside>
</div>

{% endblock %}

{% block scripts %}
<script src="/restaurant-panel/socket.io/socket.io.js"></script>
<script>
window.__order_status_i18n = {
  'CREATED':  "{{ 'order.status.CREATED'|trans }}",
  'CANCELED': "{{ 'order.status.CANCELED'|trans }}",
  'WAITING':  "{{ 'order.status.WAITING'|trans }}",
  'ACCEPTED': "{{ 'order.status.ACCEPTED'|trans }}",
  'REFUSED':  "{{ 'order.status.REFUSED'|trans }}",
  'READY':    "{{ 'order.status.READY'|trans }}",
};
window.__restaurant = {{ restaurant_json|raw }};
window.__restaurant = {{ restaurant_json|raw }};
window.__orders = {{ orders_json|raw }};
window.__order = {{ order_json|raw }};
window.__routes = {
  'order_accept':    "{{ path(routes.order_accept,    { restaurantId: '__RESTAURANT_ID__', orderId: '__ORDER_ID__' }) }}",
  'order_refuse':    "{{ path(routes.order_refuse,    { restaurantId: '__RESTAURANT_ID__', orderId: '__ORDER_ID__' }) }}",
  'order_cancel':    "{{ path(routes.order_cancel,    { restaurantId: '__RESTAURANT_ID__', orderId: '__ORDER_ID__' }) }}",
  'order_ready':     "{{ path(routes.order_ready,     { restaurantId: '__RESTAURANT_ID__', orderId: '__ORDER_ID__' }) }}",
  'dashboard':       "{{ path(routes.dashboard,       { restaurantId: '__RESTAURANT_ID__' }) }}",
  'dashboard_order': "{{ path(routes.dashboard_order, { restaurantId: '__RESTAURANT_ID__', orderId: '__ORDER_ID__' }) }}",
  'user_details':    "{{ path(routes.user_details,    { username: '__USERNAME__' }) }}",
};
window.__i18n = {
  "No orders yet": "{% trans %}No orders yet{% endtrans %}",
  "Click on an order to display details": "{% trans %}Click on an order to display details{% endtrans %}",
  "Order": "{% trans %}Order{% endtrans %}",
  "Dishes": "{% trans %}Dishes{% endtrans %}",
  "Refuse": "{% trans %}Refuse{% endtrans %}",
  "Accept": "{% trans %}Accept{% endtrans %}",
  "Cancel": "{% trans %}Cancel{% endtrans %}",
  "Ready!": "{% trans %}Ready!{% endtrans %}",
}
</script>
<script src="{{ asset('js/restaurant-panel.js') }}"></script>
{% endblock %}
