{% extends '@App/restaurant/layout.html.twig' %}

{% block breadcrumb %}
<li><a href="{{ path(restaurants_route) }}">{% trans %}adminDashboard.restaurants.title{% endtrans %}</a></li>
<li><a href="{{ path(restaurant_route, { id: restaurant.id }) }}">{{ restaurant.name }}</a></li>
<li>{% trans %}adminDashboard.orders.title{% endtrans %}</li>
{% endblock %}

{% block content %}
<div id="restaurant-dashboard"></div>
{% endblock %}

{% block scripts %}
{% set current_route = app.request.attributes.get('_route') %}
{{ encore_entry_script_tags('foodtech-dashboard') }}
<script>
var orders = {{ orders_normalized|json_encode()|raw }};
var order = {{ order_normalized|json_encode()|raw }};
new CoopCycle.FoodtechDashboard(document.querySelector('#restaurant-dashboard'), {
  orders: orders['hydra:member'],
  order: order,
  date: "{{ date|date('Y-m-d') }}",
  jwt: "{{ jwt }}",
  restaurant: {{ restaurant_normalized|json_encode()|raw }},
  acceptOrderRoute: "{{ routes.order_accept }}",
  refuseOrderRoute: "{{ routes.order_refuse }}",
  delayOrderRoute: "{{ routes.order_delay }}",
  cancelOrderRoute: "{{ routes.order_cancel }}",
  currentRoute: "{{ current_route }}",
  showSettings: false,
}, {
  onDateChange: function(date) {
    window.location.href =
      window.Routing.generate('{{ current_route }}', { restaurantId: {{ restaurant.id }}, date: date.format('YYYY-MM-DD') })
  }
});
</script>
{% endblock %}
