{% extends is_granted('ROLE_ADMIN') ? "AppBundle::admin.html.twig" : "AppBundle::profile.html.twig" %}

{% block breadcrumb %}
<li><a href="{{ path(restaurants_route) }}">{% trans %}adminDashboard.restaurants.title{% endtrans %}</a></li>
<li><a href="{{ path(restaurant_route, { id: restaurant.id }) }}">{{ restaurant.name }}</a></li>
<li>{% trans %}adminDashboard.orders.title{% endtrans %}</li>
{% endblock %}

{% block content %}

{% set current_route = app.request.attributes.get('_route') %}
{% set current_route_params = app.request.attributes.get('_route_params') %}

<div class="restaurant-dashboard">

  <div class="restaurant-dashboard__list">
    {% set route_params = {
      restaurantId: restaurant.id,
      orderId: order ? order.id : null,
      date: date|date_modify('-1 day')|date('Y-m-d')
    } %}
    <a href="{{ path(routes.dashboard, route_params) }}" class="btn btn-block btn-default">
      {% trans %}adminDashboard.orders.previousOrders{% endtrans %}
    </a>
    <hr>
    <div id="order-list"></div>
  </div>
  <aside class="restaurant-dashboard__details"></aside>
</div>

{% endblock %}

{% block scripts %}
<script>
window.__order_status_i18n = {
  'new':      "{{ 'order.state.new'|trans }}",
  'accepted': "{{ 'order.state.accepted'|trans }}",
  'refused':  "{{ 'order.state.refused'|trans }}",
  'fulfilled':  "{{ 'order.state.fulfilled'|trans }}"
};
window.__restaurant = {{ restaurant_json|raw }};
window.__orders = {{ orders_normalized|json_encode()|raw }};
window.__order = {{ order_normalized|json_encode()|raw }};
window.__routes = {
  'order_accept':    "{{ path(routes.order_accept,    { restaurantId: '__RESTAURANT_ID__', orderId: '__ORDER_ID__' }) }}",
  'order_refuse':    "{{ path(routes.order_refuse,    { restaurantId: '__RESTAURANT_ID__', orderId: '__ORDER_ID__' }) }}",
  'order_cancel':    "{{ path(routes.order_cancel,    { restaurantId: '__RESTAURANT_ID__', orderId: '__ORDER_ID__' }) }}",
  'order_ready':     "{{ path(routes.order_ready,     { restaurantId: '__RESTAURANT_ID__', orderId: '__ORDER_ID__' }) }}",
  'dashboard':       "{{ path(routes.dashboard,       { restaurantId: '__RESTAURANT_ID__' }) }}",
  'dashboard_order': "{{ path(routes.dashboard_order, { restaurantId: '__RESTAURANT_ID__', orderId: '__ORDER_ID__' }) }}",
  'user_details':    "{{ path(routes.user_details,    { username: '__USERNAME__' }) }}",
};
window.__i18n = {
  "No orders yet": "{% trans %}adminDashboard.orders.noOrders{% endtrans %}",
  "Click on an order to display details": "{% trans %}adminDashboard.orders.clickForDetails{% endtrans %}",
  "Order": "{% trans %}adminDashboard.orders.order{% endtrans %}",
  "Dishes": "{% trans %}adminDashboard.orders.dishes{% endtrans %}",
  "Refuse": "{% trans %}adminDashboard.orders.refuse{% endtrans %}",
  "Accept": "{% trans %}adminDashboard.orders.accept{% endtrans %}",
  "Cancel": "{% trans %}adminDashboard.orders.cancel{% endtrans %}",
  "Ready!": "{% trans %}adminDashboard.orders.ready{% endtrans %}",
}
</script>
<script src="{{ asset('js/restaurant-panel.js') }}"></script>
{% endblock %}
