{% extends layout %}

{% form_theme form 'AppBundle:Form:menu.html.twig' %}

{% block breadcrumb %}
<li><a href="{{ path(restaurants_route) }}">{% trans %}adminDashboard.restaurants.title{% endtrans %}</a></li>
<li><a href="{{ path(restaurant_route, { id: restaurant.id }) }}">{{ restaurant.name }}</a></li>
<li>Menu</li>
{% endblock %}

{% block content %}

<h1>
  {{ restaurant.name }}
</h1>
<hr>

<div id="messages">
{% for message in app.flashes('notice') %}
  <div class="alert alert-success">
    {{ message }}
  </div>
{% endfor %}
</div>

{{ form_start(form) }}
  <div class="form-group row">
    <div class="col-sm-9">
      {{ form_widget(form.sectionName, { attr: { placeholder: 'restaurant.menu.form.addSection.placeholder'|trans([], 'messages') } }) }}
    </div>
    <div class="col-sm-3">
      {{ form_widget(form.addSection, { label: 'restaurant.menu.form.addSection', attr: { class: 'btn btn-success pull-right' } }) }}
    </div>
  </div>
  {{ form_row(form.addSection) }}
  <hr>
  {{ form_row(form.sections, { attr: {
    class: 'panel-group',
    role: 'tablist'
  } }) }}
  {{ form_widget(form.save, { label: 'basics.save', attr: { class: 'btn btn-block btn-primary' } }) }}
{{ form_end(form) }}

{% endblock %}

{% block scripts %}
<script type="text/javascript">
window.__i18n = {
  "Available": "{% trans %}restaurant.available{% endtrans %}",
  "Unavailable": "{% trans %}restaurant.unavailable{% endtrans %}"
}
window.AppData = window.AppData || {}
window.AppData.MenuForm = {
  newSections: []
}
{% for message in app.flashes('menu_form') %}
window.AppData.MenuForm.newSections.push({{ message|raw }})
{% endfor %}
</script>
<script src="{{ asset('js/restaurant-menu.js') }}"></script>
{% endblock %}
