{% extends layout %}

{% form_theme form 'AppBundle:Form:menu.html.twig' %}

{% block breadcrumb %}
<li><a href="{{ path(restaurants_route) }}">{% trans %}Restaurants{% endtrans %}</a></li>
<li><a href="{{ path(restaurant_route, { id: restaurant.id }) }}">{{ restaurant.name }}</a></li>
<li>Menu</li>
{% endblock %}

{% block content %}

<h1>
  {{ restaurant.name }}
</h1>
<hr>

{{ form_start(form) }}

  {% for category in categories %}
    {% set slug = 'category-' ~ category|slugify %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">{{ category }}</h2>
      </div>
      <div class="panel-body">
        <button class="btn btn-xs btn-success pull-right" data-toggle="add-product" data-target="#{{ slug }}">
        {% trans %}Add a product{% endtrans %}
        </button>
      </div>
      <div id="{{ slug }}" class="list-group" data-product-category="{{ category }}">
        {% for product in form.products %}
          {% if product.vars.value.recipeCategory == category %}
            {{ form_widget(product) }}
          {% endif %}
        {% endfor %}
        {# http://stackoverflow.com/questions/10570002/how-to-make-form-rest-not-display-a-field-with-symfony2 #}
        {% do form.products.setRendered %}
      </div>
    </div>
  {% endfor %}

  {{ form_widget(form.submit, { attr: { class: 'btn-block btn-primary' } }) }}

{{ form_end(form) }}

{% endblock %}

{% block scripts %}
<script type="text/javascript">

var prototype = '{{ form_widget(form.products.vars.prototype) }}';

function addForm($container) {
  var category = $container.data('product-category');
  var index = $('[data-product]').length;

  var form = prototype.replace(/__name__/g, index);

  var $form = $(form);
  $form.find('select').val(category);

  $container.append($form);
}

$(function() {
  $(document).on('click', '.close', function(e) {
    e.preventDefault();
    $(e.target).closest('[data-product]').remove();
  });

  $('[data-toggle="add-product"]').on('click', function(e) {
    e.preventDefault();
    var selector = $(e.target).data('target');
    var $target = $(selector);
    addForm($target);
  });
});
</script>
{% endblock %}