{% extends '@App/restaurant/layout.html.twig' %}

{% form_theme form '@App/form/restaurant.html.twig' %}

{% block breadcrumb %}
<li><a href="{{ path(restaurants_route) }}">{% trans %}adminDashboard.restaurants.title{% endtrans %}</a></li>
<li>{% if restaurant.id is not empty %}{{ restaurant.name }}{% else %}{% trans %}restaurant.form.createRestaurant{% endtrans %}{% endif %}</li>
{% endblock %}

{% block content %}

{% if formErrors is not empty %}
  <div class="alert alert-danger">
    <ul class="list-unstyled">
      {% for field, errors in formErrors %}
        {% if field != 'enabled' and field != 'data.enabled' %}
          <li>
            {{ errors|first }}
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
{% endif %}

{% if activationErrors is not empty %}
  <div class="alert alert-warning">
    <h4 class="mt-0">{% trans from 'validators' %}restaurant.notActivable{% endtrans %}</h4>
    <ul class="list-unstyled">
      {% for field, errors in activationErrors %}
        {% if field != 'enabled' and field != 'data.enabled' %}
        <li>
          {{ errors|first }}
        </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
{% endif %}

{% set cannot_be_enabled = ('enabled' in activationErrors|keys or 'data.enabled' in activationErrors|keys) %}

{% set show_stripe_connect = false %}

{% if restaurant.id is not null %}
  {% for role in restaurant.stripeConnectRoles %}
    {% if is_granted(role) %}
      {% set show_stripe_connect = true %}
    {% endif %}
  {% endfor %}
{% endif %}

{% set show_payment = (restaurant.id is not null and show_stripe_connect) %}

{{ form_start(form) }}

  <nav class="d-flex align-items-center justify-content-between">
    <span class="text-muted">
      <i class="fa fa-info-circle"></i>&nbsp;{{ "restaurant.form.enabled.tooltip" | trans | raw }}
    </span>
    <div class="switch-wrapper">
      {% set enabled_checkbox_attr = { class: 'checkbox switch' } %}
      {% if cannot_be_enabled %}
        {% set enabled_checkbox_attr = enabled_checkbox_attr|merge({ disabled: 'disabled' }) %}
      {% endif %}
      {{ form_label(form.enabled) }} {{ form_widget(form.enabled, { attr: enabled_checkbox_attr }) }}
    </div>
  </nav>

  <hr>

  <div class="row">
    <div class="col-sm-3">
      {% if form.imageFile is defined %}
        {{ form_row(form.imageFile) }}
      {% endif %}
      <ul class="nav nav-pills nav-stacked">
        <li role="presentation" class="active">
          <a role="tab" data-toggle="tab" href="#general" aria-controls="general">
            {{ 'restaurant.form.section.general'|trans }}
          </a>
        </li>
        <li role="presentation">
          <a role="tab" data-toggle="tab" href="#options" aria-controls="options">
            {{ 'restaurant.form.section.options'|trans }}
          </a>
        </li>
        <li role="presentation">
          <a role="tab" data-toggle="tab" href="#fulfillment" aria-controls="fulfillment">
            {{ 'restaurant.form.section.fulfillment'|trans }}
          </a>
        </li>
        {% if show_payment %}
        <li role="presentation" {% if restaurant.id is null %}class="disabled"{% endif %}>
          {% if restaurant.id is not null %}
            <a role="tab" data-toggle="tab" href="#payment" aria-controls="payment">
              {{ 'restaurant.form.section.payment'|trans }}
            </a>
          {% else %}
            <a role="tab" href="#">
              {{ 'restaurant.form.section.payment'|trans }}
            </a>
          {% endif %}
        </li>
        {% endif %}
        <li role="presentation">
          <a role="tab" data-toggle="tab" href="#settlement" aria-controls="settlement">
            {{ 'restaurant.form.section.settlement'|trans }}
          </a>
        </li>
      </ul>
    </div>
    <div class="col-sm-9">
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="general">
          {% include "@App/restaurant/form/_partials/general.html.twig" %}
        </div>
        <div role="tabpanel" class="tab-pane" id="options">
          {% include "@App/restaurant/form/_partials/options.html.twig" %}
        </div>
        <div role="tabpanel" class="tab-pane" id="fulfillment">
          {% include "@App/restaurant/form/_partials/fulfillment.html.twig" %}
        </div>
        {% if show_payment %}
        <div role="tabpanel" class="tab-pane" id="payment">
          {% include "@App/restaurant/form/_partials/payment.html.twig" %}
        </div>
        {% endif %}
        <div role="tabpanel" class="tab-pane" id="settlement">
          {% include "@App/restaurant/form/_partials/settlement.html.twig" %}
        </div>
      </div>
    </div>
  </div>

  {#
  <div id="cuisines" data-prototype="{{ form_widget(form.servesCuisine.vars.prototype)|e('html_attr') }}">
    {{ form_label(form.servesCuisine) }}
    {% for cuisine in form.servesCuisine %}
      {{ form_widget(cuisine) }}
    {% endfor %}
  </div>
  <button class="btn btn-sm btn-success" data-toggle="add-cuisine" data-target="#cuisines">Ajouter</button>
  {% do form.servesCuisine.setRendered %}
  <hr>
  #}

  <hr>

  <div class="row">
    {#
    Make sure the "save" button is *BEFORE* the "delete" button in the DOM
    to avoid deleting when hitting "enter"
    #}
    <div class="col-sm-9">
      <button type="submit" class="btn btn-block btn-primary">{{ 'basics.save'|trans }}</button>
    </div>
    <div class="col-sm-3">
      {% if form.delete is defined %}
        {{ form_widget(form.delete, { attr: { class: 'btn-block btn-danger' } }) }}
      {% endif %}
    </div>
  </div>

{{ form_end(form) }}

<div id="restaurant-form-data"
  data-action-url="{{ oneup_uploader_endpoint('restaurant') }}"
  data-restaurant-id="{{ restaurant.id }}"
  data-restaurant-image="{{ coopcycle_asset(restaurant, 'imageFile', 'restaurant_thumbnail') }}"
  data-restaurant-delivery-perimeter-expression="{{ restaurant.deliveryPerimeterExpression|e('html_attr') }}"
  data-zones="{{ zoneNames|json_encode|e('html_attr') }}"></div>

{% endblock %}

{% block styles %}
  {{ encore_entry_link_tags('restaurant-form') }}
{% endblock %}

{% block scripts %}
<script type="text/javascript">

  function initMap() {
    new CoopCycle.AddressInput(document.querySelector('#restaurant_address_streetAddress'), {
      elements: {
        latitude: document.querySelector('#restaurant_address_latitude'),
        longitude: document.querySelector('#restaurant_address_longitude'),
        postalCode: document.querySelector('#restaurant_address_postalCode'),
        addressLocality: document.querySelector('#restaurant_address_addressLocality')
      }
    })
  }

  function addForm($container) {
    var prototype = $container.data('prototype');
    var index = $container
      .find('select')
      .filter(function() {
        return this.name.match(/^restaurant\[servesCuisine\]/);
      })
      .length;

    var form = prototype.replace(/__name__/g, index);

    $container.append(form);
  }

  $(function() {
    $(document).on('click', '[data-remove]', function(e) {
      e.preventDefault();
      $(e.target).closest('.form-group').remove();
    });

    $('[data-toggle="add-cuisine"]').on('click', function(e) {
      e.preventDefault();
      var selector = $(e.target).data('target');
      var $target = $(selector);
      addForm($target);
    });
  });
</script>
{{ encore_entry_script_tags('restaurant-form') }}
<script src="https://maps.googleapis.com/maps/api/js?key={{ coopcycle_setting('google_api_key') }}&libraries=places&callback=initMap" async defer></script>
{% endblock %}
