{% extends layout %}

{% form_theme form 'AppBundle:Form:menu.html.twig' %}

{% block breadcrumb %}
<li><a href="{{ path(restaurants_route) }}">{% trans %}Restaurants{% endtrans %}</a></li>
<li><a href="{{ path(restaurant_route, { id: restaurant.id }) }}">{{ restaurant.name }}</a></li>
<li>Menu</li>
{% endblock %}

{% block content %}

<h1>
  {{ restaurant.name }}
</h1>
<hr>

<div id="messages">
{% for message in app.flashes('notice') %}
  <div class="alert alert-success">
    {{ message }}
  </div>
{% endfor %}
</div>

{{ form_start(form) }}
  {{ form_row(form.addSection) }}
  {{ form_row(form.suggestions) }}
  <hr>
  {{ form_row(form.sections, { attr: {
    class: 'panel-group',
    role: 'tablist'
  } }) }}
  {{ form_widget(form.submit, { attr: { class: 'btn-block btn-primary' } }) }}
{{ form_end(form) }}

{% endblock %}

{% block scripts %}
<script type="text/javascript">
window.__i18n = {
  "Available": "{% trans %}Available{% endtrans %}",
  "Unavailable": "{% trans %}Unavailable{% endtrans %}"
}
window.__addSectionURL = "{{ path('admin_restaurant_menu_add_section', { id: restaurant.id }) }}";
</script>
<script src="{{ asset('js/restaurant-menu.js') }}"></script>
{% endblock %}
