{% extends layout %}

{% form_theme form 'AppBundle:Form:restaurant.html.twig' %}

{% block breadcrumb %}
<li><a href="{{ path(restaurants_route) }}">{% trans %}adminDashboard.restaurants.title{% endtrans %}</a></li>
<li>{% if restaurant.id is not empty %}{{ restaurant.name }}{% else %}{% trans %}restaurant.form.createRestaurant{% endtrans %}{% endif %}</li>
{% endblock %}

{% block content %}

<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#restaurant-navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="navbar-brand">
        {% if restaurant.id is not empty %}
          {{ restaurant.name }}&nbsp;&nbsp;<a href="{{ path('restaurant', { id: restaurant.id }) }}" target="_blank"><i class="fa fa-external-link"></i></a>
        {% else %}
          {% trans %}restaurant.form.createRestaurant{% endtrans %}
        {% endif %}
      </span>
    </div>
    <div class="collapse navbar-collapse" id="restaurant-navbar">
      <div class="nav navbar-nav navbar-right">
        {% if restaurant.id is not empty %}
          <a href="{{ path(menu_route, { id: restaurant.id }) }}" class="btn btn-default navbar-btn">
            <i class="fa fa-cutlery"></i>  {% trans %}restaurant.list.menu{% endtrans %}
          </a>
          <a href="{{ path(dashboard_route, { restaurantId: restaurant.id }) }}" class="btn btn-default navbar-btn">
            <i class="fa fa-cube"></i>  {% trans %}restaurant.list.orders{% endtrans %}
          </a>
          <a href="{{ path(planning_route, { id: restaurant.id }) }}" class="btn btn-default navbar-btn">
            <i class="fa fa-clock-o"></i>  {% trans %}restaurant.list.planning{% endtrans %}
          </a>
        {% endif %}
      </div>
    </div>
  </div>
</nav>

{% for message in app.flashes('notice') %}
  <div class="alert alert-success">
    {{ message }}
  </div>
{% endfor %}

{% if formErrors is not empty %}
  <div class="row margin-bottom-md">
    <div class="col-sm-6 col-md-offset-3">
      <div class="alert alert-danger">
        <ul class="restaurant-availability-errors">
          {% for field, errors in activationErrors %}
            {% if field != 'enabled' and field != 'data.enabled' %}
              <li class="margin-left-l">
                {{ errors|first }}
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endif  %}

{% if activationErrors is not empty %}
  <div class="row margin-bottom-md">
    <div class="col-sm-6 col-md-offset-3">
      <div class="alert alert-warning">
        {% trans from 'validators' %}restaurant.notActivable{% endtrans %}
        <ul class="restaurant-availability-errors">
          {% for field, errors in activationErrors %}
            {% if field != 'enabled' and field != 'data.enabled' %}
            <li class="margin-left-l">
              {{ errors|first }}
            </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endif  %}

{{ form_start(form) }}

  <div class="row">
    <div class="col-sm-4">
      {{ form_row(form.imageFile) }}
    </div>
    <div class="col-sm-8">
      {{ form_row(form.name) }}
      <div class="switch-wrapper">
        {{ form_label(form.enabled) }} {{ form_widget(form.enabled, { attr: { class: 'checkbox switch' }}) }}&nbsp;
      </div>
      <span class="help-block">
          <i class="fa fa-info-circle"></i>&nbsp;{{ "restaurant.form.enabled.tooltip" | trans | raw }}
      </span>
      {{ form_row(form.legalName) }}
      {{ form_row(form.website) }}
      {{ form_row(form.telephone) }}
      {% if form.siret is defined %}
        {{ form_row(form.siret) }}
      {% endif %}
    </div>
  </div>

  <hr>

  {#
  <div id="cuisines" data-prototype="{{ form_widget(form.servesCuisine.vars.prototype)|e('html_attr') }}">
    {{ form_label(form.servesCuisine) }}
    {% for cuisine in form.servesCuisine %}
      {{ form_widget(cuisine) }}
    {% endfor %}
  </div>
  <button class="btn btn-sm btn-success" data-toggle="add-cuisine" data-target="#cuisines">Ajouter</button>
  {% do form.servesCuisine.setRendered %}
  <hr>
  #}

  {% if restaurant.id is not null %}
    <p class="help-block">
      <i class="fa fa-info-circle"></i> {% trans %}restaurant.form.temporaryClosingRule{% endtrans %}  
      <a href="{{ path(planning_route, { id: restaurant.id }) }}">{% trans %}restaurant.form.accessPlanning{% endtrans %}</a>
    </p>
  {% endif %}

  {{ form_row(form.openingHours) }}
  <div id="opening-hours"></div>
  <label class="control-label">{% trans %}localBusiness.form.orderingDelayMinutes{% endtrans %}</label>
  <div class="row">
    <div class="col-sm-3">
      {{ form_row(form.orderingDelayDays) }}
    </div>
    <div class="col-sm-3">
      {{ form_row(form.orderingDelayHours) }}
    </div>
  </div>
  <span class="help-block">
    <i class="fa fa-info-circle"></i>&nbsp;{{ "localBusiness.form.orderingDelayMinutes.help" | trans | raw }}
  </span>

  <hr>

  {{ form_row(form.address.streetAddress) }}
  {{ form_row(form.address.postalCode) }}
  {{ form_row(form.address.addressLocality) }}
  {{ form_widget(form.address.longitude) }}
  {{ form_widget(form.address.latitude) }}
  {# http://stackoverflow.com/questions/10570002/how-to-make-form-rest-not-display-a-field-with-symfony2 #}
  {% do form.address.setRendered %}

  <hr>

  {# Stripe accounts have to be created by restaurant owner itself so we link it to correct account in callback #}
  <h4>Compte Stripe</h4>
  {% if is_granted('ROLE_ADMIN') and restaurant.stripeAccount is null %}
    <div class="alert alert-warning">
      {% trans %}form.local_business.stripe_account.admin_warning{% endtrans %}
    </div>
  {% elseif is_granted('ROLE_ADMIN') %}
    <div class="alert alert-success">
      {% trans %}form.local_business.stripe_account.admin_success{% endtrans %}
    </div>
  {% elseif restaurant.id is null and restaurant.stripeAccount is null %}
    <div class="alert alert-warning">
      {% trans %}form.local_business.stripe_account.save_warning{% endtrans %}
    </div>
  {% elseif restaurant.stripeAccount is null %}
    <div class="alert alert-warning">
      {{ 'form.local_business.stripe_account.need_stripe_account' | trans({'%stripeAuthorizeURL%': stripeAuthorizeURL}) | raw }}
    </div>
  {% else %}
    <div class="alert alert-success">
      <p>{{ 'form.local_business.stripe_account.link_ok' | trans | raw }}</p>
    </div>
  {% endif %}
  {#<a class="help-block" href="{{ path('help_admin_payments') }}"><i class="fa fa-info-circle"></i>&nbsp;Cliquez ici pour en savoir plus sur la configuration et la gestion des paiements via Stripe.</a>#}

  <hr>
    <h4>{% trans %}restaurant.deliveryPerimeterExpression.title{% endtrans %}</h4>
    {{ form_widget(form.deliveryPerimeterExpression) }}
    <div id="restaurant_deliveryPerimeterExpression__picker">
    </div>
    <span class="help-block">
      <i class="fa fa-info-circle"></i>&nbsp;{{ "restaurant.deliveryPerimeterExpression.help" | trans({'%zoneHelpUrl%': path('help_admin_zones')}) | raw }}
    </span>
  <hr>

  {% if form.contract is defined or restaurant.id is not null %}
    <h4>{% trans %}restaurant.contract.title{% endtrans %}</h4>
  {% endif %}

  {% if form.contract is defined %}
    {{ form_row(form.contract.minimumCartAmount) }}
    {{ form_row(form.contract.flatDeliveryPrice) }}
    {{ form_row(form.contract.feeRate) }}
  {% else %}
    {% if restaurant.id is not null %}
    <div class="row margin-bottom-md">
      {% if restaurant.contract is not empty %}
        <div class="col-md-12">
          <div class="alert alert-warning">
            {% trans %}restaurant.contract.onlyAdmin{% endtrans %}
          </div>
          <p>{% trans %}restaurant.contract.minimumCartAmount.label{% endtrans %}: {{ restaurant.contract.minimumCartAmount }}€</p>
          <p>{% trans %}restaurant.contract.flatDeliveryPrice.label{% endtrans %}: {{ restaurant.contract.flatDeliveryPrice }}€</p>
          <p>{% trans %}restaurant.contract.feeRate.label{% endtrans %}: {{ restaurant.contract.feeRate }}%</p>
        </div>
      {% else %}
        <div class="col-md-12">
          <div class="alert alert-danger">
            {% trans %}restaurant.contract.noContract{% endtrans %}
          </div>
        </div>
      {% endif %}
    </div>
    {% endif %}
  {% endif %}

  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-xs-12">
      <button type="submit" class="btn btn-block btn-primary">{% trans %}restaurant.form.save{% endtrans %}</button>
    </div>
  </div>

{{ form_end(form) }}

{% endblock %}

{% block scripts %}
<script src="{{ asset('js/widgets.js') }}"></script>
<script type="text/javascript">

  window.AppData = window.AppData || {};
  window.AppData.__i18n = window.AppData.__i18n || {};
  window.AppData.__i18n['Enabled'] = "{% trans %}localBusiness.form.enabled{% endtrans %}";
  window.AppData.__i18n['Disabled'] = "{% trans %}localBusiness.form.disabled{% endtrans %}";
  window.AppData.__isActivable = {% if 'enabled' in activationErrors|keys or 'data.enabled' in activationErrors|keys %}false{% else %}true{% endif %};
  window.AppData.deliveryPerimeterExpression = {{ deliveryPerimeterExpression|raw }};
  window.AppData.zones = {{ zoneNames|raw }};

  new CoopCycle.OpeningHoursInput(document.querySelector('#restaurant_openingHours'), {
    locale: $('html').attr('lang')
  })

  function initMap() {
    new CoopCycle.AddressInput(document.querySelector('#restaurant_address_streetAddress'), {
      elements: {
        latitude: document.querySelector('#restaurant_address_latitude'),
        longitude: document.querySelector('#restaurant_address_longitude'),
        postalCode: document.querySelector('#restaurant_address_postalCode'),
        addressLocality: document.querySelector('#restaurant_address_addressLocality')
      }
    })
  }

  function addForm($container) {
    var prototype = $container.data('prototype');
    var index = $container
      .find('select')
      .filter(function() {
        return this.name.match(/^restaurant\[servesCuisine\]/);
      })
      .length;

    var form = prototype.replace(/__name__/g, index);

    $container.append(form);
  }

  $(function() {
    $(document).on('click', '[data-remove]', function(e) {
      e.preventDefault();
      $(e.target).closest('.form-group').remove();
    });

    $('[data-toggle="add-cuisine"]').on('click', function(e) {
      e.preventDefault();
      var selector = $(e.target).data('target');
      var $target = $(selector);
      addForm($target);
    });
  });
</script>
<script src="{{ asset('js/restaurant-form.js') }}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ craue_setting('google_api_key') }}&libraries=places&callback=initMap" async defer></script>
{% endblock %}
