{% extends "AppBundle::base.html.twig" %}

{% block body %}
<div class="container">

  <div class="page-header">
    <h1>{{ restaurant.name }}</h1>
  </div>

  <nav class="navbar">
      {% for timeRange in restaurant.openingHours %}
      <p class="navbar-text">{{ timeRange }}</p>
      {% endfor %}
      <p class="navbar-text">
        {% if restaurant.isOpen %}
        <span class="label label-success">{% trans %}Open{% endtrans %}</span>
        {% else %}
        <span class="label label-warning">{% trans %}Closed{% endtrans %}</span>
        {% endif %}
      </p>
  </nav>

  <div class="row">

    <div class="col-xs-12 col-sm-8">

      {% for menuSection in restaurant.menu.sections %}
        <h2>{{ menuSection.name }}</h2>
        <div class="list-group">
          {% for menuItem in menuSection.items %}
            <a  class="list-group-item menu-item {%  if menuItem.modifiers.count == 0 %}js-add-to-cart{%  endif %}" data-menu-item-id="{{ menuItem.id }}"
                {%  if menuItem.modifiers.count > 0 %}data-toggle="modal" data-target="#{{ menuItem.id }}-modifiersModal"
              {%  endif %}
            >
              <span class="menu-item-content">{{ menuItem.name }}</span>
              <span class="menu-item-price">{{ menuItem.price }} €</span>
            </a >
            {%  if menuItem.modifiers.count > 0 %}
              <div id="{{ menuItem.id }}-modifiersModal" class="modal modifier-modal fade">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                      <h4 class="modal-title">{{ menuItem.name }}</h4>
                    </div>
                    <div class="modal-body">
                      {%  for modifier in  menuItem.modifiers %}
                          <form data-modifier-id="{{ modifier.id }}">
                            <h4>{{ modifier.name }}
                              {%  if modifier.calculusStrategy == 'ADD_MODIFIER_PRICE' %} - {{ modifier.price }}€{% endif %}
                            </h4>
                            <div class="list-group">
                              {%  for choice in modifier.modifierChoices %}
                                <div class="list-group-item radio menu-item modifier-item">
                                    <input value="{{ choice.id }}" type="radio" id="{{ choice.id }}-choice" name="{{ modifier.id }}-choice"><label for="{{ choice.id }}-choice">{{ choice.name }}{%  if modifier.calculusStrategy == 'ADD_MENUITEM_PRICE' %} - {{ choice.price }}€{% endif %}</label>
                                </div>
                              {%  endfor %}
                            </div>
                          </form>
                      {%  endfor %}
                      <button class="js-add-to-cart btn btn-block btn-primary" data-menu-item-id="{{ menuItem.id }}">Add</button>
                    </div>
                  </div>
                </div>
              </div>
            {%  endif %}
          {% endfor %}
        </div>
      {% endfor %}

    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="row">
        <div class="col-sm-6">
          <select class="form-control" id="cart-date">
            {% for label,date in dates %}
              <option value="{{ date|date('Y-m-d') }}">{{ label }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-sm-6">
          <select class="form-control" id="cart-time">
            {% for time in times %}
              <option {% if cart.date|date('H:i') == time %}selected="selected"{% endif %}>{{ time }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <hr>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{% trans %}Cart{% endtrans %}</h3>
        </div>
        <div class="panel-body">
          <div id="cart"></div>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
window.AppData = window.AppData || {};
window.AppData.Cart = {
  addToCartURL: "{{ path('restaurant_add_to_cart', {'id': restaurant.id})|raw }}",
  removeFromCartURL: "{{ path('restaurant_remove_from_cart', {'id': restaurant.id, 'itemKey': '__ITEM_KEY__'})|raw }}",
  items: {{ cart.items|json_encode()|raw }},
  date: "{{ cart.date|date('Y-m-d H:i:s') }}",
  validateCartURL: "{{ path('order') }}"
}
</script>
<script src="{{ asset('js/cart.js') }}"></script>
{% endblock %}
