{% extends "AppBundle::base.html.twig" %}
{% set restaurant_edit_route = is_granted('ROLE_ADMIN') ? 'admin_restaurant' : 'profile_restaurant' %}
{% set restaurant_edit_url = path(restaurant_edit_route, { id: restaurant.id }) %}

{% block body %}
<div class="container">

  {%  if not restaurant.enabled %}
    <div class="row">
      <div class="col-md-6 col-md-offset-3 alert alert-danger">
        {{ "restaurant.disabledWarning" | trans({'%restaurantEditUrl%': restaurant_edit_url}) | raw }}
      </div>
    </div>
  {%  endif %}

  <div class="page-header restaurant-header">
    <h1>{{ restaurant.name }}</h1>
  </div>

  <div class="row">
      <div class="col-md-4">
        {% for timeRange in restaurant.openingHours %}
          {{ timeRange }}<br>
        {% endfor %}
      </div>
      <div class="col-md-8">
        {% if restaurant.isOpen %}
          <span class="label label-success">{% trans %}Open{% endtrans %}</span>
        {% else %}
          <span class="label label-warning">{% trans %}Closed{% endtrans %}</span>
        {%  endif %}
      </div>
  </div>

  <div class="row">

    <div class="col-xs-12 col-sm-8">

      {% for menuSection in restaurant.menu.sections %}
        <h2 class="h2">{{ menuSection.name }}</h2>
        <div class="list-group">
          {% for menuItem in menuSection.items %}
            {% if not menuItem.isAvailable %}
              <a  class="list-group-item menu-item menu-item--unavailable">
                <span class="menu-item-content">{{ menuItem.name }}</span>
                {% if menuItem.description is not null %}
                  <p class="menu-item-description">{{ menuItem.description }}</p>
                {%  endif %}
                <span class="menu-item-price"><button type="button" class="btn btn-warning btn-xs">{% trans %}Unavailable{% endtrans %}</button></span>
              </a>
            {% else %}
              <a  class="list-group-item menu-item {% if menuItem.modifiers.count == 0 %}js-add-to-cart{% endif %}"
                  data-menu-item-id="{{ menuItem.id }}"
                  {%  if menuItem.modifiers.count > 0 %}
                    data-toggle="modal" data-target="#{{ menuItem.id }}-modifiersModal"
                {%  endif %}
              >
                <span class="menu-item-content">{{ menuItem.name }}
                  {% if menuItem.description is not null %}
                    <p class="menu-item-description">{{ menuItem.description }}</p>
                  {%  endif %}
                </span>
                <span class="menu-item-price">{{ menuItem.price|number_format(2) }} €</span>
              </a >
              {%  if menuItem.modifiers.count > 0 %}
                <div id="{{ menuItem.id }}-modifiersModal" class="modal modifier-modal fade">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">{{ menuItem.name }}</h4>
                      </div>
                      <div class="modal-body">
                        {%  for modifier in  menuItem.modifiers %}
                            <form data-modifier-id="{{ modifier.id }}">
                              <h4>{{ modifier.name }}
                                {%  if modifier.calculusStrategy == 'ADD_MODIFIER_PRICE' %} - {{ modifier.price }}€{% endif %}
                              </h4>
                              <div class="list-group">
                                {%  for choice in modifier.modifierChoices %}
                                  <div class="list-group-item radio menu-item modifier-item">
                                      <input value="{{ choice.id }}" type="radio" id="{{ choice.id }}-choice" name="{{ modifier.id }}-choice"><label for="{{ choice.id }}-choice">{{ choice.name }}{%  if modifier.calculusStrategy == 'ADD_MENUITEM_PRICE' %} - {{ choice.price }}€{% endif %}</label>
                                  </div>
                                {%  endfor %}
                              </div>
                            </form>
                        {%  endfor %}
                        <button class="js-add-to-cart btn btn-block btn-primary" data-menu-item-id="{{ menuItem.id }}">Add</button>
                      </div>
                    </div>
                  </div>
                </div>
              {%  endif %}
            {% endif %}
          {% endfor %}
        </div>
      {% endfor %}

    </div>

    <div class="col-xs-12 col-sm-4">
        <div id="cart"></div>
    </div>

    <div class="visible-xs">
    </div>

  </div>
</div>

<div id="cart-warning-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{ 'cart.modal.title'|trans }}</h4>
      </div>
      <div class="modal-body">
        <p>{{ 'cart.modal.content'|trans }}</p>
      </div>
      <div class="modal-footer">
        <button id="cart-warning-default" type="button" class="btn btn-default" data-dismiss="modal">
          {{ 'cart.modal.cancel'|trans }}
        </button>
        <button id="cart-warning-primary" type="button" class="btn btn-primary">{{ 'cart.modal.confirm'|trans }}</button>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}

{% block scripts %}
<script>
window.AppData = window.AppData || {};
window.AppData.availabilities = {{ availabilities|json_encode()|raw }};
window.AppData.Restaurant = {
  id: {{ restaurant.id }},
  minimumCartAmount: {{ restaurant.minimumCartAmount }},
  flatDeliveryPrice: {{ restaurant.flatDeliveryPrice }}
};
</script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}&libraries=places"></script>
{% endblock %}

