{% extends "@App/base.html.twig" %}
{% set restaurant_edit_route = is_granted('ROLE_ADMIN') ? 'admin_restaurant' : 'profile_restaurant' %}
{% set restaurant_edit_url = path(restaurant_edit_route, { id: restaurant.id }) %}

{% form_theme cart_form '@App/form/cart.html.twig' %}

{% block structured_data %}
<script type="application/ld+json">
{{ structured_data|json_encode(constant('JSON_PRETTY_PRINT') b-or constant('JSON_UNESCAPED_SLASHES'))|raw }}
</script>
{% endblock %}

{% block body %}
<div class="container">

  {% if not restaurant.enabled %}
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="alert alert-danger">
        {{ "restaurant.disabledWarning" | trans({'%restaurantEditUrl%': restaurant_edit_url}) | raw }}
        </div>
      </div>
    </div>
  {% endif %}

  {% if not restaurant.isOpen %}
    {% if restaurant.hasClosingRuleForNow %}
    <div class="alert alert-danger text-center">
      {% trans with { '%date%': restaurant.getNextOpeningDate|localizeddate('medium', 'none') } %}
      restaurant.temporaryClosedWarning
      {% endtrans %}
    </div>
    {% elseif restaurant.orderingDelayMinutes > 0 %}
    <div class="alert alert-warning text-center">
      {% trans with { '%delay%': delay } %}
      restaurant.closedWarningWithDelay
      {% endtrans %}
    </div>
    {% endif %}
  {% endif %}

  {% if restaurant.quotesAllowed %}
    {% set trans_params = {
      '%contact_us%': ('mailto:' ~ coopcycle_setting('administrator_email')),
      '%login%': path('fos_user_security_login')
    } %}
    {% if app.user %}
      {% if not app.user.quotesAllowed %}
        <div class="alert alert-info">
          <i class="fa fa-info-circle"></i> 
          {% trans with trans_params %}restaurant.quotes_disclaimer.authenticated{% endtrans %}
        </div>
      {% endif %}
    {% else %}
      <div class="alert alert-info">
        <i class="fa fa-info-circle"></i> 
        {% trans with trans_params %}restaurant.quotes_disclaimer.not_authenticated{% endtrans %}
      </div>
    {% endif %}
  {% endif %}

  <header class="restaurant-header">
    {% set restaurant_image = vich_uploader_asset(restaurant, 'imageFile') %}
    {% if restaurant_image is not empty %}
      <img class="restaurant-image" src="{{ restaurant_image|imagine_filter('restaurant_thumbnail') }}">
    {% endif %}
    <section class="restaurant-header-body">
      <h1>{{ restaurant.name }}</h1>
      {% if restaurant.website is defined and restaurant.website is not empty %}
      <p>
        <a href="{{ restaurant.website }}" target="_blank">
          <i class="fa fa-external-link"></i> {{ 'localBusiness.form.website'|trans }}
        </a>
      </p>
      {% endif %}
      {% if restaurant.description is defined and restaurant.description is not empty %}
      <p class="text-muted">
        <i class="fa fa-quote-left"></i> {{ restaurant.description }}</p>
      {% endif %}
    </section>
    <section class="restaurant-header-right">
      <p>{{ restaurant.address.streetAddress }}, {{ restaurant.address.postalCode }}, {{ restaurant.address.addressLocality }}</p>
      <div id="opening-hours">
      </div>
    </section>
  </header>

  {% if restaurant.menuTaxon is not null %}
  <div class="row">

    <div class="col-xs-12 col-sm-8" id="menu">
      <div class="restaurant-menu-wrapper">
      {% for child in restaurant.menuTaxon.children %}
        {% if child.products|length > 0 %}
        <h2>{{ child.name }}</h2>
        <div class="restaurant-menu-section">
          {% for product in child.products %}
            {# TODO Skip if no variant is defined #}
            {% if not product.enabled %}
              <div class="restaurant-menu-section-item">
                <a class="menu-item menu-item--unavailable">
                  {% include '@App/_partials/restaurant/menu_item_inner.html.twig' %}
                </a>
              </div>
            {% else %}
              {% if not product.hasOptions() %}
              <div class="restaurant-menu-section-item">
                <form method="post"
                  action="{{ path('restaurant_add_product_to_cart', { id: restaurant.id, code: product.code }) }}"
                  data-product-simple>
                  <button class="menu-item" type="submit">
                    {% include '@App/_partials/restaurant/menu_item_inner.html.twig' %}
                  </button>
                </form>
              </div>
              {% else %}
              <div class="restaurant-menu-section-item">
                <button
                  class="menu-item"
                  data-toggle="modal"
                  data-target="#{{ product.code }}-options">
                  {% include '@App/_partials/restaurant/menu_item_inner.html.twig' %}
                </button>
              </div>
              {% endif %}
            {% endif %}
          {% endfor %}
        </div>
        {% endif %}
      {% endfor %}
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      {{ form_start(cart_form) }}
        {# These inputs are managed with React  #}
        {% do cart_form.date.setRendered %}
        {% do cart_form.time.setRendered %}
        <div id="cart"></div>
      {{ form_end(cart_form) }}
    </div>

    <div class="visible-xs">
    </div>

  </div>

  {% else %}
    <div class="alert alert-warning">
      {% trans %}restaurant.noMenuWarning{% endtrans %}
    </div>
  {% endif %}

</div>

{# Modals for product options #}

{% if restaurant.menuTaxon is not null %}
  {% for child in restaurant.menuTaxon.children %}
    {% for product in child.products %}
      {% if product.enabled and product.hasOptions() %}
      <div id="{{ product.code }}-options" class="modal fade">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title">{{ product.name }}</h4>
            </div>
            <div class="modal-body">
              <form
                action="{{ path('restaurant_add_product_to_cart', { id: restaurant.id, code: product.code }) }}"
                data-product-options>
                {% set option_index = 0 %}
                {% for option in product.options %}
                <h4>
                  {{ option.name }}
                  {% if option.strategy == 'option' %} - {{ option.price|price_format }}{% endif %}
                </h4>
                <div class="list-group"
                  data-product-options-group
                  {% if not option.additional %}
                  data-product-options-group-min="1"
                  data-product-options-group-max="1"
                  {% else %}
                    {% if option.valuesRange is not null %}
                    data-product-options-group-min="{{ option.valuesRange.lower }}"
                      {% if not option.valuesRange.upperInfinite %}
                        data-product-options-group-max="{{ option.valuesRange.upper }}"
                      {% endif %}
                    {% else %}
                    data-product-options-group-min="0"
                    {% endif %}
                  {% endif %}>
                  {% for option_value in option.values %}
                    {% set option_value_input_id = ('product-' ~ product.code ~ '-option-' ~ option.code ~ '-value-' ~ option_value.code) %}
                    <div class="list-group-item product-option-item">
                      {% if option.additional %}
                        {% if option.valuesRange is not null %}
                        <div class="product-option-item-range">
                          <input type="hidden" name="options[{{ option_index }}][code]" value="{{ option_value.code }}">
                          <input
                            id="{{ option_value_input_id }}"
                            name="options[{{ option_index }}][quantity]"
                            type="number"
                            step="1"
                            min="0"
                            {% if not option.valuesRange.upperInfinite %}
                            max="{{ option.valuesRange.upper }}"
                            {% endif %}
                            value="0">
                          <label for="{{ option_value_input_id }}" data-step-up>{{ option_value.value }}</label>
                          {% if option.strategy == 'option_value' and option_value.price > 0 %}
                            +{{ option_value.price|price_format }}
                          {% endif %}
                          <div>
                            <button class="button-icon--decrement" data-stepper data-target="#{{ option_value_input_id }}" data-direction="down">
                              <i class="fa fa-lg fa-minus-circle"></i>
                            </button>
                            <button class="button-icon--increment" data-stepper data-target="#{{ option_value_input_id }}" data-direction="up">
                              <i class="fa fa-lg fa-plus-circle"></i>
                            </button>
                          </div>
                        </div>
                        {% else %}
                        <div class="checkbox nomargin">
                          <label>
                            <input
                              name="options[{{ option_index }}][code]"
                              value="{{ option_value.code }}" type="checkbox">
                            {{ option_value.value }}
                            {% if option.strategy == 'option_value' and option_value.price > 0 %}
                              +{{ option_value.price|price_format }}
                            {% endif %}
                          </label>
                        </div>
                        {% endif %}
                        {% set option_index = option_index + 1 %}
                      {% else %}
                        <div class="radio nomargin">
                          <label>
                            <input
                              name="options[{{ option_index }}][code]"
                              value="{{ option_value.code }}" type="radio">
                            {{ option_value.value }}
                            {% if option.strategy == 'option_value' and option_value.price > 0 %}
                              +{{ option_value.price|price_format }}
                            {% endif %}
                          </label>
                        </div>
                      {% endif %}
                    </div>
                  {% endfor %}
                </div>
                {% if not option.additional %}
                  {% set option_index = option_index + 1 %}
                {% endif %}
                {% endfor %}
                {% set product_quantity_input_id = ('product-' ~ product.code ~ '-quantity') %}
                <div class="row">
                  <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                    <div class="form-group">
                      <div class="quantity-input-group">
                        <button class="quantity-input-group__decrement" type="button"
                          data-stepper data-target="#{{ product_quantity_input_id }}" data-direction="down">
                          <i class="fa fa-2x fa-minus-circle"></i>
                        </button>
                        <input type="number" min="1" step="1" value="1" id="{{ product_quantity_input_id }}" data-product-quantity>
                        <button class="quantity-input-group__increment" type="button"
                          data-stepper data-target="#{{ product_quantity_input_id }}" data-direction="up">
                          <i class="fa fa-2x fa-plus-circle"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <button type="submit" class="btn btn-block btn-primary" disabled>{{ 'basics.add'|trans }}</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    {% endfor %}
  {% endfor %}
{% endif %}

{% set restaurant_json = {
  id: restaurant.id,
  availabilities: availabilities,
  openingHours: restaurant.openingHours
} %}

{% set cart = cart_provider.getCart() %}
{% set cart_json = cart_provider.normalize(cart) %}

<div id="js-restaurant-data"
  data-restaurant="{{ restaurant_json|json_encode|e('html_attr') }}"
  data-cart="{{ cart_json|json_encode|e('html_attr') }}"
  data-times="{{ times|json_encode|e('html_attr') }}"></div>

<div id="js-addresses-data"
  data-addresses="{{ addresses_normalized|json_encode|e('html_attr') }}"></div>

{% endblock %}

{% block scripts %}
{{ encore_entry_script_tags('restaurant') }}
<script src="https://maps.googleapis.com/maps/api/js?key={{ coopcycle_setting('google_api_key') }}&libraries=places&callback=initMap" async defer></script>
{% endblock %}
