{% extends "AppBundle::base.html.twig" %}

{% block body %}
<div class="container">

  <div class="page-header">
    <h1>{{ restaurant.name }}</h1>
  </div>

  <nav class="navbar">
      {% for timeRange in restaurant.openingHours %}
      <p class="navbar-text">{{ timeRange }}</p>
      {% endfor %}
      <p class="navbar-text">
        {% if restaurant.isOpen %}
        <span class="label label-success">{% trans %}Open{% endtrans %}</span>
        {% else %}
        <span class="label label-warning">{% trans %}Closed{% endtrans %}</span>
        {% endif %}
      </p>
  </nav>

  <div class="row">

    <div class="col-xs-12 col-sm-8">

      {% set groups = {
        'Entrées': appetizers,
        'Plats': main_courses,
        'Desserts': desserts
      } %}

      {% for category, products in groups %}
        {% if products|length > 0 %}
        <h2>{{ category }}</h2>
        <div class="list-group">
          {% for product in products %}
          <a href="#" class="list-group-item menu-item js-add-to-cart" data-product-id="{{ product.id }}">
            <span class="menu-item-content">{{ product.name }}</span>
            <span class="menu-item-price">{{ product.price }} €</span>
          </a>
          {% endfor %}
        </div>
        {% endif %}
      {% endfor %}

    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="row">
        <div class="col-sm-6">
          <select class="form-control">
            {% for date in dates %}
              <option>{{ date }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-sm-6">
          <select class="form-control">
            {% for time in times %}
              <option>{{ time }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <hr>
      {#
      <p class="text-center">
      {{ restaurant.nextOpeningDate|date('d/m H:i') }}
      </p>
      #}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{% trans %}Cart{% endtrans %}</h3>
        </div>
        <div class="panel-body">
          <div id="cart"></div>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
window.AppData = window.AppData || {};
window.AppData.Cart = {
  addToCartURL: "{{ path('restaurant_add_to_cart', {'id': restaurant.id})|raw }}",
  removeFromCartURL: "{{ path('restaurant_remove_from_cart', {'id': restaurant.id, 'product': '__PRODUCT__'})|raw }}",
  items: {{ cart.items|json_encode()|raw }},
  validateCartURL: "{{ path('order') }}"
}
</script>
<script src="{{ asset('js/cart.js') }}"></script>
{% endblock %}