{% extends "AppBundle::base.html.twig" %}
{% set restaurant_edit_route = is_granted('ROLE_ADMIN') ? 'admin_restaurant' : 'profile_restaurant' %}
{% set restaurant_edit_url = path(restaurant_edit_route, { id: restaurant.id }) %}

{% block body %}
<div class="container">

  {% if not restaurant.enabled %}
    <div class="row">
      <div class="col-md-6 col-md-offset-3 alert alert-danger">
        {{ "restaurant.disabledWarning" | trans({'%restaurantEditUrl%': restaurant_edit_url}) | raw }}
      </div>
    </div>
  {%  endif %}

  {% if restaurant.hasClosingRuleForNow %}
    <div class="row">
      <div class="col-md-6 col-md-offset-3 alert alert-danger">
        {% trans %}restaurant.temporaryClosedWarning{% endtrans %}
      </div>
    </div>
  {% elseif not restaurant.isOpen %}
    <div class="row">
      <div class="col-md-6 col-md-offset-3 alert alert-warning">
        {% trans %}restaurant.closedWarning{% endtrans %}
      </div>
    </div>
  {%  endif %}

  <div class="page-header restaurant-header">
    <h1>{{ restaurant.name }}</h1>
    <p>{{ restaurant.address.streetAddress }}, {{ restaurant.address.postalCode }}, {{ restaurant.address.addressLocality }}</p>
    <div id="opening-hours">
    </div>
  </div>

  <div class="row">

    <div class="col-xs-12 col-sm-8">

      {% for menuSection in restaurant.menu.sections %}
        <h2>{{ menuSection.name }}</h2>
        <div class="list-group">
          {% for menuItem in menuSection.items %}
            {% if not menuItem.isAvailable %}
              <a class="list-group-item menu-item menu-item--unavailable">
                <span class="menu-item-content">{{ menuItem.name }}</span>
                {% if menuItem.description is not null %}
                  <p class="menu-item-description">{{ menuItem.description }}</p>
                {%  endif %}
                <span class="menu-item-price"><button type="button" class="btn btn-warning btn-xs">{% trans %}restaurant.unavailable{% endtrans %}</button></span>
              </a>
            {% else %}
              <a  class="list-group-item menu-item"
                  data-menu-item-id="{{ menuItem.id }}"
                  data-menu-item-has-modifiers="{{ (menuItem.modifiers.count > 0) ? 'true' : 'false' }}"
                  {% if menuItem.modifiers.count > 0 %}
                  data-toggle="modal"
                  data-target="#{{ menuItem.id }}-modifiersModal"
                  href="#"
                  {% else %}
                  href="{{ path('restaurant_add_menu_item_to_cart', { restaurantId: restaurant.id, menuItemId: menuItem.id }) }}"
                  {% endif %}>
                <span class="menu-item-content">{{ menuItem.name }}
                  {% if menuItem.description is not null %}
                    <small class="menu-item-description">{{ menuItem.description }}</small>
                  {%  endif %}
                </span>
                <span class="menu-item-price">{{ menuItem.price|number_format(2) }} €</span>
              </a>
            {% endif %}
          {% endfor %}
        </div>
      {% endfor %}

    </div>

    <div class="col-xs-12 col-sm-4">
        <div id="cart"></div>
    </div>

    <div class="visible-xs">
    </div>

  </div>
</div>

{# Modals for modifiers #}

{% for menuSection in restaurant.menu.sections %}
  {% for menuItem in menuSection.items %}
    {% if menuItem.isAvailable and menuItem.modifiers.count > 0 %}
    <div id="{{ menuItem.id }}-modifiersModal" class="modal modifier-modal fade">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">{{ menuItem.name }}</h4>
          </div>
          <div class="modal-body">
            <form
              action="{{ path('restaurant_add_menu_item_to_cart', { restaurantId: restaurant.id, menuItemId: menuItem.id }) }}"
              data-menu-item-modifier>
              {% for modifier in menuItem.modifiers %}
              <h4>{{ modifier.name }}
                {% if modifier.calculusStrategy == 'ADD_MODIFIER_PRICE' %} - {{ modifier.price }}€{% endif %}
              </h4>
              <div class="list-group">
                {% for choice in modifier.modifierChoices %}
                  <div class="list-group-item menu-item modifier-item">
                    <div class="radio nomargin">
                      <label for="{{ choice.id }}-choice">
                        <input
                          name="modifiers[{{ modifier.id }}][]"
                          value="{{ choice.id }}" type="radio" id="{{ choice.id }}-choice">
                        {{ choice.name }}{% if modifier.calculusStrategy == 'ADD_MENUITEM_PRICE' %} - {{ choice.price }}€{% endif %}
                      </label>
                    </div>
                  </div>
                {% endfor %}
              </div>
              {% endfor %}
              <button type="submit" class="btn btn-block btn-primary">Add</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  {% endfor %}
{% endfor %}

<div id="cart-warning-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ 'cart.modal.title'|trans }}</h4>
      </div>
      <div class="modal-body">
        <p>{{ 'cart.modal.content'|trans }}</p>
      </div>
      <div class="modal-footer">
        <button id="cart-warning-cancel" type="button" class="btn btn-default">
          {{ 'cart.modal.cancel'|trans }}
        </button>
        <button id="cart-warning-confirm" type="button" class="btn btn-primary">
          {{ 'cart.modal.confirm'|trans }}
        </button>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{{ asset('js/widgets.js') }}"></script>
<script>

new CoopCycle.OpeningHoursParser(document.querySelector('#opening-hours'), {
  openingHours: {{ restaurant.openingHours|json_encode()|raw }},
  locale: $('html').attr('lang')
})

$('[data-menu-item-id]').on('click', function(e) {
  e.preventDefault();
  var $target = $(e.currentTarget);
  if (!$target.data('menuItemHasModifiers')) {
    window.AppData.CartHelper.addMenuItem($target.attr('href'), 1);
  }
})

$('form[data-menu-item-modifier]').on('submit', function(e) {
  e.preventDefault();
  var data = $(this).serializeArray();
  if (data.length > 0) {
    window.AppData.CartHelper.addMenuItemWithModifiers($(this).attr('action'), data, 1);
    $(this).closest('.modal').modal('hide');
  }
})

function initMap() {

  $('#cart-warning-cancel').on('click', function(e) {
    {% set cart = cart_provider.getCart() %}
    window.location.replace("{{ path('restaurant', { id: cart.restaurant.id }) }}")
    $('#cart-warning-modal').modal('hide');
  })

  $('#cart-warning-confirm').on('click', function(e) {
    window.AppData.CartHelper.reset();
    $('#cart-warning-modal').modal('hide');
  })

  window.AppData.CartHelper.init(document.querySelector('#cart'), {
    restaurant: {
      id: {{ restaurant.id }},
      availabilities: {{ availabilities|json_encode()|raw }}
    },
    cartURL: "{{ path('restaurant_cart', { id: restaurant.id }) }}",
    removeFromCartURL: "{{ path('restaurant_remove_from_cart', { restaurantId: restaurant.id, cartItemId: '__CART_ITEM_ID__' }) }}",
    resetCartURL: "{{ path('restaurant_cart_reset', { id: restaurant.id }) }}",
    onCartWarning: function() {
      $('#cart-warning-modal').modal('show');
    }
  });
}

</script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ craue_setting('google_api_key') }}&libraries=places&callback=initMap"></script>
{% endblock %}
