{% extends "AppBundle::base.html.twig" %}
{% set local_business = restaurant %}

{% block body %}
<div class="container">

  {% if not restaurant.enabled %}
    <div class="row">
      <div class="col-md-6 col-md-offset-3 alert alert-danger">
        {{ "restaurant.disabledWarning" | trans({'%restaurantEditUrl%': restaurant_edit_url}) | raw }}
      </div>
    </div>
  {%  endif %}

  {% if restaurant.hasClosingRuleForNow %}
    <div class="row">
      <div class="col-md-6 col-md-offset-3 alert alert-danger">
        {% trans %}restaurant.temporaryClosedWarning{% endtrans %}
      </div>
    </div>
  {% elseif not restaurant.isOpen %}
    <div class="row">
      <div class="col-md-6 col-md-offset-3 alert alert-warning">
        {% trans %}restaurant.closedWarning{% endtrans %}
      </div>
    </div>
  {%  endif %}

  <div class="page-header restaurant-header">
    {% set restaurant_image = vich_uploader_asset(restaurant, 'imageFile') %}
    {% if restaurant_image is not empty %}
      <div class="restaurant-image" style="background-image: url({{ vich_uploader_asset(restaurant, 'imageFile') }});">
      </div>
    {% endif %}
    <div class="restaurant-title">
      <h1>{{ restaurant.name }}</h1>
      <p>{{ restaurant.address.streetAddress }}, {{ restaurant.address.postalCode }}, {{ restaurant.address.addressLocality }}</p>
      <div id="opening-hours">
      </div>
    </div>
  </div>

  {% include "AppBundle:_partials/LocalBusiness/itemsChoiceList.html.twig" with {local_business: store} %}

  <div id="cart-warning-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">{{ 'cart.modal.title'|trans }}</h4>
        </div>
        <div class="modal-body">
          <p>{{ 'cart.modal.content'|trans }}</p>
        </div>
        <div class="modal-footer">
          <button id="cart-warning-cancel" type="button" class="btn btn-default">
            {{ 'cart.modal.cancel'|trans }}
          </button>
          <button id="cart-warning-confirm" type="button" class="btn btn-primary">
            {{ 'cart.modal.confirm'|trans }}
          </button>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock %}

{% block scripts %}
<script src="{{ asset('js/widgets.js') }}"></script>
<script>

new CoopCycle.OpeningHoursParser(document.querySelector('#opening-hours'), {
  openingHours: {{ restaurant.openingHours|json_encode()|raw }},
  locale: $('html').attr('lang')
})

$('[data-product-code]').on('click', function(e) {
  e.preventDefault();
  var $target = $(e.currentTarget);
  window.AppData.CartHelper.addProduct($target.attr('href'), 1);
})

// Make sure all options have been checked
$('form[data-product-options] input[type="radio"]').on('click', function(e) {

  var $options = $(this).closest('form').find('[data-product-option]');
  var checkedOptionsCount = 0;
  $options.each(function(index, el) {
    checkedOptionsCount += $(el).find('input[type="radio"]:checked').length;
  });

  if ($options.length === checkedOptionsCount) {
    $(this).closest('form').find('button[type="submit"]').attr('disabled', false);
  }
})

$('form[data-product-options]').on('submit', function(e) {
  e.preventDefault();
  var data = $(this).serializeArray();
  if (data.length > 0) {
    window.AppData.CartHelper.addProductWithOptions($(this).attr('action'), data, 1);
    $(this).closest('.modal').modal('hide');
    // Uncheck all options
    $(this).closest('form').find('input[type="radio"]:checked').prop('checked', false);
    $(this).closest('form').find('button[type="submit"]').attr('disabled', true);
  }
})

function initMap() {

  $('#cart-warning-cancel').on('click', function(e) {
    {% set cart = cart_provider.getCart() %}
    window.location.replace("{{ path('restaurant', { id: cart.restaurant.id }) }}")
    $('#cart-warning-modal').modal('hide');
  })

  $('#cart-warning-confirm').on('click', function(e) {
    window.AppData.CartHelper.reset();
    $('#cart-warning-modal').modal('hide');
  })

  window.AppData.CartHelper.init(document.querySelector('#cart'), {
    restaurant: {
      id: {{ restaurant.id }},
      availabilities: {{ availabilities|json_encode()|raw }}
    },
    cartURL: "{{ path('restaurant_cart', { id: restaurant.id }) }}",
    removeFromCartURL: "{{ path('restaurant_remove_from_cart', { restaurantId: restaurant.id, cartItemId: '__CART_ITEM_ID__' }) }}",
    resetCartURL: "{{ path('restaurant_cart_reset', { id: restaurant.id }) }}",
    onCartWarning: function() {
      $('#cart-warning-modal').modal('show');
    }
  });
}

</script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ coopcycle_setting('google_api_key') }}&libraries=places&callback=initMap"></script>
{% endblock %}
