{% extends "AppBundle::base.html.twig" %}

{% block body %}
<div class="container">
  <div class="page-header">
    <h1>{{ restaurant.name }}</h1>
  </div>
  <div class="row">

    <div class="col-xs-12 col-sm-8">

      <div class="list-group">
        {% for product in restaurant.products %}
        <a href="#" class="list-group-item js-add-to-cart" data-product-id="{{ product.id }}">
          {{ product.name }}
          <span class="pull-right">{{ product.price }} €</span>
        </a>
        {% endfor %}
      </div>

    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{% trans %}Cart{% endtrans %}</h3>
        </div>
        <div class="panel-body">
          <div id="cart"></div>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
window.AppData = window.AppData || {};
window.AppData.Cart = {
  addToCartURL: "{{ path('restaurant_add_to_cart', {'id': restaurant.id})|raw }}",
  removeFromCartURL: "{{ path('restaurant_remove_from_cart', {'id': restaurant.id, 'product': '__PRODUCT__'})|raw }}",
  items: {{ cart.items|json_encode()|raw }},
  validateCartURL: "{{ path('order') }}"
}
</script>
<script src="{{ asset('js/cart.js') }}"></script>
{% endblock %}