{% extends layout %}

{% block subnav %}
  <nav class="navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#restaurant-navbar" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <span class="navbar-brand">
          {% if restaurant.id is not empty %}
            <a href="{{ path(restaurant_route, { id: restaurant.id }) }}">{{ restaurant.name }}</a>
            &nbsp;&nbsp;
            <a href="{{ path('restaurant', { id: restaurant.id }) }}" target="_blank">
              <i class="fa fa-external-link"></i>
            </a>
          {% else %}
            {% trans %}restaurant.form.createRestaurant{% endtrans %}
          {% endif %}
        </span>
      </div>
      <div class="collapse navbar-collapse" id="restaurant-navbar">
        <div class="nav navbar-nav navbar-right">
          {% if restaurant.id is not empty %}
            <a href="{{ path(products_route, { id: restaurant.id }) }}" class="btn btn-default navbar-btn">
              <i class="fa fa-database"></i>  {% trans %}restaurant.list.products{% endtrans %}
            </a>
            <a href="{{ path(product_options_route, { id: restaurant.id }) }}" class="btn btn-default navbar-btn">
              <i class="fa fa-sliders"></i>  {% trans %}restaurant.list.product_options{% endtrans %}
            </a>

            {% if restaurant.menuTaxon is not null %}
            <a href="{{ path(menu_taxon_route, { restaurantId: restaurant.id, menuId: restaurant.menuTaxon.id }) }}"
              class="btn btn-default navbar-btn">
              <i class="fa fa-cutlery"></i>  {% trans %}restaurant.list.activeMenu{% endtrans %}
            </a>
            {% endif %}
            <a href="{{ path(menu_taxons_route, { id: restaurant.id }) }}"
              class="btn btn-default navbar-btn">
              <i class="fa fa-list"></i>  {% trans %}restaurant.list.menus{% endtrans %}
            </a>

            <a href="{{ path(dashboard_route, { restaurantId: restaurant.id }) }}" class="btn btn-default navbar-btn">
              <i class="fa fa-cube"></i>  {% trans %}restaurant.list.orders{% endtrans %}
            </a>
            <a href="{{ path(planning_route, { id: restaurant.id }) }}" class="btn btn-default navbar-btn">
              <i class="fa fa-clock-o"></i>  {% trans %}restaurant.list.planning{% endtrans %}
            </a>
            <a href="{{ path(stats_route, { id: restaurant.id }) }}" class="btn btn-default navbar-btn">
              <i class="fa fa-bar-chart"></i>  {% trans %}restaurant.list.stats{% endtrans %}
            </a>

            {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path(preparation_time_route, { id: restaurant.id }) }}" class="btn btn-default navbar-btn">
              <i class="fa fa-clock-o"></i>  {% trans %}restaurant.list.preparationTime{% endtrans %}
            </a>
            {% endif %}

          {% endif %}
        </div>
      </div>
    </div>
  </nav>
{% endblock %}
