{% extends "AppBundle::base.html.twig" %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-xs-12">
    {% include "AppBundle:Restaurant:pagination.html.twig" %}
    </div>
  </div>
  <div class="row display-flex">
    {% for restaurant in restaurants %}
    <div class="col-sm-6 col-md-4 display-flex">

      {% set restaurant_image = vich_uploader_asset(restaurant, 'imageFile') %}

      {% set cuisineNames = [] %}
      {% for cuisine in restaurant.servesCuisine %}
        {% set cuisineNames = cuisineNames|merge([cuisine.name]) %}
      {% endfor %}

      {% if restaurant_image is empty %}

        {% set cuisineImage = 'default' %}
        {% set cuisineImages = [] %}
        {% for cuisine in restaurant.servesCuisine %}
          {% for image in images %}
            {% if image == cuisine.name|slugify %}
              {% set cuisineImages = cuisineImages|merge([image]) %}
            {% endif %}
          {% endfor %}
        {% endfor %}

        {% if cuisineImages|length > 0 %}
          {% set cuisineImage = random(cuisineImages) %}
        {% endif %}

        {% set restaurant_image = asset('img/cuisine/' ~ cuisineImage ~ '.jpg') %}

      {% endif %}

      <a class="thumbnail restaurant-item" href="{{ path('restaurant', {'id': restaurant.id, 'slug': restaurant.name|slugify}) }}">
        <img src="{{ restaurant_image }}" alt="{{ restaurant.name }}">
        <div class="caption">
          <h3>{{ restaurant.name|truncate(24, false, '…') }}</h3>
          <small>{{ restaurant.address.streetAddress }}{{ restaurant.address.streetAddress }}{{ restaurant.address.streetAddress }}</small>
          <p>
            {% for cuisineName in cuisineNames %}
            <span class="label label-info">{{ cuisineName }}</span>
            {% endfor %}
          </p>
        </div>
      </a>

    </div>
    {% endfor %}
  </div>
  <div class="row">
    <div class="col-xs-12">
    {% include "AppBundle:Restaurant:pagination.html.twig" %}
    </div>
  </div>
</div>
{% endblock %}
