{% extends "AppBundle::base.html.twig" %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-md-11 col-md-offset-1 restaurant-list-filter">
        {# hidden form filled with javascript #}
        <form class="form-inline" method="GET" id="restaurant-search-form" action="{{ path('restaurants') }}">
          <input type="hidden" name="geohash" value={{ geohash }}>
          <input type="hidden" name="datetime">
        </form>
        <div id="restaurant-list-filter">
        </div>
    </div>
  </div>

  {%  if count == 0 %}
      <div class="col-md-6 col-md-offset-3 alert alert-warning text-center">
          {{ 'norestaurantfound'|trans|raw }}
      </div>
  {% else %}
    <div class="row display-flex">
      {% for restaurant in restaurants %}
      <div class="col-sm-6 col-md-4 display-flex">

        {% set restaurant_image = vich_uploader_asset(restaurant, 'imageFile') %}

        {% set cuisineNames = [] %}
        {% for cuisine in restaurant.servesCuisine %}
          {% set cuisineNames = cuisineNames|merge([cuisine.name]) %}
        {% endfor %}

        {% if restaurant_image is empty %}

          {% set cuisineImage = 'default' %}
          {% set cuisineImages = [] %}
          {% for cuisine in restaurant.servesCuisine %}
            {% for image in images %}
              {% if image == cuisine.name|slugify %}
                {% set cuisineImages = cuisineImages|merge([image]) %}
              {% endif %}
            {% endfor %}
          {% endfor %}

          {% if cuisineImages|length > 0 %}
            {% set cuisineImage = random(cuisineImages) %}
          {% endif %}

          {% set restaurant_image = asset('img/cuisine/' ~ cuisineImage ~ '.jpg') %}

        {% endif %}

        <a class="thumbnail restaurant-item" href="{{ path('restaurant', {'id': restaurant.id, 'slug': restaurant.name|slugify}) }}">
          <img src="{{ restaurant_image }}" alt="{{ restaurant.name }}">
          <div class="caption">
            <h3>{{ restaurant.name|truncate(24, false, '…') }}</h3>
            <small>{{ restaurant.address.streetAddress }}</small>
            <p>
              {% for cuisineName in cuisineNames %}
              <span class="label label-info">{{ cuisineName }}</span>
              {% endfor %}
            </p>
          </div>
        </a>

      </div>
      {% endfor %}
    {%  endif %}
  </div>
  <div class="row">
    <div class="col-xs-12">
    {% include "AppBundle:Restaurant:pagination.html.twig" %}
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
  <script>
    window.AppData = window.AppData || {};
    window.AppData.searchDate = "{{ searchDate }}";
    window.AppData.geohash = "{{ geohash }}";
    window.AppData.addresses = [];
    {% for address in  addresses %}
      window.AppData.addresses.push({
        'city': "{{ address.addressLocality }}",
        'postalCode': "{{ address.postalCode }}",
        'streetAddress': "{{ address.streetAddress }}",
      });
    {% endfor %}
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key={{ craue_setting('google_api_key') }}&libraries=places"></script>
  <script src="{{ asset('js/restaurant-list.js') }}"></script>
{% endblock %}

