{% extends "@App/base.html.twig" %}

{% block body %}

<header class="restaurant-list-header">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div id="address-search">
          <!-- This will be replaced by React -->
          <div class="form-group">
            <input class="form-control" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Do NOT put the search component inside the form -->
  <form method="GET" id="restaurant-search-form" action="{{ path('restaurants') }}">
    <input type="hidden" name="geohash" value="{{ geohash }}">
  </form>
</header>
<div class="container">
  {% if count == 0 %}
    <div class="col-md-6 col-md-offset-3 alert alert-warning text-center">
      {{ 'restaurants.no_results'|trans|raw }}
    </div>
  {% else %}
    <div class="row display-flex restaurant-list">
      {% for restaurant in restaurants %}
      <div class="col-sm-6 col-md-4 display-flex">
        {% include "@App/_partials/restaurant/list_thumbnail.html.twig" %}
      </div>
      {% endfor %}
    </div>
    <div class="row">
      <div class="col-xs-12">
        {% include "@App/restaurant/pagination.html.twig" %}
      </div>
    </div>
    {% set restaurant_pledges_enabled = coopcycle_setting('enable_restaurant_pledges') %}
    {% if 'yes' == restaurant_pledges_enabled %}
    <div class="text-center">
      <a href="{{ path('restaurants_suggest') }}">
        {% trans %}base.footer.suggest{% endtrans %}
      </a>
    </div>
    {% endif %}
  {% endif %}
</div>
{% endblock %}

{% block scripts %}
  <script>
  var initialGeohash = "{{ geohash }}";
  function initMap() {
    var $searchForm = $('#restaurant-search-form');
    new CoopCycle.AddressAutosuggest(document.querySelector('#address-search'), {
      address: sessionStorage.getItem('search_address') || '',
      addresses: {{ addresses_normalized|json_encode()|raw }},
      geohash: initialGeohash,
      onAddressSelected: function(value, address, type) {

        var $addressInput = $searchForm.find('input[name="address"]');
        var $geohashInput = $searchForm.find('input[name="geohash"]');

        if (address.geohash !== initialGeohash) {

          if (type === 'address') {
            if ($addressInput.length === 0) {
              var $newAddressInput = $('<input>');
              $newAddressInput.attr('type', 'hidden');
              $newAddressInput.attr('name', 'address');
              $newAddressInput.val(address.id.toString(36));
              $searchForm.append($newAddressInput);
            }
          }

          if (type === 'prediction') {
            if ($addressInput.length > 0) {
              $addressInput.remove();
            }
          }

          sessionStorage.setItem('search_geohash', address.geohash);
          sessionStorage.setItem('search_address', value);

          _paq.push(['trackEvent', 'RestaurantList', 'searchAddress', value]);

          $geohashInput.val(address.geohash);
          $searchForm.submit();
        }
      }
    });
  }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key={{ coopcycle_setting('google_api_key') }}&libraries=places&callback=initMap" async defer></script>
{% endblock %}

