<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}CoopCycle - {{ 'meta.title'|trans }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Arvo:400,700">
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <style>
    html, body {
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
    }
    #wrap {
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      flex-direction: row;
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
    }
    #wrap .map {
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-flex: 7.5;
      -webkit-flex: 7.5;
      -ms-flex: 7.5;
      flex: 7.5;
    }
    #map {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
    }
    #wrap .menu {
      -webkit-box-flex: 2.5;
      -webkit-flex: 2.5;
      -ms-flex: 2.5;
      flex: 2.5;
      overflow: auto;
      background-color: #333;
    }
    #order-list {
      padding: 10px;
    }
    #order-list ul li {
      margin-bottom: 10px;
      padding: 10px;
      border: 2px solid;
      cursor: pointer;
    }
    #order-list ul li h5 {
      margin-top: 0;
    }
    #order-list ul li:hover,
    #order-list ul li:active,
    #order-list ul li.active {
      background-color: #222;
    }
    .close {
      text-shadow: none;
      opacity: 1;
    }
    </style>
  </head>
  <body>
    <div id="wrap">
        <div class="map">
          <div id="map"></div>
        </div>
    </div>
    <script src="{{ asset('manifest.js') }}"></script>
    <script src="{{ asset('js/vendor.js') }}"></script>
    <script src="{{ asset('js/common.js') }}"></script>
    <script>
    window.__restaurants = {{ restaurants|raw }};
    </script>
    {% include "AppBundle::_partials/mapHelper.html.twig" %}
    <script src="{{ asset('js/restaurants-map.js') }}"></script>
    {% if app.environment == "dev" %}
    <script src="{{ asset('webpack-dev-server.js') }}"></script>
    {% endif %}
  </body>
</html>

