{% extends '@App/restaurant/layout.html.twig' %}

{% block breadcrumb %}
  <li><a href="{{ path(restaurants_route) }}">{% trans %}adminDashboard.restaurants.title{% endtrans %}</a></li>
  <li><a href="{{ path(restaurant_route, { id: restaurant.id }) }}">{{ restaurant.name }}</a></li>
  <li>{% trans %}Menus{% endtrans %}</li>
{% endblock %}

{% block content %}
  <p class="text-right">
    <a class="btn btn-success" href="{{ path(new_menu_route, { id: restaurant.id }) }}">
      <i class="fa fa-plus"></i> {{ 'basics.add'|trans }}
    </a>
  </p>
  {% if menus|length > 0 %}
  <table class="table">
    <thead>
      <th></th>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </thead>
    <tbody>
      {% for menu in menus %}
      <tr {% if restaurant.menuTaxon == menu %}class="active"{% endif %}>
        <td width="5%">
          {% if restaurant.menuTaxon == menu %}
            <i class="fa fa-check"></i>
          {% endif %}
        </td>
        <td>
          {{ menu.name }}
        </td>
        <td class="text-right" width="10%">
          {% if restaurant.menuTaxon != menu %}
            <form method="post" action="{{ path(menu_activate_route, { restaurantId: restaurant.id, menuId: menu.id }) }}">
              <button type="submit" class="btn btn-xs btn-success">
                <i class="fa fa-check"></i> {{ 'restaurant.menus.activate'|trans }}
              </button>
            </form>
          {% endif %}
        </td>
        <td class="text-right" width="10%">
          <a class="btn btn-xs btn-default" href="{{ path(menu_route, { restaurantId: restaurant.id, menuId: menu.id }) }}">
            <i class="fa fa-pencil"></i> {{ 'basics.edit'|trans }}
          </a>
        </td>
        <td class="text-center" width="5%">
          {% if forms[menu.id] is defined %}
            {% set menu_form = forms[menu.id] %}
            {% if menu_form.vars.value != restaurant.menuTaxon %}
              {{ form_start(menu_form, { action: path(menu_route, { restaurantId: restaurant.id, menuId: menu.id }) }) }}
                {{ form_widget(menu_form.delete, { attr: {
                  class: 'btn-xs btn-danger btn-confirm-delete',
                  'data-confirm': 'delete',
                  'data-confirm-message': 'basics.are_you_sure'|trans
                } }) }}
                {{ form_widget(menu_form._token) }}
              {{ form_end(menu_form, { render_rest: false }) }}
            {% endif %}
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
    <div class="alert alert-warning">{% trans %}restaurant.menus.noMenus{% endtrans %}</div>
  {% endif %}

{% endblock %}

{% block scripts %}
<script>
  new CoopCycle.ConfirmDelete('[data-confirm="delete"]');
</script>
{% endblock %}
