{% extends '@App/restaurant/layout.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% form_theme menu_editor_form '@App/form/menu_editor.html.twig' %}

{% block breadcrumb %}
  {% set menu = form.vars.value %}
  <li><a href="{{ path(restaurants_route) }}">{% trans %}adminDashboard.restaurants.title{% endtrans %}</a></li>
  <li><a href="{{ path(restaurant_route, { id: restaurant.id }) }}">{{ restaurant.name }}</a></li>
  <li><a href="{{ path(menu_taxons_route, { id: restaurant.id }) }}">Menus</a></li>
  <li>{% if menu.id is not null %}{{ menu.name }}{% else %}{{ 'basics.add'|trans }}{% endif %}</li>
{% endblock %}

{% block content %}

  {% set menu = form.vars.value %}

  {{ form_start(form) }}

    {{ form_errors(form) }}

    <div class="form-group row">
      <div class="col-md-10">
        {{ form_row(form.name) }}
      </div>
      <div class="col-md-2">
        <label> </label>
        <button id="menu_taxon_save" type="submit" class="btn btn-block btn-primary">{{ 'basics.save'|trans }}</button>
      </div>
    </div>

    {% if form.childName is defined and form.addChild is defined %}
      <div class="form-group row">
        <div class="col-md-10">
          {{ form_widget(form.childName) }}
        </div>
        <div class="col-md-2">
          {{ form_widget(form.addChild, { attr: { class: 'btn btn-block btn-success' } }) }}
        </div>
      </div>
    {% endif %}

    {% if form.delete is defined %}
      {% do form.delete.setRendered %}
    {% endif %}

  {{ form_end(form) }}

  {% if menu.id is not null %}

    {{ form_start(menu_editor_form) }}

    <div class="alert alert-info">
      <i class="fa fa-info-circle"></i> {% trans %}form.menu_editor.help{% endtrans %}
    </div>

    <div class="menuEditor">
      <div class="menuEditor__left">
        {% for child in menu_editor_form.children %}
          <div class="menuEditor__panel" data-taxon-id="{{ child.vars.value.id }}">
            <h4 class="menuEditor__panel__title">
              <i class="fa fa-arrows" aria-hidden="true"></i>  
                <a href="#"
                data-toggle="modal"
                data-target="#editTaxonModal"
                data-edit-taxon-id="{{ child.vars.value.id }}">{{ child.vars.value.name }}</a> 
                <a href="#"
                data-toggle="modal"
                data-target="#editTaxonModal"
                data-edit-taxon-id="{{ child.vars.value.id }}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
              {% set delete_section_params = {
                restaurantId: restaurant.id,
                menuId: menu.id,
                sectionId: child.vars.value.id
              } %}
              <a class="pull-right"
                href="{{ path(delete_section_route, delete_section_params) }}"
                data-delete-taxon-id="{{ child.vars.value.id }}">
                <i class="fa fa-close"></i>
              </a>
            </h4>
            <div class="menuEditor__panel__body" data-draggable-target data-taxon-id="{{ child.vars.value.id }}">
              {% for product in child.vars.value.products %}
              <div class="menuEditor__product" data-product-id="{{ product.id }}">
                {{ product.name }}
              </div>
              {% endfor %}
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="menuEditor__right">
        <div class="menuEditor__panel menuEditor__productList">
          <h4 class="menuEditor__panel__title">
            {{ 'form.menu_editor.products_panel.title'|trans }}
          </h4>
          <div class="menuEditor__panel__body" data-draggable-source>
            {% for product in menu_editor_form.vars.value.products %}
              <div class="menuEditor__product" data-product-id="{{ product.id }}">
                {{ product.name }}
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

    <p class="help-block">
      {% trans with { '%products_url%': path(products_route, { id: restaurant.id }) } %}form.menu_editor.products.help{% endtrans %}
    </p>

    <button type="submit" class="btn btn-block btn-lg btn-primary">
      {{ 'form.menu_editor.save.label'|trans }}
    </button>

    {# Useful for debugging #}
    {% set debug_menu_editor = false %}
    <div class="{% if not debug_menu_editor %}hidden{% endif %}">
    {{ form_widget(menu_editor_form.children, { label: false }) }}
    </div>

    {{ form_end(menu_editor_form) }}

    <form id="delete_section" method="post" action=""></form>

    <div class="modal fade" id="editTaxonModal" tabindex="-1" role="dialog" aria-labelledby="editTaxonModalLabel">
      <div class="modal-dialog" role="document">
        <form class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="editTaxonModalLabel">{{ 'form.menu_editor.taxon_modal.title'|trans }}</h4>
          </div>
          <div class="modal-body">
            <input type="hidden">
            <div class="form-group">
              <label for="taxon-name" class="control-label">{{ 'basics.name'|trans }}</label>
              <input type="text" class="form-control" id="taxon-name">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'basics.cancel'|trans }}</button>
            <button type="submit" class="btn btn-primary">{{ 'basics.save'|trans }}</button>
          </div>
        </form>
      </div>
    </div>

  {% endif %}

{% endblock %}

{% block scripts %}
<script>
$('#menu_taxon_save').on('click', function(e) {
  $('#menu_taxon_childName').removeAttr('required')
});
$('[data-delete-taxon-id]').on('click', function(e) {
  e.preventDefault();
  $('#delete_section').attr('action', $(this).attr('href'));
  $('#delete_section').submit();
})
setTimeout(function() {
  $('.flash-messages .alert').fadeOut();
}, 1000);
</script>
{{ encore_entry_script_tags('restaurant-menu-editor') }}
{% endblock %}
