{% extends '@App/restaurant/layout.html.twig' %}

{% block breadcrumb %}
  <li><a href="{{ path(restaurants_route) }}">{% trans %}adminDashboard.restaurants.title{% endtrans %}</a></li>
  <li><a href="{{ path(restaurant_route, { id: restaurant.id }) }}">{{ restaurant.name }}</a></li>
  <li>{% trans %}restaurant.list.products{% endtrans %}</li>
{% endblock %}

{% block content %}
<p class="text-right">
  <a href="{{ path(new_product_route, { id: restaurant.id }) }}"
    class="btn btn-success"><i class="fa fa-plus"></i> {{ 'basics.add'|trans }}</a>
</p>
<table class="table">
  <thead>
    <th></th>
    <th>{{ 'form.product.name.label'|trans }}</th>
    <th class="text-right">{{ 'basics.price'|trans }}</th>
    <th class="text-right">{{ 'basics.tax_category'|trans }}</th>
    <th class="text-right">Options</th>
    <th></th>
    <th></th>
  </thead>
  <tbody>
    {% for product in products %}
    {% set default_variant = product|sylius_resolve_variant %}
    <tr>
      <td>
        {% if product.enabled %}
          <i class="fa fa-toggle-on"></i>
        {% else %}
          <i class="fa fa-toggle-off"></i>
        {% endif %}
      </td>
      <td>{{ product.name }}</td>
      <td class="text-right" width="10%">{{ default_variant.price|price_format }}</td>
      <td class="text-right">{{ default_variant.taxCategory.name }}</td>
      <td class="text-right">{{ product.options|length }}</td>
      <td class="text-right">
        <a href="{{ path(product_route, { restaurantId: restaurant.id, productId: product.id }) }}"
          class="btn btn-xs btn-default"><i class="fa fa-pencil"></i> {{ 'basics.edit'|trans }}</a>
      </td>
      <td class="text-center">
        {% if forms[product.id] is defined %}
          {% set product_form = forms[product.id] %}
          {{ form_start(product_form, { action: path(product_route, { restaurantId: restaurant.id, productId: product.id }) }) }}
            {{ form_widget(product_form.delete, { attr: {
              class: 'btn-xs btn-danger btn-confirm-delete',
              'data-confirm': 'delete',
              'data-confirm-message': 'basics.are_you_sure'|trans
            } }) }}
            {{ form_widget(product_form._token) }}
          {{ form_end(product_form, { render_rest: false }) }}
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block scripts %}
<script>
  new CoopCycle.ConfirmDelete('[data-confirm="delete"]');
</script>
{% endblock %}
