{% extends '@App/Restaurant/layout.html.twig' %}

{% form_theme form '@App/Form/product.html.twig' %}

{% block breadcrumb %}
  <li><a href="{{ path(restaurants_route) }}">{% trans %}adminDashboard.restaurants.title{% endtrans %}</a></li>
  <li><a href="{{ path(restaurant_route, { id: restaurant.id }) }}">{{ restaurant.name }}</a></li>
  <li><a href="{{ path(products_route, { id: restaurant.id }) }}">{{ 'restaurant.list.products'|trans }}</a></li>
  <li>{{ product.name }}</li>
{% endblock %}

{% block content %}
{{ form_start(form) }}

  {% if not form.vars.valid %}
      {{ form_errors(form) }}
  {% endif %}

  {{ form_row(form.name) }}
  {{ form_row(form.description) }}
  {{ form_row(form.enabled) }}

  <div class="row">
    <div class="col-sm-6">
      {{ form_row(form.price) }}
    </div>
    <div class="col-sm-6">
      {{ form_row(form.taxCategory) }}
    </div>
  </div>

  {{ form_row(form.options) }}

  <button type="submit" class="btn btn-block btn-primary">{{ 'basics.save'|trans }}</button>
{{ form_end(form) }}
{% endblock %}
