{% extends "deliveries.html.twig" %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block breadcrumb %}
{% set integration = form.vars.data %}
{% set is_new_integration = (integration.id is null) %}
<li><a href="{{ path('admin_integrations') }}">{{ 'integrations.breadcrumb'|trans }}</a></li>
<li><a href="{{ path('admin_integrations_woopit') }}">Woopit</a></li>
<li>{{ is_new_integration ? 'basics.add'|trans : integration.name }}</li>
{% endblock %}

{% block content %}
{{ form_start(form) }}
  {{ form_widget(form) }}
  <button type="submit" class="btn btn-block btn-primary">
    {{ 'basics.save'|trans }}
  </button>
{{ form_end(form) }}
{% endblock %}
