{% extends layout %}

{% form_theme form 'form/delivery.html.twig' %}

{% block dashboard_subnav %}
  <div>
    <a href="{{ path(back_route) }}">
      <i class="fa fa-arrow-left mr-2"></i>{{ 'stores.deliveries'|trans }}
    </a>
  </div>
{% endblock %}

{% set delivery = form.vars.value %}

{% block content %}

  {% include 'delivery/_partials/navbar.html.twig' %}
  {% set is_new = delivery.id is null %}


  <div {{ react_component('Delivery/DeliveryForm', { isNew: is_new }) }}></div>


  {% block alerts %}
  {% endblock %}


{% endblock %}

{% block styles %}
  {{ encore_entry_link_tags('delivery-form') }}
{% endblock %}

{% block scripts %}
{{ encore_entry_script_tags('delivery-form') }}
{% endblock %}
