<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
  <head>
    {{ sonata_seo_title() }}
    {{ sonata_seo_link_canonical() }}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    {{ sonata_seo_metadatas() }}
    {{ encore_entry_link_tags('common') }}
    {{ encore_entry_link_tags('delivery-tracking') }}
    {% block styles %}{% endblock %}
    {% block structured_data %}{% endblock %}
  </head>
  <body data-country="{{ country_iso }}" data-currency-symbol="{{ currency_context.currencyCode|sylius_currency_symbol }}" data-timezone="{{ coopcycle_setting('timezone') }}">

    <div class="delivery__tracking">
      <div class="delivery__tracking__topnav">
        {% if delivery.order is not empty %}
          <h1>{{ 'delivery.with_id'|trans({ '%id%': delivery.order.number }) }}</h1>
        {% else %}
          <h1>{{ 'delivery.with_id'|trans({ '%id%': delivery.id }) }}</h1>
        {% endif %}
      </div>
      <div class="delivery__tracking__map-container">
        <div id="map" class="delivery__tracking__map"></div>
      </div>
      <div class="delivery__tracking__bottomnav">
        <div>
          <i class="fa fa-cube"></i>
          <span>{{ delivery.pickup.address.streetAddress }}</span>
        </div>
        <div>
          <small class="text-muted">{{ delivery.pickup.doneBefore|format_datetime('short', 'short') }}</small>
        </div>
        <div>
          <i class="fa fa-arrow-down"></i>
          <span>{{ delivery.dropoff.address.streetAddress }}</span>
        </div>
        <div>
          <small class="text-muted">{{ delivery.dropoff.doneBefore|format_datetime('short', 'short') }}</small>
        </div>
      </div>
    </div>

    <div id="cpccl_settings"
      data-latlng="{{ coopcycle_setting('latlng')|json_encode|e('html_attr') }}"></div>

    {% if app.environment == "prod" %}
    <div id="sentry" data-dsn="{{ sentry_public_dsn }}"></div>
    {{ encore_entry_script_tags('sentry') }}
    {% endif %}

    <script src="/tracking/socket.io/socket.io.js"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

    {{ encore_entry_script_tags('common') }}

    <div id="delivery"
      data-pickup="{{ [ delivery.pickup.address.geo.latitude, delivery.pickup.address.geo.longitude ]|json_encode|e('html_attr') }}"
      data-dropoff="{{ [ delivery.dropoff.address.geo.latitude, delivery.dropoff.address.geo.longitude ]|json_encode|e('html_attr') }}"
      data-polyline="{{ delivery.polyline|e('html_attr') }}"
      data-is-completed="{{ delivery.completed|json_encode|e('html_attr') }}"
      data-centrifugo-token="{{ centrifugo_token|json_encode|e('html_attr') }}"
      data-centrifugo-channel="{{ centrifugo_channel|json_encode|e('html_attr') }}"></div>

    {{ encore_entry_script_tags('delivery-tracking') }}

    {% include "_partials/analytics.html.twig" %}
  </body>
</html>
