{% extends "frontend.html.twig" %}

{% block banner %}{% endblock %}
{% block menu %}{% endblock %}
{% block footer %}{% endblock %}

{% block body %}
<div class="delivery__tracking">
  <div class="delivery__tracking__topnav">
    {% if delivery.order is not empty %}
      <h1>{{ 'delivery.with_id'|trans({ '%id%': delivery.order.number }) }}</h1>
    {% else %}
      <h1>{{ 'delivery.with_id'|trans({ '%id%': delivery.id }) }}</h1>
    {% endif %}
  </div>
  <div class="delivery__tracking__map-container">
    <div id="map" class="delivery__tracking__map"></div>
  </div>
  <div class="delivery__tracking__bottomnav">
    <div>
      <i class="fa fa-cube"></i>
      <span>{{ delivery.pickup.address.streetAddress }}</span>
    </div>
    <div>
      <small class="text-muted">{{ delivery.pickup.doneBefore|format_datetime('short', 'short') }}</small>
    </div>
    <div>
      <i class="fa fa-arrow-down"></i>
      <span>{{ delivery.dropoff.address.streetAddress }}</span>
    </div>
    <div>
      <small class="text-muted">{{ delivery.dropoff.doneBefore|format_datetime('short', 'short') }}</small>
    </div>
  </div>
</div>
<div id="delivery"
  data-pickup="{{ [ delivery.pickup.address.geo.latitude, delivery.pickup.address.geo.longitude ]|json_encode|e('html_attr') }}"
  data-dropoff="{{ [ delivery.dropoff.address.geo.latitude, delivery.dropoff.address.geo.longitude ]|json_encode|e('html_attr') }}"
  data-polyline="{{ delivery.polyline|e('html_attr') }}"
  data-is-completed="{{ delivery.completed|json_encode|e('html_attr') }}"
  data-centrifugo-token="{{ centrifugo_token|json_encode|e('html_attr') }}"
  data-centrifugo-channel="{{ centrifugo_channel|json_encode|e('html_attr') }}"></div>
{% endblock %}

{% block styles %}
  {{ encore_entry_link_tags('delivery-tracking') }}
{% endblock %}

{% block scripts %}
  {{ encore_entry_script_tags('delivery-tracking') }}
{% endblock %}
