{{ form_row(form.name) }}
{{ form_row(form.type) }}

{{ form_row(form.address) }}
{{ form_row(form.dayOfWeekAddresses) }}
<div class="d-flex justify-content-end gap-2">
  {{ form_help(form.dayOfWeekAddresses) }}
  <button type="button" class="btn btn-default btn-sm" id="day-of-week-address-add">
    {{ 'localBusiness.form.day_of_week_addresses.add'|trans }}
  </button>
</div>
{{ form_row(form.useDifferentBusinessAddress) }}
{{ form_row(form.businessAddress) }}

{{ form_row(form.description) }}
{{ form_row(form.legalName) }}
{{ form_row(form.website) }}
{{ form_row(form.telephone) }}

{% if form.siret is defined %}
{{ form_row(form.siret) }}
{% endif %}
{% if form.vat_number is defined %}
{{ form_row(form.vat_number) }}
{% endif %}
{% if form.rcs_number is defined %}
{{ form_row(form.rcs_number) }}
{% endif %}

{% if form.cuit is defined %}
{{ form_row(form.cuit) }}
{% endif %}
