{% if restaurant.id is not null %}

  {% if payment_gateway_resolver.supports('stripe') and show_stripe_connect %}

    {% include "_partials/restaurant/stripe_accounts.html.twig" %}

    {% if form.allowStripeConnect is defined %}
      <div class="alert alert-warning">
        {{ 'restaurant.form.allow_stripe_connect.label'|trans }}
        <div class="pull-right">
          {{ form_widget(form.allowStripeConnect, { attr: { class: 'checkbox switch' }}) }}
        </div>
      </div>
    {% endif %}

  {% endif %}

  {% if payment_gateway_resolver.supports('mercadopago') %}
    {% include "_partials/restaurant/mercadopago_accounts.html.twig" %}

    {% if form.allowMercadopagoConnect is defined %}
      <div class="mt-4 alert alert-warning">
        {{ 'restaurant.form.allow_mercadopago_connect.label'|trans }}
        <div class="pull-right">
          {{ form_widget(form.allowMercadopagoConnect, { attr: { class: 'checkbox switch' }}) }}
        </div>
      </div>
    {% endif %}
  {% endif %}

  {% if form.edenredEnabled is defined %}
      <div class="alert alert-warning">
        {{ field_label(form.edenredEnabled) }}
        <div class="pull-right">
          {{ form_widget(form.edenredEnabled, { attr: { class: 'checkbox switch' }}) }}
        </div>
      </div>
    {% endif %}

  {% if form.paygreenShopId is defined %}
    <h4>{{ 'form.local_business.paygreen_account.title'|trans }}</h4>
    {{ form_row(form.paygreenShopId) }}
  {% endif %}

{% endif %}

{% if form.allowStripeConnect is defined and not form.allowStripeConnect.rendered %}
  {% do form.allowStripeConnect.setRendered %}
{% endif %}
{% if form.allowMercadopagoConnect is defined and not form.allowMercadopagoConnect.rendered %}
  {% do form.allowMercadopagoConnect.setRendered %}
{% endif %}

{% if form.edenredEnabled is defined and not form.edenredEnabled.rendered %}
  {% do form.edenredEnabled.setRendered %}
{% endif %}
