{% if restaurant.id is not null %}

  {% set gateway = payment_gateway_resolver.resolve() %}

  {% if gateway == 'stripe' and show_stripe_connect %}

    {% include "_partials/restaurant/stripe_accounts.html.twig" %}

    {% if form.allowStripeConnect is defined %}
      <div class="alert alert-warning">
        {{ 'restaurant.form.allow_stripe_connect.label'|trans }}
        <div class="pull-right">
          {{ form_widget(form.allowStripeConnect, { attr: { class: 'checkbox switch' }}) }}
        </div>
      </div>
    {% endif %}
    {% if form.enableGiropay is defined %}
      <div class="alert alert-warning">
        {{ 'restaurant.form.giropay_enabled.label'|trans }}
        <div class="pull-right">
          {{ form_widget(form.enableGiropay, { attr: { class: 'checkbox switch' }}) }}
        </div>
      </div>
    {% endif %}

  {% endif %}

  {% if gateway == 'mercadopago' %}
    {% include "_partials/restaurant/mercadopago_accounts.html.twig" %}
  {% endif %}

{% endif %}

{% if form.allowStripeConnect is defined and not form.allowStripeConnect.rendered %}
  {% do form.allowStripeConnect.setRendered %}
{% endif %}
{% if form.enableGiropay is defined and not form.enableGiropay.rendered %}
  {% do form.enableGiropay.setRendered %}
{% endif %}

{% if form.edenredMerchantId is defined %}
  {{ form_row(form.edenredMerchantId) }}
{% endif %}
