{% extends 'emails/layout.mjml.twig' %}

{% block content %}
<mj-column>
  {% if is_admin is defined and is_admin %}
    <mj-text align="left" line-height="20px">
    {% if order.hasVendor() %}
      {{ 'admin.order_foodtech.created.body' | trans({
        '%order.url%': url('admin_order', { id: order.id }),
        '%restaurant.name%': order.vendorMetadata.name
      }, 'emails') | raw }}
    {% else %}
      {{ 'admin.order.created.body' | trans({
        '%order.url%': url('admin_order', { id: order.id }),
      }, 'emails') | raw }}
    {% endif %}
    </mj-text>
    <mj-button font-family="Raleway, Arial, sans-serif" background-color="#10ac84" color="white" href="{{ url('admin_order', { id: order.id }) }}">
    {{ 'order.view' | trans({}, 'emails') }}
    </mj-button>
  {% else %}
    <mj-text align="left" line-height="20px">
    {{ 'order.created.body' | trans({}, 'emails') | raw }}
    </mj-text>
    {% include 'emails/order/_partials/items.mjml.twig' %}
    <mj-button font-family="Raleway, Arial, sans-serif" background-color="#10ac84" color="white" href="{{ url('order_confirm', { hashid: order|hashid(16) }) }}">
      {{ 'order.view' | trans({}, 'emails') }}
    </mj-button>
    <mj-divider border-width="1px" border-style="dashed" border-color="lightgrey" />
    <mj-text align="center" line-height="20px">
      <a href="{{ url('covid_19') }}">{{ 'covid_19.subject' | trans({}, 'emails') }}</a>
    </mj-text>
  {% endif %}
</mj-column>
{% endblock %}
