<section class="homepage-restaurants">
  <div class="container">
    <h2 class="homepage-restaurants__title">{{ section_title }}</h2>
    {% if show_more %}
    <div class="homepage-restaurants__show-more text-left">
      <a href="{{ view_all_path }}">{{ view_all }} →</a>
    </div>
    {% endif %}
    <div class="row display-flex restaurant-list">
      {% for restaurant in items %}
        <div class="col-xs-12 col-md-4 display-flex">
          {% include "@App/_partials/restaurant/list_thumbnail.html.twig" %}
        </div>
      {% endfor %}
      {% if items|length < max_results %}
        {% set pad = (max_results - items|length) %}
        {% for i in range(0, (pad - 1)) %}
          <div class="col-xs-12 col-md-4 display-flex">
            <div class="thumbnail restaurant-item">
              <img class="restaurant-image restaurant-image--placeholder" src="{{ asset('img/restaurant/placeholder.png') }}">
              <div class="caption">
                <h4>{% trans %}restaurants.placeholder.title{% endtrans %}</h4>
                <p class="text-muted">{% trans %}restaurants.placeholder.text{% endtrans %}</p>
              </div>
            </div>
          </div>
        {% endfor %}
      {% endif %}
    </div>
    {% if show_more %}
    <div class="homepage-restaurants__show-more text-right">
      <a href="{{ view_all_path }}">{{ view_all }} →</a>
    </div>
    {% endif %}
  </div>
</section>
