{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="text-center">
      <a href="{{ path('hwi_oauth_service_redirect', { service: 'facebook' }) }}" class="btn btn-facebook" alt="{{ 'social.sign_in_with_facebook'|trans }}">
        <i class="fa fa-facebook-official"></i>  {{ 'social.sign_in_with_facebook'|trans({}, 'messages') }}
      </a>
    </div>
    <hr>
    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
      {{ form_widget(form) }}
      <div>
        <button type="submit" class="btn btn-block btn-lg btn-primary">{{ 'registration.submit'|trans }}</button>
      </div>
    {{ form_end(form) }}
    <hr>
    <div class="text-center">
      <p>
        <span>{% trans from 'messages' %}authentication.already_registered{% endtrans %}</span> 
        <a href="{{ path('fos_user_security_login') }}">{% trans from 'messages' %}authentication.sign_in{% endtrans %}</a>
      </p>
    </div>
  </div>
</div>
