{% extends "base.html.twig" %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block body %}
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      {{ form_start(form, {'method': 'post', 'action': path('request_restaurant'), 'attr': {'class': 'fos_user_registration_register'}}) }}
      {{ form_widget(form) }}
      <div>
        <button type="submit" class="btn btn-block btn-lg btn-primary">{{ 'basics.save'|trans }}</button>
      </div>
      {{ form_end(form) }}
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="https://maps.googleapis.com/maps/api/js?key={{ coopcycle_setting('google_api_key') }}&libraries=places&language={{ app.request.locale }}&callback=initMap"
          async defer></script>
{% endblock %}
