{% extends layout %}

{% set is_new = delivery.id is null %}

{% if is_new %}
  {% set title = 'orders.new'|trans %}
{% else %}
  {% set order = delivery.order %}
  {% if order is not null %}
    {% set title = 'order.summary.heading'|trans({ '%number%': order.number }) %}
  {% else %}
    {% set title = 'delivery.with_id'|trans({ '%id%': delivery.id }) %}
  {% endif %}
{% endif %}

{% block prepare_title %}
  {% if is_new %}
    {{ add_title_prefix(title) }}
  {% else %}
    {% if is_granted('ROLE_DISPATCHER') %}
      {{ add_title_prefix('basics.editing'|trans ~ ': ' ~ title) }}
    {% else %}
      {{ add_title_prefix(title) }}
    {% endif %}
  {% endif %}
{% endblock %}

{% block breadcrumb %}

  {% if is_new %}
    <li><a href="{{ path(stores_route) }}">{% trans %}adminDashboard.stores.title{% endtrans %}</a></li>
    <li><a href="{{ path(store_route, { id: store.id }) }}">{{ store.name }}</a></li>
    <li><a href="{{ path(store_deliveries_route, { id: store.id }) }}">{% trans %}stores.deliveries{% endtrans %}</a></li>
    <li>{% trans %}orders.new{% endtrans %}</li>
  {% else %}
    {% if is_granted('ROLE_DISPATCHER') %}
      {% set store = delivery.store %}

      {% if store is not null %}
        <li><a href="{{ path('admin_stores') }}">{% trans %}adminDashboard.stores.title{% endtrans %}</a></li>
        <li><a href="{{ path('admin_store', { id: store.id }) }}">{{ store.name }}</a></li>
        <li><a href="{{ path('admin_store_deliveries', { id: store.id }) }}">{% trans %}stores.deliveries{% endtrans %}</a></li>
        {% if order is not null %}
          <li><a href="{{ path('admin_order', { id: order.id }) }}" data-testid="order_id">{{ order.number }}</a></li>
        {% else %}
          <li>#{{ delivery.id }}</li>
        {% endif %}
        <li>{% trans %}basics.editing{% endtrans %}</li>
      {% else %}
        {#      TODO: display properly the restaurant(s) for foodtech orders #}
        <li>{% trans %}adminDashboard.orders.title{% endtrans %}</li>
        <li><a href="{{ path('admin_order', { id: order.id }) }}" data-testid="order_id">{{ order.number }}</a></li>
        <li>{% trans %}basics.editing{% endtrans %}</li>
      {% endif %}


    {% endif %}
  {% endif %}
{% endblock %}

{% block subnav %}
  {% if is_granted('ROLE_DISPATCHER') %}
    {% include 'delivery/_partials/navbar.html.twig' %}
  {% endif %}
{% endblock %}

{% block dashboard_subnav %}
  <div>
    <a href="{{ path(back_route) }}">
      <i class="fa fa-arrow-left mr-2"></i>{{ 'stores.deliveries'|trans }}
    </a>
    <h3 class="text-center">{{ title }}</h3>
  </div>
{% endblock %}

{% block content %}

  {% if is_granted('ROLE_DISPATCHER') %}
    {% if is_new %}
      <div class="alert alert-info">
        To access the legacy version of the delivery form <a data-testid="go-to-legacy-form" class="text-decoration-underline" href="{{ path('admin_store_delivery_new_legacy', { id: store.id }) }}">click here</a>.
      </div>
    {% else %}
      <div class="alert alert-info">
        To access the legacy version of the delivery form <a data-testid="go-to-legacy-form" class="text-decoration-underline" href="{{ path('admin_delivery_legacy', { id: delivery.id }) }}">click here</a>.
      </div>
    {% endif %}
  {% endif %}

  {% block alerts %}
  {% endblock %}

  {% if not is_new %}
    {% set tracking_link = url('public_delivery', { hashid: delivery|hashid }) %}
  {% else %}
    {% set tracking_link = null %}
  {% endif %}

  <div {{ react_component('Delivery/DeliveryForm', {
        isNew: is_new,
        storeNodeId: store|get_iri_from_item,
        deliveryId: delivery.id,
        deliveryNodeId: is_new ? null : delivery|get_iri_from_item,
        delivery: deliveryData ? deliveryData|serialize('jsonld', {groups: ['delivery', 'address', 'barcode']}) : null,
        trackingLink: tracking_link,
        isDispatcher: isDispatcher,
        isDebugPricing: debug_pricing
      })
  }}></div>
{% endblock %}
