{% form_theme form '@App/Form/registration.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

<div class="row">
  <div class="col-md-6 col-md-offset-3">
  {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" class="btn btn-primary" value="{{ 'registration.submit'|trans }}" />
    </div>
  {{ form_end(form) }}

  <hr>
  <p>{% trans from 'messages' %}authentication.already_registered{% endtrans %} <a href="{{ path('fos_user_security_login') }}">{% trans from 'messages' %}authentication.sign_in{% endtrans %}</a></p>

  </div>
</div>
