{# TODO Skip if no variant is defined #}
{% if product.enabled %}
  <div class="restaurant-menu-section-item menu-item">
    <button
      class="button-reset flex-1 d-flex"
      data-modal="product-details"
      data-form-action="{{ path('restaurant_add_product_to_cart', { id: restaurant_id, code: product.code })|e('html_attr') }}"
      data-product-code="{{ product.code|e('html_attr') }}"
      data-product-name="{{ product.name|e('html_attr') }}"
      data-product-images="{{ product_images|json_encode|e('html_attr') }}"
      data-product-price="{{ (product|sylius_resolve_variant).price|e('html_attr') }}"
      data-product-options="{{ product.options|coopcycle_normalize('AppBundle\\Entity\\Sylius\\ProductOption', ['product_option'], 'json')|json_encode|e('html_attr') }}">
      {% include 'components/restaurant/product/menu_item_inner.html.twig' %}
      {% if product.hasOptions() %}
        <div class="menu-item-add-wrapper">
          +
        </div>
      {% endif %}
    </button>
    {% if not product.hasOptions() %}
      <form
        method="post"
        action="{{ path('restaurant_add_product_to_cart', { id: restaurant_id, code: product.code }) }}"
        data-product-simple
        class="menu-item-add-wrapper menu-item-add-wrapper-active">
        <button class="button-reset w-100 h-100" type="submit">
          +
        </button>
      </form>
    {% endif %}
  </div>
{% else %}
  <div class="restaurant-menu-section-item menu-item">
    <a class="menu-item--unavailable">
      {% include 'components/restaurant/product/menu_item_inner.html.twig' %}
    </a>
  </div>
{% endif %}
