{% set variant = product|sylius_resolve_variant %}

<div class="h-100 flex-1 d-flex">
  <div class="menu-item-image-wrapper">
  {% if card_product_image is not empty %}
    <img src="{{ card_product_image }}">
  {% endif %}
  </div>
  <div class="menu-item-content-wrapper">
    <div class="flex-1 d-flex flex-column justify-content-center" style="overflow: hidden">
      <h5 class="menu-item-name">{{ product.name }}</h5>
      {% if product.enabled %}
        {% if product.description is not null %}
          <small class="menu-item-description">{{ product.description|nl2br }}</small>
        {% endif %}
      {% else %}
        <small class="menu-item-description">{{ 'restaurant.unavailable'|trans }}</small>
      {% endif %}
    </div>
    <div class="d-flex overflow-hidden">
      <div class="product-badge-container product-badge-container-compact">
        {% set restrictedDiets = [] %}
        {% if product.restrictedDiets is not empty %}
          {% for restrictedDiet in product.restrictedDiets %}
            {% set restrictedDiets = restrictedDiets|merge([('restricted_diets.' ~ restrictedDiet)|trans]) %}
          {% endfor %}
        {% endif %}
        {% for restrictedDiet in restrictedDiets %}
          {% include "components/restaurant/product_badge/product_badge.html.twig" with {type: 'restricted_diet', value: restrictedDiet} %}
        {% endfor %}
        {% if product.isReusablePackagingEnabled() %}
          <span class="label label-info ml-2">{{ 'restaurant.list.tags.zerowaste'|trans }}</span>
        {% endif %}
      </div>
      <span class="menu-item-price">
        {{ variant.price|price_format }}
      </span>
    </div>
  </div>
</div>
