{# TODO Skip if no variant is defined #}
{% if not product.enabled %}
  <div class="restaurant-menu-section-item">
    <a class="menu-item menu-item--unavailable">
      {% include 'components/restaurant/product/menu_item_inner.html.twig' %}
    </a>
  </div>
{% else %}
  {% if not product.hasOptions() %}
    <div class="restaurant-menu-section-item">
      {% if product_images|length > 1 %}
        <button class="menu-item" type="button"
                data-modal="details"
                data-product-name="{{ product.name|e('html_attr') }}"
                data-product-images="{{ product_images|json_encode|e('html_attr') }}"
                data-product-price="{{ (product|sylius_resolve_variant).price|e('html_attr') }}"
                data-form-action="{{ path('restaurant_add_product_to_cart', { id: restaurant_id, code: product.code }) }}">
          {% include 'components/restaurant/product/menu_item_inner.html.twig' %}
        </button>
      {% else %}
        <form method="post"
              action="{{ path('restaurant_add_product_to_cart', { id: restaurant_id, code: product.code }) }}"
              data-product-simple>
          <button class="menu-item" type="submit">
            {% include 'components/restaurant/product/menu_item_inner.html.twig' %}
          </button>
        </form>
      {% endif %}
    </div>
  {% else %}
    <div class="restaurant-menu-section-item">
      <button
        class="menu-item"
        data-modal="options"
        data-form-action="{{ path('restaurant_add_product_to_cart', { id: restaurant_id, code: product.code })|e('html_attr') }}"
        data-product-code="{{ product.code|e('html_attr') }}"
        data-product-name="{{ product.name|e('html_attr') }}"
        data-product-images="{{ product_images|json_encode|e('html_attr') }}"
        data-product-price="{{ (product|sylius_resolve_variant).price|e('html_attr') }}"
        data-product-options="{{ product.options|coopcycle_normalize('AppBundle\\Entity\\Sylius\\ProductOption', ['product_option'], 'json')|json_encode|e('html_attr') }}">
        {% include 'components/restaurant/product/menu_item_inner.html.twig' %}
      </button>
    </div>
  {% endif %}
{% endif %}
