{% extends "base.html.twig" %}

{% block body %}

<section class="homepage-search" data-search="address"
  data-addresses="{{ addresses_normalized|json_encode()|e('html') }}"
  data-tracking-category="Homepage"
  data-restaurants="{{ coopcycle_restaurants_suggestions()|json_encode()|e('html') }}">
  <div class="homepage-search-container">
    {% set motto = coopcycle_setting('motto') %}
    <h1 class="banner-title text-center">
      {{ motto is not empty ? motto : ('index.banner'|trans) }}
    </h1>
    <div class="homepage-searchbox-container">
      <div class="homepage-searchbox" data-element>
        <!-- This will be replaced by React -->
        <div class="form-group m-0">
          <input class="form-control" />
        </div>
      </div>
    </div>
  </div>
  <!-- Do NOT put the search component inside the form -->
  <form method="GET" action="{{ path('restaurants') }}" data-form>
    <input type="hidden" name="geohash">
    <input type="hidden" name="address">
  </form>
</section>

{% for section in sections %}
  {% include 'index/_partials/section.html.twig' with {
    items: section.shops,
    section_title: section.title,
    view_all: 'index.view_all'|trans,
    view_all_path: section.view_all_path|default(''),
    show_more: section.show_more is defined ? section.show_more : true,
  } %}
{% endfor %}

{% if zero_waste_count > 0 %}
  <section class="homepage-zerowaste mb-4">
    <div class="container">
      <a href="{{ path('restaurants_by_tags', { tags: 'zerowaste' }) }}" class="d-flex justify-content-between align-items-center py-4">
        <span>
          <i class="fa fa-lg fa-globe mr-2" aria-hidden="true"></i>
          <span>{{ 'homepage.zerowaste'|trans }}</span>
        </span>
        <i class="fa fa-lg fa-arrow-right"></i>
      </a>
    </div>
  </section>
{% endif %}

{% if delivery_form is not null %}
  {% include 'index/_partials/delivery_form.html.twig' %}
{% endif %}

{% if hubs|length > 0 %}
  {% for hub in hubs %}
    {% include 'index/_partials/section.html.twig' with {
      items: hub.restaurants|slice(0, 15),
      section_title: hub.name,
      view_all: 'index.view_all_shops'|trans,
      view_all_path: path('hub', { id: hub.id, slug: hub.name|slugify }),
      show_more: true,
    } %}
  {% endfor %}
{% endif %}

<div id="optins" data-brand-name={{ coopcycle_setting('brand_name')|json_encode|e('html_attr') }}>
</div>

{% endblock %}

{% block styles %}
  {{ encore_entry_link_tags('restaurant-list') }}
  {{ encore_entry_link_tags('delivery-homepage') }}
  {{ encore_entry_link_tags('optins') }}
{% endblock %}

{% block scripts %}
  {{ encore_entry_script_tags('search-address') }}
  {{ encore_entry_script_tags('restaurant-list') }}
  {{ encore_entry_script_tags('delivery-homepage') }}
  {{ encore_entry_script_tags('optins') }}
{% endblock %}
