{% extends "base.html.twig" %}

{% block body %}

<section class="homepage-search" data-search="address"
  data-addresses="{{ addresses_normalized|json_encode()|e('html') }}"
  data-tracking-category="Homepage"
  data-restaurants="{{ coopcycle_restaurants_suggestions()|json_encode()|e('html') }}">
  <div class="homepage-search-container">
    {% set motto = coopcycle_setting('motto') %}
    <h1 class="banner-title text-center">
      {{ motto is not empty ? motto : ('index.banner'|trans) }}
    </h1>
    <div class="homepage-searchbox-container">
      <div class="homepage-searchbox" data-element>
        <!-- This will be replaced by React -->
        <div class="form-group m-0">
          <input class="form-control" />
        </div>
      </div>
    </div>
  </div>
  <!-- Do NOT put the search component inside the form -->
  <form method="GET" action="{{ path('restaurants') }}" data-form>
    <input type="hidden" name="geohash">
  </form>
</section>

{% for section in sections %}
  {% set section_title = section.title is defined and section.title is not empty ? section.title|trans :
    (section.types is defined ? section.types|map(t => t|local_business_type)|join(', ') : section.type|local_business_type) %}
  {% include 'index/_partials/section.html.twig' with {
    items: section.shops,
    section_title: section_title,
    view_all: 'index.view_all'|trans,
    view_all_path: (section.type_key_plural is not empty and route_exists(section.type_key_plural)) ?
      path(section.type_key_plural) : path('shops', section.type is not empty ? { type: section.type_key } : {}),
    show_more: section.show_more is defined ? section.show_more : true,
    pad_items: false,
  } %}
{% endfor %}

{% for cuisine in cuisines %}
  {% include 'index/_partials/section.html.twig' with {
    items: cuisine.shops,
    section_title: cuisine.name|trans({}, 'cuisines'),
    view_all: 'index.view_all'|trans,
    view_all_path: path(cuisine.view_all_path, {'cuisineName': cuisine.name}),
    show_more: true,
    pad_items: false,
  } %}
{% endfor %}

{% if zero_waste_count > 0 %}
  <section class="homepage-zerowaste mb-4">
    <div class="container">
      <a href="{{ path('restaurants_by_tags', { tags: 'zerowaste' }) }}" class="d-flex justify-content-between align-items-center py-4">
        <span>
          <i class="fa fa-lg fa-globe mr-2" aria-hidden="true"></i>
          <span>{{ 'homepage.zerowaste'|trans }}</span>
        </span>
        <i class="fa fa-lg fa-arrow-right"></i>
      </a>
    </div>
  </section>
{% endif %}

{% if delivery_form is not null %}
  {% include 'index/_partials/delivery_form.html.twig' %}
{% endif %}

{% if hubs|length > 0 %}
  {% for hub in hubs %}
    {% if hub.restaurants|length >= 3 %}
      {% include 'index/_partials/section.html.twig' with {
        items: hub.restaurants|slice(0, 3),
        section_title: hub.name,
        view_all: 'index.view_all_shops'|trans,
        view_all_path: path('hub', { id: hub.id, slug: hub.name|slugify }),
        show_more: hub.restaurants|length > 3,
        pad_items: false
      } %}
    {% endif %}
  {% endfor %}
{% endif %}

{% endblock %}

{% block styles %}
  {{ encore_entry_link_tags('restaurant-list') }}
  {{ encore_entry_link_tags('delivery-homepage') }}
{% endblock %}

{% block scripts %}
  {{ encore_entry_script_tags('search-address') }}
  {{ encore_entry_script_tags('restaurant-list') }}
  {{ encore_entry_script_tags('delivery-homepage') }}
{% endblock %}
