{% extends "base.html.twig" %}

{% form_theme form with ['form/quote.html.twig', 'form/delivery_embed.html.twig'] %}

{% block banner %}{% endblock %}
{% block menu %}{% endblock %}
{% block footer %}{% endblock %}

{% block body %}

<div style="padding: 20px;">

  {% include "embed/delivery/quotebreadcrumb.html.twig" %}

  {{ form_start(form, { attr: { autocomplete: 'off' } }) }}

    {{ form_errors(form) }}

    {% if form.pricingRuleSet is defined %}
      {{ form_row(form.pricingRuleSet) }}
    {% endif %}
    
    {{ form_widget(form.tasks) }}

    {% if form.vehicle is defined %}
      {{ form_row(form.vehicle) }}
    {% endif %}

    {{ form_row(form.name) }}
    {{ form_row(form.email) }}
    {{ form_row(form.telephone) }}
    
    <button type="submit" class="btn btn-block btn-lg btn-primary">{{ 'basics.next'|trans }}</button>

  {{ form_end(form) }}

  {% include "embed/delivery/quotefooter.html.twig" %}

</div>
{% endblock %}

{% block styles %}
  {{ encore_entry_link_tags('delivery-embed-start-form') }}
{% endblock %}

{% block scripts %}
{{ encore_entry_script_tags('delivery-embed-start-form') }}
{% endblock %}
