{% extends "base.html.twig" %}

{% form_theme form with ['form/delivery.html.twig', 'form/delivery_embed.html.twig'] %}

{% block banner %}{% endblock %}
{% block menu %}{% endblock %}
{% block footer %}{% endblock %}

{% block body %}

<div style="padding: 20px;">

  {% include "embed/delivery/breadcrumb.html.twig" %}

  {{ form_start(form, { action: path('embed_delivery_summary'), attr: {  autocomplete: 'off' } }) }}

    {{ form_errors(form) }}

    {{ form_row(form.pickup) }}
    {{ form_row(form.dropoff) }}

    {% if form.vehicle is defined %}
      {{ form_row(form.vehicle) }}
    {% endif %}

    {# FIXME #}
    {# If the price can't be calculated, do not show payment field #}
    {% if form.stripePayment is defined %}
      <div class="hidden">
        {{ form_widget(form.stripePayment.cardholderName, { required: false }) }}
        {{ form_widget(form.stripePayment.stripeToken) }}
      </div>
    {% endif %}

    <h3>{{ 'embed.delivery.contact_heading'|trans }}</h3>

    {{ form_row(form.name) }}
    {{ form_row(form.email) }}
    {{ form_row(form.telephone) }}

    <p class="text-center">
        <a role="button" data-toggle="collapse" data-target="#billing-address" aria-expanded="false" aria-controls="billing-address">
        {{ 'embed.delivery.specify_billing_address'|trans }}
      </a>
    </p>
    <div class="collapse" id="billing-address">
      <h3>{{ 'embed.delivery.billing_address'|trans }}</h3>
      {{ form_widget(form.billingAddress) }}
    </div>

    <hr>

    <button type="submit" class="btn btn-block btn-lg btn-primary">{{ 'basics.next'|trans }}</button>

  {{ form_end(form) }}

  {% include "embed/delivery/footer.html.twig" %}

</div>
{% endblock %}

{% block styles %}
  {{ encore_entry_link_tags('delivery-embed-start-form') }}
{% endblock %}

{% block scripts %}
{{ encore_entry_script_tags('delivery-embed-start-form') }}
<script src="https://maps.googleapis.com/maps/api/js?key={{ coopcycle_setting('google_api_key') }}&libraries=places&language={{ app.request.locale }}&callback=initMap"
  async defer></script>
{% endblock %}
