{% extends "frontend.html.twig" %}

{% form_theme form 'form/delivery_embed.html.twig' %}

{% block banner %}{% endblock %}
{% block menu %}{% endblock %}
{% block footer %}{% endblock %}

{% block body %}

<div class="p-4">

  {% include "embed/delivery/breadcrumb.html.twig" with { step: 1 } %}

  {{ form_start(form, { attr: { autocomplete: 'off' } }) }}

    {{ form_errors(form) }}

    {{ form_widget(form.tasks) }}

    {% if form.vehicle is defined %}
      {{ form_row(form.vehicle) }}
    {% endif %}

    <h3 class="text-lg mb-2">{{ 'embed.delivery.contact_heading'|trans }}</h3>

    {{ form_row(form.name) }}
    {{ form_row(form.email) }}
    {{ form_row(form.telephone) }}

    <div x-data="{ expanded: false }"
      x-init="$watch('expanded', value => toggleBillingAddressRequired(value))"
      class="mb-4">
      <p class="text-center">
        <a role="button" @click.prevent="expanded = ! expanded" href="#">
          {{ 'embed.delivery.specify_billing_address'|trans }}
        </a>
      </p>
      <div x-show="expanded" x-collapse>
        <h3 class="text-lg mb-2">{{ 'embed.delivery.billing_address'|trans }}</h3>
        {{ form_widget(form.billingAddress) }}
      </div>
    </div>

    <hr>

    <button type="submit" class="btn btn-block btn-lg btn-primary">{{ 'basics.next'|trans }}</button>

  {{ form_end(form) }}

  {% include "embed/delivery/footer.html.twig" %}

</div>
{% endblock %}

{% block styles %}
  {{ encore_entry_link_tags('delivery-embed-start-form') }}
{% endblock %}

{% block scripts %}
{{ encore_entry_script_tags('delivery-embed-start-form') }}
<script>
function toggleBillingAddressRequired(required) {
  if (required) {
    document.querySelector('#delivery_billingAddress_streetAddress').setAttribute('required', true)
  } else {
    document.querySelector('#delivery_billingAddress_streetAddress').removeAttribute('required')
  }
}
</script>
{% endblock %}
