{% extends "deliveries.html.twig" %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block breadcrumb %}
{% set api_app = form.vars.data %}
{% set is_new_api_app = (api_app.id is null) %}
<li><a href="{{ path('admin_api_apps') }}">{{ 'api_apps.breadcrumb'|trans }}</a></li>
<li>{{ is_new_api_app ? 'basics.add'|trans : api_app.name }}</li>
{% endblock %}

{% block content %}
{{ form_start(form) }}
  {{ form_widget(form) }}
  <button type="submit" class="btn btn-block btn-primary">
    {{ 'basics.save'|trans }}
  </button>
{{ form_end(form) }}
{% endblock %}

{% block scripts %}
<script>
function disableScopes(selectEl) {

  if (selectEl.disabled) {
    return;
  }

  var checkboxesToDisable = [];
  var checkboxesToEnable = [];
  if (!selectEl.value) {
    checkboxesToDisable = Array.from(document.querySelectorAll('#api_app_scopes input[type="checkbox"]:not([value="orders:all"])'));
    checkboxesToEnable = Array.from(document.querySelectorAll('#api_app_scopes input[type="checkbox"][value="orders:all"]'));
  } else {
    checkboxesToDisable = Array.from(document.querySelectorAll('#api_app_scopes input[type="checkbox"][value="orders:all"]'));
    checkboxesToEnable = Array.from(document.querySelectorAll('#api_app_scopes input[type="checkbox"]:not([value="orders:all"])'));
  }
  checkboxesToDisable.forEach(function (checkbox) {
    checkbox.setAttribute('disabled', true);
  });
  checkboxesToEnable.forEach(function (checkbox) {
    checkbox.removeAttribute('disabled');
  });
}
document.querySelector('#api_app_store').addEventListener('change', function (e) {
  disableScopes(e.target)
});
disableScopes(document.querySelector('#api_app_store'));
</script>
{% endblock %}
