{% extends "deliveries.html.twig" %}

{% block breadcrumb %}
<li><a href="{{ path('admin_api_apps') }}">{{ 'api_apps.breadcrumb'|trans }}</a></li>
{% endblock %}

{% block content %}
<p class="text-right">
  <a href="{{ path('admin_new_api_app') }}" class="btn btn-success">
    <i class="fa fa-plus"></i> {% trans %}basics.add{% endtrans %}
  </a>
</p>
<table class="table">
  <thead>
    <th>#</th>
    <th>{{ 'form.api_app.name.label'|trans }}</th>
    <th>{{ 'form.api_app.store.label'|trans }}</th>
    <th>{{ 'form.api_app.client_id.label'|trans }}</th>
    <th>{{ 'form.api_app.client_secret.label'|trans }}</th>
  </thead>
  <tbody>
  {% for api_app in api_apps %}
    <tr>
      <td width="5%">
        <a href="{{ path('admin_api_app', { id: api_app.id }) }}">
          #{{ api_app.id }}
        </a>
      </td>
      <td>
        {{ api_app.name }}
      </td>
      <td>
        {{ api_app.store.name }}
      </td>
      <td>
        <span class="mr-4">{{ api_app.oauth2Client.identifier }}</span>
        <button type="button" class="btn btn-default btn-xs"
          data-toggle="copy" data-clipboard-text="{{ api_app.oauth2Client.identifier }}">
          <i class="fa fa-copy"></i> {{ 'basics.copy'|trans }}
        </button>
      </td>
      <td>
        <span class="mr-4">••••••••••••••••</span>
        <button type="button" class="btn btn-default btn-xs"
          data-toggle="copy" data-clipboard-text="{{ api_app.oauth2Client.secret }}">
          <i class="fa fa-copy"></i> {{ 'basics.copy'|trans }}
        </button>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block scripts %}
<script>
new ClipboardJS('[data-toggle="copy"]');
</script>
{% endblock %}
