{% extends "base.html.twig" %}

{% block banner %}{% endblock %}

{% block menu %}
  {% if nav %}
  {% include 'admin/nav.html.twig' with { nav_class: 'navbar--dashboard' } %}
  {% endif %}
{% endblock %}

{% block footer %}{% endblock %}

{% block body %}
<div class="dashboard {% if nav %}dashboard--nav{% endif %}">
  <div class="dashboard__wrapper" id="dashboard"
    data-jwt="{{ jwt }}"
    data-centrifugo-token="{{ centrifugo_token }}"
    data-centrifugo-tracking-channel="{{ centrifugo_tracking_channel }}"
    data-centrifugo-events-channel="{{ centrifugo_events_channel }}"
    data-date="{{ date|date('Y-m-d') }}"
    data-tags="{{ tags|json_encode|e('html_attr') }}"
    data-couriers-list="{{ couriers|json_encode|e('html_attr') }}"
    data-uploader-endpoint="{{ oneup_uploader_endpoint('tasks') }}"
    data-positions="{{ positions|json_encode|e('html_attr') }}"
    data-nav="{{ nav ? 'on' : 'off' }}"
    data-example-spreadsheet-url="{{ path('spreadsheet_example_tasks') }}"
    data-rrules="{{ task_recurrence_rules|json_encode|e('html_attr') }}"
    data-stores="{{ stores|json_encode|e('html_attr') }}"
    data-pickup-cluster-addresses="{{ pickup_cluster_addresses|json_encode|e('html_attr') }}"
    data-export-enabled="{{ export_enabled }}"
>
  </div>
  <div class="dashboard__loader">
    <div id="dashboard__loader" style="margin: 0 auto;"></div>
  </div>
</div>

{{ form_start(task_export_form, { attr: { class: 'd-none' } }) }}
  {{ form_widget(task_export_form) }}
{{ form_end(task_export_form) }}

{% endblock %}

{% block styles %}
{{ encore_entry_link_tags('widgets-admin') }}
{{ encore_entry_link_tags('dashboard') }}
{% endblock %}

{% block scripts %}
{{ encore_entry_script_tags('dashboard') }}
{% endblock %}
