{% extends "admin.html.twig" %}

{% block body %}
<div id="foodtech-dashboard"
     data-current-route="{{ app.request.attributes.get('_route') }}"
     data-orders="{{ orders_normalized|json_encode|e('html_attr') }}"
     data-date="{{ date|date('Y-m-d') }}"
     data-initial-order="{{ initial_order|json_encode|e('html_attr') }}"
     data-preparation-delay="{{ preparation_delay }}"
     data-show-search="true"
></div>
{% endblock %}

{% block footer %}{% endblock %}

{% block styles %}
  {{ encore_entry_link_tags('foodtech-dashboard') }}
  {{ encore_entry_link_tags('admin-foodtech-dashboard') }}
{% endblock %}

{% block scripts %}
  {{ encore_entry_script_tags('foodtech-dashboard') }}
  {{ encore_entry_script_tags('admin-foodtech-dashboard') }}
{% endblock %}
