{% extends "admin.html.twig" %}

{% form_theme form 'form/restaurant.html.twig' %}

{% block breadcrumb %}
{% endblock %}

{% block content %}
{{ form_start(form) }}
  {{ form_row(form.name) }}
  {{ form_row(form.fulfillmentMethods, { label: false }) }}
  {{ form_widget(form) }}
  <button type="submit" class="btn btn-block btn-primary">
    {{ 'basics.save'|trans }}
  </button>
{{ form_end(form) }}
{% endblock %}
