{% extends "admin.html.twig" %}

{% form_theme form 'form/restaurant.html.twig' %}

{% block breadcrumb %}
<li>
  <a href="{{ path('admin_restaurants') }}">{% trans %}adminDashboard.restaurants.title{% endtrans %}</a>
</li>
<li>
  <a href="{{ path('admin_hubs') }}">{% trans %}adminDashboard.hubs.title{% endtrans %}</a>
</li>
<li>
  {{ 'basics.add'|trans }}
</li>
{% endblock %}

{% block content %}
{{ form_start(form) }}

  <div class="row">
    <div class="col-sm-3">
      <ul class="nav nav-pills nav-stacked">
        <li role="presentation" class="active">
          <a role="tab" data-toggle="tab" href="#general" aria-controls="general">
            {{ 'restaurant.form.section.general'|trans }}
          </a>
        </li>
        <li role="presentation">
          <a role="tab" data-toggle="tab" href="#fulfillment" aria-controls="fulfillment">
            {{ 'restaurant.form.section.fulfillment'|trans }}
          </a>
        </li>
        <li role="presentation">
          <a role="tab" data-toggle="tab" href="#settlement" aria-controls="settlement">
            {{ 'restaurant.form.section.settlement'|trans }}
          </a>
        </li>
      </ul>
    </div>
    <div class="col-sm-9">
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="general">
          {{ form_row(form.name) }}
          {{ form_row(form.address) }}
          {{ form_row(form.enabled) }}
          {{ form_row(form.restaurants) }}
        </div>
        <div role="tabpanel" class="tab-pane" id="fulfillment">
          {{ form_row(form.fulfillmentMethods, { label: false }) }}
          {{ form_row(form.shippingOptionsDays) }}
        </div>
        <div role="tabpanel" class="tab-pane" id="settlement">
          {{ form_widget(form) }}
        </div>
      </div>
    </div>
  </div>

  <hr>

  <button type="submit" class="btn btn-block btn-lg btn-primary">
    {{ 'basics.save'|trans }}
  </button>
{{ form_end(form) }}
{% endblock %}

{% block styles %}
  {{ encore_entry_link_tags('restaurant-fulfillment-methods') }}
{% endblock %}

{% block scripts %}
  {{ encore_entry_script_tags('restaurant-fulfillment-methods') }}
  <script>
    var $restaurants = $('#hub_restaurants')
    new CoopCycle.Search(document.querySelector('#restaurant-search'), {
      url: "{{ path('admin_restaurants_search', { format: 'json' }) }}",
      placeholder: "{{ 'basics.search'|trans }}",
      onSuggestionSelected: function(suggestion) {

        var newRestaurant = $restaurants.attr('data-prototype');

        newRestaurant = newRestaurant.replace(/__name__/g, $restaurants.find('tbody > tr').length);
        newRestaurant = newRestaurant.replace(/__value__/g, suggestion.id);
        newRestaurant = newRestaurant.replace(/__restaurant_name__/g, suggestion.name);

        $restaurants.find('tbody').append($(newRestaurant));
      }
    });

    $(document).on('click', '[data-remove="restaurant"]', function(e) {
      e.preventDefault();
      $(this).closest('tr').remove();
    });
  </script>
{% endblock %}
