{% extends "admin.html.twig" %}

{% block breadcrumb %}
<li>
  <a href="{{ path('admin_restaurants') }}">{% trans %}adminDashboard.restaurants.title{% endtrans %}</a>
</li>
<li>{% trans %}adminDashboard.hubs.title{% endtrans %}</li>
{% endblock %}

{% block content %}

<div class="alert alert-info">
  {{ 'adminDashboard.hubs.help'|trans }}
</div>

<div class="text-right mb-4">
  <a href="{{ path('admin_hub_new') }}" class="btn btn-success">
    <i class="fa fa-plus mr-2"></i>
    <span>{% trans %}adminDashboard.hubs.createNew{% endtrans %}</span>
  </a>
</div>

{% if hubs|length > 0 %}
  <table class="table">
    <tbody>
    {% for hub in hubs %}
      <tr>
        <td width="5%"><a href="{{ path('admin_hub', { id: hub.id }) }}">#{{ hub.id }}</a></td>
        <td width="20%">
          <span>{{ hub.name }}</span>
        </td>
        <td width="25%">{{ hub.address.streetAddress }}</td>
        <td class="text-right" width="5%">
          <a target="_blank" href="{{ path('hub', { id: hub.id, 'slug': hub.name|slugify }) }}">
            <i class="fa fa-external-link" aria-hidden="true"></i>
          </a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% else %}
  <div class="alert alert-info">
  {% trans %}basics.no_entries{% endtrans %}
  </div>
{% endif %}

{% endblock %}
