{% extends "deliveries.html.twig" %}

{% block ux_react_controllers %}
  {{ encore_entry_script_tags('incidents-ux-react-controllers') }}
{% endblock %}

{% block prepare_title %}
  {{ add_title_prefix('adminDashboard.incidents.title'|trans) }}
{% endblock %}

{% block breadcrumb %}
{{ parent() }}
<li>{% trans %}adminDashboard.incidents.title{% endtrans %}</li>
{% endblock %}

{% block docs %}
  {% include '_partials/docs.html.twig' with { docsPath: 'adminDashboard.incidents.docs_path' } %}
{% endblock %}

{% block content %}
<div {{ react_component('Incident/List') }}></div>
{% endblock %}

{% block styles %}
  {{ encore_entry_link_tags('incidents-ux-react-controllers') }}
  {{ encore_entry_link_tags('incidents-list') }}
{% endblock %}

{% block scripts %}
{{ encore_entry_script_tags('incidents-list') }}
{% endblock %}
