{% extends "admin.html.twig" %}
{% set createdBy = incident.getCreatedBy() %}

{% block breadcrumb %}
<li>
  <a href="{{ path('admin_incidents') }}">{% trans %}adminDashboard.shops.title{% endtrans %}</a>
</li>
<li>
  Incident #{{incident.id}}
</li>
{% endblock %}

{% block content %}
<div class="incident-header">
  <div class="container">
    <div class="row">
      <div {{ react_component('Incident/IncidentHeader', {incident: incident|serialize, createdBy: createdBy.username}) }} ></div>
    </div>
  </div>
</div>

<div class="container incident-body">
  <div class="col-md-9">
    <div class="row">
      <p style="font-weight: bold">Description</p>
      <p class="mx-2">{{ incident.description }}</p>
    </div>
    <hr>
    <div class="row">
      <p>Attachments <span class="caret"></span></p>
      {%- set images = incident.getImages()|reverse|map(i => coopcycle_asset(i, 'file', 'incident_image_thumbnail'))|serialize
      -%}
      <div {{react_component('Incident/IncidentImages', {images: images, incident_id: incident.getId()})}}></div>
    </div>
    <hr>
    <div>
      <div {{ react_component('Incident/IncidentTimeline', {
        events: incident.getEvents()|serialize('json', {groups: 'incident_event' })
      }) }}></div>
      <div {{ react_component('Incident/CommentBox', {id: incident.getId()}) }}></div>
    </div>
  </div>

  <div class="col-md-3">
    <div {{ react_component('Incident/OrderDetails', { task: incident.getTask()|serialize, delivery: delivery|serialize,
      order: order|serialize }) }}></div>
    <hr>
    <div {{ react_component('Incident/ActionBox', { incident: incident|serialize, task: incident.getTask()|serialize,
      delivery: delivery|serialize, order: order|serialize, images: images }) }}></div>
    <hr>
    <div {{react_component('Incident/TaskTimeline', {events: incident.getTask().getEvents()|serialize}) }}></div>
  </div>
</div>


{% endblock %}

{% block styles %}
{{ encore_entry_link_tags('incident-form') }}
{% endblock %}

{% block scripts %}
{{ encore_entry_script_tags('incident-form') }}
{% endblock %}
