{% extends "admin.html.twig" %}

{% block ux_react_controllers %}
  {{ encore_entry_script_tags('incidents-ux-react-controllers') }}
{% endblock %}

{% set createdBy = incident.getCreatedBy() %}

{% block prepare_title %}
  {{ add_title_prefix('adminDashboard.incidents.incident.title'|trans({ '%id%': incident.id })) }}
{% endblock %}

{% block breadcrumb %}
<li>
  <a href="{{ path('admin_incidents') }}">{% trans %}adminDashboard.incidents.title{% endtrans %}</a>
</li>
<li>
  {{ 'adminDashboard.incidents.incident.title'|trans({ '%id%': incident.id }) }}
</li>
{% endblock %}

{% block content %}
{%- set images = incident.getImages()|reverse|map(i => {
  'id': i.id,
  'thumbnail': coopcycle_asset(i, 'file', 'incident_image_thumbnail'),
  'full': absolute_url(path('incident_image_public', {path: i.imageName}))
})|serialize -%}
<div {{ react_component('Incident/IncidentLoad', {
  incident: incident|serialize('jsonld', {groups: ['incident', 'task', 'address'] }),
  order: order|serialize('jsonld', {groups: ['order', 'pricing_deliveries'] }),
  images: images,
  transporterEnabled: transporterEnabled
}) }} ></div>
<div class="incident-header">
  <div class="container">
    <div class="row">
      <div {{ react_component('Incident/IncidentHeader') }} ></div>
    </div>
  </div>
</div>

<div class="container incident-body">
  <div class="col-md-9" {{ react_component('Incident/IncidentBody') }}>
  </div>

  <div class="col-md-3">
    <div {{ react_component('Incident/ActionBox', { isLastmile: isLastmile }) }}></div>
    <hr>
    <div {{ react_component('Incident/OrderDetails', { delivery: delivery|serialize('jsonld', {groups: ['delivery'] }) }) }}></div>
    <hr>
    <div {{react_component('Incident/TaskTimeline', {events: incident.getTask().getEvents()|serialize}) }}></div>
  </div>
</div>


{% endblock %}

{% block styles %}
{{ encore_entry_link_tags('incident-details') }}
{% endblock %}

{% block scripts %}
{{ encore_entry_script_tags('incident-details') }}
{% endblock %}
