<nav class="navbar navbar-default navbar--admin {% if nav_class is defined %}{{ nav_class }}{% endif %}">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#admin-navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ path('homepage') }}">
        <img src="https://coopcycle.org/images/logo.svg" width="20" height="20" />
      </a>
      <a class="navbar-brand hidden-sm hidden-xs" href="{{ path('admin_dashboard') }}">
        {% trans %}adminDashboard.title{% endtrans %}
      </a>
    </div>
    <div class="collapse navbar-collapse" id="admin-navbar">
      <ul class="nav navbar-nav navbar-left">
        <li>
          <a class="admin-navbar__link" href="{{ path('homepage') }}"><i class="fa fa-sign-out"></i>  {% trans %}adminDashboard.back.title{% endtrans %}</a>
        </li>
        <li id="changelog"></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li data-toggle="tooltip" data-placement="bottom" title="{% trans %}adminDashboard.tooltip.orders{% endtrans %}">
          <a class="admin-navbar__link" href="{{ path('admin_orders') }}">
            <i class="fa fa-cube"></i>
            <span class="navbar-label">{% trans %}adminDashboard.orders.title{% endtrans %}</span>
          </a>
        </li>
        <li data-toggle="tooltip" data-placement="bottom" title="{% trans %}adminDashboard.tooltip.deliveries{% endtrans %}">
          <a class="admin-navbar__link" href="{{ path('admin_deliveries') }}">
            <i class="fa fa-bicycle"></i>
            <span class="navbar-label">{% trans %}adminDashboard.deliveries.title{% endtrans %}</span>
          </a>
        </li>
        {% if coopcycle_setting('b2b_enabled') %}
        <li data-toggle="tooltip" data-placement="bottom" title="{% trans %}adminDashboard.tooltip.organizations{% endtrans %}">
          <a class="admin-navbar__link" href="{{ path('admin_organizations') }}">
            <i class="fa fa-building-o"></i>
            <span class="navbar-label">{% trans %}adminDashboard.organizations.title{% endtrans %}</span>
          </a>
        </li>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
        <li data-toggle="tooltip" data-placement="bottom" title="{% trans %}adminDashboard.tooltip.restaurants{% endtrans %}">
          <a class="admin-navbar__link" href="{{ path('admin_restaurants') }}">
            <i class="fa fa-shopping-basket"></i>
            <span class="navbar-label">{% trans %}adminDashboard.shops.title{% endtrans %}</span>
          </a>
        </li>
        {% endif %}
        <li data-toggle="tooltip" data-placement="bottom" title="{% trans %}adminDashboard.tooltip.users{% endtrans %}">
          <a class="admin-navbar__link" href="{{ path('admin_users') }}">
            <i class="fa fa-user"></i>
            <span class="navbar-label">{% trans %}adminDashboard.users.title{% endtrans %}</span>
          </a>
        </li>
        <li class="dropdown">
          <a class="admin-navbar__link" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-line-chart"></i>
            <span class="navbar-label">{% trans %}adminDashboard.statistics{% endtrans %}</span> <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="{{ path('admin_activity') }}">{% trans %}adminDashboard.activity.title{% endtrans %}</a></li>
            {% if is_granted('ROLE_ADMIN') %}
            <li><a href="{{ path('admin_metrics') }}">{% trans %}adminDashboard.metrics.title{% endtrans %}</a></li>
            {% endif %}
          </ul>
        </li>
        {% if is_granted('ROLE_ADMIN') %}
        <li>
          <a class="admin-navbar__link" href="{{ path('admin_settings') }}">
            <i class="fa fa-cog"></i>
            <span class="navbar-label">{% trans %}adminDashboard.settings.title{% endtrans %}</span>
          </a>
        </li>
        {% endif %}
        {% include '_partials/user/account_dropdown.html.twig' %}
      </ul>
    </div>
  </div>
</nav>
