{% extends "admin.html.twig" %}

{% form_theme form 'form/restaurant.html.twig' %}

{% block breadcrumb %}
<li>
  <a href="{{ path('admin_nonprofits') }}">{% trans %}adminDashboard.nonprofits.title{% endtrans %}</a>
</li>
<li>
  {{ 'basics.add'|trans }}
</li>
{% endblock %}

{% block content %}

{{ form_start(form) }}
  <div id="nonprofit-dropzone"></div>
  {{ form_widget(form) }}
  <button type="submit" class="btn btn-block btn-lg btn-primary">
    {{ 'basics.save'|trans }}
  </button>
{{ form_end(form) }}

{% endblock %}

{% block styles %}
{% endblock %}

{% block scripts %}
<script>
{% set nonprofit = form.vars.data %}
new window.CoopCycle.Dropzone($('#nonprofit-dropzone'), {
  dropzone: {
    url: "{{ oneup_uploader_endpoint('nonprofit') }}",
    params: {
      nonprofit: "{{ nonprofit|get_iri_from_item }}",
    }
  },
  image: "{{ oneup_uploader_asset(nonprofit.logoName, 'nonprofits_images_filesystem') }}",
  size: [ 512, 384 ]
});
</script>
{% endblock %}
