{% extends "admin.html.twig" %}

{% form_theme form 'form/restaurant.html.twig' %}

{% block breadcrumb %}
{% set nonprofit = form.vars.data %}
<li>
  <a href="{{ path('admin_nonprofits') }}">{% trans %}adminDashboard.nonprofits.title{% endtrans %}</a>
</li>
<li>
  {{ nonprofit.id is not null ? nonprofit.name : 'basics.add'|trans }}
</li>
{% endblock %}

{% block content %}
{% set nonprofit = form.vars.data %}
{{ form_start(form) }}
  <div class="row">
    <div class="col-sm-4">
    {% if nonprofit.id is not null %}
      <div id="nonprofit-dropzone"></div>
    {% endif %}
    </div>
    <div class="col-sm-8">
    {{ form_widget(form) }}
    </div>
  </div>
  <button type="submit" class="btn btn-block btn-lg btn-primary">
    {{ 'basics.save'|trans }}
  </button>
{{ form_end(form) }}

{% endblock %}

{% block styles %}
{% endblock %}

{% block scripts %}
<script>
{% set nonprofit = form.vars.data %}
{% if nonprofit.id is not null %}
new window.CoopCycle.Dropzone($('#nonprofit-dropzone'), {
  dropzone: {
    url: "{{ oneup_uploader_endpoint('nonprofit') }}",
    params: {
      nonprofit: "{{ nonprofit|get_iri_from_item }}",
    }
  },
  image: "{{ oneup_uploader_asset_base64(nonprofit.logoName, 'nonprofits_images_filesystem') }}",
  size: [ 512, 384 ]
});
{% endif %}
</script>
{% endblock %}
