{% extends "deliveries.html.twig" %}

{% block breadcrumb %}
<li>{% trans %}adminDashboard.notifications.title{% endtrans %}</li>
{% endblock %}

{% block content %}
  <form action="{{ path('admin_notifications') }}" name="admin_notifications" method="post">
    <div class="d-flex flex-column align-items-start">
    {% for notification in notifications %}
      <div class="checkbox text-right mb-4">
        <label>
          <input type="checkbox" name="{{ notification.name }}" value="{{ notification.enabled }}"
            {% if notification.enabled %}checked{% endif %}>
          {{ "adminDashboard.notifications.#{notification.name}"|trans }}
        </label>
      </div>
    {% endfor %}
    </div>
    <button type="submit" class="btn btn-default">
      {{ 'basics.save'|trans }}
    </button>
  </form>
{% endblock %}
