{% extends "admin.html.twig" %}

{% if is_granted('ROLE_ADMIN') %}
{% form_theme order_export_form 'form/order_export.html.twig' %}
{% endif %}

{% block breadcrumb %}
<li>{% trans %}adminDashboard.orders.title{% endtrans %}</li>
{% endblock %}

{% block content %}

<form action="{{ path('admin_orders') }}" class="form-inline" name="admin_orders_settings" method="get">
  <input type="hidden" name="show_canceled" value="{{ show_canceled ? 'on' : 'off' }}">
</form>

<div class="d-flex flex-row mb-4">
  <div class="w-50">
    <form method="get">
      <div id="orders-search"></div>
    </form>
  </div>
  <div class="w-50 text-right">
    <span class="mr-2">
      <label class="mr-2">{{ 'adminDashboard.orders.showCanceled'|trans }}</label>
      <span id="show-cancelled-switch"></span>
    </span>
    {% if is_granted('ROLE_ADMIN') %}
    <button class="btn btn-primary btn-success" type="button" data-toggle="modal" data-target="#order-export-modal">
      <i class="fa fa-download"></i> {{ 'adminDashboard.dashboard.export'|trans }}
    </button>
    {% endif %}
    <a class="btn btn-default" href="{{ path('admin_foodtech_dashboard', { date: 'now'|date('Y-m-d') }) }}">
      <i class="fa fa-th-large"></i> Dashboard
    </a>
  </div>
</div>

{% if cube_token is defined %}
<div id="cubejs"
  data-api-url="{{ cubejs_api_url }}"
  data-token="{{ cube_token|e('html_attr') }}"
  class="mb-4"
  style="min-height: 180px;"></div>
{% endif %}

{% include "_partials/order/list.html.twig" %}
<div class="text-center">
  {{ knp_pagination_render(orders, '@KnpPaginator/Pagination/twitter_bootstrap_v3_pagination.html.twig') }}
</div>

{% if is_granted('ROLE_ADMIN') %}
<div class="modal fade" tabindex="-1" role="dialog" id="order-export-modal">
  <div class="modal-dialog" role="document">
    {{ form_start(order_export_form, { attr: { class: 'modal-content' } }) }}
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{ 'adminDashboard.dashboard.export'|trans }}</h4>
      </div>
      <div class="modal-body">
        {{ form_row(order_export_form.start) }}
        {{ form_row(order_export_form.end) }}
        {% if order_export_form.messenger is defined %}
          {{ form_row(order_export_form.messenger) }}
        {% endif %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'basics.cancel'|trans }}</button>
        <button type="submit" class="btn btn-primary">{{ 'adminDashboard.dashboard.export'|trans }}</button>
      </div>
    {{ form_end(order_export_form) }}
  </div>
</div>
{% endif %}

{% include "_partials/order/receipt_modal.html.twig" %}

{% endblock %}

{% block scripts %}
{{ encore_entry_script_tags('admin-orders') }}
<script>

var $settingsForm = $('form[name="admin_orders_settings"]');

new CoopCycle.DatePicker(document.querySelector('#order_export_start_widget'), {
  defaultValue: "{{ 'now'|date('Y-m-d') }}",
  onChange: function(date, dateString) {
    if (date) {
      document.querySelector('#order_export_start').value = date.format('YYYY-MM-DD');
    }
  }
});
new CoopCycle.DatePicker(document.querySelector('#order_export_end_widget'), {
  defaultValue: "{{ 'now'|date('Y-m-d') }}",
  onChange: function(date, dateString) {
    if (date) {
      document.querySelector('#order_export_end').value = date.format('YYYY-MM-DD');
    }
  }
});

new CoopCycle.Switch(document.querySelector('#show-cancelled-switch'), {
  checked: {{ show_canceled|json_encode() }},
  checkedChildren: "{{ 'basics.show'| trans }}",
  unCheckedChildren: "{{ 'basics.hide'| trans }}",
  onChange: function(checked) {
    $settingsForm
      .find('[name="show_canceled"]')
      .val(checked ? 'on' : 'off');
    $settingsForm.submit();
  }
});

new CoopCycle.Search(document.querySelector('#orders-search'), {
  url: "{{ path('admin_orders_search') }}",
  placeholder: "{{ 'search.orders'|trans }}",
  onSuggestionSelected: function(suggestion) {
    window.location.href = suggestion.path;
  },
  searchOnEnter: true,
  initialValue: "{{ app.request.get('q', '') }}"
});

</script>
<script>
{% include "_partials/order/receipt_modal.js.twig" %}
</script>
{% endblock %}
