{% extends "admin.html.twig" %}

{% form_theme order_export_form 'form/order_export.html.twig' %}

{% block breadcrumb %}
<li>{% trans %}adminDashboard.orders.title{% endtrans %}</li>
{% endblock %}

{% block content %}

<form action="{{ path('admin_orders') }}" class="form-inline" name="admin_orders_settings" method="get">
  <input type="hidden" name="show_canceled" value="{{ show_canceled ? 'on' : 'off' }}">
</form>

<div class="text-right">
  <span class="mr-2">
    <label class="mr-2">{{ 'adminDashboard.orders.showCanceled'|trans }}</label>
    <span id="show-cancelled-switch"></span>
  </span>
  <button class="btn btn-primary btn-success" type="button" data-toggle="modal" data-target="#order-export-modal">
    <i class="fa fa-download"></i> {{ 'adminDashboard.dashboard.export'|trans }}
  </button>
  <a class="btn btn-default" href="{{ path('admin_foodtech_dashboard', { date: 'now'|date('Y-m-d') }) }}">
    <i class="fa fa-th-large"></i> Dashboard
  </a>
</div>

{% include "admin/pagination.html.twig" %}
{% include "_partials/order/list.html.twig" %}

<div class="modal fade" tabindex="-1" role="dialog" id="order-export-modal">
  <div class="modal-dialog" role="document">
    {{ form_start(order_export_form, { attr: { class: 'modal-content' } }) }}
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{ 'adminDashboard.dashboard.export'|trans }}</h4>
      </div>
      <div class="modal-body">
        {{ form_row(order_export_form.date) }}
        {% if order_export_form.messenger is defined %}
          {{ form_row(order_export_form.messenger) }}
        {% endif %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'basics.cancel'|trans }}</button>
        <button type="submit" class="btn btn-primary">{{ 'adminDashboard.dashboard.export'|trans }}</button>
      </div>
    {{ form_end(order_export_form) }}
  </div>
</div>

{% include "_partials/order/receipt_modal.html.twig" %}

{% endblock %}

{% block scripts %}
<script>

var $settingsForm = $('form[name="admin_orders_settings"]');

new CoopCycle.DatePicker(document.querySelector('#order_export_date_widget'), {
  defaultValue: "{{ 'now'|date('Y-m-d') }}",
  onChange: function(date, dateString) {
    document.querySelector('#order_export_date').value = date.format('YYYY-MM-DD');
  }
});

new CoopCycle.Switch(document.querySelector('#show-cancelled-switch'), {
  checked: {{ show_canceled|json_encode() }},
  checkedChildren: "{{ 'basics.show'| trans }}",
  unCheckedChildren: "{{ 'basics.hide'| trans }}",
  onChange: function(checked) {
    $settingsForm
      .find('[name="show_canceled"]')
      .val(checked ? 'on' : 'off');
    $settingsForm.submit();
  }
});

</script>
<script>
{% include "_partials/order/receipt_modal.js.twig" %}
</script>
{% endblock %}
