{% extends "deliveries.html.twig" %}

{% form_theme form 'form/package_set.html.twig' %}

{% block breadcrumb %}
  {% set package_set = form.vars.value %}
  <li><a href="{{ path('admin_packages') }}">{% trans %}adminDashboard.package_sets.title{% endtrans %}</a></li>
  {% if package_set.id is not null %}
  <li>{{ package_set.name }}</li>
  {% else %}
  <li>{{ 'basics.add'|trans }}</li>
  {% endif %}
{% endblock %}

{% block content %}
{% set package_set = form.vars.value %}
{% if package_set.id is not null %}
  <div {{ react_component('ShowApplications', { 'objectId': package_set.id, fetchUrl: 'api_package_sets_applications_item' }) }}>
    <span class="loader loader--dark"></span>
  </div>
  <hr />
{% endif %}
{{ form_start(form) }}
  {{ form_widget(form) }}
    <button type="submit" class="btn btn-block btn-primary">
      {{ 'basics.save'|trans }}
    </button>
{{ form_end(form) }}
{% endblock %}

{% block scripts %}
  {{ encore_entry_script_tags('package-set-form') }}
{% endblock %}
