{% extends "deliveries.html.twig" %}

{% block breadcrumb %}
  {{ parent() }}
  <li>{% trans %}adminDashboard.package_sets.title{% endtrans %}</li>
{% endblock %}

{% block content %}

<p class="text-right">
  <a href="{{ path('admin_new_package') }}" class="btn btn-success">
    <i class="fa fa-plus"></i> {{ 'basics.add'|trans }}
  </a>
</p>

<table class="table" id="packages-list" data-jwt="{{ jwt }}">
  <thead>
    <th>#</th>
    <th>{{ 'form.package_set.name.label'|trans }}</th>
    <th>{{ 'form.package_set.packages.label'|trans }}</th>
    {% if is_granted('ROLE_ADMIN') %}<th></th>{% endif %}
  </thead>
  <tbody>
  {% for package_set in package_sets %}
    <tr>
      <td>
        <a href="{{ path('admin_package', { id: package_set.id }) }}">#{{ package_set.id }}</a>
      </td>
      <td>
        {{ package_set.name }}
      </td>
      <td>
        {% set packages = [] %}
        {% for package in package_set.packages %}
          {% set packages = packages|merge([ package.name ]) %}
        {% endfor %}
        {{ packages|join(', ') }}
      </td>
      {% if is_granted('ROLE_ADMIN') %}
        <td class="text-right">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {% trans %}adminDashboard.pricing.manage{% endtrans %}   <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
                <li>
                  <a class="text-danger delete-package" data-package-name="{{ package_set.name }}" data-package-id="{{ package_set.id }}">
                    {% trans %}basics.delete{% endtrans %}
                  </a>
                </li>
            </ul>
          </div>
        </td>
      {% endif %}
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}

{% block scripts %}
  {{ encore_entry_script_tags('package-sets-list') }}
{% endblock %}
