{% extends "deliveries.html.twig" %}

{% block breadcrumb %}
{{ parent() }}
<li>{% trans %}adminDashboard.pricing.title{% endtrans %}</li>
{% endblock %}

{% block content %}
<div class="text-right mb-4">
  <a class="btn btn-success" href="{{ path('admin_deliveries_pricing_ruleset_new') }}"><i class="fa fa-plus"></i> {% trans %}adminDashboard.pricing.createNew{% endtrans %}</a>
</div>
<table class="table">
  <tbody>
  {% if ruleSets|length > 0 %}
    {% for ruleSet in ruleSets %}
      <tr>
        <td><a href="{{ path('admin_deliveries_pricing_ruleset', { id: ruleSet.id }) }}">#{{ ruleSet.id }}</a></td>
        <td>{{ ruleSet.name }}</td>
        <td class="text-right">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {% trans %}adminDashboard.pricing.manage{% endtrans %}   <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
              <li>
                <a href="{{ path('admin_deliveries_pricing_ruleset', { id: ruleSet.id }) }}">
                  {% trans %}adminDashboard.pricing.settings{% endtrans %}
                </a>
              </li>
            </ul>
          </div>
        </td>
      </tr>
    {% endfor %}
  {% else %}
    <div class="alert alert-info">
    {% trans %}adminDashboard.pricing.noPricings{% endtrans %}
    </div>
  {% endif %}
  </tbody>
</table>
{% endblock %}

{% block scripts %}
{% endblock %}
