{% extends "admin.html.twig" %}

{% block breadcrumb %}
<li><a href="{{ path('admin_promotions') }}">{{ 'promotions.breadcrumb'|trans }}</a></li>
{% endblock %}

{% block content %}
<div class="text-right mb-4">
  <div class="dropdown">
    <button id="add-promotion" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-success">
      <i class="fa fa-plus"></i> {{ 'basics.add'|trans }}
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="add-promotion">
      <li>
        <a href="{{ path('admin_new_promotion_coupon_from_template', { template: 'free_delivery' })}}">
          {{ 'promotions.add_free_delivery_coupon'|trans }}
        </a>
      </li>
      <li>
        <a href="{{ path('admin_new_promotion_coupon_from_template', { template: 'credit_note' }) }}">
          {{ 'promotions.create_credit_note_coupon'|trans }}
        </a>
      </li>
    </ul>
  </div>
</div>

{% if past|length > 0 %}
<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active"><a href="#ongoing" aria-controls="ongoing" role="tab" data-toggle="tab">{{ 'adminDashboard.promotions.ongoing'|trans }}</a></li>
  <li role="presentation"><a href="#past" aria-controls="past" role="tab" data-toggle="tab">{{ 'adminDashboard.promotions.past'|trans }}</a></li>
</ul>
<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="ongoing">
    {% include 'admin/_partials/promotion_coupon_list.html.twig' with { promotion_coupons: ongoing } %}
  </div>
  <div role="tabpanel" class="tab-pane" id="past">
    {% include 'admin/_partials/promotion_coupon_list.html.twig' with { promotion_coupons: past } %}
  </div>
</div>
{% else %}
  {% include 'admin/_partials/promotion_coupon_list.html.twig' with { promotion_coupons: ongoing } %}
{% endif %}

{% endblock %}
