{% extends "admin.html.twig" %}

{% block content %}
<table class="table">
	<thead>
		<th>{{ 'basics.name'|trans }}</th>
		<th>{{ 'form.address.streetAddress.label'|trans }}</th>
    <th></th>
    <th></th>
    <th></th>
  </thead>
  <tbody>
    {% for pledge in pledges %}
      <tr>
        <td>{{ pledge.name }}</td>
        <td>{{ pledge.address.streetAddress }}</td>
        <td>{{ 'pledge.suggested_by'|trans({ '%username%': pledge.user.username }) }}
        <td>
          {% if pledge.state == 'new' %}
          <form method="POST">
            <input type="hidden" name="pledge" value="{{ pledge.id }}">
            <button class="btn btn-success" type="submit" name="accept" onclick="return confirm('Are you sure?')">{{ 'pledge.accept'|trans }}</button>
            <button class="btn btn-danger" type="submit" name="reject" onclick="return confirm('Are you sure?')">{{ 'pledge.reject'|trans }}</button>
          </form>
          {% else %}
            {{ pledge.state }}
          {% endif %}
        </td>
        <td class="text-right">{{ pledge.createdAt|time_diff }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
