{% extends "admin.html.twig" %}

{% form_theme pledge_form 'bootstrap_3_layout.html.twig' %}

{% block breadcrumb %}
<li>{% trans %}adminDashboard.shops.title{% endtrans %}</li>
{% endblock %}

{% block content %}

<div class="d-flex align-items-center justify-content-between">
  <div class="d-flex align-items-center flex-fill">
    <div id="search-restaurants" class="w-25 mr-4">
      <input type="text" class="form-control">
    </div>
    <a href="{{ path('admin_hubs') }}" class="btn btn-default mr-4">
      {{ 'adminDashboard.hubs.title'|trans }}
    </a>
    <a href="{{ path('admin_promotions') }}" class="btn btn-default mr-4">
      {% trans %}adminDashboard.promotions.title{% endtrans %}
    </a>
    {% if business_account_enabled %}
      <a href="{{ path('admin_business_accounts') }}" class="btn btn-default mr-4">
        {{ 'adminDashboard.business_accounts.title'|trans }}
      </a>
    {% endif %}
    {{ form_start(pledge_form, { attr: { class: 'form-inline d-inline-block border-left pl-4' } }) }}
      {{ form_widget(pledge_form.enable_restaurant_pledges) }}
      <a href="{{ path('admin_restaurants_pledges') }}" class="btn btn-default ml-4">
        {% trans %}adminDashboard.pledges.title{% endtrans %} <span class="badge">{{ pledge_count }}</span>
      </a>
    {{ form_end(pledge_form) }}
    <div class="border-left pl-4 ml-4">
      <a class="btn btn-default" href="{{ path('admin_restaurants_edenred') }}">
        {{ 'restaurants.edenred_transactions.title'|trans }}
      </a>
    </div>
    {% if nonprofits_enabled %}
    <div class="border-left pl-4 ml-4">
      <a class="btn btn-default" href="{{ path('admin_nonprofits') }}">
        {{ 'adminDashboard.nonprofits.title'|trans }}
      </a>
    </div>
    {% endif %}
  </div>
  <a href="{{ path('admin_restaurant_new') }}" class="btn btn-success">
    <i class="fa fa-plus"></i> {% trans %}basics.add{% endtrans %}
  </a>
</div>
{% include "admin/pagination.html.twig" %}
{% include "_partials/restaurant/list.html.twig" %}
{% include "admin/pagination.html.twig" %}

{% endblock %}

{% block scripts %}
{{ encore_entry_script_tags('admin-restaurants') }}
{% endblock %}
