{% extends "admin.html.twig" %}

{% block breadcrumb %}
<li>{% trans %}adminDashboard.restaurants.title{% endtrans %}</li>
{% endblock %}

{% block content %}

<div class="d-flex align-items-center justify-content-between">
  <div>
    <a href="{{ path('admin_hubs') }}" class="btn btn-default">
      {{ 'adminDashboard.hubs.title'|trans }}
    </a>
    <a href="{{ path('admin_promotions') }}" class="btn btn-default">{% trans %}adminDashboard.promotions.title{% endtrans %}</a>
    <a href="{{ path('admin_restaurants_pledges') }}" class="btn btn-default">{% trans %}adminDashboard.pledges.title{% endtrans %}</a>
  </div>
  <a href="{{ path('admin_restaurant_new') }}" class="btn btn-success">
    <i class="fa fa-plus"></i> {% trans %}adminDashboard.restaurants.createNew{% endtrans %}
  </a>
</div>
{% include "admin/pagination.html.twig" %}
{% include "_partials/restaurant/list.html.twig" %}
{% include "admin/pagination.html.twig" %}

{% endblock %}
