{% extends "deliveries.html.twig" %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block breadcrumb %}
<li><a href="{{ path('admin_tags') }}">{% trans %}adminDashboard.tags.title{% endtrans %}</a></li>
<li>{{ tag.name }}</li>
{% endblock %}

{% block content %}
{{ form_start(form) }}
  {{ form_widget(form) }}
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-block btn-primary">{% trans %}basics.save{% endtrans %}</button>
    </div>
  </div>
{{ form_end(form) }}
{% endblock %}

{% block scripts %}
<script>
new CoopCycle.ColorPicker(document.querySelector('#tag_color'))
</script>
{% endblock %}
