{% extends "deliveries.html.twig" %}

{% block breadcrumb %}
  {{ parent() }}
  <li>{% trans %}adminDashboard.time_slots.title{% endtrans %}</li>
{% endblock %}

{% block content %}

<p class="text-right">
  <a href="{{ path('admin_new_time_slot') }}" class="btn btn-success">
    <i class="fa fa-plus"></i> {{ 'basics.add'|trans }}
  </a>
</p>

<table class="table">
  <thead>
    <th>{{ 'form.time_slot.name.label'|trans }}</th>
    <th>{{ 'form.time_slot.interval.label'|trans }}</th>
    <th>{{ 'form.time_slot.prior_notice_hours.label'|trans }}</th>
    <th>{{ 'form.time_slot.same_day_cutoff.label'|trans }}</th>
    <th></th>
  </thead>
  <tbody>
  {% for time_slot in time_slots %}
    <tr>
      <td>
        <a href="{{ path('admin_time_slot', { id: time_slot.id }) }}">{{ time_slot.name }}</a>
      </td>
      <td>
        {{ time_slot.interval }}
      </td>
      <td>
        {{ time_slot.priorNotice }}
      </td>
      <td>
        {{ time_slot.sameDayCutoff }}
      </td>
      <td>
        <ul class="list-unstyled">
          {% for oh in time_slot.openingHours %}
            <li><span data-opening-hours="{{ oh|json_encode|e('html_attr') }}">{{ oh }}</span></li>
          {% endfor %}
        </ul>
      </td>
      <td>
        <div {{ react_component('ShowApplications', { objectId: time_slot.id, data: relatedEntitiesByTimeSlotId[time_slot.id] }) }}></div>
      </td>
      {% if is_granted('ROLE_ADMIN') %}
        <td>
          <div {{ react_component('DeleteIcon', { objectId: time_slot.id, objectName: time_slot.name, deleteUrl: 'api_time_slots_delete_item', errorMessage: 'ADMIN_PLEASE_UNLINK_TIME_SLOT_BEFORE_DELETION'}) }}>
          </div>
        </td>
      {% endif %}
    </tr>
  {% endfor %}
  </tbody>
</table>

<div class="text-center">
  {{ knp_pagination_render(time_slots, '@KnpPaginator/Pagination/twitter_bootstrap_v3_pagination.html.twig') }}
</div>

{% endblock %}

{% block scripts %}
{{ encore_entry_script_tags('time-slot-list') }}
{% endblock %}
