{% extends "deliveries.html.twig" %}

{% form_theme form 'form/time_slot.html.twig' %}

{% block breadcrumb %}
  {{ parent() }}
  {% set time_slot = form.vars.value %}
  <li><a href="{{ path('admin_time_slots') }}">{% trans %}adminDashboard.time_slots.title{% endtrans %}</a></li>
  {% if time_slot.id is not null %}
  <li>{{ time_slot.name }}</li>
  {% else %}
  <li>{{ 'basics.add'|trans }}</li>
  {% endif %}
{% endblock %}

{% block content %}

<div class="bg-light d-flex align-items-center justify-content-between p-4 mb-4">
  <label class="m-0">
    {{ 'form.time_slot.preview_title'|trans }}
    <i class="fa fa-refresh fa-spin fa fa-fw invisible" id="preview-loader"></i>
  </label>
  <div id="preview"
    data-url="{{ path('admin_time_slot_preview') }}"></div>
</div>

{{ form_start(form) }}
  {{ form_row(form.name) }}
  {{ form_row(form.interval) }}
  {{ form_row(form.priorNoticeHours) }}
  {{ form_row(form.sameDayCutoff) }}
  {% set time_slot = form.vars.data %}
  {% set is_advanced = (time_slot.id is not null and time_slot.hasOpeningHours()) %}
  <div class="text-right mb-4">
    <div class="btn-group">
      <label class="btn btn-default {% if not is_advanced %}active{% endif %}">
        <input type="radio" data-name="mode" data-mode="simple" {% if not is_advanced %}checked{% endif %}> Mode simple
      </label>
      <label class="btn btn-default {% if is_advanced %}active{% endif %}">
        <input type="radio" data-name="mode" data-mode="advanced" {% if is_advanced %}checked{% endif %}> Mode avancé
      </label>
    </div>
  </div>
  {{ form_errors(form) }}
  <div id="simple" {% if is_advanced %}class="hidden"{% endif %}>
    {{ form_row(form.workingDaysOnly) }}
    {{ form_row(form.choices) }}
    <div>
      <button type="button" class="btn btn-success" id="simple-add"><i class="fa fa-plus"></i>  {{ 'basics.add'|trans }}</button>
    </div>
  </div>
  <div id="advanced" {% if not is_advanced %}class="hidden"{% endif %}>
    {% set opening_hours_errors = [] %}
    {% for key, value in form.openingHours %}
      {% if not value.vars.valid %}
        {% set opening_hours_errors = opening_hours_errors|merge([ key ]) %}
      {% endif %}
    {% endfor %}
    {{ form_row(form.openingHours, { attr: { 'data-errors': opening_hours_errors|json_encode } }) }}
  </div>
  <hr>
  <button type="submit" class="btn btn-lg btn-block btn-primary">
    {{ 'basics.save'|trans }}
  </button>
{{ form_end(form) }}
{% endblock %}

{% block scripts %}
{{ encore_entry_script_tags('time-slot-form') }}
{% endblock %}
