{% extends "admin.html.twig" %}

{% form_theme form 'form/user.html.twig' %}

{% block breadcrumb %}
  <li><a href="{{ path('admin_users') }}">{% trans %}adminDashboard.users.title{% endtrans %}</a></li>
  <li>{% trans %}adminDashboard.users.invite{% endtrans %}</li>
{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <h2 class="page-header">
        {% trans %}adminDashboard.users.invite{%  endtrans %}
      </h2>
      {{ form_start(form) }}

        {{ form_row(form.email) }}
        {{ form_row(form.roles, { label: false }) }}

        {% if is_granted('ROLE_ADMIN') %}
        {{ form_widget(form.restaurants, { attr: { 'data-search-url': path('admin_restaurants_search', { format: 'json'  }) } }) }}
        {{ form_widget(form.stores, { attr: { 'data-search-url': path('admin_stores_search', { format: 'json'  }) } }) }}
        {% endif %}
        <hr>
        <button type="submit" class="btn btn-block btn-lg btn-primary">{{ 'basics.send_invitation'|trans }}</button>
      {{ form_end(form) }}
    </div>
  </div>
{% endblock %}

{% block styles %}
  {{ encore_entry_link_tags('user-invite') }}
{% endblock %}

{% block scripts %}
  {{ encore_entry_script_tags('user-invite') }}
{% endblock %}
