{% extends "admin.html.twig" %}

{% form_theme form 'form/user.html.twig' %}
{% if employee_profile_form is not null %}
  {% form_theme employee_profile_form 'bootstrap_3_layout.html.twig' %}
{% endif %}

{% block breadcrumb %}
<li><a href="{{ path('admin_users') }}">{% trans %}adminDashboard.users.title{% endtrans %}</a></li>
<li><a href="{{ path('admin_user_details', { username: user.username }) }}">{{ user.username }}</a></li>
<li>{% trans %}basics.edit{% endtrans %}</li>
{% endblock %}

{% block content %}
    <h2 class="page-header">
      {% trans %}adminDashboard.users.editUser{%  endtrans %}
    </h2>
    {% if is_hr_admin %}
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">{% trans %}adminDashboard.users.editUser{% endtrans %}</a></li>
      <li role="presentation"><a href="#hr" aria-controls="hr" role="tab" data-toggle="tab">{% trans %}hr.tab.title{% endtrans %}</a></li>
    </ul>
    <div class="tab-content pt-4">
      <div role="tabpanel" class="tab-pane active" id="profile">
    {% endif %}
    {{ form_start(form) }}
      {{ form_row(form.username) }}
      {% if form.email is defined %}
        {{ form_row(form.email) }}
      {% endif %}
      {{ form_row(form.fullName) }}
      {{ form_row(form.telephone) }}
      {% if form.quotesAllowed is defined %}
        {{ form_row(form.quotesAllowed) }}
      {% endif %}

      {% if form.tags is defined %}
        {{ form_row(form.tags) }}
      {% endif %}

      <div class="switch-wrapper mb-4">
        {{ form_label(form.enabled) }} {{ form_widget(form.enabled, { attr: { class: 'checkbox switch' }}) }}<br>
        <span class="help-block">{{ "user.edit.enabled.help" | trans | raw }}</span>
      </div>
      {% if form.restaurants is defined %}
        {{ form_widget(form.restaurants, { attr: { 'data-search-url': path('admin_restaurants_search', { format: 'json'  }) } }) }}
      {% endif %}
      {% if form.stores is defined %}
        {{ form_widget(form.stores, { attr: { 'data-search-url': path('admin_stores_search', { format: 'json'  }) } }) }}
      {% endif %}
      {{ form_row(form.roles) }}
      <button type="submit" class="btn btn-block btn-primary">{% trans %}basics.save{% endtrans %}</button>
    {{ form_end(form) }}
    {% if is_hr_admin %}
      </div>
      <div role="tabpanel" class="tab-pane" id="hr">
        {{ form_start(employee_profile_form) }}
          {{ form_row(employee_profile_form.contractStartDate) }}
          {{ form_row(employee_profile_form.dateOfBirth) }}
          {{ form_row(employee_profile_form.addressStreet) }}
          {{ form_row(employee_profile_form.addressPostalCode) }}
          {{ form_row(employee_profile_form.addressLocality) }}
          {{ form_row(employee_profile_form.addressCountry) }}
          {{ form_row(employee_profile_form.salaryType) }}
          {{ form_row(employee_profile_form.salaryAmount) }}
          {{ form_row(employee_profile_form.weeklyContractedHours) }}

          <h3>{% trans %}hr.holidaysHistory.title{% endtrans %}</h3>
          {% if holiday_requests|length > 0 %}
            <table class="table">
              <thead>
                <tr>
                  <th>{% trans %}hr.holidaysHistory.from{% endtrans %}</th>
                  <th>{% trans %}hr.holidaysHistory.to{% endtrans %}</th>
                  <th>{% trans %}hr.holidaysHistory.status{% endtrans %}</th>
                  <th>{% trans %}hr.holidaysHistory.comment{% endtrans %}</th>
                </tr>
              </thead>
              <tbody>
                {% for holidayRequest in holiday_requests %}
                  <tr>
                    <td>{{ holidayRequest.startDate|date('d/m/Y') }}</td>
                    <td>{{ holidayRequest.endDate|date('d/m/Y') }}</td>
                    <td><span class="label label-default">{{ holidayRequest.status }}</span></td>
                    <td>{{ holidayRequest.comment }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          {% else %}
            <p class="text-muted">{% trans %}hr.holidaysHistory.empty{% endtrans %}</p>
          {% endif %}

          <button type="submit" class="btn btn-block btn-primary">{% trans %}basics.save{% endtrans %}</button>
        {{ form_end(employee_profile_form) }}
      </div>
    </div>
    {% endif %}
{% endblock %}

{% block styles %}
  {{ encore_entry_link_tags('user-invite') }}
  {{ encore_entry_link_tags('user-form') }}
{% endblock %}

{% block scripts %}
  {{ encore_entry_script_tags('user-invite') }}
  {{ encore_entry_script_tags('user-form') }}
{% endblock %}
