{% extends "admin.html.twig" %}

{% form_theme form 'form/user.html.twig' %}

{% block breadcrumb %}
<li><a href="{{ path('admin_users') }}">{% trans %}adminDashboard.users.title{% endtrans %}</a></li>
<li><a href="{{ path('admin_user_details', { username: user.username }) }}">{{ user.username }}</a></li>
<li>{% trans %}basics.edit{% endtrans %}</li>
{% endblock %}

{% block content %}
    <h2 class="page-header">
      {% trans %}adminDashboard.users.editUser{%  endtrans %}
    </h2>
    {{ form_start(form) }}
      {{ form_row(form.username) }}
      {% if form.email is defined %}
        {{ form_row(form.email) }}
      {% endif %}
      {{ form_row(form.fullName) }}
      {{ form_row(form.telephone) }}
      {% if form.quotesAllowed is defined %}
        {{ form_row(form.quotesAllowed) }}
      {% endif %}
      <div class="switch-wrapper margin-bottom-md">
        {{ form_label(form.enabled) }} {{ form_widget(form.enabled, { attr: { class: 'checkbox switch' }}) }}<br>
        <span class="help-block">{{ "user.edit.enabled.help" | trans | raw }}</span>
      </div>
      {% if form.restaurants is defined %}
        {{ form_row(form.restaurants) }}
      {% endif %}
      {% if form.stores is defined %}
        {{ form_row(form.stores) }}
      {% endif %}
      {{ form_row(form.roles) }}
      <button type="submit" class="btn btn-block btn-primary">{% trans %}basics.save{% endtrans %}</button>
    {{ form_end(form) }}
{% endblock %}

{% block styles %}
  {{ encore_entry_link_tags('user-form') }}
{% endblock %}

{% block scripts %}
  <script>
    window.AppData = window.AppData || {}
    window.AppData.restaurantsSearchUrl = "{{ path('admin_restaurants_search', { format: 'json'  }) }}"
    window.AppData.storesSearchUrl = "{{ path('admin_stores_search', { format: 'json'  }) }}"
  </script>
  {{ encore_entry_script_tags('user-form') }}
{% endblock %}
