{% extends "admin.html.twig" %}

{% block breadcrumb %}
<li>{% trans %}adminDashboard.users.title{% endtrans %}</li>
{% endblock %}

{% block content %}

<div class="d-flex flex-row mb-4">
  <div class="w-50">
    <div id="user-search"></div>
  </div>
  <div class="w-50 text-right">
    <div class="dropdown pull-right ml-2">
      <button class="btn btn-default dropdown-toggle" type="button" id="users-sort"
        data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="true">
        {% if users.isSorted('u.username') and users.direction == 'asc' %}
          {{ 'users.sort.alphabetically'|trans }}
        {% else %}
          {{ 'users.sort.newest'|trans }}
        {% endif %}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="users-sort">
        <li>{{ knp_pagination_sortable(users, 'users.sort.newest'|trans, 'u.id', {}, { direction: 'desc' } )|raw }}</li>
        <li>{{ knp_pagination_sortable(users, 'users.sort.alphabetically'|trans, 'u.username', {}, { direction: 'asc' } )|raw }}</li>
      </ul>
    </div>
    <a href="{{ path('admin_users_invite') }}" class="btn btn-info">
      <i class="fa fa-plus"></i> {% trans %}adminDashboard.users.invite{% endtrans %}
    </a>
  </div>
</div>

{% set tab_items = [
  {
    title: 'users.all'|trans,
    icon: 'user',
    active: ((users.params.filterField is not defined) or (users.params.filterField == 'u.username')),
    path: path('admin_users')
  },
  {
    title: 'users.couriers'|trans,
    icon: 'bicycle',
    active: (users.params.filterField is defined and users.params.filterField == 'u.roles' and users.params.filterValue == '*ROLE_COURIER*'),
    path: path('admin_users', { filterField: 'u.roles', filterValue: '*ROLE_COURIER*' })
  },
  {
    title: 'users.restaurant_owners'|trans,
    icon: 'cutlery',
    active: (users.params.filterField is defined and users.params.filterField == 'u.roles' and users.params.filterValue == '*ROLE_RESTAURANT*'),
    path: path('admin_users', { filterField: 'u.roles', filterValue: '*ROLE_RESTAURANT*' })
  },
  {
    title: 'users.store_owners'|trans,
    icon: 'shopping-cart',
    active: (users.params.filterField is defined and users.params.filterField == 'u.roles' and users.params.filterValue == '*ROLE_STORE*'),
    path: path('admin_users', { filterField: 'u.roles', filterValue: '*ROLE_STORE*' })
  },
  {
    title: 'users.administrators'|trans,
    icon: 'lock',
    active: (users.params.filterField is defined and users.params.filterField == 'u.roles' and users.params.filterValue == '*ROLE_ADMIN*'),
    path: path('admin_users', { filterField: 'u.roles', filterValue: '*ROLE_ADMIN*' })
  }
] %}

<ul class="nav nav-tabs">
  {% for tab_item in tab_items %}
  <li role="presentation" class="{% if tab_item.active %}active{% endif %}">
    <a href="{{ tab_item.path }}">
      <i class="fa fa-{{ tab_item.icon }}"></i> {{ tab_item.title }}
    </a>
  </li>
  {% endfor %}
</ul>

<table class="table">
<thead>
  <th>#</th>
  <th>{% trans %}profile.username{% endtrans  %}</th>
  <th>{% trans %}profile.email{% endtrans  %}</th>
  <th>{% trans %}profile.telephone{% endtrans  %}</th>
  <th class="text-right">{% trans %}adminDashboard.users.roles{% endtrans  %}</th>
  <th></th>
</thead>
<tbody>
{% for user in users %}
  <tr>
    <td><a href="{{ path('admin_user_details', { username: user.username }) }}">#{{ user.id }}</a></td>
    <td>{{ user.username }}</td>
    <td>
      {% if is_demo %}
        ✴✴✴
      {% else %}
        {{ user.email }}
      {% endif %}
    </td>
    <td>{% if user.telephone %}{{ user.telephone |phone_number_format('NATIONAL') }}{% endif %}</td>
    <td class="text-right">
      {% include "_partials/user/roles.html.twig" %}
    </td>
    <td class="text-right">
      <a class="btn btn-xs btn-success" href="{{ path('admin_user_edit', { username: user.username }) }}">
        <i class="fa fa-pencil" aria-hidden="true"></i>  {% trans from 'messages' %}Edit{%  endtrans %}
      </a>
    </td>
  </tr>
{% endfor %}
</table>
</tbody>
<nav class="text-center">
  {{ knp_pagination_render(users) }}
</nav>
{% endblock %}

{% block scripts %}
<script>
new CoopCycle.Search(document.querySelector('#user-search'), {
  url: "{{ path('admin_users_search', { format: 'json'  }) }}",
  placeholder: "{{ 'search.users'|trans }}",
  onSuggestionSelected: function(suggestion) {
    window.location.href =
      "{{ path('admin_users', { filterField: 'u.username', filterValue: '' })|raw }}".replace('filterValue=', 'filterValue=' + suggestion.username);
  }
});
</script>
{% endblock %}
