{% extends "admin.html.twig" %}

{% if users_export_form is defined %}
  {% form_theme users_export_form 'bootstrap_3_layout.html.twig' %}
{% endif %}

{% block breadcrumb %}
<li>{% trans %}adminDashboard.users.title{% endtrans %}</li>
{% endblock %}

{% block content %}

<div class="d-flex flex-row mb-4">
  <div class="w-50">
    <div id="user-search"></div>
  </div>
  <div class="w-50 text-right">
    <div class="dropdown pull-right ml-2">
      <button class="btn btn-default dropdown-toggle" type="button" id="users-sort"
        data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="true">
        {% if customers.isSorted('u.username') and customers.direction == 'asc' %}
          {{ 'users.sort.alphabetically'|trans }}
        {% else %}
          {{ 'users.sort.newest'|trans }}
        {% endif %}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="users-sort">
        <li>{{ knp_pagination_sortable(customers, 'users.sort.newest'|trans, 'c.id', {}, { direction: 'desc' } )|raw }}</li>
        <li>{{ knp_pagination_sortable(customers, 'users.sort.alphabetically'|trans, 'u.username', {}, { direction: 'asc' } )|raw }}</li>
      </ul>
    </div>
    <a href="{{ path('admin_users_invite') }}" class="btn btn-info">
      <i class="fa fa-plus"></i> {% trans %}adminDashboard.users.invite{% endtrans %}
    </a>
    {% if optin_export_users_enabled %}
      <button class="btn btn-primary btn-success" type="button" data-toggle="modal" data-target="#users-export-modal">
        <i class="fa fa-download"></i> {{ 'adminDashboard.dashboard.export'|trans }}
      </button>
    {% endif %}
  </div>
</div>

{% set tab_items = [
  {
    title: 'users.all'|trans,
    icon: 'user',
    active: ((customers.params.filterField is not defined) or (customers.params.filterField == 'u.username')),
    path: path('admin_users')
  },
  {
    title: 'users.couriers'|trans,
    icon: 'bicycle',
    active: (customers.params.filterField is defined and customers.params.filterField == 'u.roles' and customers.params.filterValue == '*ROLE_COURIER*'),
    path: path('admin_users', { filterField: 'u.roles', filterValue: '*ROLE_COURIER*' })
  },
  {
    title: 'users.restaurant_owners'|trans,
    icon: 'cutlery',
    active: (customers.params.filterField is defined and customers.params.filterField == 'u.roles' and customers.params.filterValue == '*ROLE_RESTAURANT*'),
    path: path('admin_users', { filterField: 'u.roles', filterValue: '*ROLE_RESTAURANT*' })
  },
  {
    title: 'users.store_owners'|trans,
    icon: 'shopping-cart',
    active: (customers.params.filterField is defined and customers.params.filterField == 'u.roles' and customers.params.filterValue == '*ROLE_STORE*'),
    path: path('admin_users', { filterField: 'u.roles', filterValue: '*ROLE_STORE*' })
  },
  {
    title: 'users.dispatchers'|trans,
    icon: 'code-fork',
    active: (customers.params.filterField is defined and customers.params.filterField == 'u.roles' and customers.params.filterValue == '*ROLE_DISPATCHER*'),
    path: path('admin_users', { filterField: 'u.roles', filterValue: '*ROLE_DISPATCHER*' })
  },
  {
    title: 'users.administrators'|trans,
    icon: 'lock',
    active: (customers.params.filterField is defined and customers.params.filterField == 'u.roles' and customers.params.filterValue == '*ROLE_ADMIN*'),
    path: path('admin_users', { filterField: 'u.roles', filterValue: '*ROLE_ADMIN*' })
  },
  {
    title: 'users.disabled'|trans,
    icon: 'ban',
    active: (customers.params.filterField is defined and customers.params.filterField == 'u.enabled' and customers.params.filterValue == '0'),
    path: path('admin_users', { filterField: 'u.enabled', filterValue: '0' })
  }
] %}

<ul class="nav nav-tabs">
  {% for tab_item in tab_items %}
  <li role="presentation" class="{% if tab_item.active %}active{% endif %}">
    <a href="{{ tab_item.path }}">
      <i class="fa fa-{{ tab_item.icon }}"></i> {{ tab_item.title }}
    </a>
  </li>
  {% endfor %}
</ul>

<table class="table">
<thead>
  <th>{% trans %}profile.email{% endtrans  %}</th>
  <th>{% trans %}profile.fullName{% endtrans  %}</th>
  <th>{% trans %}adminDashboard.tags.title{% endtrans  %}</th>
  <th>{% trans %}profile.telephone{% endtrans  %}</th>
  <th class="text-right">{% trans %}adminDashboard.users.orders_count{% endtrans  %}</th>
  <th class="text-right">{% trans %}adminDashboard.users.registered_at{% endtrans  %}</th>
  <th class="text-right">{% trans %}adminDashboard.users.last_order{% endtrans  %}</th>
  <th class="text-right">{% trans %}adminDashboard.users.roles{% endtrans  %}</th>
  <th>{% trans %}profile.username{% endtrans  %}</th>
  <th></th>
  <th></th>
</thead>
<tbody>
{% for customer in customers %}
  <tr>
    <td>
      <span class="text-monospace">{% if is_demo %}✴✴✴{% else %}{{ customer.emailCanonical }}{% endif %}</span>
    </td>
    <td>
      {% if customer.fullName is not empty %}{{ customer.fullName }}{% endif %}
    </td>
    <td>
      {% for tag in customer.tags|expand_tags %}
      <span class="label label-default" style="background-color: {{ tag.color }};">{{ tag.slug }}</span>
      {% endfor %}
    </td>
    <td>
      {% if customer.phoneNumber is not empty %}{{ customer.phoneNumber }}{% endif %}
    </td>
    <td class="text-right">
      {{ attributes[customer.emailCanonical]['orders_count'] }}
    </td>
    <td class="text-right">
      {{ customer.createdAt|time_diff }}
    </td>
    <td class="text-right">
      {% if attributes[customer.emailCanonical]['last_order'] is not empty %}
        {{ attributes[customer.emailCanonical]['last_order'].updatedAt|time_diff }}
      {% endif %}
    </td>
    <td class="text-right">
      {% if customer.hasUser() %}
        {% include "_partials/user/roles.html.twig" with { user: customer.user } %}
      {% endif %}
    </td>
    <td>
      {% if customer.hasUser() %}
        <strong class="text-monospace">{{ customer.user.username }}</strong>
      {% endif %}
    </td>
    <td class="text-right">
      {% if customer.hasUser() %}
      <a class="btn btn-xs btn-success"
        href="{{ path('admin_user_edit', { username: customer.user.username }) }}">
        <i class="fa fa-pencil" aria-hidden="true"></i>  {{ 'basics.edit'|trans }}
      </a>
      {% endif %}
    </td>
    <td class="text-right">
      {# Show delete button only for "normal" users, without any special role #}
      {% if customer.hasUser() and customer.user.enabled and customer.user.hasRole('ROLE_USER') and customer.user.roles|length == 1 %}
      <form method="post" action="{{ path('admin_user_delete', { username: customer.user.username }) }}">
        <button type="submit" class="btn btn-xs btn-danger"
          href="{{ path('admin_user_delete', { username: customer.user.username }) }}"
          onclick="return confirm('{{ 'adminDashboard.users.confirmDeleteUser'|trans({ '%email%': customer.emailCanonical })|escape('js') }}')">
          <i class="fa fa-trash" aria-hidden="true"></i>  {{ 'basics.delete'|trans }}
        </button>
      </form>
      {% endif %}
    </td>
  </tr>
{% endfor %}
</table>
</tbody>
<nav class="text-center">
  {{ knp_pagination_render(customers) }}
</nav>

{% if users_export_form is defined %}
<div class="modal fade" tabindex="-1" role="dialog" id="users-export-modal">
  <div class="modal-dialog" role="document">
    {{ form_start(users_export_form, { attr: { class: 'modal-content' } }) }}
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{ 'adminDashboard.dashboard.export'|trans }}</h4>
      </div>
      <div class="modal-body">
        {{ form_row(users_export_form.optins) }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'basics.cancel'|trans }}</button>
        <button type="submit" class="btn btn-primary">{{ 'adminDashboard.dashboard.export'|trans }}</button>
      </div>
    {{ form_end(users_export_form) }}
  </div>
</div>
{% endif %}

{% endblock %}

{% block scripts %}
<script>
new CoopCycle.Search(document.querySelector('#user-search'), {
  url: "{{ path('admin_users_search', { format: 'json'  }) }}",
  placeholder: "{{ 'search.users'|trans }}",
  onSuggestionSelected: function(suggestion) {
    window.location.href =
      "{{ path('admin_users', { filterField: 'u.username', filterValue: '' })|raw }}".replace('filterValue=', 'filterValue=' + suggestion.username);
  }
});
</script>
{% endblock %}
