{% extends "deliveries.html.twig" %}

{% block breadcrumb %}
<li>
  <a href="{{ path('admin_vehicles') }}">{{ 'vehicles.breadcrumb'|trans }}</a>
</li>
<li>
  {{ 'basics.add'|trans }}
</li>
{% endblock %}

{% block content %}
{{ form_start(form) }}
  {{ form_widget(form) }}
  <button type="submit" class="btn btn-block btn-lg btn-primary">
    {{ 'basics.save'|trans }}
  </button>
{{ form_end(form) }}
{% endblock %}
