{% extends "pdf/layout.html.twig" %}

{% block styles %}
<style>
.bordered-box {
  border: 1px solid #ddd;
  padding: 5mm;
}
.receipt-header {
  text-align: center;
  margin-bottom: 10mm;
}
.task-images {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.task-image {
  flex: 1;
  padding: 5mm;
  max-width: 25%;
}
</style>
{% endblock %}

{% block header_right %}
<ul style="text-align: right;">
  <li><strong>{{ coopcycle_setting('brand_name') }}</strong></li>
  <li>{{ coopcycle_setting('administrator_email') }}</li>
  {% set phone_number = coopcycle_setting('phone_number') %}
  {% if phone_number is not empty %}
  <li>
    <span>{{ phone_number|phone_number_format('NATIONAL') }}</span>
  </li>
  {% endif %}
</ul>
{% endblock %}

{% block content %}

<p>
{% trans with {
  '%ref%': '#' ~ task.id } %}task.receipt.reference{% endtrans %}
</p>

<p>
{{ 'task.receipt.greeting'|trans }}
</p>
<p>
{% trans with {
  '%address%': task.address.streetAddress,
  '%date%': task.completedAt|localizeddate('short', 'short') } %}task.receipt.message{% endtrans %}
</p>

{% if task.address.contactName is not empty %}
<p>
{% trans with {
  '%name%': task.address.contactName } %}task.receipt.received_by{% endtrans %}
</p>
{% endif %}

{% if task.images|length > 0 %}
<h5 style="text-align: center;">{{ 'task.receipt.attached_images'|trans }}</h5>
<div class="task-images">
{% for task_image in task.images %}
  <div class="task-image">
    <img src="{{ coopcycle_asset_base64(task_image, 'file', 'task_image_thumbnail') }}" width="100%" height="auto" />
  </div>
{% endfor %}
</div>
{% endif %}

{% endblock %}
