{% extends "@App/admin.html.twig" %}

{% block breadcrumb %}
<li>{% trans %}adminDashboard.activity.title{% endtrans %}</li>
{% endblock %}

{% block content %}
<div class="text-right">
  <div id="datepicker"></div>
</div>

<hr>

<table class="table">
{% for event in events %}
  <tr>
    <td>
      {% if event.icon is defined %}<i class="fa fa-{{ event.icon }}"></i>  {% endif %}{{ event.forHumans|coopcycle_markup|raw }}
    </td>
    <td class="text-right">
      {{ event.createdAt|localizeddate('short', 'short') }}
    </td>
  </tr>
{% endfor %}
</table>
{% endblock %}

{% block scripts %}
  <script>
    var activityURL = "{{ path('admin_activity', { date: '__DATE__' }) }}";
    new CoopCycle.DatePicker(document.querySelector('#datepicker'), {
      defaultValue: "{{ date|date('Y-m-d') }}",
      onChange: function(date, dateString) {
        window.location.href = activityURL.replace('__DATE__', date.format('YYYY-MM-DD'))
      }
    });
  </script>
{% endblock %}
