{% extends "AppBundle::base.html.twig" %}

{% form_theme task_upload_form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block banner %}{% endblock %}
{% block menu %}
  {% if nav %}
  {% include "AppBundle:Admin:nav.html.twig" with { nav_class: 'navbar--dashboard' } %}
  {% endif %}
{% endblock %}
{% block footer %}{% endblock %}

{% block body %}
<div class="dashboard" id="dashboard">
    <div class="dashboard__map">
      <div class="dashboard__map-container"></div>
      <div class="dashboard__toolbar-container">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <div id="date-picker" class="navbar-text"></div>
              <ul class="nav navbar-nav navbar-right">
                <li>
                  <a href="#" data-toggle="modal" data-target="#export-modal">
                    <i class="fa fa-download" aria-hidden="true"></i> {% trans %}Export{% endtrans %}
                  </a>
                </li>
                <li>
                  <a href="#" data-toggle="modal" data-target="#upload-modal">
                    <i class="fa fa-upload" aria-hidden="true"></i> {% trans %}Import{% endtrans %}
                  </a>
                </li>
                {% if task_upload_form.vars.submitted and not task_upload_form.vars.valid %}
                {% set task_upload_form_errors %}
                  {% spaceless %}
                  <ul class="list-unstyled">
                  {% for error in task_upload_form.file.vars.errors %}
                    <li>{{ error.message }}</li>
                  {% endfor %}
                  </ul>
                  {% endspaceless %}
                {% endset %}
                <li>
                  <a id="task-upload-form-errors" href="#" data-toggle="popover" data-placement="top"
                    data-content="{{ task_upload_form_errors|e('html_attr') }}">
                    <span class="text-danger"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> {% trans %}Import errors{% endtrans %}</span>
                  </a>
                </li>
                {% endif %}
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <aside class="dashboard__aside"></aside>
</div>

<div class="modal fade" id="upload-modal" tabindex="-1" role="dialog" aria-labelledby="upload-modal-label">
  <div class="modal-dialog" role="document">
    {{ form_start(task_upload_form, { attr: { class: 'modal-content' } }) }}
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="upload-modal-label">{% trans %}Import tasks{% endtrans %}</h4>
      </div>
      <div class="modal-body">
        <div class="alert alert-info">
          {% trans with { '%date%': date|localizeddate('medium', 'none') } %}Tasks matching %date% will be imported{% endtrans %}
        </div>
        <div class="form-horizontal">
          {{ form_row(task_upload_form.file) }}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Cancel{% endtrans %}</button>
        <button type="submit" class="btn btn-primary">{% trans %}Import{% endtrans %}</button>
      </div>
    {{ form_end(task_upload_form) }}
  </div>
</div>

<div class="modal fade" id="export-modal" tabindex="-1" role="dialog" aria-labelledby="export-modal-label">
  <div class="modal-dialog" role="document">
    {{ form_start(task_export_form, { attr: { class: 'modal-content' } }) }}
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="export-modal-label">{% trans %}Export tasks{% endtrans %}</h4>
      </div>
      <div class="modal-body">
        <div class="alert alert-info">
          {% trans with { '%date%': date|localizeddate('medium', 'none') } %}Tasks matching %date% will be exported{% endtrans %}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Cancel{% endtrans %}</button>
        <button type="submit" class="btn btn-primary">{% trans %}Export{% endtrans %}</button>
      </div>
    {{ form_end(task_export_form) }}
  </div>
</div>

<div class="modal fade" id="task-group-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    {{ form_start(task_group_form, { attr: { class: 'modal-content' } }) }}
      {{ form_widget(task_group_form.id) }}
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{% trans %}Delete task group{% endtrans %}</h4>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger">
          {% trans %}You are going to delete a task group. This will delete all the tasks from the group.{% endtrans %}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Cancel{% endtrans %}</button>
        {{ form_widget(task_group_form.delete, { attr: { class: 'btn btn-danger' } }) }}
      </div>
    {{ form_end(task_group_form) }}
  </div>
</div>

<div class="modal fade" id="task-modal" tabindex="-1" role="dialog">
  {% include "AppBundle::_partials/Task/form.html.twig" with { form: new_task_form } %}
</div>
<div class="modal fade" id="task-edit-modal" tabindex="-1" role="dialog"></div>

<script id="task-list-group-mode-template" type="text/template">
  <ul class="list-unstyled nomargin">
    <li><a href="#" id="task-list-group-mode--group">{% trans %}Display by groups{% endtrans %}</a></li>
    <li><a href="#" id="task-list-group-mode--none">{% trans %}Display all{% endtrans %}</a></li>
  </ul>
</script>

<script id="task-tag-list-popover-template" type="text/template">
<div class="popover" role="tooltip">
  <div class="arrow"></div>
  <h3 class="popover-title hidden"></h3>
  <div class="popover-content nopadding"></div>
</div>
</script>

{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ asset('css/dashboard.css') }}">
{% endblock %}

{% block scripts %}
<script src="/tracking/socket.io/socket.io.js"></script>
<script>

{% set dashboard_route_params = { date: '__DATE__' } %}
{% if not nav %}
  {% set dashboard_route_params = dashboard_route_params|merge({ nav: 'off' }) %}
{% endif %}

window.AppData = window.AppData || {}
window.AppData.Dashboard = {
  i18n: {
    'Waiting': "{{ date|localizeddate('medium', 'none') }}",
    'Unassigned': "{% trans %}dashboard.unassigned{% endtrans %}",
    'Assigned': "{% trans %}dashboard.assigned{% endtrans %}",
    'Add a user to the planning': "{% trans %}Add a user to the planning{% endtrans %}",
    'Courier': "{% trans %}Courier{% endtrans %}",
    'Add': "{% trans %}Add{% endtrans %}",
    'Cancel': "{% trans %}Cancel{% endtrans %}",
    'Display': "{% trans %}Display{% endtrans %}"
  },
  date: "{{ date|date('Y-m-d') }}",
  dashboardURL: "{{ path('admin_dashboard_fullscreen', dashboard_route_params)|raw }}",
  assignTaskURL: "{{ path('admin_tasks_assign', { date: date|date('Y-m-d'), username: '__USERNAME__' }) }}",
  taskModalURL: "{{ path('admin_task_modal_content', { id: '__TASK_ID__' }) }}",
  userURL: "{{ path('admin_dashboard_user', { username: '__USERNAME__' }) }}",
  tasks: {{ tasks|json_encode()|raw }},
  taskLists: {{ task_lists|json_encode()|raw }},
  couriersList: {{ couriers|json_encode()|raw }}
}
</script>
<script src="{{ asset('js/dashboard.js') }}"></script>
<script>
$('#task-upload-form-errors').popover({
  html: true,
  container: 'body'
})
$('#task-group-modal').on('show.bs.modal', function (event) {
  var $btn = $(event.relatedTarget);
  $('#task_group_id').val($btn.data('group'));
})
</script>
<script>
function initMap() {
  new CoopCycle.TaskModal("{{ new_task_form.vars.name }}", "{{ path('admin_tags', { format: 'json' }) }}");
}
</script>
<script src="{{ asset('js/widgets/address-input.js') }}"></script>
<script src="{{ asset('js/widgets/timeline.js') }}"></script>
<script src="{{ asset('js/task-modal.js') }}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ craue_setting('google_api_key') }}&libraries=places&callback=initMap"
  async defer></script>
{% endblock %}
