{% extends "@App/base.html.twig" %}

{% form_theme task_upload_form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block banner %}{% endblock %}
{% block menu %}
  {% if nav %}
  {% include '@App/admin/nav.html.twig' with { nav_class: 'navbar--dashboard' } %}
  {% endif %}
{% endblock %}
{% block footer %}{% endblock %}

{% block body %}

{% set dashboard_route_params = {} %}
{% if not nav %}
  {% set dashboard_route_params = dashboard_route_params|merge({ nav: 'off' }) %}
{% endif %}

<div class="dashboard {% if nav %}dashboard--nav{% endif %}" id="dashboard">
    <div class="dashboard__map">
      <div class="dashboard__toolbar-container">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav" id="dashboard-controls">
                {# Date Picker #}
                <li>
                  <div class="dashboard__date">
                    <a class="dashboard__date-link"
                      href="{{ path('admin_dashboard_fullscreen', dashboard_route_params|merge({ date: dayBefore|date('Y-m-d') })) }}">
                      <i class="fa fa-caret-left"></i>
                    </a>
                    <div class="dashboard__date-picker" id="date-picker"></div>
                    <a class="dashboard__date-link"
                      href="{{ path('admin_dashboard_fullscreen', dashboard_route_params|merge({ date: dayAfter|date('Y-m-d') })) }}">
                      <i class="fa fa-caret-right"></i>
                    </a>
                  </div>
                </li>
                <li>
                  <a href="#" data-toggle="modal" data-target="#export-modal">
                    <i class="fa fa-download" aria-hidden="true"></i> {% trans %}adminDashboard.dashboard.export{% endtrans %}
                  </a>
                </li>
                <li>
                  <a href="#" data-toggle="modal" data-target="#upload-modal">
                    <i class="fa fa-upload" aria-hidden="true"></i> {% trans %}adminDashboard.dashboard.import{% endtrans %}
                  </a>
                </li>
                {% if task_upload_form.vars.submitted and not task_upload_form.vars.valid %}
                  {% set task_upload_form_errors %}
                    {% spaceless %}
                      <ul class="list-unstyled">
                        {% for error in task_upload_form.file.vars.errors %}
                          <li>{{ error.message }}</li>
                        {% endfor %}
                      </ul>
                    {% endspaceless %}
                  {% endset %}
                  <li>
                    <a id="task-upload-form-errors" href="#" data-toggle="popover" data-placement="bottom"
                       data-content="{{ task_upload_form_errors|e('html_attr') }}">
                      <span class="text-danger"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> {% trans %}adminDashboard.dashboard.importErrors{% endtrans %}</span>
                    </a>
                  </li>
                {% endif %}
                {# Filters #}
                <li class="dropdown" id="dashboard-filters">
                  <a class="admin-navbar__link" href="#" role="button"
                    aria-haspopup="true" aria-expanded="false">
                    {% trans %}adminDashboard.dashboard.filters{% endtrans %} <span class="caret"></span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
      <div class="dashboard__map-container"></div>
    </div>
    <aside class="dashboard__aside"></aside>
</div>

<div class="modal fade" id="upload-modal" tabindex="-1" role="dialog" aria-labelledby="upload-modal-label">
  <div class="modal-dialog" role="document">
    {{ form_start(task_upload_form, { attr: { class: 'modal-content' } }) }}
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="upload-modal-label">{% trans %}adminDashboard.dashboard.importTasks{% endtrans %}</h4>
      </div>
      <div class="modal-body">
        <div class="alert alert-info">
          {% trans with { '%date%': date|localizeddate('medium', 'none') } %}Tasks matching %date% will be imported{% endtrans %}
        </div>
        <div class="form-horizontal">
          {{ form_row(task_upload_form.file) }}
        </div>
        <span class="help-block">{% trans %}form.task_upload.file.help{% endtrans %}</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}adminDashboard.dashboard.cancel{% endtrans %}</button>
        <button type="submit" class="btn btn-primary">{% trans %}adminDashboard.dashboard.import{% endtrans %}</button>
      </div>
    {{ form_end(task_upload_form) }}
  </div>
</div>

<div class="modal fade" id="export-modal" tabindex="-1" role="dialog" aria-labelledby="export-modal-label">
  <div class="modal-dialog" role="document">
    {{ form_start(task_export_form, { attr: { class: 'modal-content' } }) }}
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="export-modal-label">{% trans %}adminDashboard.dashboard.exportTasks{% endtrans %}</h4>
      </div>
      <div class="modal-body">
        <div class="alert alert-info">
          {% trans with { '%date%': date|localizeddate('medium', 'none') } %}Tasks matching %date% will be exported{% endtrans %}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}adminDashboard.dashboard.cancel{% endtrans %}</button>
        <button type="submit" class="btn btn-primary">{% trans %}adminDashboard.dashboard.export{% endtrans %}</button>
      </div>
    {{ form_end(task_export_form) }}
  </div>
</div>

<div class="modal fade" id="task-group-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    {{ form_start(task_group_form, { attr: { class: 'modal-content' } }) }}
      {{ form_widget(task_group_form.id) }}
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{% trans %}adminDashboard.dashboard.deleteTaskGroup{% endtrans %}</h4>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger">
          {% trans %}You are going to delete a task group. This will delete all the tasks from the group.{% endtrans %}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}adminDashboard.dashboard.cancel{% endtrans %}</button>
        {{ form_widget(task_group_form.delete, { attr: { class: 'btn btn-danger' } }) }}
      </div>
    {{ form_end(task_group_form) }}
  </div>
</div>

<div class="modal fade" id="task-modal" tabindex="-1" role="dialog">
  {% include "@App/_partials/task/form.html.twig" with { form: new_task_form } %}
</div>
<div class="modal fade" id="task-edit-modal" tabindex="-1" role="dialog"></div>

<script id="task-list-group-mode-template" type="text/template">
  <ul class="list-unstyled nomargin">
    <li><a href="#" id="task-list-group-mode--group">{% trans %}adminDashboard.dashboard.displayByGroups{% endtrans %}</a></li>
    <li><a href="#" id="task-list-group-mode--none">{% trans %}adminDashboard.dashboard.displayAll{% endtrans %}</a></li>
  </ul>
</script>

{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ asset('css/dashboard.css') }}">
{% endblock %}

{% block scripts %}
<script>

{% set dashboard_route_params = { date: '__DATE__' } %}
{% if not nav %}
  {% set dashboard_route_params = dashboard_route_params|merge({ nav: 'off' }) %}
{% endif %}

window.AppData = window.AppData || {}
window.AppData.Dashboard = {
  i18n: {
    'Waiting': "{{ date|localizeddate('medium', 'none') }}",
    'Cancel': "{% trans %}adminDashboard.dashboard.cancel{% endtrans %}",
    'Display': "{% trans %}adminDashboard.dashboard.display{% endtrans %}"
  },
  date: "{{ date|date('Y-m-d') }}",
  dashboardURL: "{{ path('admin_dashboard_fullscreen', dashboard_route_params)|raw }}",
  createTaskListURL: "{{ path('admin_task_list_create', { date: date|date('Y-m-d'), username: '__USERNAME__' }) }}",
  modifyTaskListURL: "{{ path('admin_task_list_modify', { date: date|date('Y-m-d'), username: '__USERNAME__' }) }}",
  taskModalURL: "{{ path('admin_task', { id: '__TASK_ID__' }) }}",
  avatarURL: "{{ path('user_avatar', { username: '__USERNAME__' }) }}",
  tasks: {{ tasks|json_encode()|raw }},
  taskLists: {{ task_lists|json_encode()|raw }},
  couriersList: {{ couriers|json_encode()|raw }},
  tags: {{ tags|json_encode()|raw }},
  jwt: "{{ jwt }}"
}
</script>
<script src="{{ asset('js/dashboard.js') }}"></script>
<script>
  $('#task-upload-form-errors').popover({
    html: true,
    container: 'body'
  })
  $('#task-group-modal').on('show.bs.modal', function (event) {
    var $btn = $(event.relatedTarget);
    $('#task_group_id').val($btn.data('group'));
  })
</script>
<script>
  function initMap() {
    new CoopCycle.TaskModal("{{ new_task_form.vars.name }}", "{{ path('admin_tags', { format: 'json' }) }}");
  }
  {% if not new_task_form.vars.valid %}
    $('#task-modal').modal('show');
  {% endif %}
</script>
<script src="{{ asset('js/task-modal.js') }}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ coopcycle_setting('google_api_key') }}&libraries=places&callback=initMap"
  async defer></script>
{% endblock %}
