{% extends "AppBundle::admin.html.twig" %}

{% block breadcrumb %}
<li>{% trans %}adminDashboard.deliveries.title{% endtrans %}</li>
{% endblock %}

{% block content %}

  {% if to_be_confirmed_warning %}
    <div class="alert alert-warning">
      <i class="fa fa-exclamation-triangle"></i> {{ 'admin.deliveries.to_be_confirmed.alert'|trans }}
    </div>
  {% endif %}

  <p class="text-right">
    <a href="{{ path('admin_deliveries_new') }}" class="btn btn-success">
      <i class="fa fa-plus"></i> {% trans %}adminDashboard.deliveries.createNew{% endtrans %}
    </a>
  </p>
  <table class="table">
    <thead>
      <th></th>
      <th>#</th>
      <th>{% trans %}adminDashboard.deliveries.type{% endtrans %}</th>
      <th>{% trans %}adminDashboard.deliveries.dueDate{% endtrans %}</th>
      <th>{% trans %}adminDashboard.deliveries.courier{% endtrans %}</th>
      <th>{% trans %}adminDashboard.deliveries.address{% endtrans %}</th>
      <th>{% trans %}adminDashboard.deliveries.delivery{% endtrans %}</th>
    </thead>
    <tbody>
    {% for task in tasks %}

      {% set row_classes = [] %}
      {% if task.delivery is not null and task.delivery.status == 'TO_BE_CONFIRMED' %}
        {% set row_classes = row_classes|merge(['warning']) %}
      {% endif %}

      <tr class="{{ row_classes|join(' ') }}">
        <td width="1%">
          {% include "AppBundle::_partials/Task/statusIcon.html.twig" %}
        </td>
        <td width="5%">
          <a href="#" data-task="{{ task.id }}">
            #{{ task.id }}
          </a>
        </td>
        <td width="5%">
          {% include "AppBundle::_partials/Task/typeLabel.html.twig" %}
        </td>
        <td width="15%">
          <i class="fa fa-clock-o"></i> {{ task.doneBefore|localizeddate('short', 'short') }}
        </td>
        <td>
        {% if task.assigned %}
          <a href="{{ path('admin_user_details', { username: task.assignedCourier.username }) }}" title="{{ task.assignedCourier.username }}">
            <i class="fa fa-user"></i> {{ task.assignedCourier.username }}
          </a>
        {% endif %}
        </td>
        <td>
          {{ task.address.streetAddress }}
        </td>
        <td width="5%" class="text-right">
          {% if task.delivery is not null %}
          <a href="{{ path(routes.view, { id: task.delivery.id }) }}"
            title="{% trans with { '%id%': task.delivery.id } %}Delivery #%id%{% endtrans %}">
            <i class="fa fa-exchange"></i>
          </a>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  <nav class="text-center">
    {{ knp_pagination_render(tasks) }}
  </nav>

  <div class="modal fade" id="task-edit-modal" tabindex="-1" role="dialog"></div>

  {% include "AppBundle::_partials/Task/tagListPopover.html.twig" %}

{% endblock %}

{% block scripts %}
<script>
window.AppData = window.AppData || {};
window.AppData.Delivery = {
  taskModalURL: "{{ path('admin_task_modal_content', { id: '__TASK_ID__' }) }}"
};
</script>
<script src="{{ asset('js/widgets.js') }}"></script>
<script src="{{ asset('js/task-modal.js') }}"></script>
<script src="{{ asset('js/delivery-list.js') }}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ craue_setting('google_api_key') }}&libraries=places"
  async defer></script>
{% endblock %}
