{% extends "@App/admin.html.twig" %}

{% block breadcrumb %}
<li>{% trans %}adminDashboard.deliveries.title{% endtrans %}</li>
{% endblock %}

{% block content %}

  <p class="text-right">
    <a href="#" class="btn btn-success" data-toggle="modal" data-target="#choose-store-modal">
      <i class="fa fa-plus"></i> {% trans %}adminDashboard.deliveries.createNew{% endtrans %}
    </a>
  </p>

  {% if filters|length > 0 %}
  <div>
    {% for f in filters %}
    <a class="btn btn-default" href="{{ path(routes.list, {}) }}">
      {{ f.label }} <i class="fa fa-times"></i>
    </a>
    {% endfor %}
    <hr>
  </div>
  {% endif %}

  <table class="table table-condensed task-table">
    <thead>
      <th>#</th>
      <th>{{ 'form.delivery.store.label'|trans }}</th>
      <th>{{ 'delivery.table.heading.summary'|trans }}</th>
      <th class="text-center">{{ 'delivery.table.heading.courier'|trans }}</th>
      <th class="text-center">{{ 'delivery.table.heading.order'|trans }}</th>
      <th></th>
      <th></th>
    </thead>
    <tbody>
    {% for delivery in deliveries %}
      <tr>
        <td>
          <a href="{{ path(routes.view, { id: delivery.id }) }}">{{ delivery.id }}</a>
        </td>
        <td>
          {% if delivery.store is not empty %}
            <a href="{{ path(routes.list, { store: delivery.store.id }) }}">
              {{ delivery.store.name }}
            </a>
          {% endif %}
        </td>
        <td>
          <small><i class="fa fa-cube"></i> {{ delivery.pickup.address.streetAddress }}</small>
          <br>
          <small><i class="fa fa-arrow-down"></i> {{ delivery.dropoff.address.streetAddress }}</small>
          <br>
          <small>{{ delivery.distance|meters_to_kilometers }}</small>
        </td>
        <td class="text-center">
          {% if delivery.pickup.isAssigned() and delivery.dropoff.isAssigned() %}
            {% if delivery.pickup.assignedCourier == delivery.dropoff.assignedCourier %}
              <a href="{{ path('admin_user_details', { username: delivery.pickup.assignedCourier.username }) }}">
                <img src="{{ path('user_avatar', { username: delivery.pickup.assignedCourier.username }) }}" width="20" height="20"> @{{ delivery.pickup.assignedCourier.username }}
              </a>
            {% endif %}
          {% endif %}
        </td>
        <td class="text-center">
          {% if delivery.order is defined and delivery.order is not empty %}
            <a href="{{ path('admin_order', { id: delivery.order.id }) }}">
              {{ delivery.order.number }}
            </a>
          {% endif %}
        </td>
        <td class="text-center" width="10%">
          <small class="text-muted">{{ delivery.createdAt|ago }}</small>
        </td>
        <td class="text-right">
          <a href="{{ path(routes.view, { id: delivery.id }) }}">{{ 'basics.view'|trans }}</a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  <nav class="text-center">
    {{ knp_pagination_render(deliveries) }}
  </nav>

  <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="choose-store-modal-label" id="choose-store-modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="choose-store-modal-label">{% trans %}adminDashboard.deliveries.createNew{% endtrans %}</h4>
        </div>
        <div class="modal-body">
          <select class="form-control" id="stores">
            <option></option>
            {% for store in stores %}
            <option value="{{ path(routes.store_new, { id: store.id }) }}">{{ store.name }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}basics.cancel{% endtrans %}</button>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block scripts %}
<script>
$('#stores').on('change', function(e) {
  window.location.href = $(this).val();
});
</script>
{% endblock %}
