{% extends "AppBundle::admin.html.twig" %}

{% block breadcrumb %}
<li>{% trans %}adminDashboard.deliveries.title{% endtrans %}</li>
{% endblock %}

{% block content %}

  <p class="text-right">
    <a href="{{ path('admin_deliveries_new') }}" class="btn btn-success">
      <i class="fa fa-plus"></i> {% trans %}adminDashboard.deliveries.createNew{% endtrans %}
    </a>
  </p>
  <table class="table">
    <thead>
      <th></th>
      <th>#</th>
      <th>{% trans %}adminDashboard.deliveries.type{% endtrans %}</th>
      <th>{% trans %}adminDashboard.deliveries.dueDate{% endtrans %}</th>
      <th>{% trans %}adminDashboard.deliveries.courier{% endtrans %}</th>
      <th>{% trans %}adminDashboard.deliveries.address{% endtrans %}</th>
    </thead>
    <tbody>
    {% for task in tasks %}
      <tr {% if task.delivery is not null %}style="border-left: 6px solid {{ task.delivery.color }};"{% endif %}>
        <td width="1%">
          {% include "AppBundle::_partials/Task/statusIcon.html.twig" %}
        </td>
        <td width="5%">
          <a href="#" data-task="{{ task.id }}">
            #{{ task.id }}
          </a>
        </td>
        <td width="5%">
          {% include "AppBundle::_partials/Task/typeLabel.html.twig" %}
        </td>
        <td width="15%">
          <i class="fa fa-clock-o"></i> {{ task.doneBefore|localizeddate('short', 'short') }}
        </td>
        <td>
        {% if task.assigned %}
          <a href="{{ path('admin_user_details', { username: task.assignedCourier.username }) }}" title="{{ task.assignedCourier.username }}">
            <i class="fa fa-user"></i> {{ task.assignedCourier.username }}
          </a>
        {% endif %}
        </td>
        <td>
          {{ task.address.streetAddress }}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  <nav class="text-center">
    {{ knp_pagination_render(tasks) }}
  </nav>

  <div class="modal fade" id="task-edit-modal" tabindex="-1" role="dialog"></div>

  {% include "AppBundle::_partials/Task/tagListPopover.html.twig" %}

{% endblock %}

{% block scripts %}
<script>
window.AppData = window.AppData || {};
window.AppData.Delivery = {
  taskModalURL: "{{ path('admin_task', { id: '__TASK_ID__' }) }}"
};
</script>
<script src="{{ asset('js/widgets.js') }}"></script>
<script src="{{ asset('js/task-modal.js') }}"></script>
<script src="{{ asset('js/delivery-list.js') }}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ craue_setting('google_api_key') }}&libraries=places"
  async defer></script>
{% endblock %}
