{% extends "AppBundle::admin.html.twig" %}

{% block breadcrumb %}
<li>{% trans %}Deliveries{% endtrans %}</li>
{% endblock %}

{% block content %}
  {% include "AppBundle::_partials/Delivery/list.html.twig" with { show_courier: true } %}
  <a href="{{ path('admin_deliveries_new') }}" class="btn btn-success">
    <i class="fa fa-plus"></i> {% trans %}Create new delivery{% endtrans %}
  </a>
  {% include "AppBundle::_partials/Delivery/modal.html.twig" %}
{% endblock %}

{% block scripts %}
<script>
window.AppData = window.AppData || {};
window.AppData.Delivery = {
  actions: {
    dispatch: "{{ path(routes.dispatch, { id: '__DELIVERY_ID__' }) }}",
    pick: "{{ path(routes.pick, { id: '__DELIVERY_ID__' }) }}",
    deliver: "{{ path(routes.deliver, { id: '__DELIVERY_ID__' }) }}"
  }
}
</script>
<script src="{{ asset('js/delivery-list.js') }}"></script>
{% endblock %}
