{% extends "@App/admin.html.twig" %}

{% form_theme embed_settings_form 'bootstrap_3_layout.html.twig' %}

{% block breadcrumb %}
<li>{% trans %}adminDashboard.embed.title{% endtrans %}</li>
{% endblock %}

{% block content %}

<h3>{% trans %}embed.delivery.title{% endtrans %}</h3>

{% if pricing_rule_set is null %}
  <div class="alert alert-warning">{% trans %}embed.delivery.configure_pricing_rule_set{% endtrans %}</div>
{% endif %}

{% if pricing_rule_set is not null %}
  <p>{% trans %}embed.delivery.iframe_code{% endtrans %}</p>
  {% set iframe_code %}<iframe src="{{ url('embed_delivery_start') }}" width="600" height="800" frameborder="0"></iframe>{% endset %}
  <pre>{{ iframe_code|e }}</pre>
{% endif %}

{{ form_start(embed_settings_form) }}
  {{ form_widget(embed_settings_form) }}
  <hr>
  <button type="submit" class="btn btn-block btn-primary">{{ 'basics.save'|trans }}</button>
{{ form_end(embed_settings_form) }}

{% endblock %}

{% block scripts %}
{% endblock %}
