{% extends "@App/admin.html.twig" %}

{% block body %}
<div id="foodtech-dashboard"></div>
{% endblock %}

{% block footer %}{% endblock %}

{% block scripts %}
{% set current_route = app.request.attributes.get('_route') %}
{{ encore_entry_script_tags('foodtech-dashboard') }}
<script>
var orders = {{ orders_normalized|json_encode()|raw }};
new CoopCycle.FoodtechDashboard(document.querySelector('#foodtech-dashboard'), {
  orders: orders['hydra:member'],
  date: "{{ date|date('Y-m-d') }}",
  currentRoute: "{{ current_route }}",
  preparationDelay: {{ preparation_delay }}
}, {
  onDateChange: function(date) {
    window.location.href =
      window.Routing.generate('{{ current_route }}', { date: date.format('YYYY-MM-DD') });
  }
});
</script>
{% endblock %}
