{% extends "@App/admin.html.twig" %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block breadcrumb %}
<li><a href="{{ path('admin_orders') }}">{{ 'adminDashboard.orders.title'|trans }}</a></li>
<li>{{ 'orders.new'|trans }}</li>
{% endblock %}

{% block content %}
{{ form_start(form) }}
  {{ form_widget(form) }}
  <button type="submit" class="btn btn-block btn-primary">
    {{ 'basics.save'|trans }}
  </button>
{{ form_end(form) }}
{% endblock %}

{% block scripts %}
{{ encore_entry_script_tags('delivery-form') }}
<script src="https://maps.googleapis.com/maps/api/js?key={{ coopcycle_setting('google_api_key') }}&libraries=places&callback=initMap"
  async defer></script>
{% endblock %}
