{% extends "AppBundle::admin.html.twig" %}

{% form_theme form 'AppBundle:Form:delivery.html.twig' %}

{% block breadcrumb %}
<li>{% trans %}Deliveries{% endtrans %}</li>
<li>{% trans %}New{% endtrans %}</li>
{% endblock %}

{% block content %}
{{ form_start(form) }}

  {{ form_row(form.originAddress) }}
  {{ form_row(form.deliveryAddress) }}

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="row">
        <div class="col-sm-6">
          {{ form_row(form.distance) }}
        </div>
        <div class="col-sm-6">
          {{ form_row(form.duration) }}
        </div>
      </div>
    </div>
  </div>

  {{ form_row(form.date) }}

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-block btn-primary">{% trans %}Save{% endtrans %}</button>
    </div>
  </div>

  <hr>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="embed-responsive embed-responsive-16by9">
        <div class="embed-responsive-item" id="map"></div>
      </div>
    </div>
  </div>

{{ form_end(form) }}
{% endblock %}

{% block scripts %}
<script src="{{ asset('js/delivery-form.js') }}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}&libraries=places&callback=initMap"
  async defer></script>
{% endblock %}
