{% extends "AppBundle::admin.html.twig" %}

{% set status_label_class = {
  'CREATED': 'label-default',
  'WAITING': 'label-danger',
  'ACCEPTED': 'label-primary',
  'PICKED': 'label-info',
  'DELIVERED': 'label-success'
} %}

{% block body %}
<nav aria-label="...">
  <ul class="pager">
    {% set prev_page = (page > 1) ? page - 1 : 1 %}
    <li class="previous {% if page == 1 %}disabled{% endif %}">
      <a href="{{ path('admin_orders', {'p': prev_page}) }}"><span aria-hidden="true">&larr;</span> Précédent</a>
    </li>
    {% set next_page = (page < pages) ? page + 1 : page %}
    <li class="next {% if page == pages %}disabled{% endif %}">
      <a href="{{ path('admin_orders', {'p': next_page}) }}">Suivant <span aria-hidden="true">&rarr;</span></a>
    </li>
  </ul>
</nav>
<table class="table">
  <thead>
    <th>#</th>
    <th>Status</th>
    <th>Restaurant</th>
    <th>Price</th>
    <th>Created</th>
    <th>Delivery time</th>
  </thead>
  <tbody>
  {% for order in orders %}
  <tr>
    <td><a href="{{ path('admin_order', {'id': order.id}) }}">#{{ order.id }}</a></td>
    <td><span class="label {{ status_label_class[order.status] }}">{{ order.status }}</span></td>
    <td>{{ order.restaurant.name }}</td>
    <td>{{ order.total }} €</td>
    <td>{{ order.createdAt|ago }}</td>
    <td>{{ order.deliveryTime }}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block scripts %}
{% endblock %}