{% extends "AppBundle::admin.html.twig" %}

{% block breadcrumb %}
<li>{% trans %}Orders{% endtrans %}</li>
{% endblock %}

{% set status_label_class = {
  'CREATED': 'label-default',
  'CANCELED': 'label-default',
  'WAITING': 'label-danger',
  'ACCEPTED': 'label-primary',
  'READY': 'label-info',
  'DELIVERED': 'label-success'
} %}

{% block content %}

{% set total = waiting_count + accepted_count + ready_count %}
{% set waiting_percent = total > 0 ? ((waiting_count / total) * 100)|round : 0 %}
{% set accepted_percent = total > 0 ? ((accepted_count / total) * 100)|round : 0 %}
{% set ready_percent = total > 0 ? ((ready_count / total) * 100)|round : 0 %}

<div class="row">
  <div class="col-md-4">
    <p class="text-center">{% trans %}order.status.WAITING{% endtrans %}</p>
    <div class="c100 small p{{ waiting_percent }} center orange">
      <span>{{ waiting_count }}</span>
      <div class="slice"><div class="bar"></div><div class="fill"></div></div>
    </div>
  </div>
  <div class="col-md-4">
    <p class="text-center">{% trans %}order.status.ACCEPTED{% endtrans %}</p>
    <div class="c100 small p{{ accepted_percent }} center">
      <span>{{ accepted_count }}</span>
      <div class="slice"><div class="bar"></div><div class="fill"></div></div>
    </div>
  </div>
  <div class="col-md-4">
    <p class="text-center">{% trans %}order.status.READY{% endtrans %}</p>
    <div class="c100 small p{{ ready_percent }} center green">
      <span>{{ ready_count }}</span>
      <div class="slice"><div class="bar"></div><div class="fill"></div></div>
    </div>
  </div>
</div>

<hr>

{% include "AppBundle:Admin:pagination.html.twig" %}
<table class="table">
  <thead>
    <th>#</th>
    <th>{% trans %}Order{% endtrans %}</th>
    <th>{% trans %}Delivery{% endtrans %}</th>
    <th>{% trans %}Restaurant{% endtrans %}</th>
    <th>{% trans %}Price{% endtrans %}</th>
    <th>{% trans %}Created at{% endtrans %}</th>
    <th>{% trans %}Duration{% endtrans %}</th>
    <th></th>
  </thead>
  <tbody>
  {% for order in orders %}
  <tr>
    <td><a href="{{ path('admin_order', {'id': order.id}) }}">#{{ order.id }}</a></td>
    <td>{% include "AppBundle:Order:label.html.twig" %}</td>
    <td>{% include "AppBundle:Delivery:label.html.twig" with { delivery: order.delivery } %}</td>
    <td><a href="{{ path('admin_restaurant', {'id': order.restaurant.id}) }}">{{ order.restaurant.name }}</a></td>
    <td>{{ order.total }} €</td>
    <td>{{ order.createdAt|ago }}</td>
    <td>{{ order.deliveryTime }}</td>
    <td>
    {% if order.status == 'WAITING' %}
    <a href="{{ path('order_cancel', {'id': order.id}) }}" class="btn btn-xs btn-danger pull-right">
    {% else %}
    <a class="btn btn-xs btn-danger pull-right disabled">
    {% endif %}
    {% trans %}Cancel{% endtrans %}
    </a>
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block scripts %}
{% endblock %}
