{% extends "@App/admin.html.twig" %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block breadcrumb %}
<li><a href="{{ path('admin_promotions') }}">{{ 'promotions.breadcrumb'|trans }}</a></li>
<li>{{ 'promotions.breadcrumb.new_credit_note'|trans }}</li>
{% endblock %}

{% block content %}
{{ form_start(form) }}

  <div class="form-group">
    <div id="user-search"></div>
    <span class="help-block">{{ 'form.credit_note.user_search.help'|trans }}</span>
  </div>

  {{ form_widget(form) }}

  <button type="submit" class="btn btn-block btn-primary">
    {{ 'basics.save'|trans }}
  </button>

{{ form_end(form) }}
{% endblock %}

{% block scripts %}
<script>
new CoopCycle.Search(document.querySelector('#user-search'), {
  url: "{{ path('admin_users_search', { format: 'json'  }) }}",
  placeholder: "{{ 'search.users'|trans }}",
  onSuggestionSelected: function(suggestion) {
    $('#credit_note_username').val(suggestion.username);
  }
});
</script>
{% endblock %}
