{% extends "AppBundle::admin.html.twig" %}

{% block breadcrumb %}
<li>{% trans %}Restaurants{% endtrans %}</li>
{% endblock %}

{% block content %}
{% include "AppBundle:Admin:pagination.html.twig" %}
<table class="table">
{% for restaurant in restaurants %}
  <tr>
    <td><a href="{{ path('admin_restaurant', { id: restaurant.id }) }}">#{{ restaurant.id }}</a></td>
    <td>{{ restaurant.name }}</td>
    <td>{{ restaurant.streetAddress }}</td>
    <td>
      <a href="{{ path('admin_restaurant_menu', { id: restaurant.id }) }}" class="btn btn-xs btn-primary pull-right">{% trans %}Edit menu{% endtrans %}</a>
    </td>
  </tr>
{% endfor %}
</table>
{% endblock %}

{% block scripts %}
{% endblock %}