{% extends "AppBundle::admin.html.twig" %}

{% form_theme form 'AppBundle:Form:settings.html.twig' %}

{% block breadcrumb %}
<li>{% trans %}adminDashboard.settings.title{% endtrans %}</li>
{% endblock %}

{% block content %}
{{ form_start(form) }}
  {{ form_row(form.brand_name) }}
  {{ form_row(form.administrator_email) }}

  <div class="form-group">
    <label class="control-label">{% trans %}form.settings.stripe_publishable_key.label{% endtrans %}</label>
    <div class="row">
      <div class="col-md-6">
        {{ form_widget(form.stripe_test_publishable_key) }}
        <span class="help-block">{% trans %}form.settings.stripe_publishable_key.help{% endtrans %}</span>
      </div>
      <div class="col-md-6">
        {{ form_widget(form.stripe_live_publishable_key) }}
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label">{% trans %}form.settings.stripe_secret_key.label{% endtrans %}</label>
    <div class="row">
      <div class="col-md-6">
        {{ form_widget(form.stripe_test_secret_key) }}
        <span class="help-block">{% trans %}form.settings.stripe_secret_key.help{% endtrans %}</span>
      </div>
      <div class="col-md-6">
        {{ form_widget(form.stripe_live_secret_key) }}
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label">{% trans %}form.settings.stripe_connect_client_id.label{% endtrans %}</label>
    <div class="row">
      <div class="col-md-6">
        {{ form_widget(form.stripe_test_connect_client_id) }}
        <span class="help-block">{% trans %}form.settings.stripe_connect_client_id.help{% endtrans %}</span>
      </div>
      <div class="col-md-6">
        {{ form_widget(form.stripe_live_connect_client_id) }}
      </div>
    </div>
  </div>

  {{ form_rest(form) }}

  <button type="submit" class="btn btn-block btn-primary">{{ 'basics.save'|trans }}</button>
{{ form_end(form) }}
{% endblock %}

{% block scripts %}
{% endblock %}
