{% extends "@App/admin.html.twig" %}

{% block breadcrumb %}
<li>{% trans %}adminDashboard.tags.title{% endtrans %}</li>
{% endblock %}

{% block content %}
<p class="text-right">
  <a href="{{ path('admin_tag_new') }}" class="btn btn-success">
    <i class="fa fa-plus"></i> {% trans %}adminDashboard.tags.createNew{% endtrans %}
  </a>
</p>
<table class="table">
<thead>
  <th>#</th>
  <th>{% trans %}adminDashboard.tags.name{% endtrans %}</th>
  <th>{% trans %}adminDashboard.tags.color{% endtrans %}</th>
</thead>
<tbody>
{% for tag in tags %}
<tr>
  <td><a href="{{ path('admin_tag', { slug: tag.slug }) }}">#{{ tag.id }}</a></td>
  <td>{{ tag.name }}</td>
  <td><span class="label label-default" style="background-color: {{ tag.color }};">{{ tag.color }}</span></td>
  <td>
  	<form method="POST">
  	<input type="hidden" name="tag" value="{{ tag.id }}">
  	<button class="btn btn-danger" type="submit" name="delete" onclick="return confirm('Are you sure to delete this tag ? all elements rely to it will not be able to show it or be grouped by it anymore.')">{{ 'basics.delete'|trans }}</button>
    </form>
  </td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
