{% form_theme form 'AppBundle:Form:taskModal.html.twig' %}

{% set task = form.vars.data %}

<div class="modal-dialog" role="document">
  {{ form_start(form, { action: path('admin_task', { id: task.id }), attr: { class: 'modal-content' } }) }}
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title" id="task-modal-label">{% trans with { '%id%': ('#' ~ task.id) } %}Edit task %id%{% endtrans %}</h4>
    </div>
    <div class="modal-body">
      {{ form_row(form.type) }}
      {{ form_widget(form.address) }}
      <div>
        <label class="control-label">{% trans %}Time window{% endtrans %}</label>
        <div class="form-group">
          <div id="{{ form.vars.id }}_rangepicker"></div>
        </div>
        {{ form_row(form.doneAfter) }}
        {{ form_row(form.doneBefore) }}
      </div>
      <p>
        <a class="help-block" role="button" data-toggle="collapse" href="#{{ form.vars.id }}_history">
          <i class="fa fa-plus"></i> {% trans from 'messages' %}Show history{% endtrans %}
        </a>
      </p>
      <div class="collapse" id="{{ form.vars.id }}_history">
        <ul class="list-unstyled" data-render="timeline">
          {% for event in task.events %}
            <li data-event="{{ event.name }}">
              <time datetime="{{ event.createdAt|date('c') }}">{{ event.createdAt|localizeddate('short', 'short') }}</time> 
              <span>{{ event.name }}</span> 
              {% if event.notes is not empty %}
              <pre>
                {{ event.notes }}
              </pre>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="modal-footer">
      {% if form.delete is defined %}
      {{ form_widget(form.delete, { attr: { class: 'btn btn-danger pull-left' } }) }}
      {% endif %}
      <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Cancel{% endtrans %}</button>
      {{ form_widget(form.save, { attr: { class: 'btn btn-primary' } }) }}
    </div>
  {{ form_end(form) }}
</div>

<script>
new CoopCycle.TaskModal('task_edit');
</script
