{% extends "@App/admin.html.twig" %}

{% block breadcrumb %}
<li>{% trans %}adminDashboard.taxation.title{% endtrans %}</li>
{% endblock %}

{% block content %}
<p class="text-right">
  <a class="btn btn-success" href="{{ path('admin_taxation_settings_new') }}">
    <i class="fa fa-plus"></i> {{ 'adminDashboard.taxation.button'|trans }}
  </a>
</p>

<table class="table">
  <thead>
    <th>{{ 'sylius.form.tax_category.name'|trans }}</th>
    <th class="text-right">{{ 'sylius.form.tax_rate.amount'|trans }}</th>
  </thead>
  <tbody>
  {% for taxCategory in taxCategories %}
  {% set taxRate = taxCategory.rates|first %}
  <tr>
    <td>
      <a href="{{ path('admin_taxation_settings_edit', { code: taxCategory.code }) }}">
        {{ taxCategory.name }}
      </a>
    </td>
    <td class="text-right">{{ (taxRate.amount * 100)|number_format(2, '.', ',') }} %</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block scripts %}
{% endblock %}
