{% extends "@App/admin.html.twig" %}

{% form_theme form '@App/form/taxation.html.twig' %}

{% block breadcrumb %}
  {% set taxCategory = form.vars.data %}
  <li>
    <a href="{{ path('admin_taxation_settings') }}">
      {% trans %}adminDashboard.taxation.title{% endtrans %}
    </a>
  </li>
  {% if taxCategory.id is not null %}
  <li>{{ taxCategory.name }}</li>
  {% endif %}
{% endblock %}

{% block content %}
  {{ form_start(form) }}
    {{ form_row(form.taxCategory.name) }}
    {{ form_row(form.taxRate.amount) }}
    <button type="submit" class="btn btn-block btn-primary">{% trans %}basics.save{% endtrans %}</button>
  {{ form_end(form) }}
{% endblock %}
