{% extends "@App/admin.html.twig" %}

{% block breadcrumb %}
<li>{% trans %}adminDashboard.users.title{% endtrans %}</li>
{% endblock %}

{% block content %}
<p class="text-right">
  <a href="{{ path('admin_users_invite') }}" class="btn btn-info">
    <i class="fa fa-plus"></i> {% trans %}adminDashboard.users.invite{% endtrans %}
  </a>
  <a href="{{ path('admin_users_add') }}" class="btn btn-success">
    <i class="fa fa-plus"></i> {% trans %}adminDashboard.users.createNew{% endtrans %}
  </a>
</p>
<table class="table">
<thead>
  <th>#</th>
  <th>{% trans %}profile.username{% endtrans  %}</th>
  <th>{% trans %}profile.email{% endtrans  %}</th>
  <th>{% trans %}profile.telephone{% endtrans  %}</th>
  <th class="text-right">{% trans %}adminDashboard.users.roles{% endtrans  %}</th>
  <th></th>
</thead>
<tbody>
{% for user in users %}
  <tr>
    <td><a href="{{ path('admin_user_details', { username: user.username }) }}">#{{ user.id }}</a></td>
    <td>{{ user.username }}</td>
    <td>
      {% if is_demo %}
        ✴✴✴
      {% else %}
        {{ user.email }}
      {% endif %}
    </td>
    <td>{% if user.telephone %}{{ user.telephone |phone_number_format('NATIONAL') }}{% endif %}</td>
    <td class="text-right">
      {% include "@App/_partials/user/roles.html.twig" %}
    </td>
    <td class="text-right">
      <a class="btn btn-xs btn-success" href="{{ path('admin_user_edit', { username: user.username }) }}">
        <i class="fa fa-pencil" aria-hidden="true"></i>  {% trans from 'messages' %}Edit{%  endtrans %}
      </a>
    </td>
  </tr>
{% endfor %}
</table>
</tbody>
{% endblock %}

{% block scripts %}
{% endblock %}
