{% extends "AppBundle::admin.html.twig" %}

{% block breadcrumb %}
<li>{% trans %}Users{% endtrans %}</li>
{% endblock %}

{% block content %}
<table class="table">
<thead>
  <th>#</th>
  <th>{% trans %}Username{% endtrans  %}</th>
  <th>{% trans %}Email{% endtrans  %}</th>
  <th>{% trans %}Telephone{% endtrans  %}</th>
  <th class="text-right">{% trans %}Roles{% endtrans  %}</th>
  <th></th>
</thead>
<tbody>
{% for user in users %}
  <tr>
    <td><a href="{{ path('admin_user_details', { username: user.username }) }}">#{{ user.id }}</a></td>
    <td>{{ user.username }}</td>
    <td>
      {% if is_demo %}
        ✴✴✴
      {% else %}
        {{ user.email }}
      {% endif %}
    </td>
    <td>{% if user.telephone %}{{ user.telephone |phone_number_format('NATIONAL') }}{% endif %}</td>
    <td class="text-right">
      {% include "AppBundle::_partials/User/roles.html.twig" %}
    </td>
    <td class="text-right">
      <a class="btn btn-xs btn-success" href="{{ path('admin_user_edit', { username: user.username }) }}">
        <i class="fa fa-pencil" aria-hidden="true"></i>  {% trans from 'messages' %}Edit{%  endtrans %}
      </a>
    </td>
  </tr>
{% endfor %}
</table>
</tbody>
{% endblock %}

{% block scripts %}
{% endblock %}
