{% extends "@App/admin.html.twig" %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block breadcrumb %}
  <li><a href="{{ path('admin_users') }}">{% trans %}adminDashboard.users.title{% endtrans %}</a></li>
  <li>{% trans %}adminDashboard.users.createNew{% endtrans %}</li>
{% endblock %}

{% block content %}
  <h2 class="page-header">
    {% trans %}adminDashboard.users.createNew{%  endtrans %}
  </h2>
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      {{ form_start(form) }}
        {{ form_row(form.givenName) }}
        {{ form_row(form.familyName) }}
        {{ form_row(form.telephone) }}
        {{ form_row(form.email) }}
        {{ form_row(form.username) }}
        {{ form_row(form.plainPassword) }}
        {{ form_row(form.quotesAllowed) }}
        <hr>
        <div class="row">
          <div class="col-md-6">
            {{ form_row(form.save, { attr: { class: 'btn btn-block btn-primary' } }) }}
          </div>
          <div class="col-md-6">
            {{ form_row(form.sendInvitation, { attr: { class: 'btn btn-block btn-info' } }) }}
          </div>
        </div>
      {{ form_end(form) }}
    </div>
  </div>
{% endblock %}
