{% extends "AppBundle::admin.html.twig" %}
{% form_theme upload_form 'bootstrap_3_layout.html.twig' %}
{% form_theme zone_collection_form 'AppBundle:Form:zoneCollection.html.twig' %}

{% block breadcrumb %}
<li>{% trans %}Zones{% endtrans %}</li>
{% endblock %}

{% block content %}

  <div class="alert alert-info">
    <i class="fa fa-info-circle" aria-hidden="true"></i> {% trans with { '%link%': path('help_admin_zones') } %}zones.help{% endtrans %}
  </div>

  {% if upload_form.vars.submitted and upload_form.vars.valid %}

    {{ form_start(zone_collection_form) }}
      {{ form_widget(zone_collection_form.zones) }}
      <hr>
      <div class="row">
        <div class="col-md-6">
          <a href="{{ path('admin_zones') }}" class="btn btn-block btn-default">{% trans %}Cancel{% endtrans %}</a>
        </div>
        <div class="col-md-6">
          <button type="submit" class="btn btn-block btn-primary">{% trans %}Save{% endtrans %}</button>
        </div>
      </div>
    {{ form_end(zone_collection_form) }}

  {% else %}

    <div class="row">
    {% for zone in zones %}
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <div class="embed-responsive embed-responsive-4by3">
            <div class="embed-responsive-item" data-zone="{{ zone.id }}" id="zone-{{ zone.id }}"></div>
          </div>
          <div class="caption">
            <h4>{{ zone.name }}</h4>
            <p>
              <form method="post" action="{{ path('admin_zone_delete', { id: zone.id }) }}">
                <button type="submit" class="btn btn-sm btn-danger">
                  <i class="fa fa-trash"></i> {% trans %}Delete{% endtrans %}
                </button>
              </form>
            </p>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
    <hr>
    <div class="row">
      <div class="col-md-4 col-md-offset-8">
        {{ form_start(upload_form) }}
          {{ form_row(upload_form.file) }}
          <span class="help-block">{% trans %}Upload a GeoJSON file{% endtrans %}</span>
          <button type="submit" class="btn btn-block btn-primary">{% trans %}Send{% endtrans %}</button>
        {{ form_end(upload_form) }}
      </div>
    </div>

  {% endif %}

{% endblock %}

{% block scripts %}
<script>
window.AppData = window.AppData || {};

window.AppData.Zones = []
{% for zone in zones %}
window.AppData.Zones.push({
  id: {{ zone.id }},
  geoJSON: {{ zone.geoJSON|json_encode()|raw }}
})

{% endfor %}
</script>
<script src="{{ asset('js/zone-preview.js') }}"></script>
{% endblock %}
