<div class="restaurant-item">
	<a title="{{ name is defined ? name : "Empty name"|u.truncate(48, '…', false) }}" href="{{ url is defined ? url : "#" }}" data-restaurant-path>

		<div class="restaurant-image">

			<div class="restaurant-banner">
				<img src="{{ banner_image|default(null)|placeholder_image('restaurant_banner') }}" alt="{{ name is defined ? name ~ "'s banner" : "banner" }}">
			</div>

			<div class="restaurant-logo">
				<img src="{{ image|default(null)|placeholder_image('restaurant_thumbnail') }}" alt="{{ name is defined ? name ~ "'s logo" : "logo" }}">
			</div>

			{% if badges is defined %}
				<div class="badges">
					{% for badge in badges %}
						{% include "components/restaurant/badge/restaurant_badge.html.twig" with {type: badge} %}
					{% endfor %}
				</div>
			{% endif %}

		</div>

		<div class="restaurant-details">
			<h4 class="restaurant-item__title">{{ name is defined and name|trim != "" ? name|u.truncate(48, '…', false) : "Empty name" }}</h4>

			<div
				class="timing" data-preorder="{{ should_show_pre_order|default(false)|json_encode|e('html_attr') }}" data-fulfillment="{{ fulfillment_timing_url is defined ? fulfillment_timing_url : "" }}">
				{# Managed with React #}
				<span class="restaurant-item__time-range"><div class="ssc-line w-50"></div></span>
			</div>

			<div class="details">
				{% if tags is defined and tags is not empty %}
					{% for tag in tags %}
						{% include "components/restaurant/tag/restaurant_tag.html.twig" with {value: tag} %}
					{% endfor %}
				{% elseif description is defined and description is not empty %}
					<span class="text-muted">{{ description|striptags|u.truncate(48, '…', false)|raw|nl2br }}</span>
				{% elseif address is defined %}
					<span class="text-muted">{{ address|u.truncate(48, '…', false) }}</span>
				{% else %}
					<span class="text-muted">No description</span>
				{% endif %}
			</div>
		</div>

	</a>
</div>
