{% extends "@App/pdf/layout.html.twig" %}

{% block styles %}
<style>
.bordered-box {
  border: 1px solid #ddd;
  padding: 5mm;
}
</style>
{% endblock %}

{% block content %}

<div style="text-align: center;">
  <h3>{% trans with { '%number%': invoice.number } %}invoice.title{% endtrans %}</h3>
</div>

<header>
  <div class="bordered-box">
    <ul>
      <li><strong>{{ invoice.emitter.name }}</strong></li>
      <li>{{ invoice.emitter.streetAddress }}</li>
      {# <li>{{ order.restaurant.address.postalCode }} {{ order.restaurant.address.addressLocality }}</li> #}
    </ul>
  </div>
  <div class="bordered-box">
    <ul style="text-align: right;">
      <li><strong>{{ invoice.receiver.name }}</strong></li>
      <li>{{ invoice.receiver.streetAddress }}</li>
      {# <li>{{ order.shippingAddress.postalCode }} {{ order.shippingAddress.addressLocality }}</li> #}
    </ul>
  </div>
</header>

<table style="width: 100%;">
  <thead>
    <th style="text-align: left;">{{ 'invoice.line_item.name'|trans }}</th>
    <th style="text-align: right;">{{ 'invoice.line_item.unit_price'|trans }}</th>
    <th style="text-align: right;">{{ 'invoice.line_item.quantity'|trans }}</th>
    <th style="text-align: right;">{{ 'invoice.line_item.total'|trans }}</th>
  </thead>
  <tbody>
  {% for item in invoice.lineItems %}
    <tr>
      <td>
        <span>{{ item.name }}</span>
        <br>
        <span style="color: #999;">
          {{ item.description|nl2br }}
        </span>
      </td>
      <td style="text-align: right; vertical-align: top;">{{ item.unitPrice|price_format }}</td>
      <td style="text-align: right; vertical-align: top;">{{ item.quantity }}</td>
      <td style="text-align: right; vertical-align: top;">{{ item.total|price_format }}</td>
    </tr>
  {% endfor %}
  </tbody>
  <tfoot>
    {% for item in invoice.footerItems %}
    <tr>
      <th colspan="3" style="text-align: right;"><strong>{{ item.name }}</strong></th>
      <td style="text-align: right;">{{ item.total|price_format }}</td>
    </tr>
  {% endfor %}
  </tfoot>
</table>

{% endblock %}
