{% extends "AppBundle::base.html.twig" %}

{% block banner %}{% endblock %}
{% block menu %}{% endblock %}
{% block footer %}{% endblock %}

{% block body %}

<div style="padding: 20px;">

  {% include "@App/Embed/Delivery/breadcrumb.html.twig" %}

  <h3>Livraison #{{ delivery.id }}</h3>

  {% for message in app.flashes('notice') %}
      <div class="alert alert-success">
        {{ message|raw }}
      </div>
    {% endfor %}

  {% set rows = [
    {
      icon: 'cube',
      label: 'task.type.PICKUP'|trans,
      value: delivery.pickup.address.streetAddress ~ ' ' ~ delivery.pickup.doneBefore|localizeddate('medium', 'short')
    },
    {
      icon: 'flag',
      label: 'task.type.DROPOFF'|trans,
      value: delivery.dropoff.address.streetAddress ~ ' ' ~ delivery.dropoff.doneBefore|localizeddate('medium', 'short')
    },
    {
      icon: 'map-signs',
      label: 'Distance',
      value: (delivery.distance / 1000)|round(2) ~ 'km'
    },
    {
      icon: 'money',
      label: 'Total TTC',
      value: delivery.totalIncludingTax ~ '€'
    }
  ] %}

  <table class="table">
    <tbody>
      {% for row in rows %}
        <tr>
          <th width="2%"><i class="fa fa-{{ row.icon }}"></i></th>
          <td><strong>{{ row.label }}</strong></td>
          <td class="text-right">{{ row.value }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <div id="map" style="height: 250px; margin-bottom: 20px;"></div>

  {% include "@App/Embed/Delivery/footer.html.twig" %}

</div>
{% endblock %}

{% block scripts %}
<script src="{{ asset('js/widgets.js') }}"></script>
<script>
new CoopCycle.DeliveryMap('map', {
  pickup: [ {{ delivery.pickup.address.geo.latitude }}, {{ delivery.pickup.address.geo.longitude }} ],
  dropoff: [ {{ delivery.dropoff.address.geo.latitude }}, {{ delivery.dropoff.address.geo.longitude }} ],
  polyline: "{{ delivery.polyline|e('js') }}"
})
</script>
{% endblock %}
