{% extends "AppBundle::base.html.twig" %}

{% block banner %}{% endblock %}
{% block menu %}{% endblock %}
{% block footer %}{% endblock %}

{% block body %}

{% set delivery = form.vars.value %}
{% set pickup = form.pickup.vars.value %}
{% set dropoff = form.dropoff.vars.value %}

<div style="padding: 20px;">

  {% include "@App/Embed/Delivery/breadcrumb.html.twig" %}

  <h3>Résumé de votre commande</h3>

  <div class="alert alert-info">
    {% trans with {
      '%dropoff_date%': delivery.dropoff.doneBefore|localizeddate('medium', 'short'),
      '%dropoff_address%': dropoff.address.streetAddress,
      '%distance%': (delivery.distance / 1000)|round(2, 'floor'),
      '%total_including_tax%': delivery.totalIncludingTax
    } %}
      embed.delivery.summary
    {% endtrans %}
  </div>

  <div id="map" style="height: 250px; margin-bottom: 20px;"></div>

  {{ form_start(form, { action: path('embed_delivery_process') }) }}

    <div class="hidden">
      {{ form_row(form.pickup) }}
      {{ form_row(form.dropoff) }}
      {{ form_row(form.vehicle) }}
      {{ form_row(form.email) }}
      {{ form_row(form.telephone) }}
      {{ form_widget(form._token) }}
    </div>

    <button type="submit" class="btn btn-block btn-lg btn-primary">{{ 'basics.next'|trans }}</button>

  {{ form_end(form, { render_rest: false }) }}

  {% include "@App/Embed/Delivery/footer.html.twig" %}

</div>
{% endblock %}

{% block scripts %}

{% set delivery = form.vars.value %}
{% set pickup = form.pickup.vars.value %}
{% set dropoff = form.dropoff.vars.value %}

<script src="{{ asset('js/widgets.js') }}"></script>
<script>
new CoopCycle.DeliveryMap('map', {
  pickup: [ {{ pickup.address.geo.latitude }}, {{ pickup.address.geo.longitude }} ],
  dropoff: [ {{ dropoff.address.geo.latitude }}, {{ dropoff.address.geo.longitude }} ],
  polyline: "{{ delivery.polyline|e('js') }}"
})
</script>
{% endblock %}
