{% extends layout %}

{% set is_new = delivery.id is null %}

{% block prepare_title %}
  {{ add_title_prefix('basics.editing'|trans ~ ': ' ~ 'subscription.title'|trans({ '%id%': recurrenceRule.id })) }}
{% endblock %}

{% block breadcrumb %}

  {% if is_granted('ROLE_DISPATCHER') %}
    {% set store = delivery.store %}

    <li><a href="{{ path('admin_stores') }}">{% trans %}adminDashboard.stores.title{% endtrans %}</a></li>
    <li><a href="{{ path('admin_store', { id: store.id }) }}">{{ store.name }}</a></li>
    <li><a href="{{ path('admin_store_recurrence_rules', { id: store.id }) }}">{% trans %}stores.recurrence_rules{% endtrans %}</a></li>
    <li>#{{ recurrenceRule.id }}</li>
  {% endif %}

{% endblock %}

{% block content %}

  {% include 'delivery/_partials/navbar.html.twig' %}

  {% if is_granted('ROLE_DISPATCHER') %}
    <div class="alert alert-info">
      To access the legacy version of this page <a data-testid="go-to-legacy-form" class="text-decoration-underline" href="{{ path('admin_store_recurrence_rule_legacy', { storeId: store.id, recurrenceRuleId: recurrenceRule.id }) }}">click here</a>.
    </div>
  {% endif %}

  {% block alerts %}
  {% endblock %}

  <h3 class="text-center">{{ 'subscription.title'|trans({ '%id%': recurrenceRule.id }) }}</h3>

  <div {{ react_component('Delivery/DeliveryForm', {
        isNew: is_new,
        storeNodeId: store|get_iri_from_item,
        deliveryId: delivery.id,
        deliveryNodeId: is_new ? null : delivery|get_iri_from_item,
        delivery: deliveryData ? deliveryData|serialize('jsonld', {groups: ['delivery', 'address', 'barcode']}) : null,
        isDispatcher: isDispatcher,
        isDebugPricing: debug_pricing
      })
  }}></div>
{% endblock %}
