<table class="table">
  <thead>
    <th>{% trans with { '%count%': order.countItems } %}order.items.products_with_count{% endtrans %}</th>
    <th class="text-right">Total</th>
  </thead>
  <tbody>
  {% for item in order.items %}
    {% set options_adjustments = item.getAdjustments('menu_item_modifier') %}
    {% set packaging_adjustments = item.getAdjustments('reusable_packaging') %}
    <tr>
      <td>
        <span class="text-muted">{{ item.quantity }} ×</span> {{ item.variant.name }}
        {% if options_adjustments|length > 0 or packaging_adjustments|length > 0 %}
        <ul class="list-unstyled">
        {% for adjustment in options_adjustments %}
          <li>
            <small class="text-muted">
              {{ adjustment.label }} {{ adjustment.amount|price_format }}
            </small>
          </li>
        {% endfor %}
        {% for adjustment in packaging_adjustments %}
          <li>
            <small class="text-muted">
              {{ adjustment.label }} {{ adjustment.amount|price_format }}
            </small>
          </li>
        {% endfor %}
        </ul>
        {% endif %}
      </td>
      <td class="text-right">
        {{ item.total|price_format }}
      </td>
    </tr>
  {% endfor %}
  <tbody>
  {% set delivery_adjustments = order.getAdjustments('delivery') %}
  {% set promotion_adjustments = [] %}
  {% set packaging_adjustments = order.getAdjustments('reusable_packaging') %}
  {% for adjustment in order.adjustments %}
    {% if adjustment.type == 'delivery_promotion' or adjustment.type == 'order_promotion' %}
      {% set promotion_adjustments = [ adjustment ]|merge(promotion_adjustments) %}
    {% endif %}
  {% endfor %}
  <tfoot>
    {% if with_taxes is not defined or (with_taxes is defined and with_taxes == true) %}
      {% for tax_rate in order|split_tax_rates %}
      <tr>
        <th>{% trans with { '%name%': tax_rate.name } %}order.total_tax_by_rate{% endtrans %}</th>
        <td class="text-right">
          {{ tax_rate.amount|price_format }}
        </td>
      </tr>
      {% endfor %}
    {% endif %}
    <tr>
      <th>{% trans %}order.items_total{% endtrans %}</th>
      <td class="text-right">
        {{ order.itemsTotal|price_format }}
      </td>
    </tr>
    {% if delivery_adjustments|length > 0 %}
    {% set delivery_adjustment = order.getAdjustments('delivery')|first %}
    <tr>
      <th>{{ delivery_adjustment.label }}</th>
      <td class="text-right">
        {{ delivery_adjustment.amount|price_format }}
      </td>
    </tr>
    {% endif %}
    {% if promotion_adjustments|length > 0 %}
      {% for adjustment in promotion_adjustments %}
      <tr>
        <th>{{ adjustment.label }}</th>
        <td class="text-right">
          {{ adjustment.amount|price_format }}
        </td>
      </tr>
      {% endfor %}
    {% endif %}
    {% if packaging_adjustments|length > 0 %}
      {% for adjustment in packaging_adjustments %}
      <tr>
        <th>{{ adjustment.label }}</th>
        <td class="text-right">
          {{ adjustment.amount|price_format }}
        </td>
      </tr>
      {% endfor %}
    {% endif %}
    {% if with_total_excluding_tax is defined and with_total_excluding_tax %}
      <tr>
        <th>{% trans %}order.total_excluding_tax{% endtrans %}</th>
        <td class="text-right">
          {{ (order.itemsTotal - order.itemsTaxTotal)|price_format }}
        </td>
      </tr>
    {% endif %}
    <tr>
      <th>{% trans %}order.total_including_tax{% endtrans %}</th>
      <td class="text-right">
        {{ order.total|price_format }}
      </td>
    </tr>
  </tfoot>
</table>
