<table class="table">
  <thead>
    <th>Produits ({{ order.countItems }})</th>
    <th class="text-right">Total</th>
  </thead>
  <tbody>
  {% for item in order.items %}
    <tr>
      <td>
        {{ item.variant.name }} <span class="text-muted">× {{ item.quantity }}</span>
      </td>
      <td class="text-right">
        {{ item.total|price_format }}
      </td>
    </tr>
  {% endfor %}
  <tbody>
  <tfoot>
    <tr>
      <th>Total TTC</th>
      <td class="text-right">
        {{ order.total|price_format }}
      </td>
    </tr>
    <tr>
      <th>Dont TVA</th>
      <td class="text-right">
        {{ order.taxTotal|price_format }}
      </td>
    </tr>
  </tfoot>
</table>
