<table class="table">
  <thead>
    <th>#</th>
    <th>{% trans %}order.list.type{% endtrans %}</th>
    {% if is_granted('ROLE_ADMIN') %}
    <th>{% trans %}order.list.customer{% endtrans %}</th>
    {% endif %}
    <th>{% trans %}order.list.state{% endtrans %}</th>
    <th>{% trans %}order.list.summary{% endtrans %}</th>
    <th class="text-right">{% trans %}order.list.total{% endtrans %}</th>
    <th class="text-right">{% trans %}order.list.invoice{% endtrans %}</th>
    <th class="text-right">{% trans %}order.list.createdAt{% endtrans %}</th>
    {% if show_buttons and is_granted('ROLE_ADMIN') %}
    <th></th>
    {% endif %}
  </thead>
  <tbody>
  {% for order in orders %}

  <tr>
    <td width="5%">
      {% if order.restaurant is not null %}
        {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('admin_restaurant_dashboard_order', { restaurantId: order.restaurant.id, orderId: order.id }) }}">
          #{{ order.id }}
        </a>
        {% else %}
        <a href="{{ path('profile_order', { id: order.number }) }}">{{ order.number }}</a>
        {% endif %}
      {% else %}
        <a href="{{ path(order_route, { id: order.id, type: 'sylius' }) }}">#{{ order.id }}</a>
      {% endif %}
    </td>
    <td width="5%">
      {% if order.restaurant is not null %}
        <i class="fa fa-cutlery"></i>
      {% else %}
        <i class="fa fa-bicycle"></i>
      {% endif %}
    </td>
    {% if is_granted('ROLE_ADMIN') %}
    <td width="10%">
      {% if order.customer is not null %}
      <a href="{{ path('admin_user_details', { username: order.customer.username }) }}">
        <i class="fa fa-user"></i> {{ order.customer.username }}
      </a>
      {% endif %}
    </td>
    {% endif %}
    <td width="10%">{% include '@App/_partials/Order/state.html.twig' %}</td>
    <td>
      {% if order.restaurant is not null %}
        {% trans with {
          '%restaurant_url%': path(routes.restaurant, { id: order.restaurant.id }),
          '%restaurant_name%': order.restaurant.name
        } %}order.list.summary.restaurant.text{% endtrans %}
      {% else %}
        {% for item in order.items %}
          {{ item.variant.name }}
        {% endfor %}
      {% endif %}
    </td>
    <td class="text-right">
      <span>{{ order.total|price_format }} €</span>
    </td>
    <td width="10%" class="text-right">
      {% if order.restaurant is not null %}
      <a target="_blank" href="{{ path(routes.order_invoice, { id: order.id }) }}">
        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
      </a>
      {% endif %}
    </td>
    <td class="text-right">{{ order.createdAt|ago }}</td>
    {% if show_buttons and is_granted('ROLE_ADMIN') %}
    <td>
      {% if order.restaurant is not null and order.state in ['new', 'accepted'] %}
      <form method="post" action="{{ path('admin_orders_order_cancel', { id: order.id }) }}">
        <button type="submit" class="btn btn-xs btn-danger pull-right">{% trans %}order.list.cancel{% endtrans %}</button>
      </form>
      {% else %}
      <span class="btn btn-xs btn-danger pull-right disabled">
        {% trans %}order.list.cancel{% endtrans %}
      </span>
      {% endif %}
    </td>
    {% endif %}
  </tr>
  {% endfor %}
  </tbody>
</table>
