{% trans_default_domain 'NucleosUserBundle' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{{ form_start(form, { 'action': path('nucleos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
  <div class="form-section">
    <div class="header rounded-top">
      <h5>{{ 'profile.password.change'|trans({}, 'messages') }}</h5>
    </div>
    <div class="form rounded-bottom">
      {{ form_row(form.current_password) }}
      {{ form_row(form.plainPassword) }}
      <div class="d-flex justify-content-end">
        <a href="{{ path('profile_edit') }}" class="btn btn-primary-outline mr-4">
          <i class="fa fa-angle-left mr-2"></i>
          {{ 'registration.flow.back'|trans({}, 'messages') }}
        </a>
        {{ form_widget(form.save, { attr: { class: 'btn btn-primary-default' } }) }}
      </div>
    </div>
  </div>
{{ form_end(form) }}
