<div class="hidden">

  {{ form_row(form.pickup) }}
  {{ form_row(form.dropoff) }}
  {{ form_row(form.vehicle) }}

  {{ form_row(form.contactName) }}

  {{ form_row(form.email) }}
  {{ form_row(form.telephone) }}

  {{ form_widget(form.billingAddress) }}

  {{ form_widget(form._token) }}

</div>
