{% if incidents|length > 0 %}
  <table class="table incidents-list">
    <thead>
      <th width="100px"></th>
      <th>{{ 'basics.name'|trans }}</th>
      <th></th>
    </thead>
    <tbody>
    {% for incident in incidents %}
      <tr>
        <td>
          {% if incident.getStatus() == "OPEN" %}
          <div class="thumbnail priority p{{ incident.getPriority() }}">
            <div>P{{ incident.getPriority() }}</div>
          </div>
          {% endif %}
          <div class="label label-default label-id">#{{ incident.id }}</div>
        </td>
        <td>
        <a href="{{ path(incident_route, { id: incident.id }) }}">
          <h3>{{ incident.title }}</h3>
        </a>
          <p>{{ incident.description }}</p>
          <span class="label label-default">Last-mile</span>
          <span class="label label-default">Invoice</span>
        </td>
        <td class="text-right">
        {% set user = incident.getCreatedBy() %}
        <p>
        <p><span class="label label-danger">{{ incident.getStatus() }}</span></p>
        {% if user is not null %}
          <p><i class="fa fa-user" aria-hidden="true"></i> {{ incident.getCreatedBy().username }}</p>
        {% endif %}
        </p>
        <p class="text-muted" ><i class="fa fa-clock-o" aria-hidden="true"></i> {{ incident.getCreatedAt() | date }}</p>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <nav class="text-center">
   {{ knp_pagination_render(incidents) }}
  </nav>
{% else %}
  <div class="alert alert-info">
  {% trans %}incidents.list.noincidents{% endtrans %}
  </div>
{% endif %}
