{% if form.contract is defined %}

  <div class="panel panel-default">
    <div class="panel-body">
      <div class="alert alert-info">{% trans %}restaurant.contract.calculation_info{% endtrans %}</div>
      <div class="row">
        <div class="col-sm-6">
          {{ form_row(form.contract.variableDeliveryPriceEnabled) }}
          {{ form_row(form.contract.flatDeliveryPrice) }}
          {{ form_row(form.contract.variableDeliveryPrice) }}
        </div>
        <div class="col-sm-6">
          {{ form_row(form.contract.variableCustomerAmountEnabled) }}
          {{ form_row(form.contract.customerAmount) }}
          {{ form_row(form.contract.variableCustomerAmount) }}
        </div>
      </div>
    </div>
  </div>

  {{ form_row(form.contract.feeRate) }}
  {{ form_row(form.contract.takeAwayFeeRate) }}

  <p>
    <a class="help-block collapsed" role="button" data-toggle="collapse" href="#{{ form.vars.id }}_advanced">
      <i class="fa fa-plus"></i><i class="fa fa-minus"></i> {% trans %}restaurant.contract.showAdvanced{% endtrans %}
    </a>
  </p>
  <div class="collapse" id="{{ form.vars.id }}_advanced">
    {{ form_row(form.contract.restaurantPaysStripeFee, { help: 'restaurant.contract.restaurantPaysStripeFee.help' }) }}
  </div>

{% else %}

  {% if restaurant.id is not null %}
  <div class="row margin-bottom-md">
    {% if restaurant.contract is not empty %}
      <div class="col-md-12">
        <div class="alert alert-warning">
          {% trans %}restaurant.contract.onlyAdmin{% endtrans %}
        </div>
        <table class="table">
          <tr>
            <th>{% trans %}restaurant.contract.customerAmount.label{% endtrans %}</th>
            <td class="text-right">
              {% if restaurant.contract.variableCustomerAmountEnabled %}
                {{ 'restaurant.contract.variableDeliveryPriceEnabled.disclaimer'|trans }}
              {% else %}
                {{ restaurant.contract.customerAmount|price_format }}
              {% endif %}
            </td>
          </tr>
          <tr>
            <th>{% trans %}restaurant.contract.flatDeliveryPrice.label{% endtrans %}</th>
            <td class="text-right">
              {% if restaurant.contract.variableDeliveryPriceEnabled %}
                {{ 'restaurant.contract.variableDeliveryPriceEnabled.disclaimer'|trans }}
              {% else %}
                {{ restaurant.contract.flatDeliveryPrice|price_format }}
              {% endif %}
            </td>
          </tr>
          <tr>
            <th>{% trans %}restaurant.contract.feeRate.label{% endtrans %}</th>
            <td class="text-right">{{ (restaurant.contract.feeRate * 100) }}%</td>
          </tr>
          <tr>
            <th>{% trans %}restaurant.contract.takeAwayFeeRate.label{% endtrans %}</th>
            <td class="text-right">{{ (restaurant.contract.takeAwayFeeRate * 100) }}%</td>
          </tr>
          <tr>
            <th>{% trans %}restaurant.contract.restaurantPaysStripeFee.label{% endtrans %}</th>
            <td class="text-right">{{ restaurant.contract.restaurantPaysStripeFee ? 'restaurant.contract.restaurantPaysStripeFee.restaurant' | trans : 'restaurant.contract.restaurantPaysStripeFee.cooperative' | trans }}</td>
          </tr>
        </table>
      </div>
    {% else %}
      <div class="col-md-12">
        <div class="alert alert-danger">
          {% trans %}restaurant.contract.noContract{% endtrans %}
        </div>
      </div>
    {% endif %}
  </div>
  {% endif %}

{% endif %}
