{% if deliveries|length > 0 %}
<table class="table table-condensed">
  <thead>
    <th>#</th>
    {% if with_store is defined and with_store %}
    <th>{{ 'delivery.table.heading.owner'|trans }}</th>
    {% endif %}
    <th>{{ 'delivery.table.heading.summary'|trans }}</th>
    <th>{{ 'order.list.state'|trans }}</th>
    <th>{{ 'task.type.DROPOFF'|trans }}</th>
    <th>{{ 'delivery.table.heading.courier'|trans }}</th>
    {% if with_order is defined and with_order %}
    <th class="text-center">{{ 'delivery.table.heading.order'|trans }}</th>
    {% endif %}
    <th>{% trans %}basics.price{% endtrans %}</th>
    <th></th>
    <th></th>
    <th></th>
  </thead>
  <tbody>
  {% for delivery in deliveries %}
    <tr data-testid="delivery__list_item">
      <td>
        <a href="{{ path(routes.view, { id: delivery.id }) }}" data-testid="delivery_id">
          {% if delivery.order is not null %}
            {{ delivery.order.number }}
          {% else %}
            #{{ delivery.id }}
          {% endif %}
        </a>
      </td>
      {% if with_store is defined and with_store %}
      <td width="20%">
        {% if delivery.owner is not empty %}
          {% if deliveries.route is defined %}
            <a href="{{ path(deliveries.route, deliveries.params|merge({
              (deliveries.paginatorOptions.filterFieldParameterName): delivery.owner is instanceof('AppBundle\\Entity\\LocalBusiness') ? 'r.id' : 's.id',
              (deliveries.paginatorOptions.filterValueParameterName): delivery.owner.id })) }}">
              {{ delivery.owner.name }}
            </a>
          {% else %}
            <span>{{ delivery.owner.name }}</span>
          {% endif %}
        {% endif %}
      </td>
      {% endif %}
      <td width="40%">
        <ul class="list-unstyled">
          {% for task in delivery.getTasks() %}
          <li>
            <small>
              <span class="mr-1">{% include "_partials/task/type_icon.html.twig" with { task: task } %}</span>
              <span>
                {% if task.isCancelled() %}<del>{% endif %}
                  {{ task.address.streetAddress }}
                {% if task.isCancelled() %}</del>{% endif %}
              </span>
            </small>
          </li>
          {% endfor %}
        </ul>
        {% set details = [ delivery.distance|meters_to_kilometers ] %}
        {% if delivery.weight is not empty %}
          {% set details = details|merge([ delivery.weight|grams_to_kilos ]) %}
        {% endif %}
        {% if delivery.hasPackages() %}
          {% for package_quantity in delivery.packages %}
            {% set details = details|merge([ package_quantity.quantity ~ ' × ' ~ package_quantity.package.name ]) %}
          {% endfor %}
        {% endif %}
        <small>{{ details|join(' - ') }}</small>
      </td>
      {% set deliveryState = delivery.computeState() %}
      <td>
        <span title="{{ deliveryState.toLabel()|trans }}" style="color: {{ deliveryState.toColor() }}">
          <i class="fa fa-lg fa-{{ deliveryState.toFontAwesome() }}"></i>
      </span>
      </td>
      <td width="10%">
        <small>
          {% if delivery.dropoff.before|date('Ymd') == 'now'|date('Ymd') %}
            {{ delivery.dropoff.before|time_diff }}
          {% else %}
            {{ delivery.dropoff.before|format_datetime('short', 'short') }}
          {% endif %}
        </small>
      </td>
      <td width="10%">
        {% if delivery.pickup.isAssigned() and delivery.dropoff.isAssigned() %}
          {% if delivery.pickup.assignedCourier == delivery.dropoff.assignedCourier %}
            <a href="{{ path('admin_user_details', { username: delivery.pickup.assignedCourier.username }) }}">
              <img src="{{ path('user_avatar', { username: delivery.pickup.assignedCourier.username }) }}" width="20" height="20"> @{{ delivery.pickup.assignedCourier.username }}
            </a>
          {% endif %}
        {% endif %}
      </td>
      {% if with_order is defined and with_order %}
      <td class="text-center">
        {% if delivery.order is defined and delivery.order is not empty %}
          <a href="{{ path('admin_order', { id: delivery.order.id }) }}">
            {{ delivery.order.number }}
          </a>
        {% endif %}
      </td>
      {% endif %}
      <td width="12%">
        {% if delivery.order is defined and delivery.order is not empty %}
          <span class="d-flex justify-content-between align-items-center">
            <span class="text-muted">{% trans %}order.total_excluding_tax{% endtrans %}</span>
            <span class="text-monospace">{{ (delivery.order.itemsTotal - delivery.order.itemsTaxTotal)|price_format }}</span>
          </span>
          <span class="d-flex justify-content-between align-items-center">
            <span class="text-muted">{% trans %}order.total_including_tax{% endtrans %}</span>
            <span class="text-monospace">{{ delivery.order.total|price_format }}</span>
          </span>
        {% else %}
          <p>-</p>
        {% endif %}
      </td>
      <td class="text-center">
        {% if delivery.hasImages() and store is defined %}
          <a href="{{ path(routes.download_images, { storeId: store.id, deliveryId: delivery.id }) }}">
            <i class="fa fa-lg fa-camera"></i>
          </a>
        {% endif %}
      </td>
      <td class="text-center" width="10%">
        <small class="text-muted">{{ delivery.createdAt|time_diff }}</small>
      </td>
      <td class="text-right">
        <a href="{{ path(routes.view, { id: delivery.id }) }}">{{ 'basics.view'|trans }}</a>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% else %}
  <p class="text-muted">
    {{ empty_message|default('basics.no_entries')|trans }}
  </p>
{% endif %}
