<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
    <img src="{{ path('user_avatar', { username: app.user.username }) }}" width="20" height="20">  {{ app.user.username }} <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li>
      <a href="{{ path('profile_edit') }}">
        {% trans %}navbar.myAccount{% endtrans %}
      </a>
    </li>

    <li role="separator" class="divider"></li>

    {% if is_granted('DASHBOARD_VIEW') %}
    <li><a href="{{ path('dashboard') }}">{{ 'adminDashboard.dashboard.title'|trans }}</a></li>
    <li role="separator" class="divider"></li>
    {% endif %}

    <li><a href="{{ path('nucleos_user_security_logout') }}">{% trans from 'NucleosUserBundle' %}layout.logout{% endtrans %}</a></li>
  </ul>
</li>
<li id="notifications">
  <a href="#">
    <span class="badge">0</span>
  </a>
</li>
{% if is_granted('ROLE_BUSINESS') %}
  <li>
    <div class="d-flex align-items-center pt-2 px-3">
      <input class="d-none" type="checkbox" id="business_mode" name="business_mode"
        value="{{ business_context.active }}" {% if business_context.active %}checked="checked"{% endif %}>
      <div data-widget="business-mode-switch" data-switch-target="business_mode"></div>
      <div class="d-flex flex-column ml-2">
        <label class="{{ is_granted('ROLE_BUSINESS_ACCOUNT') ? 'mb-0 text-gray' : 'mb-0 py-2 text-gray' }}">
          {% if business_context.active %}
            {{ 'business_account.switch.ordering_with_business'|trans }}
          {% else %}
            {{ 'business_account.switch.order_with_business'|trans }}
          {% endif %}
        </label>
        {% if is_granted('ROLE_BUSINESS_ACCOUNT') %}
          <a class="my-0 help-block fs-07 pb-1 text-decoration-underline" href="{{ path('profile_business_account') }}">
            {{ 'topbar.action.admin_business_account'|trans }}
          </a>
        {% endif %}
      </div>
    </div>
  </li>
{% endif %}
