{% set restaurant_image = coopcycle_asset(restaurant, 'imageFile', 'restaurant_thumbnail') %}
{% if restaurant_image is empty %}
  {% set restaurant_image = '//via.placeholder.com/512.jpg' %}
{% endif %}

{% set restaurant_path_params = {} %}
{% if address is defined and address is not empty %}
  {% set restaurant_path_params = restaurant_path_params|merge({ address: address }) %}
{% endif %}

<div class="restaurant-item {% if not restaurant.enabled %}restaurant-item--disabled{% endif %}">
  <a href="{{ local_business_path(restaurant, restaurant_path_params) }}" data-restaurant-path>
    <div class="position-relative">
      <img class="restaurant-image" src="{{ restaurant_image }}" alt="{{ restaurant.name }}">
      {% if should_show_pre_order(restaurant) %}
        <figcaption>
          <div class="w-100 h-100 position-absolute bg-dark" style="opacity: 0.5;"></div>
          <div class="text-white font-weight-bold d-flex flex-column justify-content-center align-items-center w-100 h-100 position-absolute p-5">
            <i class="fa fa-clock-o"></i>
            <span>{{ 'restaurants.pre_order'|trans }}</span>
          </div>
        </figcaption>
      {% endif %}
    </div>
    <h4 class="restaurant-item__title">{{ restaurant.name|u.truncate(48, '…', false) }}</h4>
  </a>
  <div>
    {% set cache_key = restaurant|cache_key(restaurant_caption_cache_annotation) %}
    {% cache cache_key ttl(300) %}
    {% if restaurant.servesCuisine|length > 0 %}
      <div class="restaurant-item__caption mb-3">
        {% for cuisine in restaurant.servesCuisine %}
          <a href="{{ path('restaurants_by_cuisine', { cuisineName: cuisine.name }) }}">{{ cuisine.name|trans({}, 'cuisines') }}</a>
          {% if not loop.last %}
            <span class="mx-2">·</span>
          {% endif %}
        {% endfor %}
      </div>
    {% elseif restaurant.description is not empty %}
      <div class="restaurant-item__caption mb-3">
        <span class="text-muted">{{ restaurant.description|striptags|slice(0, 140) ~ '…'|raw|nl2br }}</span>
      </div>
    {% else %}
      <div class="restaurant-item__caption mb-3">
        <span class="text-muted">{{ restaurant.address.streetAddress }}</span>
      </div>
    {% endif %}
    {% endcache %}
    <div data-fulfillment="{{ path('restaurant_fulfillment_timing', { id: restaurant.id }) }}">
      {# Managed with React #}
      <span class="restaurant-item__time-range">
        <i class="fa fa-clock-o"></i>
      </span>
    </div>
  </div>

  {% if not restaurant.enabled and (is_granted('ROLE_ADMIN') or is_granted('ROLE_RESTAURANT')) %}
    <div class="restaurant-item__top-left">
      <span class="btn btn-sm btn-warning">
        <i class="fa fa-eye"></i>  {{ 'restaurants.visible_by_you_only'|trans }}
      </span>
    </div>
  {% elseif restaurant.enabled and restaurant.exclusive %}
    <div class="restaurant-item__top-left">
      <span class="btn btn-sm btn-warning">
        <i class="fa fa-star"></i>  {{ 'adminDashboard.restaurants.exclusive'|trans }}
      </span>
    </div>
  {% endif %}

  {% if restaurant.supportsEdenred() %}
    <div class="restaurant-item__top-right">
      <span class="restaurant-supports-edenred"></span>
    </div>
  {% elseif restaurant.isVytalEnabled() %}
    <div class="restaurant-item__top-right">
      <span class="restaurant-supports-vytal"></span>
    </div>
  {% endif %}

</div>
