<table class="table">
  <thead>
    <th>#</th>
    <th>{% trans %}Status{% endtrans %}</th>
    <th>{% trans %}Date{% endtrans %}</th>
    <th>{% trans %}From / To{% endtrans %}</th>
    {% if show_courier is defined and show_courier %}
      <th>{% trans %}Courier{% endtrans %}</th>
    {% endif %}
    <th>{% trans %}Distance{% endtrans %}</th>
    <th>{% trans %}Duration{% endtrans %}</th>
    <th>{% trans %}Order{% endtrans %}</th>
    <th></th>
  </thead>
  <tbody>
  {% for delivery in deliveries %}
    <tr>
      <td width="5%">#{{ delivery.id }}</td>
      <td width="5%">{% include "AppBundle:Delivery:label.html.twig" %}</td>
      <td width="15%">
      {{ delivery.date|localizeddate('short', 'short') }}
      </td>
      <td>
        {{ delivery.originAddress.streetAddress }}
        <br>
        {{ delivery.deliveryAddress.streetAddress }}
      </td>
      {% if show_courier is defined and show_courier %}
      <td width="10%">
        {% if delivery.courier is not empty %}
        <a href="{{ path('admin_user_details', { username: delivery.courier.username }) }}" title="{{ delivery.courier.username }}">
          {{ delivery.courier.username }}
        </a>
        {% else %}
        <i class="fa fa-ban"></i>
        {% endif %}
      </td>
      {% endif %}
      <td width="10%">{{ (delivery.distance / 1000)|round(2) }} Km</td>
      <td width="10%">{{ (delivery.duration / 60)|round }} Min</td>
      <td>
        {% if is_granted('ROLE_ADMIN') and delivery.order is not empty %}
        <a href="{{ path('admin_restaurant_dashboard_order', { restaurantId: delivery.order.restaurant.id, orderId: delivery.order.id }) }}"
          title="{% trans %}Order{% endtrans %}">
          #{{ delivery.order.id }}
        </a>
        {% else %}
        <i class="fa fa-ban"></i>
        {% endif %}
      </td>
      <td class="text-right">
        {% include "AppBundle::_partials/Delivery/actions.html.twig" %}
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
