{% extends layout %}

{% form_theme form 'AppBundle:Form:delivery.html.twig' %}

{% block breadcrumb %}
{% if store is not null %}
<li><a href="{{ path(stores_route) }}">{% trans %}adminDashboard.stores.title{% endtrans %}</a></li>
<li><a href="{{ path(store_route, { id: store.id }) }}">{{ store.name }}</a></li>
{% else %}
<li><a href="{{ path('admin_deliveries') }}">{% trans %}adminDashboard.deliveries.title{% endtrans %}</a></li>
{% endif %}
{% if delivery.id is not null %}
<li>#{{ delivery.id }}</li>
{% else %}
<li>{% trans %}adminDashboard.deliveries.createNew{% endtrans %}</li>
{% endif %}
{% endblock %}

{% block content %}

{% set delivery = form.vars.value %}

{{ form_start(form) }}

  {% if delivery_order is defined and delivery_order is not empty %}

    {% if delivery_order.state == 'cart' %}
    <div class="alert alert-warning">
      <i class="fa fa-exclamation-triangle"></i> {{ 'form.delivery.to_be_confirmed.warning'|trans }}
      <span class="pull-right">
        <a class="btn btn-xs btn-success" href="{{ path('admin_order', { id: delivery_order.id, type: 'sylius' }) }}">
          {{ 'form.delivery.view_order'|trans }}
        </a>
      </span>
    </div>
    {% endif %}

    {% if delivery_order.state == 'new' %}
    <div class="alert alert-info">
      <i class="fa fa-info-circle"></i> {{ 'form.delivery.has_order.info'|trans }}
      <span class="pull-right">
        <a class="btn btn-xs btn-success" href="{{ path('admin_order', { id: delivery_order.id, type: 'sylius' }) }}">
          {{ 'form.delivery.view_order'|trans }}
        </a>
      </span>
    </div>
    {% endif %}

  {% endif %}

  <div class="row">
    <div class="col-sm-6">

      {{ form_row(form.vehicle) }}
      {{ form_row(form.weight) }}

      {% if form.store is defined %}
      {{ form_row(form.store) }}
      {% endif %}

      {{ form_row(form.pickup) }}
      {{ form_row(form.dropoff) }}

    </div>
    <div class="col-sm-6">
      <div class="embed-responsive embed-responsive-16by9">
        <div class="embed-responsive-item" id="map"></div>
      </div>
      <hr>
      <div class="form-horizontal">

        {% if store is not null and is_granted('ROLE_ADMIN') %}
          <div class="alert alert-info">
            {% set trans_params = {
              '%name%': store.pricingRuleSet.name,
              '%link%': path('admin_deliveries_pricing_ruleset', { id: store.pricingRuleSet.id })
            } %}
            {% trans with trans_params %}form.delivery.pricing_rule_set.about{% endtrans %}
          </div>
          <div id="no-price-warning" class="alert alert-warning" style="display:none;">{% trans %}deliveryForm.noPriceFromPricingWarning{% endtrans %}</div>
        {% endif %}

        <div id="no-price-warning" class="alert alert-warning" style="display:none;">
          {% trans %}deliveryForm.noPriceWarning{% endtrans %}
        </div>

        {{ form_row(form.pricingRuleSet) }}

        <div class="form-group">
          <label class="col-sm-2 control-label" for="delivery_distance">
            {% trans %}form.delivery.distance.label{% endtrans %}
          </label>
          <div class="col-sm-10">
            <p class="form-control-static">
              <span id="delivery_distance"></span>
            </p>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label" for="delivery_duration">
            {% trans %}form.delivery.duration.label{% endtrans %}
          </label>
          <div class="col-sm-10">
            <p class="form-control-static">
              <span id="delivery_duration"></span>
            </p>
          </div>
        </div>

        {{ form_row(form.price) }}

      </div>
      <hr>
      <button id="delivery-submit" type="submit" class="btn btn-block btn-lg btn-primary">
        {% trans %}adminDashboard.deliveries.save{% endtrans %}
      </button>

    </div>
  </div>

{{ form_end(form) }}
{% endblock %}

{% block scripts %}
<script>
  let isAdmin = {% if is_granted('ROLE_ADMIN') %}true{% else %}false{% endif %};
  window.AppData = window.AppData || {};
  window.AppData.isAdmin = isAdmin
  window.AppData.DeliveryForm = {
    calculatePriceURL: "{{ path(calculate_price_route) }}"
  };
  if (isAdmin) {
    window.AppData.adminStoreSearchUrl = "{{ path('admin_stores_search', { format: 'json'  }) }}";
  }
</script>
<script src="{{ asset('js/widgets.js') }}"></script>
<script src="{{ asset('js/delivery-form.js') }}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ craue_setting('google_api_key') }}&libraries=places&callback=initMap"
  async defer></script>
{% endblock %}
