{% extends "base.html.twig" %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block body %}
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      {{ form_start(form, {'method': 'post', 'action': path('company_registration'), 'attr': {'class': 'nucleos_profile_registration_register'}}) }}
      {{ form_widget(form) }}
      <div>
        <button type="submit" class="btn btn-block btn-lg btn-primary">{{ 'form.company.make_the_request.label'|trans }}</button>
      </div>
      {{ form_end(form) }}
      <hr>
      <div class="text-center">
        <p>
          <span>{% trans from 'messages' %}authentication.already_registered{% endtrans %}</span> 
          <a
            href="{{ path('nucleos_user_security_login') }}">{% trans from 'messages' %}authentication.sign_in{% endtrans %}</a>
        </p>
      </div>
    </div>
  </div>
{% endblock %}
