{% block breadcrumb %}
  <li><a href="{{ path(local_businesses_route) }}">{{ title | trans }}</a></li>
  <li><a href="{{ path(local_business_route, { id: local_business.id }) }}">{{ local_business.name }}</a></li>
  <li>{{ productsOptionTitle | trans }}</li>
{% endblock %}

{% block content %}
  <div class="alert alert-info">
    <i class="fa fa-info-circle"></i> {% trans %}restaurant.product_options.help{% endtrans %}
  </div>
  <p class="text-right">
    <a href="{{ path(new_product_option_route, { id: local_business.id }) }}" class="btn btn-success">
      <i class="fa fa-plus"></i> {{ 'basics.add'|trans }}
    </a>
  </p>
  <table class="table">
    <thead>
    <th>{{ 'form.product_option.name.label'|trans }}</th>
    <th>{{ 'form.product_option.strategy.label'|trans }}</th>
    <th class="text-right">{{ 'restaurant.product_options.list.values'|trans }}</th>
    <th></th>
    </thead>
    <tbody>
    {% for option in options %}
      <tr>
        <td>{{ option.name }}</td>
        <td>{{ ('product_option.strategy.' ~ option.strategy)|trans }}</td>
        <td class="text-right">{{ option.values|length }}</td>
        <td class="text-right">
          <a href="{{ path(product_option_route, { id: local_business.id, optionId: option.id }) }}"
             class="btn btn-xs btn-default"><i class="fa fa-pencil"></i> {{ 'basics.edit'|trans }}</a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
