{% block breadcrumb %}
  <li><a href="{{ path(local_businesses_route) }}">{{ title | trans }}</a></li>
  <li><a href="{{ path(local_business_route, { id: local_business.id }) }}">{{ local_business.name }}</a></li>
  <li>{{ productsTitle | trans }}</li>
{% endblock %}

{% block content %}
  <p class="text-right">
    <a href="{{ path(new_product_route, { id: restaurant.id }) }}"
       class="btn btn-success"><i class="fa fa-plus"></i> {{ 'basics.add'|trans }}</a>
  </p>
  <table class="table">
    <thead>
    <th>{{ 'form.product.name.label'|trans }}</th>
    <th class="text-right">Options</th>
    <th class="text-right">{{ 'form.product.enabled.label'|trans }}</th>
    <th></th>
    </thead>
    <tbody>
    {% for product in products %}
      <tr>
        <td>{{ product.name }}</td>
        <td class="text-right">{{ product.options|length }}</td>
        <td class="text-right">
          {% if product.enabled %}<i class="fa fa-check"></i>{% endif %}
        </td>
        <td class="text-right">
          <a href="{{ path(product_route, { restaurantId: restaurant.id, productId: product.id }) }}"
             class="btn btn-xs btn-default"><i class="fa fa-pencil"></i> {{ 'basics.edit'|trans }}</a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
