{% block breadcrumb %}
  <li><a href="{{ path(local_businesses_route) }}">{{ title | trans }}</a></li>
  <li><a href="{{ path(local_business_route, { id: local_business.id }) }}">{{ local_business.name }}</a></li>
  <li><a href="{{ path(products_route, { id: local_business.id }) }}">{{ 'restaurant.list.products'|trans }}</a></li>
  <li>{{ product.name }}</li>
{% endblock %}

{% block content %}
  {{ form_start(form) }}

  {% if not form.vars.valid %}
    {{ form_errors(form) }}
  {% endif %}

  {{ form_row(form.name) }}
  {{ form_row(form.description) }}
  {{ form_row(form.enabled) }}

  <div class="row">
    <div class="col-sm-6">
      {{ form_row(form.price) }}
    </div>
    <div class="col-sm-6">
      {{ form_row(form.taxCategory) }}
    </div>
  </div>

  {{ form_row(form.options) }}

  <button type="submit" class="btn btn-block btn-primary">{{ 'basics.save'|trans }}</button>
  {{ form_end(form) }}
{% endblock %}
