{% extends 'restaurant/layout.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block breadcrumb %}
  <li><a href="{{ path(restaurants_route) }}">{% trans %}adminDashboard.shops.title{% endtrans %}</a></li>
  <li><a href="{{ path(restaurant_route, { id: restaurant.id }) }}">{{ restaurant.name }}</a></li>
  <li><a href="{{ path('admin_restaurant_api', { id: restaurant.id }) }}">{{ 'api_apps.breadcrumb'|trans }}</a></li>
  <li>{{ 'basics.add'|trans }}</li>
{% endblock %}

{% block content %}
{{ form_start(form) }}
  {{ form_widget(form) }}
  <button type="submit" class="btn btn-block btn-primary">
    {{ 'basics.save'|trans }}
  </button>
{{ form_end(form) }}
{% endblock %}
