{% extends 'restaurant/layout.html.twig' %}

{% block breadcrumb %}
<li><a href="{{ path(restaurants_route) }}">{% trans %}adminDashboard.shops.title{% endtrans %}</a></li>
<li><a href="{{ path(restaurant_route, { id: restaurant.id }) }}">{{ restaurant.name }}</a></li>
<li>{% trans %}adminDashboard.orders.title{% endtrans %}</li>
{% endblock %}

{% block content %}
<div id="restaurant-dashboard"
     data-current-route="{{ app.request.attributes.get('_route') }}"
     data-orders="{{ orders_normalized|json_encode|e('html_attr') }}"
     data-date="{{ date|date('Y-m-d') }}"
     data-restaurant="{{ restaurant_normalized|json_encode|e('html_attr') }}"
     data-initial-order="{{ initial_order|json_encode|e('html_attr') }}"
     data-show-settings="false"
></div>
{% endblock %}

{% block styles %}
  {{ encore_entry_link_tags('foodtech-dashboard') }}
  {{ encore_entry_link_tags('restaurant-dashboard') }}
{% endblock %}

{% block scripts %}
  {{ encore_entry_script_tags('foodtech-dashboard') }}
  {{ encore_entry_script_tags('restaurant-dashboard') }}
{% endblock %}
