{% extends 'restaurant/layout.html.twig' %}

{% block breadcrumb %}
<li><a href="{{ path(restaurants_route) }}">{% trans %}adminDashboard.shops.title{% endtrans %}</a></li>
<li><a href="{{ path(restaurant_route, { id: restaurant.id }) }}">{{ restaurant.name }}</a></li>
<li>{% trans %}adminDashboard.orders.title{% endtrans %}</li>
{% endblock %}

{% block content %}
<div id="restaurant-dashboard"></div>
{% endblock %}

{% block styles %}
{{ encore_entry_link_tags('foodtech-dashboard') }}
{% endblock %}

{% block scripts %}
{% set current_route = app.request.attributes.get('_route') %}
{{ encore_entry_script_tags('foodtech-dashboard') }}
<script>
var orders = {{ orders_normalized|json_encode()|raw }};
new CoopCycle.FoodtechDashboard(document.querySelector('#restaurant-dashboard'), {
  orders: orders['hydra:member'],
  initialOrder: {{ initial_order|json_encode()|raw }},
  date: "{{ date|date('Y-m-d') }}",
  restaurant: {{ restaurant_normalized|json_encode()|raw }},
  currentRoute: "{{ current_route }}",
  showSettings: false,
  adhocOrderEnabled: "{{ adhoc_order_enabled }}",
}, {
  onDateChange: function(date) {
    window.location.href =
      window.Routing.generate('{{ current_route }}', { restaurantId: {{ restaurant.id }}, date: date.format('YYYY-MM-DD') })
  }
});
</script>
{% endblock %}
