{% extends 'restaurant/layout.html.twig' %}

{% block body %}
<div class="container">

  <div class="d-flex align-items-center justify-content-end mb-4">
    <a href="{{ path('admin_add_restaurants_edenred') }}" class="btn btn-success mr-4">
        <i class="fa fa-plus"></i> {{ 'restaurants.edenred.add_restaurants'|trans }}</a>
    <div id="month-picker" class="d-inline-block"
      data-default-value="{{ month|date('Y-m') }}"></div>
  </div>

  {% if orders|length > 0 %}
  <div class="alert alert-info">
    <i class="fa fa-info-circle mr-2"></i>
    <span>
    {{ 'restaurants.edenred_transactions.disclaimer'|trans }}
    </span>
  </div>
  {% endif %}

  {% for restaurant in orders %}

    {% set total_amount = 0 %}
    {% set edenred_amount = 0 %}
    {% set platform_fee = 0 %}

    <nav class="d-flex justify-content-between mb-4">
      <h3 class="m-0">{{ restaurant.name }}</h3>
      <form method="post" class="d-inline-block mr-2">
        <input type="hidden" name="restaurant" value="{{ restaurant.id }}" />
        <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-download"></i> {{ 'basics.export'|trans }}</button>
      </form>
    </nav>
    <table class="table table-condensed table-hover">
      <thead>
        <th>{{ 'order.export.heading.order_number'|trans }}</th>
        <th>{{ 'order.export.heading.completed_at'|trans }}</th>
        <th class="text-right">{{ 'order.export.heading.total_incl_tax'|trans }}</th>
        <th class="text-right">{{ 'restaurants.edenred_transactions.edenred_amount'|trans }}</th>
        <th class="text-right">{{ 'order.export.heading.platform_fee'|trans }}</th>
      </thead>
      <tbody>
      {% for order in orders[restaurant] %}
      {% set edenred_payment =
        order.payments|filter(payment => payment.method.code == 'EDENRED' and payment.state == 'completed')|first %}
      {% set is_captured =
        edenred_payment.edenredAuthorizationId is not empty and edenred_payment.edenredCaptureId is not empty %}
      <tr class="{{ not is_captured ? 'danger' : '' }}">
        <td>
          <span class="text-monospace">{{ order.number }}</span>
        </td>
        <td>
          <span>{{ order.shippingTimeRange|time_range_for_humans_short }}</span>
        </td>
        <td class="text-right">
          <span class="text-monospace">{{ order.total|price_format }}</span>
        </td>
        <td class="text-right">
          <span class="text-monospace">{{ edenred_payment.amount|price_format }}</span>
        </td>
        <td class="text-right">
          <span class="text-monospace">{{ order.feeTotal|price_format }}</span>
        </td>
      </tr>
      {% set total_amount   = (total_amount + order.total) %}
      {% set edenred_amount = (edenred_amount + edenred_payment.amount) %}
      {% set platform_fee   = (platform_fee + order.feeTotal) %}
      {% endfor %}
      </tbody>
      {% if total_amount > 0 %}
      <tfoot>
        <tr>
          <th></th>
          <th></th>
          <th class="text-right">
            <span class="text-monospace">{{ total_amount|price_format }}</span>
          </th>
          <th class="text-right">
            <span class="text-monospace">{{ edenred_amount|price_format }}</span>
          </th>
          <th class="text-right">
            <span class="text-monospace">{{ platform_fee|price_format }}</span>
          </th>
        </tr>
      </tfoot>
      {% endif %}
    </table>
  {% endfor %}
</div>
{% endblock %}

{% block styles %}
  {{ encore_entry_link_tags('restaurant-edenred') }}
{% endblock %}

{% block scripts %}
  {{ encore_entry_script_tags('restaurant-edenred') }}
{% endblock %}
