{% extends "base.html.twig" %}

{% block body %}

<header class="restaurant-list-header">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div>
          <h1 class="text-center mt-0 mb-4 text-white">{{ hub.name }}</h1>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="about-us mb-4">
    <p>{{ 'hub.disclaimer'|trans }}</p>
  </div>
</div>

<div class="container">
  {% if hub.restaurants|length == 0 %}
    <div class="col-md-6 col-md-offset-3 alert alert-warning text-center">
      {{ 'restaurants.no_results'|trans|raw }}
    </div>
  {% else %}
    {% set business_types = hub.getBusinessTypes() %}
    {% if business_types|length > 1 %}
      <ul class="nav nav-pills mb-4">
        <li role="presentation" {% if business_type_filter is empty %}class="active"{% endif %}>
          <a href="{{ path('hub', { id: hub.id, slug: (hub.name|slugify) }) }}">
            {{ 'index.view_all_merchants'|trans }}
          </a>
        </li>
        {% for business_type in business_types %}
        <li role="presentation" {% if business_type_filter == business_type %}class="active"{% endif %}>
          <a href="{{ path('hub', { id: hub.id, slug: (hub.name|slugify), type: business_type }) }}">
            {{ business_type|local_business_type }}
          </a>
        </li>
        {% endfor %}
      </ul>
    {% endif %}
    <div class="row display-flex restaurant-list">
      {% for restaurant in hub.restaurants %}
        {% if business_type_filter is empty or business_type_filter == restaurant.type %}
          {% set restaurant_path_params = {} %}
          {% if address is defined and address is not empty %}
            {% set restaurant_path_params = restaurant_path_params|merge({ address: address }) %}
          {% endif %}
          {% include "components/restaurant_card/restaurant_card.html.twig" with {
            url: local_business_path(restaurant, restaurant_path_params),
            image: coopcycle_asset(restaurant, 'imageFile', 'restaurant_thumbnail')|placeholder_image('restaurant_thumbnail'),
            name: restaurant.name,
            description: restaurant.description,
            address: restaurant.address.streetAddress,
            fulfillment_timing_url: path('restaurant_fulfillment_timing', { id: restaurant.id }),
            should_show_pre_order: should_show_pre_order(restaurant),
            tags: restaurant_tags(restaurant),
            badges: restaurant_badges(restaurant),
            banner_image: coopcycle_asset(restaurant, 'bannerImageFile', 'restaurant_banner')|placeholder_image(filter='restaurant_banner', obj=restaurant)
          } %}
          <div class="col-sm-6 col-md-4 display-flex">
            {% include "_partials/restaurant/list_thumbnail.html.twig" %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}
</div>
{% endblock %}

{% block styles %}
  {{ encore_entry_link_tags('restaurant-list') }}
{% endblock %}

{% block scripts %}
  {{ encore_entry_script_tags('restaurant-list') }}
{% endblock %}
