{% extends "base.html.twig" %}

{% set restaurant_edit_route = is_granted('ROLE_ADMIN') ? 'admin_restaurant' : 'dashboard_restaurant' %}
{% set restaurant_edit_url = path(restaurant_edit_route, { id: restaurant.id }) %}
{% set restaurant_id = restaurant.id %}

{% form_theme cart_form 'form/cart.html.twig' %}

{% block structured_data %}
<script type="application/ld+json">
{{ restaurant|restaurant_microdata|json_encode(constant('JSON_PRETTY_PRINT') b-or constant('JSON_UNESCAPED_SLASHES'))|raw }}
</script>
{% endblock %}

{% block banner %}

  {% set disabled_warning = ( not restaurant.enabled and (is_granted('ROLE_ADMIN') or is_granted('ROLE_RESTAURANT')) ) %}
  {% set preorder_warning = ( restaurant.isFulfillmentMethodEnabled('delivery') and restaurant.getFulfillmentMethod('delivery').orderingDelayMinutes > 0 ) %}
  {% set ordering_delay_warning = coopcycle_has_ordering_delay() %}

  {% if disabled_warning or preorder_warning or ordering_delay_warning %}
  <nav class="restaurant-banner {% if embed_context.enabled %}mt-0{% endif %}">
    <div class="alert alert-warning text-center">
      {% if disabled_warning %}
      <p class="mb-0">{{ 'restaurant.disabledWarning'|trans({ '%restaurantEditUrl%': restaurant_edit_url }) | raw }}</p>
      {% endif %}
      {% if preorder_warning %}
      <p class="mb-0">{{ 'restaurant.closedWarningWithDelay'|trans({
        '%delay%': restaurant.getFulfillmentMethod('delivery').orderingDelayMinutes|delay_for_humans(app.request.locale)
      }) }}</p>
      {% endif %}
      {% if ordering_delay_warning %}
      <p class="mb-0">🔥 {{ 'ordering_delay.disclaimer'|trans }}</p>
      {% endif %}
    </div>
  </nav>
  {% endif %}

{% endblock %}

{% block body %}
  <div id="restaurant-body">

    <header class="custom-container">
      {% block restaurant_nav %}
        {% if not embed_context.enabled %}
        <div class="homepage-restaurants__show-more text-left mb-4">
          {% if restaurant.belongsToHub() %}
            <a class="restaurant-show-more" href="{{ path('hub', { id: restaurant.hub.id, slug: restaurant.hub.name|slugify }) }}">
              <i class="fa fa-arrow-left mr-2"></i>
              <span>{% trans %}index.view_all_merchants{% endtrans %}</span>
            </a>
          {% elseif restaurant.context == 'AppBundle\\Enum\\Store' %}
            <a class="restaurant-show-more" href="{{ path('stores') }}">
              <i class="fa fa-arrow-left mr-2"></i>
              <span>{% trans %}index.view_all_shops{% endtrans %}</span>
            </a>
          {% else %}
            <a class="restaurant-show-more" href="{{ path('restaurants', app.request.query.all()) }}">
              <i class="fa fa-arrow-left mr-2"></i>
              <span>{% trans %}index.view_all_restaurants{% endtrans %}</span>
            </a>
          {% endif %}
        </div>
        {% endif %}
      {% endblock %}

      {#
      FIXME
      Calling restaurant.getNextOpeningDate() may throw Spatie\OpeningHours\Exceptions\MaximumLimitExceeded
      "No open date/time found in the next 366 days, use $openingHours->setDayLimit() to increase the limit."
      For example, set holidays for 2 years
      #}

      {% set cart = cart_provider.getCart() %}
      {% set openingInformation = business_context.active ? cart.vendorConditions : restaurant %}

      {% if not openingInformation.isOpen %}
        {% set closingRule = openingInformation.matchClosingRuleFor %}
        {% if closingRule is not empty %}
        <div class="alert alert-info text-center">
          {% trans with { '%date%': closingRule.endDate|format_datetime('full', 'none') } %}
          restaurant.temporaryClosedWarning
          {% endtrans %}
        </div>
        {% else %}
        <div class="alert alert-info text-center">
          {% set next_opening_date = openingInformation.getNextOpeningDate() %}
          {% if next_opening_date %}
            {% set isOrderingAvailable = cart.shippingTimeRange is not null or restaurant_timing.firstChoiceKey is not null %}
            {% if next_opening_date.isToday() %}
              {% trans with { '%time%': next_opening_date|format_datetime('none','short') } %}
              restaurant.closedOpensTodayLaterWarning
              {% endtrans %}
              {% if isOrderingAvailable %}
                {% trans %}restaurant.canOrderForLater{% endtrans %}
              {% endif %}
            {% elseif next_opening_date.isTomorrow() %}
              {% trans with { '%time%': next_opening_date|format_datetime('none','short') } %}
              restaurant.closedOpensTomorrowWarning
              {% endtrans %}
              {% if isOrderingAvailable %}
                {% trans %}restaurant.canOrderForTomorrow{% endtrans %}
              {% endif %}
            {% else %}
              {# after tomorrow #}
              {% trans with { '%date%': next_opening_date|format_datetime('full','none') } %}
              restaurant.closedOpensAfterTomorrowWarning
              {% endtrans %}
              {% if isOrderingAvailable %}
                {% trans %}restaurant.canOrderForOtherDay{% endtrans %}
              {% endif %}
            {% endif %}
          {% else %}
            {% trans %}
            restaurant.closedNowWarning
            {% endtrans %}
          {% endif %}
        </div>
        {% endif %}
      {% endif %}

      {% if restaurant.quotesAllowed %}
        {% set trans_params = {
          '%contact_us%': ('mailto:' ~ coopcycle_setting('administrator_email')),
          '%login%': path('nucleos_user_security_login')
        } %}
        {% if app.user %}
          {% if not app.user.quotesAllowed %}
            <div class="alert alert-info">
              <i class="fa fa-info-circle"></i> 
              {% trans with trans_params %}restaurant.quotes_disclaimer.authenticated{% endtrans %}
            </div>
          {% endif %}
        {% else %}
          <div class="alert alert-info">
            <i class="fa fa-info-circle"></i> 
            {% trans with trans_params %}restaurant.quotes_disclaimer.not_authenticated{% endtrans %}
          </div>
        {% endif %}
      {% endif %}

      {% if business_context.active and available_for_business_account is defined and not available_for_business_account %}
        <div class="alert alert-info text-center">
          <i class="fa fa-info-circle"></i> 
          {{ 'restaurant.businessAccount.notAvilable'|trans({ '%path%': path('homepage') }) | raw }}
        </div>
      {% endif %}

      <div class="row">
        <div class="col-xs-12 col-lg-8">
          {% set restaurant_banner = coopcycle_asset(restaurant, 'bannerImageFile', 'restaurant_banner')|placeholder_image(filter='restaurant_banner', obj=restaurant) %}
          {% include 'restaurant/_partials/restaurant_info.html.twig' %}
        </div>
        <div class="col-xs-12 col-lg-4">
          <div id="restaurant__fulfilment-details__container">
          </div>
        </div>
      </div>
    </header>

    {% set menu = restaurant_menu(restaurant) %}
    {% set sections = [] %}
    {% if menu is not null %}
      {% for child in menu.children %}
        {% if child.products|length > 0 %}
          {% set sections = sections|merge([child]) %}
        {% endif %}
      {% endfor %}
    {% endif %}

    {% if sections|length > 0 %}
      {% include 'restaurant/_partials/menu_nav.html.twig' %}
    {% endif %}

    <main>
      <div class="custom-container">
        <div class="row">
          {% if menu is not null %}
            <div class="col-xs-12 col-lg-8">
              <div id="menu">
                {#
                WARNING
                We cache the following block for performance
                Iterating through all products, options… is a lot of database requests
                #}
                {% set cache_key = restaurant|cache_key(restaurant_menu_cache_annotation ~ (business_context.active ? '_business' : '')) %}
                {% cache cache_key ttl(300) %}
                  {% include 'restaurant/_partials/menu_content.html.twig' %}
                {% endcache %}
              </div>
            </div>
            <div class="col-xs-12 col-lg-4">
              {% if restaurant.isFulfillmentMethodEnabled('delivery') or restaurant.isFulfillmentMethodEnabled('collection') %}
                {{ form_start(cart_form, { attr: { 'data-cart-url': path('restaurant_cart', { id: restaurant.id }) } }) }}
                <div id="cart"></div>
                {{ form_end(cart_form) }}
              {% else %}
                <div class="alert alert-warning">
                  {% trans from 'validators' %}order.fulfillment_methods.empty{% endtrans %}
                </div>
              {% endif %}
            </div>
          {% else %}
            <div class="alert alert-warning">
              {% trans %}restaurant.noMenuWarning{% endtrans %}
            </div>
          {% endif %}
        </div>
      </div>
    </main>

  </div>

  <div class="modal fade" tabindex="-1" role="dialog"
       aria-labelledby="restaurant-opening-hours-modal-label" id="restaurant-opening-hours-modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
          <h4 class="modal-title"
              id="restaurant-opening-hours-modal-label">{% trans %}localBusiness.form.openingHours{% endtrans %}</h4>
        </div>
        <div class="modal-body">
          {% include 'restaurant/_partials/opening_hours.html.twig' with {
            delivery:   restaurant.isFulfillmentMethodEnabled('delivery')   ? restaurant_opening_hours(restaurant, 'delivery')   : [],
            collection: restaurant.isFulfillmentMethodEnabled('collection') ? restaurant_opening_hours(restaurant, 'collection') : []
          } %}
        </div>
      </div>
    </div>
  </div>

{% set restaurant_json = { id: restaurant.id, isOpen: restaurant.isOpen } %}
{% set cart_json = cart_provider.normalize(cart) %}

<div id="js-restaurant-data"
  data-restaurant="{{ restaurant_json|json_encode|e('html_attr') }}"
  data-restaurant-timing="{{ restaurant_timing|json_encode|e('html_attr') }}"
  data-cart="{{ cart_json|json_encode|e('html_attr') }}"
  data-cart-timing="{{ cart_timing|json_encode|e('html_attr') }}"
  data-order-access-token="{{ order_access_token is defined ? order_access_token }}"
  data-is-player="{{ (is_player is defined ? is_player : false)|json_encode|e('html_attr') }}"
  data-is-group-orders-enabled="{{ group_orders_enabled|json_encode|e('html_attr') }}"></div>

<div id="js-addresses-data"
  data-addresses="{{ addresses_normalized|json_encode|e('html_attr') }}"></div>

<div id="js-loopeat"
  data-context="{{ loopeat_context|json_encode|e('html_attr') }}"></div>

<div id="optins"
  data-brand-name={{ coopcycle_setting('brand_name')|json_encode|e('html_attr') }}></div>

{% endblock %}

{% block styles %}
{{ encore_entry_link_tags('restaurant-item') }}
{{ encore_entry_link_tags('optins') }}
{% endblock %}

{% block scripts %}
{{ encore_entry_script_tags('restaurant-item') }}
{{ encore_entry_script_tags('optins') }}
{% endblock %}
