{% extends "base.html.twig" %}

{% block body %}
{% include "restaurant/_partials/list_header.html.twig" %}
<div class="shops-content">
  <div class="restaurant-side-bar container-fluid d-none d-sm-block">
    <a href="{{ path('shops') }}" class="btn btn-lg btn-default w-100">
      <i class="fa fa-trash mr-sm-2"></i>
      <span class="d-none d-sm-inline">{{ 'shops.filters.clear_all'|trans }}</span>
    </a>
    <div class="side-bar-filters">

      <div class="mb-4">
        <h6 class="p-1 border-bottom"></h6>
          <button class="filter-section-btn btn btn-sm shadow-none bg-transparent w-100"
            data-toggle="collapse" href="#collapseType" aria-expanded="true" aria-controls="collapseType">
            <div class="d-flex flex-row align-items-center justify-content-between">
              <h4><strong>{{ 'shops.filters.title.types'|trans }}</strong></h4>
              <strong><span class="filter-caret caret"></span></i></strong>
            </div>
          </button>
          <div class="collapse in" id="collapseType">
          {% for type in types %}
            <div class="radio px-3 mb-4">
              <label>
                <input type="radio" name="typesRadios"
                  value="{{ path('shops', app.request.query.all()|merge({ type: type|local_business_type_key })) }}"
                  {% if current_type == type %}checked{% endif %}>
                {{ type|local_business_type }}
              </label>
            </div>
          {% endfor %}
        </div>
      </div>

      {% if cuisines|length > 0 %}
      <div class="mb-4">
        <h6 class="p-1 border-bottom"></h6>
        <button class="filter-section-btn btn btn-sm shadow-none bg-transparent w-100"
          data-toggle="collapse" href="#collapseCuisine" aria-expanded="true" aria-controls="collapseCuisine">
          <div class="d-flex flex-row align-items-center justify-content-between">
            <h4><strong>{{ 'shops.filters.title.cuisines'|trans }}</strong></h4>
            <strong><span class="filter-caret caret"></span></i></strong>
          </div>
        </button>
        <div class="collapse in" id="collapseCuisine">
        {% for cuisine in cuisines %}
          <div class="checkbox px-3 mb-4">
            <label>
            <input type="checkbox"
              value="{{ path('shops', app.request.query.all()|merge({ cuisine: toggle_query_param(app.request, 'cuisine', cuisine.name) })) }}"
                {% if cuisine.name in app.request.query.get('cuisine')|join(',') %}checked{% endif %}>
                {{ cuisine.name|trans({}, 'cuisines') }}
            </label>
          </div>
        {% endfor %}
        </div>
      </div>
      {% endif %}

      <div class="mb-4">
        <h6 class="p-1 border-bottom"></h6>
        <button class="filter-section-btn btn btn-sm shadow-none bg-transparent w-100"
          data-toggle="collapse" href="#collapseCategory" aria-expanded="true" aria-controls="collapseCategory">
          <div class="d-flex flex-row align-items-center justify-content-between">
            <h4><strong>{{ 'shops.filters.title.categories'|trans }}</strong></h4>
            <strong><span class="filter-caret caret"></span></i></strong>
          </div>
        </button>
        {% set categories = [
          {key: 'featured', transKey: 'homepage.featured'},
          {key: 'exclusive', transKey: 'homepage.exclusive'},
          {key: 'new', transKey: 'homepage.shops.new'},
          {key: 'zerowaste', transKey: 'restaurant.list.tags.zerowaste'}] %}
        <div class="collapse in" id="collapseCategory">
        {% for category in categories %}
          <div class="radio px-3 mb-4">
            <label>
              <input type="radio" name="categoriesRadios"
                value="{{ path('shops', app.request.query.all()|merge({ category: category.key })) }}"
                {% if app.request.query.get('category') == category.key %}checked{% endif %}>
              {{ category.transKey|trans }}
            </label>
          </div>
        {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <div class="restaurant-main-content">
    {% include "restaurant/_partials/list_buttons.html.twig" with { to_mode: 'map' } %}
    {% include "restaurant/_partials/mobile_filters.html.twig" %}
    <div class="container-fluid">
      {% if count == 0 %}
        <div class="col-md-6 col-md-offset-3 alert alert-warning text-center">
          {{ 'restaurants.no_results'|trans|raw }}
        </div>
      {% else %}
        <div class="row display-flex restaurant-list">
          {% for restaurant in restaurants %}
          <div class="col-sm-6 col-md-4 display-flex">
            {% include "_partials/restaurant/list_thumbnail.html.twig" %}
          </div>
          {% endfor %}
        </div>
        <div class="row">
          <div class="col-xs-12">
            {% include "restaurant/pagination.html.twig" %}
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}

{% block styles %}
  {{ encore_entry_link_tags('restaurant-list') }}
{% endblock %}

{% block scripts %}
  {{ encore_entry_script_tags('search-address') }}
  {{ encore_entry_script_tags('restaurant-list') }}

  <script>
    $('input[type=radio]').on('click', function (e) {
      // avoid clicking another radio before navigate
      document.querySelectorAll("input[type=radio]:not(input[type=radio]:checked)").forEach((radio) => radio.disabled=true)
      try {
        window.location.href = decodeURIComponent(e.target.value)
      } catch(e) {
        window.location.href = e.target.value
      }
    });

    $('input[type=checkbox]').on('click', function (e) {
      // avoid clicking another radio before navigate
      document.querySelectorAll("input[type=checkbox]:not(input[type=checkbox]:checked)").forEach((check) => check.disabled=true)
      try {
        window.location.href = decodeURIComponent(e.target.value)
      } catch(e) {
        window.location.href = e.target.value
      }
    });
  </script>
{% endblock %}
