{% extends "base.html.twig" %}

{% block body %}
{% include "restaurant/_partials/list_header.html.twig" %}
<div class="shops-content">
  <div class="restaurant-side-bar container-fluid">
    <div class="top-side-bar-space mb-4"></div>
    <div class="side-bar-filters">

      <div class="mb-4">
        <h6 class="p-1 border-bottom"></h6>
        <h4 class="py-4">Type</h4>
        {% for type in types %}
          <div class="radio px-3 mb-4">
            <label>
              <input type="radio" name="typesRadios"
                value="{{ path('shops', app.request.query.all()|merge({ type: type|local_business_type_key })) }}"
                {% if current_type == type %}checked{% endif %}>
              {{ type|local_business_type }}
            </label>
          </div>
        {% endfor %}
      </div>

      <div class="mb-4">
        <h6 class="p-1 border-bottom"></h6>
        <h4 class="py-4">Cuisine</h4>
        {% for cuisine in cuisines %}
          <div class="checkbox px-3 mb-4">
            <label>
            <input type="checkbox"
                value="{{ path('shops', toggle_query_param(app.request.query.all(), 'cuisine', cuisine.name)) }}"
                {% if cuisine.name in app.request.query.get('cuisine')|join(',') %}checked{% endif %}>
                {{ cuisine.name|trans({}, 'cuisines') }}
            </label>
          </div>
        {% endfor %}
      </div>

      <div class="mb-4">
        <h6 class="p-1 border-bottom"></h6>
        <h4 class="py-4">Category</h4>
        {% set categories = [
          {key: 'featured', transKey: 'homepage.featured'},
          {key: 'exclusives', transKey: 'homepage.exclusives'},
          {key: 'news', transKey: 'homepage.shops.new'},
          {key: 'zerowaste', transKey: 'restaurant.list.tags.zerowaste'}] %}
        {% for category in categories %}
          <div class="radio px-3 mb-4">
            <label>
              <input type="radio" name="categoriesRadios"
                value="{{ path('shops', app.request.query.all()|merge({ category: category.key })) }}"
                {% if app.request.query.get('category') == category.key %}checked{% endif %}>
              {{ category.transKey|trans }}
            </label>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="restaurant-main-content">
    {% include "restaurant/_partials/list_buttons.html.twig" with { to_mode: 'map' } %}
    <div class="container-fluid">
      {% if count == 0 %}
        <div class="col-md-6 col-md-offset-3 alert alert-warning text-center">
          {{ 'restaurants.no_results'|trans|raw }}
        </div>
      {% else %}
        <div class="row display-flex restaurant-list">
          {% for restaurant in restaurants %}
          <div class="col-sm-6 col-md-4 display-flex">
            {% include "_partials/restaurant/list_thumbnail.html.twig" %}
          </div>
          {% endfor %}
        </div>
        <div class="row">
          <div class="col-xs-12">
            {% include "restaurant/pagination.html.twig" %}
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}

{% block styles %}
  {{ encore_entry_link_tags('restaurant-list') }}
{% endblock %}

{% block scripts %}
  {{ encore_entry_script_tags('search-address') }}
  {{ encore_entry_script_tags('restaurant-list') }}

  <script>
    $('input[type=radio]').on('click', function (e) {
      // avoid clicking another radio before navigate
      document.querySelectorAll("input[type=radio]:not(input[type=radio]:checked)").forEach((radio) => radio.disabled=true)
      window.location.href = e.target.value
    });

    $('input[type=checkbox]').on('click', function (e) {
      // avoid clicking another radio before navigate
      document.querySelectorAll("input[type=checkbox]:not(input[type=checkbox]:checked)").forEach((check) => check.disabled=true)
      window.location.href = e.target.value
    });
  </script>
{% endblock %}
