{% extends "base.html.twig" %}

{% block body %}
{% include "restaurant/_partials/list_header.html.twig" %}
<div class="container-full-hd container--extra-space-on-sides shops-content">
  <div class="restaurant-side-bar container-fluid d-none d-sm-block">
    <a href="{{ path('shops', {'geohash': geohash, 'address': address}) }}" class="btn btn-lg btn-default w-100">
      <i class="fa fa-trash mr-sm-2"></i>
      <span class="d-none d-sm-inline">{{ 'shops.filters.clear_all'|trans }}</span>
    </a>
    <form method="get" path="{{ path('shops') }}" class="shops-side-bar-filters">
      {% if geohash is defined and geohash is not empty %}
        <input type="hidden" name="geohash" value="{{geohash}}">
      {% endif %}
      {% if address is defined and address is not empty %}
          <input type="hidden" name="address" value="{{address}}">
      {% endif %}

      <div class="mb-4">
        <h6 class="p-1 border-bottom"></h6>
          <button class="filter-section-btn btn btn-sm shadow-none bg-transparent w-100"
            data-toggle="collapse" href="#collapseType" aria-expanded="true" aria-controls="collapseType">
            <div class="d-flex flex-row align-items-center justify-content-between">
              <h4><strong>{{ 'shops.filters.title.types'|trans }}</strong></h4>
              <strong><span class="filter-caret caret"></span></strong>
            </div>
          </button>
          <div class="collapse in" id="collapseType">
          {% for type in types %}
            <div class="radio px-3 mb-4">
              <label>
                <input type="radio" name="type" value="{{ type|local_business_type_key }}"
                  {% if app.request.query.get('type') == type|local_business_type_key %}checked{% endif %}>
                {{ type|local_business_type }}
              </label>
            </div>
          {% endfor %}
        </div>
      </div>

      {% if cuisines|length > 0 %}
      <div class="mb-4">
        <h6 class="p-1 border-bottom"></h6>
        <button class="filter-section-btn btn btn-sm shadow-none bg-transparent w-100"
          data-toggle="collapse" href="#collapseCuisine" aria-expanded="true" aria-controls="collapseCuisine">
          <div class="d-flex flex-row align-items-center justify-content-between">
            <h4><strong>{{ 'shops.filters.title.cuisines'|trans }}</strong></h4>
            <strong><span class="filter-caret caret"></span></strong>
          </div>
        </button>
        <div class="collapse in" id="collapseCuisine">
        {% for cuisine in cuisines %}
          <div class="checkbox px-3 mb-4">
            <label>
            <input type="checkbox" name="cuisine[]" value="{{ cuisine.name }}"
                {% if cuisine.name in app.request.query.get('cuisine')|join(',') %}checked{% endif %}>
                {{ cuisine.name|trans({}, 'cuisines') }}
            </label>
          </div>
        {% endfor %}
        </div>
      </div>
      {% endif %}

      <div class="mb-4">
        <h6 class="p-1 border-bottom"></h6>
        <button class="filter-section-btn btn btn-sm shadow-none bg-transparent w-100"
          data-toggle="collapse" href="#collapseCategory" aria-expanded="true" aria-controls="collapseCategory">
          <div class="d-flex flex-row align-items-center justify-content-between">
            <h4><strong>{{ 'shops.filters.title.categories'|trans }}</strong></h4>
            <strong><span class="filter-caret caret"></span></strong>
          </div>
        </button>
        {% set categories = [
          {key: 'featured', transKey: 'homepage.featured'},
          {key: 'exclusive', transKey: 'homepage.exclusive'},
          {key: 'new', transKey: 'homepage.shops.new'},
          {key: 'zerowaste', transKey: 'restaurant.list.tags.zerowaste'}] %}
        <div class="collapse in" id="collapseCategory">
        {% for category in categories %}
          <div class="radio px-3 mb-4">
            <label>
              <input type="radio" name="category" value="{{ category.key }}"
                {% if app.request.query.get('category') == category.key %}checked{% endif %}>
              {{ category.transKey|trans }}
            </label>
          </div>
        {% endfor %}
        </div>
      </div>

    </form>
  </div>

  <div class="restaurant-main-content">
    {% include "restaurant/_partials/list_buttons.html.twig" with { to_mode: 'map' } %}
    {% include "restaurant/_partials/mobile_filters.html.twig" %}
    <div class="container-fluid">
      {% if count == 0 %}
        <div class="col-md-6 col-md-offset-3 alert alert-warning text-center">
          {{ 'restaurants.no_results'|trans|raw }}
        </div>
      {% else %}
        <div id="shops-list" class="row display-flex restaurant-list">
          {% include "_partials/restaurant/shops_list.html.twig" %}
        </div>
        <div id="shops-list-paginator"
          data-page="{{page}}"
          data-pages="{{pages}}">
        </div>
      {% endif %}
    </div>
  </div>
</div>

<div id="optins"
  data-brand-name={{ coopcycle_setting('brand_name')|json_encode|e('html_attr') }}></div>

{% endblock %}

{% block styles %}
  {{ encore_entry_link_tags('restaurant-list') }}
  {{ encore_entry_link_tags('optins') }}
{% endblock %}

{% block scripts %}
  {{ encore_entry_script_tags('search-address') }}
  {{ encore_entry_script_tags('restaurant-list') }}
  {{ encore_entry_script_tags('optins') }}
{% endblock %}
