{% extends 'restaurant/layout.html.twig' %}

{% block breadcrumb %}
  <li><a href="{{ path(restaurants_route) }}">{% trans %}adminDashboard.shops.title{% endtrans %}</a></li>
  <li><a href="{{ path(restaurant_route, { id: restaurant.id }) }}">{{ restaurant.name }}</a></li>
  <li><a href="{{ path(menu_taxons_route, { id: restaurant.id }) }}">Menus</a></li>
  <li>{% if menu.id is not null %}{{ menu.name }}{% else %}{{ 'basics.add'|trans }}{% endif %}</li>
{% endblock %}

{% block content %}

  {% if menu.id is not null %}

    <div class="alert alert-info">
      <i class="fa fa-info-circle mr-2"></i>{% trans %}form.menu_editor.help{% endtrans %}
    </div>

    <div id="menu-editor"
      data-restaurant="{{ restaurant|serialize('jsonld', { groups: ['restaurant'] })|e('html_attr') }}"
      data-menu="{{ menu|serialize('jsonld', { groups: ['restaurant_menu_without_options'] })|e('html_attr') }}"
    ></div>

    <p class="help-block">
      {% trans with { '%products_url%': path(products_route, { id: restaurant.id }) } %}form.menu_editor.products.help{% endtrans %}
    </p>

  {% endif %}

{% endblock %}

{% block styles %}
  {{ encore_entry_link_tags('restaurant-menu-editor') }}
{% endblock %}

{% block scripts %}
{{ encore_entry_script_tags('restaurant-menu-editor') }}
{% endblock %}
