{% extends 'restaurant/layout.html.twig' %}

{% form_theme form 'form/product.html.twig' %}

{% block breadcrumb %}
  <li><a href="{{ path(restaurants_route) }}">{% trans %}adminDashboard.shops.title{% endtrans %}</a></li>
  <li><a href="{{ path(restaurant_route, { id: restaurant.id }) }}">{{ restaurant.name }}</a></li>
  <li><a href="{{ path(products_route, { id: restaurant.id }) }}">{{ 'restaurant.list.products'|trans }}</a></li>
  <li>{{ product.name }}</li>
{% endblock %}

{% block content %}
{{ form_start(form) }}

  {% set product = form.vars.value %}

  {% if not form.vars.valid %}
    {{ form_errors(form) }}
  {% endif %}

  {% if form.confirm is defined %}
    <div class="alert alert-warning">
      <p class="text-center">
        {% trans with { '%link%': path(product_new_route, { id: restaurant.id }) } %}form.product.confirm.help{% endtrans %}
      </p>
      <br>
      <div class="text-center">
        {{ form_widget(form.confirm, { attr: { class: 'btn-sm btn-success' } }) }}
      </div>
    </div>
  {% endif %}

  <section class="mb-4">
    <div class="row">
      <div class="col-sm-3">
        {% if product.id is not null %}
        <a href="#" id="image-editor"
          class="d-flex align-items-center justify-content-center border text-decoration-none"
          style="padding: 10rem;">
          <i class="fa fa-3x fa-camera"></i>
        </a>
        {% endif %}
      </div>
      <div class="col-sm-9">
        {{ form_row(form.name) }}
        {{ form_row(form.description) }}
        {{ form_row(form.enabled) }}
      </div>
    </div>
  </section>

  {% if form.reusablePackagingEnabled is defined and form.reusablePackagings is defined %}
  <div class="panel panel-default">
    <div class="panel-body">
      {{ form_widget(form.reusablePackagingEnabled) }}
      <div class="reusablePackagings">
        <ul class="list-unstyled"
          data-index="{{ form.reusablePackagings|length > 0 ? form.reusablePackagings|last.vars.name + 1 : 0 }}"
          data-prototype="{{ form_widget(form.reusablePackagings.vars.prototype)|e('html_attr') }}">
          {% for reusable_packaging in form.reusablePackagings %}
          <li>
            {{ form_widget(reusable_packaging) }}
          </li>
          {% endfor %}
        </ul>
        <div class="text-right">
          <button type="button" class="btn btn-success add_item_link">
            <i class="fa fa-plus mr-1"></i>
            <span>{{ 'basics.add'|trans }}</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  <hr>

  {{ form_widget(form.priceWithTax) }}

  {{ form_row(form.options, { attr: { class: "product__form__options--sortable" } }) }}

  <section class="mb-4">
    <div class="row">
      <div class="col-sm-6">
        {{ form_row(form.allergens) }}
      </div>
      <div class="col-sm-6">
        {{ form_row(form.restrictedDiets) }}
      </div>
    </div>
  </section>

  <div class="border p-3">
  {{ form_row(form.alcohol) }}
  </div>

  <hr>

  <div class="row">
    {#
    Make sure the "save" button is *BEFORE* the "delete" button in the DOM
    to avoid deleting when hitting "enter"
    #}
    <div class="col-sm-9">
      <button type="submit" class="btn btn-block btn-primary">{{ 'basics.save'|trans }}</button>
    </div>
    <div class="col-sm-3">
      {{ form_widget(form.delete, { attr: { class: 'btn-block btn-danger' } }) }}
    </div>
  </div>

{{ form_end(form) }}

{% set product_images = [] %}
{% for product_image in product.images %}
  {% set imagine_filter = ('product_thumbnail_' ~ (product_image.ratio|replace({ ':': 'x' }))) %}
  {% set product_images = product_images|merge([ {
    ratio: product_image.ratio,
    thumbnail: coopcycle_asset(product_image, 'imageFile', imagine_filter)
  } ]) %}
{% endfor %}

<div id="product-form-data"
  data-action-url="{{ oneup_uploader_endpoint('product') }}"
  data-product-id="{{ product.id }}"
  data-product-images="{{ product_images|json_encode|e('html_attr') }}"></div>

{% endblock %}

{% block styles %}
  {{ encore_entry_link_tags('product-form') }}
{% endblock %}

{% block scripts %}
{{ encore_entry_script_tags('product-form') }}
{% endblock %}
