{% extends 'restaurant/layout.html.twig' %}

{% block breadcrumb %}
  <li><a href="{{ path(restaurants_route) }}">{% trans %}adminDashboard.shops.title{% endtrans %}</a></li>
  <li><a href="{{ path(restaurant_route, { id: restaurant.id }) }}">{{ restaurant.name }}</a></li>
  <li>{% trans %}restaurant.list.product_options{% endtrans %}</li>
{% endblock %}

{% block content %}

<div class="alert alert-info">
  <i class="fa fa-info-circle"></i> {% trans %}restaurant.product_options.help{% endtrans %}
</div>

<div class="d-flex justify-content-between mb-4">
  <div id="product-options-search">
    <input type="text" class="form-control" placeholder="{{ 'basics.search'|trans }}" disabled />
  </div>
  <a href="{{ path(new_product_option_route, { id: restaurant.id }) }}" class="btn btn-success">
    <i class="fa fa-plus"></i> {{ 'basics.add'|trans }}
  </a>
</div>

<table class="table">
  <thead>
    <th></th>
    <th>{{ 'form.product_option.name.label'|trans }}</th>
    <th>{{ 'form.product_option.strategy.label'|trans }}</th>
    <th>{{ 'form.product_option.additional.label'|trans }}</th>
    <th class="text-right">{{ 'restaurant.product_options.list.values'|trans }}</th>
    <th></th>
  </thead>
  <tbody>
    {% for option in options %}
    <tr>
      <td width="1%">
      {% if option.values|length == 0 %}
        <span title="{{ 'form.product_option.values.help'|trans }}"><i class="fa fa-warning"></i></span>
      {% endif %}
      </td>
      <td>{{ option.name }}</td>
      <td>{{ ('product_option.strategy.' ~ option.strategy)|trans }}</td>
      <td>
      {% if option.additional %}
        <i class="fa fa-check"></i>
      {% endif %}
      </td>
      <td class="text-right">{{ option.values|length }}</td>
      <td class="text-right">
        <a href="{{ path(product_option_route, { restaurantId: restaurant.id, optionId: option.id }) }}"
          class="btn btn-xs btn-default"><i class="fa fa-pencil"></i> {{ 'basics.edit'|trans }}</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div class="text-center">
  {{ knp_pagination_render(options, '@KnpPaginator/Pagination/twitter_bootstrap_v3_pagination.html.twig') }}
</div>

{% endblock %}

{% block scripts %}
<script>
new CoopCycle.Search(document.querySelector('#product-options-search'), {
  url: "{{ path(product_options_route, { id: restaurant.id, format: 'json'  }) }}",
  placeholder: "{{ 'basics.search'|trans }}",
  onSuggestionSelected: function(suggestion) {
    window.location.href = suggestion.path;
  }
});
</script>
{% endblock %}
