{% extends 'restaurant/layout.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block breadcrumb %}
  <li><a href="{{ path(restaurants_route) }}">{% trans %}adminDashboard.shops.title{% endtrans %}</a></li>
  <li><a href="{{ path(restaurant_route, { id: restaurant.id }) }}">{{ restaurant.name }}</a></li>
{% endblock %}

{% block content %}
<div class="alert alert-info">
  {{ ('restaurant_promotion.' ~ promotion_type ~ '.help')|trans|raw }}
</div>
{{ form_start(form) }}
  {{ form_widget(form) }}
  <button type="submit" class="btn btn-block btn-primary">
    {{ 'basics.save'|trans }}
  </button>
{{ form_end(form) }}
{% endblock %}
