{% extends 'restaurant/layout.html.twig' %}

{% block breadcrumb %}
  <li><a href="{{ path(restaurants_route) }}">{% trans %}adminDashboard.restaurants.title{% endtrans %}</a></li>
  <li><a href="{{ path(restaurant_route, { id: restaurant.id }) }}">{{ restaurant.name }}</a></li>
{% endblock %}

{% block content %}

<div class="text-right mb-4">
  <div class="btn-group">
    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fa fa-plus mr-2"></i>{{ 'basics.add'|trans }} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-right">
      <li>
        <a href="{{ path(promotion_new_route, { id: restaurant.id, type: 'offer_delivery' }) }}">
          {{ 'restaurant_promotion.offer_delivery'|trans }}
        </a>
      </li>
      <li>
        <a href="{{ path(promotion_new_route, { id: restaurant.id, type: 'items_total' }) }}">
          {{ 'restaurant_promotion.items_total'|trans }}
        </a>
      </li>
    </ul>
  </div>
</div>

{% for promotion in promotions %}
<h3>{{ promotion.name }}</h3>

{% if promotion.isCouponBased() %}
<table class="table">
  <thead>
    {# <th>#</th> #}
    {# <th>{{ 'basics.name'|trans }}</th> #}
    <th>{{ 'sylius.ui.code'|trans }}</th>
    <th>{{ 'sylius.form.promotion_coupon.usage_limit'|trans }}</th>
    <th>{{ 'sylius.form.promotion_coupon.per_customer_usage_limit'|trans }}</th>
    <th>{{ 'sylius.form.promotion_coupon.expires_at'|trans }}</th>
    <th class="text-right">{% trans %}promotion_coupon.used.label{% endtrans %}</th>
  </thead>
  <tbody>
    {% for coupon in promotion.coupons %}
    <tr>
      {#
      <td>
        <a href="{{ path(promotion_route, { restaurantId: restaurant.id, promotionId: promotion.id }) }}">#{{ promotion.id }}</a>
      </td>
      #}
      {# <td>{{ promotion.name }}</td> #}
      <td>
        {{ coupon.code }}
      </td>
      <td>
        {{ coupon.usageLimit }}
      </td>
      <td>
        {{ coupon.perCustomerUsageLimit }}
      </td>
      <td>
        {% if coupon.expiresAt is not empty %}
          {{ coupon.expiresAt|format_datetime('short', 'short') }}
        {% endif %}
      </td>
      <td class="text-right">
        {{ coupon.used }}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% endfor %}

{% endblock %}
