{% extends 'restaurant/layout.html.twig' %}

{% block breadcrumb %}
  <li><a href="{{ path(restaurants_route) }}">{% trans %}adminDashboard.shops.title{% endtrans %}</a></li>
  <li><a href="{{ path(restaurant_route, { id: restaurant.id }) }}">{{ restaurant.name }}</a></li>
{% endblock %}

{% block content %}

<div class="text-right mb-4">
  <div class="btn-group">
    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fa fa-plus mr-2"></i>{{ 'basics.add'|trans }} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-right">
      <li>
        <a href="{{ path(promotion_new_route, { id: restaurant.id, type: 'offer_delivery' }) }}">
          {{ 'restaurant_promotion.offer_delivery'|trans }}
        </a>
      </li>
      <li>
        <a href="{{ path(promotion_new_route, { id: restaurant.id, type: 'items_total' }) }}">
          {{ 'restaurant_promotion.items_total'|trans }}
        </a>
      </li>
    </ul>
  </div>
</div>

<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active"><a href="#ongoing" aria-controls="ongoing" role="tab" data-toggle="tab">{{ 'adminDashboard.promotions.ongoing'|trans }}</a></li>
  <li role="presentation"><a href="#past" aria-controls="past" role="tab" data-toggle="tab">{{ 'adminDashboard.promotions.past'|trans }}</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="ongoing">
    {% include 'restaurant/_partials/promotions.html.twig' with { promotions: ongoing_promotions, show_archive: true } %}
  </div>
  <div role="tabpanel" class="tab-pane" id="past">
    {% include 'restaurant/_partials/promotions.html.twig' with { promotions: past_promotions, show_archive: false } %}
  </div>
</div>

{% endblock %}
