{% extends "base.html.twig" %}

{% block menu %}
  {% include "admin/nav.html.twig" %}
{% endblock %}

{% block banner %}
  {% include '_partials/maintenance.html.twig' %}
  {% if not settings_manager.fullyConfigured or (coopcycle_setting('autocomplete_provider')|default(autocomplete_adapter)|default('algolia')) == 'algolia' %}
  <div class="alert alert-danger">
    <ul class="list-unstyled">
      {% if not settings_manager.fullyConfigured %}
      <li>
      {% trans with { '%settings_url%': path('admin_settings') } %}
      admin.settings.missing_mandatory_settings
      {% endtrans %}
      </li>
      {% endif %}
      {% if (coopcycle_setting('autocomplete_provider')|default(autocomplete_adapter)|default('algolia')) == 'algolia' %}
      <li>
      {% trans with { '%settings_url%': path('admin_settings') } %}
      admin.settings.stop_using_algolia
      {% endtrans %}
      </li>
      {% endif %}
    </ul>
  </div>
  {% endif %}
  {% if coopcycle_has_ordering_delay() %}
  <div class="alert alert-warning">
    <span><i class="fa fa-lg fa-clock-o"></i> {{ 'ordering_delay.admin_reminder'|trans }}</span>
    <a class="pull-right" href="{{ path('admin_foodtech_dashboard', { date: 'now'|date('Y-m-d') }) }}">
      {{ 'basics.edit'|trans }}
    </a>
  </div>
  {% endif %}
{% endblock %}

{% block body %}
<div class="container-fluid container--full-height">
  <ol class="breadcrumb">
    <li><a href="{{ path('admin_index') }}">{% trans %}adminDashboard.title{% endtrans %}</a></li>
    {% block breadcrumb %}{% endblock %}
  </ol>
  {% block subnav %}{% endblock %}
  <div class="mb-4">{% block content %}{% endblock %}</div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block styles_common %}
  {{ encore_entry_link_tags('widgets-admin') }}
  {% block styles %}{% endblock %}
{% endblock %}

{% block scripts_common %}
  {{ encore_entry_script_tags('widgets-admin') }}
  <script>
  new CoopCycle.Changelog(document.getElementById('changelog'));
  </script>
  {% block scripts %}{% endblock %}
{% endblock %}
