{% extends "base.html.twig" %}

{% block menu %}
  {% include "admin/nav.html.twig" %}
{% endblock %}

{% block banner %}
  {% include '_partials/maintenance.html.twig' %}
  {% set error_messages = coopcycle_configtest() %}
  {% if error_messages is not empty %}
  <div class="alert alert-danger" style="margin-top: -20px;">
    <ul class="list-unstyled">
      {% for error_message in error_messages %}
      <li>
      {{ error_message|raw }}
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  {% if coopcycle_has_ordering_delay() %}
  <div class="alert alert-warning">
    <span><i class="fa fa-lg fa-clock-o"></i> {{ 'ordering_delay.admin_reminder'|trans }}</span>
    <a class="pull-right" href="{{ path('admin_foodtech_dashboard', { date: 'now'|date('Y-m-d') }) }}">
      {{ 'basics.edit'|trans }}
    </a>
  </div>
  {% endif %}
{% endblock %}

{% block body %}
<div class="container-fluid container--full-height">
  <ol class="breadcrumb" data-testid="breadcrumb">
    <li><a href="{{ path('admin_index') }}">{% trans %}adminDashboard.title{% endtrans %}</a></li>
    {% block breadcrumb %}{% endblock %}
  </ol>
  {% block subnav %}{% endblock %}
  <div class="mb-4">{% block content %}{% endblock %}</div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block styles_common %}
  {{ encore_entry_link_tags('widgets-admin') }}
  {% block styles %}{% endblock %}
{% endblock %}

{% block scripts_common %}
  {{ encore_entry_script_tags('widgets-admin') }}
  <script>
  new CoopCycle.Changelog(document.getElementById('changelog'));
  </script>
  {% block scripts %}{% endblock %}
{% endblock %}
