<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
  <head>
    {{ sonata_seo_title() }}
    {{ sonata_seo_link_canonical() }}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon.png">
    {{ sonata_seo_metadatas() }}
    {{ encore_entry_link_tags('common') }}
    {{ encore_entry_link_tags('widgets') }}
    {% block styles_common %}
      {% block styles %}{% endblock %}
    {% endblock %}
    {% block structured_data %}{% endblock %}
    {% if coopcycle_has_banner() %}
    <style>
    .homepage-search, .restaurant-list-header {
      background-image: url({{ url('assets_banner_svg')  }});
    }
    </style>
    {% endif %}
  </head>
  <body data-country="{{ country_iso }}" data-currency-symbol="{{ currency_context.currencyCode|sylius_currency_symbol }}" data-timezone="{{ coopcycle_setting('timezone') }}">
    {% block menu %}
      {% include "menu.html.twig" %}
    {% endblock %}
    {% block banner %}
      {% if is_demo %}
        <section class="banner">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-md-offset-2 text-center">
                <h3>{{ 'demo.disclaimer'|trans|raw }}</h3>
                <h4 class="hidden-xs">{{ 'demo.disclaimer.subtitle'|trans|raw }}</h4>
              </div>
            </div>
          </div>
        </section>
      {% endif %}
      {% include '_partials/maintenance.html.twig' %}
      {% include '_partials/banner.html.twig' %}
    {% endblock %}
    {% block flash_messages %}
      {% include '_partials/flash_messages.html.twig' %}
    {% endblock %}
    <div class="content">
    {% block body %}{% endblock %}
    </div>
    {% block footer %}
      <footer class="footer">
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <h5>{% trans %}base.footer.contactUs{% endtrans %}</h5>
              <ul class="list-unstyled">
                <li>
                  <a class="footer-link" href="mailto:{{ coopcycle_setting('administrator_email') }}">
                    <i class="fa fa-envelope"></i>  {{ coopcycle_setting('administrator_email') }}
                  </a>
                </li>
                {% set phone_number = coopcycle_setting('phone_number') %}
                {% if phone_number is not empty %}
                <li>
                  <i class="fa fa-phone"></i>  <span>{{ phone_number|phone_number_format('NATIONAL') }}</span>
                </li>
                {% endif %}
              </ul>
              <ul class="list-unstyled">
                {% if coopcycle_has_about_us() %}
                <li>
                  <a class="footer-link" href="{{ path('about_us') }}">
                    {% trans %}nav.about_us{% endtrans %}
                  </a>
                </li>
                {% endif %}
                {% if coopcycle_setting('b2b_enabled') %}
                <li>
                  <a class="footer-link" href="{{ path('company_registration') }}" >
                    {% trans %}base.footer.companyRegister{% endtrans %}
                  </a>
                </li>
                <li>
                  <a class="footer-link" href="{{ path('request_restaurant') }}">
                    {% trans %}base.footer.RegisterMyRestaurant{% endtrans %}
                  </a>
                </li>
                {% endif %}
                <li>
                  <a class="footer-link" href="{{ path('legal') }}">
                    {% trans %}base.footer.legal{% endtrans %}
                  </a>
                </li>
                <li>
                  <a class="footer-link" href="{{ path('terms') }}">
                    {% trans %}base.footer.terms{% endtrans %}
                  </a>
                </li>
                <li>
                  <a class="footer-link" href="{{ path('privacy') }}">
                    {% trans %}base.footer.privacy{% endtrans %}
                  </a>
                </li>
                <li>
                  <a class="footer-link" href="https://docs.coopcycle.org" target="_blank">
                    {% trans %}base.footer.help{% endtrans %}
                  </a>
                </li>
                {% set restaurant_pledges_enabled = coopcycle_setting('enable_restaurant_pledges') %}
                {% if 'yes' == restaurant_pledges_enabled %}
                <li>
                  <a class="footer-link" href="{{ path('restaurants_suggest') }}">
                    {% trans %}base.footer.suggest{% endtrans %}
                  </a>
                </li>
                {% endif %}
              </ul>
            </div>
            <div class="col-sm-6">
              <div class="text-right">
                <span class="mr-2">{{ 'basics.powered_by'|trans|raw }}</span>
                <img src="https://coopcycle.org/images/logo.svg" width="20" height="20" />
              </div>
              <div class="text-right">
                <a class="btn-google-play" href="https://play.google.com/store/apps/details?id=fr.coopcycle">
                  <img alt="Disponible sur Google Play"
                    src="https://play.google.com/intl/en_us/badges/images/generic/{{ app.request.locale }}_badge_web_generic.png" />
                </a>
              </div>
              {% set app_store_badges = {
                'de': 'Download_on_the_App_Store_Badge_DE_RGB_blk.svg',
                'en': 'Download_on_the_App_Store_Badge_EN_RGB_blk.svg',
                'es': 'Download_on_the_App_Store_Badge_ES_RGB_blk.svg',
                'fr': 'Download_on_the_App_Store_Badge_FR_RGB_blk.svg'
              } %}
              {% set app_store_badge = app_store_badges['en'] %}
              {% if app_store_badges[app.request.locale] is defined %}
                {% set app_store_badge = app_store_badges[app.request.locale] %}
              {% endif %}
              <div class="text-right">
                <a href="https://apps.apple.com/us/app/coopcycle/id1324884530?l=fr&ls=1">
                  <img alt="Télécharger dans l'App Store"
                    src="{{ asset('img/app/app-store/' ~ app_store_badge) }}" />
                </a>
              </div>
            </div>
          </div>
        </div>
      </footer>
    {% endblock %}
    {% if app.environment == "prod" %}
      {% if sentry_apm_enabled %}
      <script
        src="https://browser.sentry-cdn.com/5.17.0/bundle.apm.min.js"
        crossorigin="anonymous"></script>
      <script>
        Sentry.init({
          dsn: '{{ sentry_public_dsn }}',
          integrations: [
            new Sentry.Integrations.Tracing()
          ],
          tracesSampleRate: 0.25
        });
      </script>
      {% else %}
      <script
        src="https://browser.sentry-cdn.com/5.17.0/bundle.min.js"
        integrity="sha384-lowBFC6YTkvMIWPORr7+TERnCkZdo5ab00oH5NkFLeQUAmBTLGwJpFjF6djuxJ/5"
        crossorigin="anonymous"></script>
      <script>
        Sentry.init({ dsn: '{{ sentry_public_dsn }}' });
      </script>
      {% endif %}
    {% endif %}

    {% if coopcycle_setting('foodtech_enabled') %}
    {% set cart = cart_provider.getCart() %}
    <div id="js-cart-data"
      data-restaurant="{{ cart.restaurant ? cart_provider.normalize(cart).restaurant|json_encode|e('html_attr') }}"
      data-items-total="{{ cart.itemsTotal|e('html_attr') }}"
      data-total="{{ cart.total|e('html_attr') }}"></div>
    {% endif %}

    <div id="cpccl_settings"
      data-latlng="{{ coopcycle_setting('latlng')|json_encode|e('html_attr') }}"></div>

    <script src="/tracking/socket.io/socket.io.js"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

    {{ encore_entry_script_tags('common') }}
    {{ encore_entry_script_tags('widgets') }}

    {% if app.user %}
      {{ encore_entry_script_tags('notifications') }}
    {% endif %}

    {% block scripts_common %}
      {% block scripts %}{% endblock %}
    {% endblock %}

    {% if app.environment == "test" %}
    <script>
    {% include '_partials/error_handler.js.twig' %}
    </script>
    {% endif %}

    {% include "_partials/analytics.html.twig" %}
  </body>
</html>
