<footer class="footer sm:footer-horizontal bg-neutral text-neutral-content p-10">
  <nav>
    <h5 class="footer-title">{% trans %}base.footer.contactUs{% endtrans %}</h5>
    <a class="link link-hover" href="mailto:{{ coopcycle_setting('administrator_email') }}">
      <i class="fa fa-envelope mr-1"></i>
      <span>{{ coopcycle_setting('administrator_email') }}</span>
    </a>
    {% set phone_number = coopcycle_setting('phone_number') %}
    {% if phone_number is not empty %}
    <a class="link link-hover">
      <i class="fa fa-phone mr-1"></i>
      <span>{{ phone_number|phone_number_format('NATIONAL') }}</span>
    </a>
    {% endif %}
    {% if coopcycle_has_about_us() %}
    <a class="link link-hover" href="{{ path('about_us') }}">
      {% trans %}nav.about_us{% endtrans %}
    </a>
    {% endif %}
    <a class="link link-hover" href="{{ path('legal') }}">
      {% trans %}base.footer.legal{% endtrans %}
    </a>
    <a class="link link-hover" href="{{ path('terms') }}">
      {% trans %}base.footer.terms{% endtrans %}
    </a>
    <a class="link link-hover" href="{{ path('privacy') }}">
      {% trans %}base.footer.privacy{% endtrans %}
    </a>
    <a class="link link-hover" href="https://docs.coopcycle.org" target="_blank">
      {% trans %}base.footer.help{% endtrans %}
    </a>
    {% set restaurant_pledges_enabled = coopcycle_setting('enable_restaurant_pledges') %}
    {% if 'yes' == restaurant_pledges_enabled %}
      <a class="link link-hover" href="{{ path('restaurants_suggest') }}">
        {% trans %}base.footer.suggest{% endtrans %}
      </a>
    {% endif %}
  </nav>
  <nav class="md:justify-self-end">
    <div class="flex">
      <span class="mr-2">{{ 'basics.powered_by'|trans|raw }}</span>
      <img src="{{ asset('img/logo.svg') }}" width="20" height="20" />
    </div>
    <div>
      <a class="btn-google-play" href="https://play.google.com/store/apps/details?id=fr.coopcycle">
        <img alt="Disponible sur Google Play"
          src="https://play.google.com/intl/en_us/badges/images/generic/{{ app.request.locale }}_badge_web_generic.png" />
      </a>
    </div>
    {% set app_store_badges = {
      'de': 'Download_on_the_App_Store_Badge_DE_RGB_blk.svg',
      'en': 'Download_on_the_App_Store_Badge_EN_RGB_blk.svg',
      'es': 'Download_on_the_App_Store_Badge_ES_RGB_blk.svg',
      'fr': 'Download_on_the_App_Store_Badge_FR_RGB_blk.svg'
    } %}
    {% set app_store_badge = app_store_badges['en'] %}
    {% if app_store_badges[app.request.locale] is defined %}
      {% set app_store_badge = app_store_badges[app.request.locale] %}
    {% endif %}
    <div>
      <a href="https://apps.apple.com/us/app/coopcycle/id1324884530?l=fr&ls=1">
        <img alt="Télécharger dans l'App Store"
          src="{{ asset('img/app/app-store/' ~ app_store_badge) }}" />
      </a>
    </div>
  </nav>
</footer>
