{% extends "base.html.twig" %}

{% block styles_common %}
  {{ encore_entry_link_tags('frontend') }}
  {% block styles %}{% endblock %}
  {% if coopcycle_has_banner() %}
  <style>
  .homepage-search, .restaurant-list-header {
    background-image: url({{ url('assets_banner_svg')  }});
  }
  </style>
  {% set theme = coopcycle_theme() %}

  {% if theme|length > 0 %}
    <style>
      :root {
      {% for theme_variable, theme_value in theme %}
        --color-{{ theme_variable }}: {{ theme_value }};
      {% endfor %}
      }
    </style>
  {% endif %}
  {% endif %}
{% endblock %}

{% block menu %}
  {% if not embed_context.enabled %}
  {% include "menu.html.twig" %}
  {% endif %}

{% endblock %}

{% block banner %}
  {% if is_demo %}
    <section class="banner">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center">
            <h3>{{ 'demo.disclaimer'|trans|raw }}</h3>
            <h4 class="hidden-xs">{{ 'demo.disclaimer.subtitle'|trans|raw }}</h4>
          </div>
        </div>
      </div>
    </section>
  {% endif %}
  {% include '_partials/maintenance.html.twig' %}
  {% include '_partials/banner.html.twig' %}
{% endblock %}

{% block footer %}
  {% if not embed_context.enabled %}
  {% include "footer.html.twig" %}
  {% endif %}
{% endblock %}

{% block scripts_common %}
  {{ encore_entry_script_tags('frontend') }}
  {% block scripts %}{% endblock %}
{% endblock %}
