{% extends "base.html.twig" %}

{% block banner %}
  {% if is_granted('DASHBOARD_VIEW') %}
  <section class="banner">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
          <div class="banner-message">
            <i class="fa fa-info-circle mr-2"></i>
            <span>{% trans with { '%link%': path('dashboard') } %}profile.dashboard_suggest{% endtrans %}</span>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endif %}
{% endblock %}

{% block body %}
<div class="container container--full-height">
  <div class="row">
    {% if (show_left_menu ?? true) %}
    <div class="col-sm-3">
      <ul class="nav nav-pills nav-stacked">
        <li
          class="{{ app.request.attributes.get('_route') in [ 'nucleos_profile_profile_show', 'profile_edit' ] ? 'active' : '' }}">
          <a href="{{ path('nucleos_profile_profile_show') }}">
            <i class="fa fa-list-ul mr-1"></i>
            <span>{% trans %}profile.myPersonalInfo{% endtrans %}</span>
          </a>
        </li>
        <li
          class="{{ app.request.attributes.get('_route') == 'profile_orders' ? 'active' : '' }}">
          <a href="{{ path('profile_orders') }}">
            <i class="fa fa-cube mr-1"></i>
            <span>{% trans %}profile.myOrders{% endtrans %}</span>
          </a>
        </li>
        <li
          class="{{ app.request.attributes.get('_route') in [ 'profile_addresses', 'profile_address_new' ] ? 'active' : '' }}">
          <a href="{{ path('profile_addresses') }}">
            <i class="fa fa-map-marker mr-1"></i>
            <span>{% trans %}profile.myAddresses{% endtrans %}</span>
          </a>
        </li>
        {% if is_granted('ROLE_COURIER') %}
        <li
          class="{{ app.request.attributes.get('_route') == 'profile_tasks' ? 'active' : '' }}">
          <a href="{{ path('profile_tasks') }}">
            <i class="fa fa-bicycle mr-1"></i>
            <span>{{ 'profile.myDeliveries'|trans }}</span>
          </a>
        </li>
        <li
          class="{{ app.request.attributes.get('_route') == 'profile_tracking' ? 'active' : '' }}">
          <a href="{{ path('profile_tracking', { date: 'now'|date('Y-m-d') }) }}">
            <i class="fa fa-location-arrow mr-1"></i>
            <span>{% trans %}profile.myTracking{% endtrans %}</span>
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
    {% endif %}
    <div class="{{ (show_left_menu ?? true) ? 'col-sm-9' : 'col-sm-12' }}">
      {% block subnav %}{% endblock %}
      {% block content %}{% endblock %}
    </div>
  </div>
</div>
{% endblock %}

{% block styles %}
  {{ encore_entry_link_tags('widgets-admin') }}
{% endblock %}

{% block scripts_common %}
  {{ encore_entry_script_tags('widgets-admin') }}
  {% block scripts %}{% endblock %}
{% endblock %}
