{% extends "@App/base.html.twig" %}

{% block menu %}
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ path('homepage') }}">
        <img src="https://coopcycle.org/images/logo.svg" width="20" height="20" />
      </a>
      <a class="navbar-brand" href="{{ path('homepage') }}">{{ coopcycle_setting('brand_name') }}</a>
    </div>
  </div>
</nav>
{% endblock %}

{% block body %}
<div class="container">

  {% for message in app.flashes('embed_delivery') %}
    <div class="alert alert-success">
      {{ message|raw }}
    </div>
  {% endfor %}

  <div class="row">
    <div class="col-md-6">
      <section>
        <div id="map" style="height: 400px; margin-bottom: 20px;"></div>
      </section>
    </div>
    <div class="col-md-6">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="nomargin">{{ 'embed.delivery.summary.title'|trans }}</h4>
        </div>
        <div class="panel-body">
          <p class="nomargin text-right">
            <i class="fa fa-clock-o"></i> {{ 'basics.created_at'|trans({ '%date%': order.createdAt|localizeddate('medium', 'short') }) }}
          </p>
        </div>
        {% include "@App/_partials/order/items.html.twig" %}
      </div>

      {% if last_payment.state == 'failed' %}
        <div class="alert alert-danger">{{ last_payment.lastError }}</div>
      {% endif %}

      {% if last_payment.state == 'completed' %}
        <div class="alert alert-success">
          <i class="fa fa-check"></i> {{ 'embed.delivery.paid_at'|trans({ '%date%': last_payment.updatedAt|localizeddate('medium', 'short') }) }}
        </div>
      {% endif %}

    </div>
  </div>
</div>
{% endblock %}

{% block footer %}
<div style="padding: 20px 0;">
  <div class="container">
    <div class="text-center">
      <img src="https://coopcycle.org/images/logo.svg" width="20" height="20" />  {{ 'basics.powered_by'|trans|raw }}
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="https://js.stripe.com/v3/"></script>
{{ encore_entry_script_tags('js/delivery-map') }}
<script>
new CoopCycle.DeliveryMap('map', {
  pickup: [ {{ order.delivery.pickup.address.geo.latitude }}, {{ order.delivery.pickup.address.geo.longitude }} ],
  dropoff: [ {{ order.delivery.dropoff.address.geo.latitude }}, {{ order.delivery.dropoff.address.geo.longitude }} ],
  polyline: "{{ order.delivery.polyline|e('js') }}"
});
</script>
{% endblock %}
