{% extends "@App/base.html.twig" %}

{% block menu %}
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ path('homepage') }}">
        <img src="https://coopcycle.org/images/logo.svg" width="20" height="20" />
      </a>
      <a class="navbar-brand" href="{{ path('homepage') }}">{{ coopcycle_setting('brand_name') }}</a>
    </div>
  </div>
</nav>
{% endblock %}

{% block body %}
<div class="container">

  {% for message in app.flashes('notice') %}
    <div class="alert alert-success">
      {{ message|raw }}
    </div>
  {% endfor %}

  <div class="row">
    <div class="col-md-6">
      <section>
        <div id="map" style="height: 400px; margin-bottom: 20px;"></div>
      </section>
    </div>
    <div class="col-md-6">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="nomargin">Résumé de votre commande</h4>
        </div>
        <div class="panel-body">
          <p class="nomargin text-right">
            <i class="fa fa-clock-o"></i> Créée le {{ order.createdAt|localizeddate('medium', 'short') }}
          </p>
          {#
          <p class="nomargin">
            <a href="{{ path('public_invoice', { number: order.number }) }}">
              <i class="fa fa-file-pdf-o" aria-hidden="true"></i> Télécharger la facture
            </a>
          </p>
          #}
        </div>
        {% include "@App/_partials/order/items.html.twig" %}
      </div>

      {% if stripe_payment.state == 'failed' %}
        <div class="alert alert-danger">{{ stripe_payment.lastError }}</div>
      {% endif %}

      {% if stripe_payment.state == 'completed' %}
        <div class="alert alert-success">
          <i class="fa fa-check"></i> Paiement effectué le {{ stripe_payment.updatedAt|localizeddate('medium', 'short') }}
        </div>
      {% endif %}

      {% if order.state != 'new' and form is defined %}

        {{ form_start(form) }}

          {{ form_widget(form.stripeToken) }}

          <div class="alert alert-info">
            Utilisez le formulaire ci-dessous pour payer votre commande par carte bancaire
          </div>

          <div class="form-group">
            <label class="control-label" for="card-element">
              {% trans %}order.payment.title{% endtrans %}
            </label>
            <div id="card-element">
              <!-- a Stripe Element will be inserted here. -->
            </div>
            <!-- Used to display form errors -->
            <div id="card-errors" role="alert"></div>
          </div>

          <button type="submit" class="btn btn-block btn-lg btn-primary">
            {% trans with { '%total%': stripe_payment.amount|price_format } %}order.payment.total{% endtrans %}
          </button>

        {{ form_end(form) }}

      {% endif %}

    </div>
  </div>


</div>
{% endblock %}

{% block footer %}
<div style="padding: 20px 0;">
  <div class="container">
    <div class="text-center">
      <img src="https://coopcycle.org/images/logo.svg" width="20" height="20" />  {{ 'basics.powered_by'|trans|raw }}
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="https://js.stripe.com/v3/"></script>
<script>
new CoopCycle.DeliveryMap('map', {
  pickup: [ {{ order.delivery.pickup.address.geo.latitude }}, {{ order.delivery.pickup.address.geo.longitude }} ],
  dropoff: [ {{ order.delivery.dropoff.address.geo.latitude }}, {{ order.delivery.dropoff.address.geo.longitude }} ],
  polyline: "{{ order.delivery.polyline|e('js') }}"
})
{% if stripe_payment.state == 'new' %}
new CoopCycle.StripePaymentForm(document.querySelector('form[name="stripe_payment"]'), {
  publishableKey: "{{ coopcycle_setting('stripe_publishable_key') }}",
  tokenElement: document.querySelector('#stripe_payment_stripeToken')
})
{% endif %}
</script>
{% endblock %}
