<div class="restaurant-item {% if not enabled %}restaurant-item--disabled{% endif %}">
	<a href="{{ url }}" data-restaurant-path>
		<div class="restaurant-image">
			<div class="restaurant-banner">
				<img src="{{ image }}" alt="{{ name }}">
			</div>
			<div class="restaurant-logo">
				<img src="{{ image }}" alt="{{ name }}">
			</div>
		</div>
		<div class="restaurant-details">
			<h4 class="restaurant-item__title">{{ name|u.truncate(48, '…', false) }}</h4>
			{# {% set cache_key = restaurant|cache_key(restaurant_caption_cache_annotation) %} #}
			{# {% cache cache_key ttl(300) %} #}

			{# {% if description is not empty %}
																			<div class="restaurant-item__caption mb-3">
																				<span class="text-muted">{{ description|striptags|slice(0, 140) ~ '…'|raw|nl2br }}</span>
																			</div>
																		{% else %}
																			<div class="restaurant-item__caption mb-3">
																				<span class="text-muted">{{ address }}</span>
																			</div>
																		{% endif %} #}

			{# {% endcache %} #}
				<div
				data-fulfillment="{{ fulfillment_timing_url }}"> {# Managed with React #}
				<span class="restaurant-item__time-range">
					<i class="fa fa-clock-o"></i>
					Dans 30 - 40 minutes
				</span>
			</div>

			<div class="tags">
				{% for tag in tags %}
					{% include "components/restaurant_card/tag/tag.html.twig" with {value: tag} %}
				{% endfor %}
			</div>
		</div>


		{% if exclusive %}
			<div class="restaurant-item__top-left">
				<span class="btn btn-sm btn-warning">
					<i class="fa fa-star"></i>
					{{ 'adminDashboard.restaurants.exclusive'|trans }}
				</span>
			</div>
		{% endif %}

		{% if supports_edenred %}
			<div class="restaurant-item__top-right">
				<span class="restaurant-supports-edenred"></span>
			</div>
		{% elseif vytal_enabled %}
			<div class="restaurant-item__top-right">
				<span class="restaurant-supports-vytal"></span>
			</div>
		{% endif %}

	</a>
</div>
