<div class="restaurant-item">
	<a title="{{ name is defined ? name : "Empty name"|u.truncate(48, '…', false) }}" href="{{ url is defined ? url : "#" }}" data-restaurant-path>

		<div class="restaurant-image">

			<div class="restaurant-banner">
				<img src="{{ banner_image|default(null)|placeholder_image('restaurant_banner') }}" alt="{{ name is defined ? name ~ "'s banner" : "banner" }}">
                {% if should_show_pre_order %}
                <figcaption class="w-100 h-100 position-absolute">
                    <div class="w-100 h-100 position-absolute bg-dark" style="opacity: 0.5;"></div>
                    <div class="w-100 h-100 position-absolute text-white font-weight-bold d-flex flex-column justify-content-center align-items-center p-5">
                        <i class="fa fa-clock-o"></i>
                        <span>{{ 'restaurants.pre_order'|trans }}</span>
                    </div>
                </figcaption>
                {% endif %}
			</div>

			<div class="restaurant-logo">
				<img src="{{ image|default(null)|placeholder_image('restaurant_thumbnail') }}" alt="{{ name is defined ? name ~ "'s logo" : "logo" }}">
			</div>

			{% if badges is defined %}
				<div class="badges">
					{% for badge in badges %}
						{% include "components/restaurant_card/badge/badge.html.twig" with {type: badge} %}
					{% endfor %}
				</div>
			{% endif %}

		</div>

		<div class="restaurant-details">
			<h4 class="restaurant-item__title">{{ name is defined and name|trim != "" ? name|u.truncate(48, '…', false) : "Empty name"|u.truncate(48, '…', false) }}</h4>

			<div
				class="timing" data-fulfillment="{{ fulfillment_timing_url is defined ? fulfillment_timing_url : "" }}">
				{# Managed with React #}
				<span class="restaurant-item__time-range">
					<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-clock" width="44" height="44" viewbox="0 0 24 24" stroke-width="2" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
						<path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0"/>
						<path d="M12 7v5l3 3"/>
					</svg>
					<div class="ssc-line w-50"></div>
				</span>
			</div>

			<div class="tags">
				{% if tags is defined and tags is not empty %}
					{% for tag in tags %}
						{% include "components/restaurant_card/tag/tag.html.twig" with {value: tag} %}
					{% endfor %}
				{% elseif description is defined and description is not empty %}
					<span class="text-muted">{{ description|striptags|slice(0, 140) ~ '…'|raw|nl2br }}</span>
				{% elseif address is defined %}
					<span class="text-muted">{{ address }}</span>
				{% else %}
					<span class="text-muted">No description</span>
				{% endif %}
			</div>
		</div>

	</a>
</div>
