{% set nav = [
  {
    title: 'adminDashboard.deliveries.title' | trans,
    help: '',
    path: path('admin_deliveries'),
    icon: 'bicycle',
    active: ['admin_deliveries'],
    enabled: is_granted('ROLE_DISPATCHER'),
  },
  {
    title: 'adminDashboard.stores.title' | trans,
    help: 'adminDashboard.stores.help' | trans,
    path: path('admin_stores'),
    icon: 'shopping-cart',
    active: ['admin_stores'],
    enabled: is_granted('ROLE_ADMIN'),
  },
  {
    title: 'adminDashboard.incidents.title' | trans,
    help: 'adminDashboard.incidents.help' | trans,
    path: path('admin_incidents'),
    icon: 'exclamation-triangle',
    active: ['admin_incidents'],
    enabled: is_granted('ROLE_DISPATCHER'),
  },
  {
    title: 'adminDashboard.pricing.title' | trans,
    help: 'adminDashboard.pricing.help' | trans,
    path: path('admin_deliveries_pricing'),
    icon: 'percent',
    active: ['admin_deliveries_pricing', 'admin_deliveries_pricing_ruleset', 'admin_deliveries_pricing_ruleset_new'],
    enabled: is_granted('ROLE_ADMIN'),
  },
  {
    title: 'adminDashboard.embed.title' | trans,
    help: 'adminDashboard.embed.help' | trans,
    path: path('admin_embed'),
    icon: 'check-square-o',
    active: ['admin_embed', 'admin_forms', 'admin_form', 'admin_form_new'],
    enabled: is_granted('ROLE_ADMIN'),
  },
  {
    title: 'adminDashboard.time_slots.title' | trans,
    help: 'adminDashboard.time_slots.help' | trans,
    path: path('admin_time_slots'),
    icon: 'clock-o',
    active: ['admin_time_slots', 'admin_time_slot'],
    enabled: is_granted('ROLE_ADMIN'),
  },
  {
    title: 'adminDashboard.package_sets.title' | trans,
    help: 'adminDashboard.package_sets.help' | trans,
    path: path('admin_packages'),
    icon: 'cube',
    active: [ 'admin_packages', 'admin_package', 'admin_new_package' ],
    enabled: is_granted('ROLE_ADMIN'),
  },
  {
    title: 'adminDashboard.zones.title' | trans,
    help: 'adminDashboard.zones.help' | trans,
    path: path('admin_zones'),
    icon: 'bullseye',
    active: ['admin_zones'],
    enabled: is_granted('ROLE_ADMIN'),
  },
  {
    title: 'adminDashboard.failureSet.title' | trans,
    help: 'adminDashboard.failureSet.help' | trans,
    path: path('admin_failures_list'),
    icon: 'exclamation-triangle',
    active: ['admin_failures_list', 'admin_deliveries_failures_failurereasonset', 'admin_deliveries_failures_failurereasonset_new'],
    enabled: is_granted('ROLE_ADMIN'),
  },
  {
    title: 'adminDashboard.tags.title' | trans,
    help: 'adminDashboard.tags.help' | trans,
    path: path('admin_tags'),
    icon: 'tags',
    active: ['admin_tags'],
    enabled: is_granted('ROLE_DISPATCHER'),
  },{
    title: 'adminDashboard.api.title' | trans,
    help: 'adminDashboard.api.help' | trans,
    path: path('admin_api_apps'),
    icon: 'database',
    active: ['admin_api_apps', 'admin_api_app'],
    enabled: is_granted('ROLE_ADMIN'),
  },
  {
    title: 'vehicles.breadcrumb' | trans,
    help: 'vehicles.breadcrumb.help' | trans,
    path: path('admin_vehicles'),
    icon: 'bicycle',
    active: ['admin_vehicles', 'admin_vehicle'],
    enabled: is_granted('ROLE_ADMIN'),
  },
  {
    title: 'adminDashboard.integrations.title' | trans,
    help: 'adminDashboard.integrations.help' | trans,
    path: path('admin_integrations'),
    icon: 'database',
    active: ['admin_integrations', 'admin_integration'],
    enabled: is_granted('ROLE_ADMIN'),
  }
] %}
<div class="deliveries-nav">
  {% for row in nav %}
    {% if row.enabled %}
  <a href="{{ row.path }}"
    class="deliveries-nav-item {{ app.request.attributes.get('_route') in row.active ? 'active' : '' }}">
    <h4 class="deliveries-nav-item-heading">
      <i class="fa fa-{{ row.icon}} mr-2"></i>
      <span>{{ row.title }}</span>
    </h4>
    <small class="deliveries-nav-item-text">{{ row.help }}</small>
  </a>
    {% endif %}
  {% endfor %}
</div>
