<a href="{{ path('admin_deliveries') }}"
  class="list-group-item {{ app.request.attributes.get('_route') == 'admin_deliveries' ? 'active' : '' }}">
  <h4 class="list-group-item-heading">
    <i class="fa fa-bicycle mr-2"></i>
    <span>{% trans %}adminDashboard.deliveries.title{% endtrans %}</span>
  </h4>
</a>
<hr>
<div class="list-group">
  <a href="{{ path('admin_stores') }}"
    class="list-group-item {{ app.request.attributes.get('_route') == 'admin_stores' ? 'active' : '' }}">
    <h4 class="list-group-item-heading">
      <i class="fa fa-shopping-cart mr-2"></i>
      <span>{% trans %}adminDashboard.stores.title{% endtrans %}</span>
    </h4>
    <small class="list-group-item-text text-muted">{% trans %}adminDashboard.stores.help{% endtrans %}</small>
  </a>
  <a href="{{ path('admin_deliveries_pricing') }}"
    class="list-group-item {{ app.request.attributes.get('_route') == 'admin_deliveries_pricing' ? 'active' : '' }}">
    <h4 class="list-group-item-heading">
      <i class="fa fa-percent mr-2"></i>
      <span>{% trans %}adminDashboard.pricing.title{% endtrans %}</span>
    </h4>
    <small class="list-group-item-text text-muted">{% trans %}adminDashboard.pricing.help{% endtrans %}</small>
  </a>
  <a href="{{ path('admin_embed') }}"
    class="list-group-item {{ app.request.attributes.get('_route') in [ 'admin_embed', 'admin_forms' ] ? 'active' : '' }}">
    <h4 class="list-group-item-heading">
      <i class="fa fa-check-square-o mr-2"></i>
      <span>{% trans %}adminDashboard.embed.title{% endtrans %}</span>
    </h4>
    <small class="list-group-item-text text-muted">{% trans %}adminDashboard.embed.help{% endtrans %}</small>
  </a>
  <a href="{{ path('admin_time_slots') }}"
    class="list-group-item {{ app.request.attributes.get('_route') == 'admin_time_slots' ? 'active' : '' }}">
    <h4 class="list-group-item-heading">
      <i class="fa fa-clock-o mr-2"></i>
      <span>{% trans %}adminDashboard.time_slots.title{% endtrans %}</span>
    </h4>
    <small class="list-group-item-text text-muted">{% trans %}adminDashboard.time_slots.help{% endtrans %}</small>
  </a>
  <a href="{{ path('admin_packages') }}"
    class="list-group-item {{ app.request.attributes.get('_route') == 'admin_packages' ? 'active' : '' }}">
    <h4 class="list-group-item-heading">
      <i class="fa fa-cube mr-2"></i>
      <span>{% trans %}adminDashboard.package_sets.title{% endtrans %}</span>
    </h4>
    <small class="list-group-item-text text-muted">{% trans %}adminDashboard.package_sets.help{% endtrans %}</small>
  </a>
  <a href="{{ path('admin_zones') }}"
    class="list-group-item {{ app.request.attributes.get('_route') == 'admin_zones' ? 'active' : '' }}">
    <h4 class="list-group-item-heading">
      <i class="fa fa-bullseye mr-2"></i>
      <span>{% trans %}adminDashboard.zones.title{% endtrans %}</span>
    </h4>
    <small class="list-group-item-text text-muted">{% trans %}adminDashboard.zones.help{% endtrans %}</small>
  </a>
  <a href="{{ path('admin_tags') }}"
    class="list-group-item {{ app.request.attributes.get('_route') == 'admin_tags' ? 'active' : '' }}">
    <h4 class="list-group-item-heading">
      <i class="fa fa-tags mr-2"></i>
      <span>{% trans %}adminDashboard.tags.title{% endtrans %}</span>
    </h4>
    <small class="list-group-item-text text-muted">{% trans %}adminDashboard.tags.help{% endtrans %}</small>
  </a>
</div>
