<a href="{{ path('admin_deliveries') }}"
  class="deliveries-nav-item {{ app.request.attributes.get('_route') == 'admin_deliveries' ? 'active' : '' }}">
  <h4 class="deliveries-nav-item-heading">
    <i class="fa fa-bicycle mr-2"></i>
    <span>{% trans %}adminDashboard.deliveries.title{% endtrans %}</span>
  </h4>
</a>
<div class="deliveries-nav">
  <a href="{{ path('admin_stores') }}"
    class="deliveries-nav-item {{ app.request.attributes.get('_route') == 'admin_stores' ? 'active' : '' }}">
    <h4 class="deliveries-nav-item-heading">
      <i class="fa fa-shopping-cart mr-2"></i>
      <span>{% trans %}adminDashboard.stores.title{% endtrans %}</span>
    </h4>
    <small class="deliveries-nav-item-text">{% trans %}adminDashboard.stores.help{% endtrans %}</small>
  </a>
  <a href="{{ path('admin_deliveries_pricing') }}"
    class="deliveries-nav-item {{ app.request.attributes.get('_route') in [ 'admin_deliveries_pricing', 'admin_deliveries_pricing_ruleset', 'admin_deliveries_pricing_ruleset_new' ] ? 'active' : '' }}">
    <h4 class="deliveries-nav-item-heading">
      <i class="fa fa-percent mr-2"></i>
      <span>{% trans %}adminDashboard.pricing.title{% endtrans %}</span>
    </h4>
    <small class="deliveries-nav-item-text">{% trans %}adminDashboard.pricing.help{% endtrans %}</small>
  </a>
  <a href="{{ path('admin_embed') }}"
    class="deliveries-nav-item {{ app.request.attributes.get('_route') in [ 'admin_embed', 'admin_forms', 'admin_form', 'admin_form_new' ] ? 'active' : '' }}">
    <h4 class="deliveries-nav-item-heading">
      <i class="fa fa-check-square-o mr-2"></i>
      <span>{% trans %}adminDashboard.embed.title{% endtrans %}</span>
    </h4>
    <small class="deliveries-nav-item-text">{% trans %}adminDashboard.embed.help{% endtrans %}</small>
  </a>
  <a href="{{ path('admin_time_slots') }}"
    class="deliveries-nav-item {{ app.request.attributes.get('_route') in [ 'admin_time_slots', 'admin_time_slot' ] ? 'active' : '' }}">
    <h4 class="deliveries-nav-item-heading">
      <i class="fa fa-clock-o mr-2"></i>
      <span>{% trans %}adminDashboard.time_slots.title{% endtrans %}</span>
    </h4>
    <small class="deliveries-nav-item-text">{% trans %}adminDashboard.time_slots.help{% endtrans %}</small>
  </a>
  <a href="{{ path('admin_packages') }}"
    class="deliveries-nav-item {{ app.request.attributes.get('_route') in [ 'admin_packages', 'admin_package', 'admin_new_package' ] ? 'active' : '' }}">
    <h4 class="deliveries-nav-item-heading">
      <i class="fa fa-cube mr-2"></i>
      <span>{% trans %}adminDashboard.package_sets.title{% endtrans %}</span>
    </h4>
    <small class="deliveries-nav-item-text">{% trans %}adminDashboard.package_sets.help{% endtrans %}</small>
  </a>
  <a href="{{ path('admin_zones') }}"
    class="deliveries-nav-item {{ app.request.attributes.get('_route') == 'admin_zones' ? 'active' : '' }}">
    <h4 class="deliveries-nav-item-heading">
      <i class="fa fa-bullseye mr-2"></i>
      <span>{% trans %}adminDashboard.zones.title{% endtrans %}</span>
    </h4>
    <small class="deliveries-nav-item-text">{% trans %}adminDashboard.zones.help{% endtrans %}</small>
  </a>
  <a href="{{ path('admin_tags') }}"
    class="deliveries-nav-item {{ app.request.attributes.get('_route') == 'admin_tags' ? 'active' : '' }}">
    <h4 class="deliveries-nav-item-heading">
      <i class="fa fa-tags mr-2"></i>
      <span>{% trans %}adminDashboard.tags.title{% endtrans %}</span>
    </h4>
    <small class="deliveries-nav-item-text">{% trans %}adminDashboard.tags.help{% endtrans %}</small>
  </a>
  <a href="{{ path('admin_api_apps') }}"
    class="deliveries-nav-item {{ app.request.attributes.get('_route') in [ 'admin_api_apps', 'admin_api_app' ] ? 'active' : '' }}">
    <h4 class="deliveries-nav-item-heading">
      <i class="fa fa-database mr-2"></i>
      <span>{% trans %}adminDashboard.api.title{% endtrans %}</span>
    </h4>
    <small class="deliveries-nav-item-text">{% trans %}adminDashboard.api.help{% endtrans %}</small>
  </a>
</div>
