<h4>{% trans %}form.settings.mercadopago.title{% endtrans %}</h4>

<div class="form-group">
  <label class="control-label">{% trans %}form.settings.mercadopago.publishable_key.label{% endtrans %}</label>
  <div class="row">
    <div class="col-md-6">
      {{ form_widget(form.mercadopago.mercadopago_test_publishable_key) }}
      <span class="help-block">{% trans with { '%country%': country_iso } %}form.settings.mercadopago.publishable_key.help{% endtrans %}</span>
    </div>
    <div class="col-md-6">
      {{ form_widget(form.mercadopago.mercadopago_live_publishable_key) }}
    </div>
  </div>
</div>

<div class="form-group">
  <label class="control-label">{% trans %}form.settings.mercadopago.access_token.label{% endtrans %}</label>
  <div class="row">
    <div class="col-md-6">
      {{ form_widget(form.mercadopago.mercadopago_test_access_token) }}
      <span class="help-block">{% trans with { '%country%': country_iso } %}form.settings.mercadopago.access_token.help{% endtrans %}</span>
    </div>
    <div class="col-md-6">
      {{ form_widget(form.mercadopago.mercadopago_live_access_token) }}
    </div>
  </div>
</div>

{{ form_row(form.mercadopago.mercadopago_app_id) }}

<div class="alert alert-info">
  <i class="fa fa-info-circle"></i> {% trans with { '%redirect_uri%': url('mercadopago_oauth_callback') } %}form.settings.mercadopago.redirect_uri.help{% endtrans %}
</div>

<div class="alert alert-danger">
  <i class="fa fa-warning"></i> {{ 'form.mercadopago_livemode.enable.label'|trans }}
  <div class="pull-right">
    <div id="mercadopago_livemode_switch"></div>
  </div>
</div>

{% if not mercadopago_livemode %}
<p class="help-block">
  <i class="fa fa-info-circle"></i> {{ 'form.settings.mercadopago_testmode.help'|trans|raw }}
</p>
{% endif %}

{% if not can_enable_mercadopago_livemode %}
<p class="help-block">
  <i class="fa fa-info-circle"></i> {{ 'form.settings.mercadopago_enable_livemode.help'|trans|raw }}
</p>
{% endif %}
