{% extends "AppBundle::profile.html.twig" %}

{% block content %}
<p class="text-center">{% trans %}Average delivery time{% endtrans %}</p>
<div class="c100 p80 center">
  <span>{{ avg_delivery_time }}</span>
  <div class="slice"><div class="bar"></div><div class="fill"></div></div>
</div>
<hr>
<canvas id="myChart" width="100" height="33"></canvas>
<hr>
{% include "AppBundle::_partials/Delivery/list.html.twig" %}
{% include "AppBundle::_partials/Delivery/modal.html.twig" %}
{% endblock %}

{% block scripts %}

  {% set labels = [] %}
  {% set pickup_data = [] %}
  {% set delivery_data = [] %}

  {% for item in delivery_times %}
    {% set labels = labels|merge(['#' ~ item.id]) %}
    {% set pickup_data = pickup_data|merge([item.pickup_time]) %}
    {% set delivery_data = delivery_data|merge([item.delivery_time]) %}
  {% endfor %}

  <script>
  window.AppData = window.AppData || {};
  window.AppData.__i18n = {
    "Pickup time (minutes)": "{% trans %}Pickup time (minutes){% endtrans %}",
    "Delivery time (minutes)": "{% trans %}Delivery time (minutes){% endtrans %}"
  }
  window.AppData.DeliveryTimes = {
    labels: {{ labels|json_encode()|raw }},
    data: {
      pickup: {{ pickup_data|json_encode()|raw }},
      delivery: {{ delivery_data|json_encode()|raw }}
    }
  }
  window.AppData.Delivery = {
    actions: {
      pick: "{{ path(routes.pick, { id: '__DELIVERY_ID__' }) }}",
      deliver: "{{ path(routes.deliver, { id: '__DELIVERY_ID__' }) }}"
    }
  }
  </script>
  <script src="{{ asset('js/profile-deliveries.js') }}"></script>
  <script src="{{ asset('js/delivery-list.js') }}"></script>
{% endblock %}
