{% extends "AppBundle::base.html.twig" %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block title %}AppBundle:Index:index{% endblock %}

{% block body %}
<div class="row">

  <div class="col-xs-12 col-sm-8">

    <div class="page-header">
      <h1>Mes commandes</h1>
    </div>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    {# <div class="list-group">
      {% for order in orders %}
      <a href="#" class="list-group-item">
        {{ order.restaurant.name }}
        <span class="pull-right">{{ order.total }} €</span>
      </a>
      {% endfor %}
    </div> #}

  </div>

  {# <div class="col-xs-12 col-sm-4">
    <h2>Panier</h2>
    <div id="cart"></div>
    <hr>
    <a href="{{ path('order') }}" class="btn btn-block btn-primary">Commander</a>
  </div> #}

</div>
{% endblock %}

{% block scripts %}
{% endblock %}