{% extends "AppBundle::profile.html.twig" %}

{% block breadcrumb %}
<li>{% trans %}Orders{% endtrans %}</li>
{% endblock %}

{% block content %}
<h1>{% trans %}My orders{% endtrans %}</h1>
{% include "AppBundle:Profile:orders.pagination.html.twig" %}
<table class="table">
  <tbody>
  {% for order in orders %}
  <tr>
    <td width="10%"><a href="{{ path('profile_order', { id: order.id }) }}">#{{ order.id }}</a></td>
    <td width="10%">{% include "AppBundle:Order:label.html.twig" %}</td>
    <td>{{ order.restaurant.name }}</td>
    <td>{{ order.createdAt|ago }}</td>
    <td><span class="pull-right">{{ order.total }} €</span></td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block scripts %}
{% endblock %}