<h2 class="page-header">{% trans %}My account{% endtrans %}</h2>
<p><strong>{% trans %}Username{%  endtrans %}</strong>: {{ user.username }}</p>
<p><strong>{% trans %}Email{%  endtrans %}</strong>: {{ user.email }}</p>
<p><strong>{% trans %}Family name{%  endtrans %}</strong>: {{ user.familyName }}</p>
<p><strong>{% trans %}Given name{%  endtrans %}</strong>: {{ user.givenName }}</p>
<p><strong>{% trans %}Telephone{%  endtrans %}</strong>: {{ user.telephone }}</p>
