{% extends "AppBundle::profile.html.twig" %}

{% block breadcrumb %}
  <li>{% trans %}Tasks{% endtrans %}</li>
{% endblock %}

{% block content %}

<div class="text-right">
  <label class="control-label" style="margin-right: 15px;">{% trans %}Date{% endtrans %}</label>
  <span id="datepicker"></span>
</div>

<hr>

{% if tasks|length == 0 %}

  <div class="alert alert-warning">
    {% trans %}No tasks scheduled{% endtrans %}
  </div>

{% else %}

  <table class="table">
    <thead>
      <th></th>
      <th></th>
      <th>{% trans %}Delivery{% endtrans %}</th>
      <th>{% trans %}Address{% endtrans %}</th>
      <th></th>
      <th></th>
    </thead>
    <tbody>
    {% for task in tasks %}
      <tr>
        <td width="2%">
          {% if task.status == 'DONE' %}
          <i class="fa fa-calendar-check-o" style="color: #27AE60;"></i>
          {% else %}
          <i class="fa fa-calendar-o"></i>
          {% endif %}
        </td>
        <td>
          <button class="btn btn-xs btn-default">
            {% if task.type == 'PICKUP' %}
            <i class="fa fa-arrow-up"></i>
            {% else %}
            <i class="fa fa-arrow-down"></i>
            {% endif %} {{ ('task.type.' ~ task.type) | trans }}
          </button>
        </td>
        <td>{% if task.delivery is not empty %}#{{ task.delivery.id }}{% endif %}</td>
        <td>{{ task.address.streetAddress }}</td>
        <td>
          {{ task.doneAfter|localizeddate('none', 'short') }} - {{ task.doneBefore|localizeddate('none', 'short') }}
        </td>
        <td class="text-right">
          {% if task.status == 'TODO' %}
            <form method="post" action="{{ path('profile_task_done', { id: task.id }) }}">
              <button type="submit" class="btn btn-xs btn-success">
                <i class="fa fa-check"></i> Fait
              </button>
            </form>
          {% elseif task.status == 'DONE' %}
            {{ task.updatedAt|localizeddate('short', 'short') }}
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endif %}

{% endblock %}

{% block scripts %}
  <script src="{{ asset('js/widgets/date-picker.js') }}"></script>
  <script>
    var tasksURL = "{{ path('profile_tasks', { date: '__DATE__' }) }}";
    new CoopCycle.DatePicker(document.querySelector('#datepicker'), {
      defaultValue: "{{ date|date('Y-m-d') }}",
      onChange: function(date, dateString) {
        window.location.replace(tasksURL.replace('__DATE__', date.format('YYYY-MM-DD')))
      }
    });
  </script>
{% endblock %}
