{% extends "@App/profile.html.twig" %}


{% block content %}

<div class="text-right">
  <label class="control-label" style="margin-right: 15px;">{% trans %}profile.task.date{% endtrans %}</label>
  <span id="datepicker"></span>
</div>

<hr>

{% if tasks|length == 0 %}

  <div class="alert alert-warning">
    {% trans %}profile.task.noTasks{% endtrans %}
  </div>

{% else %}

  <table class="table">
    <thead>
      <th></th>
      <th></th>
      <th></th>
      <th>{% trans %}profile.task.dueDate{% endtrans %}</th>
      <th>{% trans %}profile.task.address{% endtrans %}</th>
      <th></th>
    </thead>
    <tbody>
    {% for task in tasks %}
      <tr>
        <td width="2%">
          {% include "@App/_partials/task/status_icon.html.twig" %}
        </td>
        <td width="2%">
          #{{ task.id }}
        </td>
        <td width="5%">
          {% include "@App/_partials/task/type_label.html.twig" %}
        </td>
        <td width="15%">
          <i class="fa fa-clock-o"></i> 
          {{ task.doneAfter|localizeddate('none', 'short') }} - {{ task.doneBefore|localizeddate('none', 'short') }}
        </td>
        <td>{{ task.address.streetAddress }}</td>
        <td class="text-right">
          <button type="button" class="btn btn-xs btn-primary {% if task.done %}disabled{% endif %}" data-task="{{ task.id }}">
            <i class="fa fa-check"></i> {% trans %}profile.task.complete{% endtrans %}
          </button>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  <div class="modal fade" id="task-complete-modal" tabindex="-1" role="dialog" aria-labelledby="task-complete-modal-label"></div>

{% endif %}

{% endblock %}

{% block scripts %}
  <script>

    var tasksURL = "{{ path('profile_tasks', { date: '__DATE__' }) }}";
    var completeModalURL = "{{ path('profile_task_complete', { id: '__TASK_ID__' }) }}";

    new CoopCycle.DatePicker(document.querySelector('#datepicker'), {
      defaultValue: "{{ date|date('Y-m-d') }}",
      onChange: function(date, dateString) {
        window.location.replace(tasksURL.replace('__DATE__', date.format('YYYY-MM-DD')))
      }
    });

    $('[data-task]').on('click', function(e) {
      e.preventDefault();
      if ($(e.currentTarget).hasClass('disabled')) {
        return;
      }
      const taskID = $(e.currentTarget).data('task');
      $('#task-complete-modal')
        .load(completeModalURL.replace('__TASK_ID__', taskID), () => $('#task-complete-modal').modal({ show: true }));
    });

  </script>
{% endblock %}
