{% trans_default_domain 'NucleosUserBundle' %}

<div class="login-container__content">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
        {% endif %}

        <div class="text-center">
          <a href="{{ hwi_oauth_authorization_url('facebook')|oauth2_proxy }}" class="btn btn-facebook" alt="{{ 'social.sign_in_with_facebook'|trans }}" rel="nofollow">
            <i class="fa fa-facebook-official"></i>  {{ 'social.sign_in_with_facebook'|trans({}, 'messages') }}
          </a>
        </div>

        <hr>

        <form action="{{ path("nucleos_user_security_check") }}" method="post">
          <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
          <div class="form-group">
            <label for="username">{{ 'security.login.username'|trans }}</label>
            <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
          </div>
          <div class="form-group">
            <label for="password">{{ 'security.login.password'|trans }}</label>
            <input class="form-control" type="password" id="password" name="_password" required="required" />
            <a class="help-block" href="{{ path('nucleos_user_resetting_request') }}">
              {% trans from 'messages' %}authentication.forgot_password{% endtrans %}
            </a>
          </div>
          <div class="form-group">
            <div class="checkbox">
              <label>
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                {{ 'security.login.remember_me'|trans }}
              </label>
            </div>
          </div>
          <div class="form-group">
            <input class="btn btn-block btn-lg btn-primary" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
          </div>
        </form>

        <hr>

        <div class="panel panel-default">
          <a class="panel-body d-block text-center" href="{{ path('nucleos_profile_registration_register') }}">
            <span class="mr-1">{% trans from 'messages' %}authentication.not_registered_yet{% endtrans %}</span>
            <span>{% trans from 'messages' %}authentication.create_account{% endtrans %}</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
