{% trans_default_domain 'NucleosUserBundle' %}

<div class="mx-auto px-4">
  {% if error %}
  <div class="alert alert-danger">{{ error }}</div>
  {% endif %}

  <div class="text-center mt-4">
    <a href="{{ hwi_oauth_authorization_url('facebook')|oauth2_proxy }}" class="btn bg-[#1A77F2] text-white border-[#005fd8]" alt="{{ 'social.sign_in_with_facebook'|trans }}" rel="nofollow">
      <i class="fa fa-facebook-official"></i>  {{ 'social.sign_in_with_facebook'|trans({}, 'messages') }}
    </a>
  </div>

  <div class="divider"></div>

  <form action="{{ path("nucleos_user_security_check") }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    <div class="mb-3">
      <label for="username">{{ 'security.login.username'|trans }}</label>
      <input class="input w-full mt-2" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
    </div>
    <div class="mb-3">
      <label for="password">{{ 'security.login.password'|trans }}</label>
      <input class="input w-full mt-2" type="password" id="password" name="_password" required="required" />
      <a class="text-sm text-base-content/60 underline mt-2" href="{{ path('nucleos_user_resetting_request') }}">
        {% trans from 'messages' %}authentication.forgot_password{% endtrans %}
      </a>
    </div>
    <div class="mb-3">
      <div class="flex items-center gap-2">
        <input type="checkbox" class="checkbox checkbox-xs" id="remember_me" name="_remember_me" checked />
        {{ 'security.login.remember_me'|trans({}, 'messages') }}
      </div>
    </div>
    <div class="mb-3">
      <input class="btn btn-block btn-lg btn-primary" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
    </div>
  </form>

  <div class="divider"></div>

  <a class="btn btn-outline w-full mb-4" href="{{ path('nucleos_profile_registration_register') }}">
    <span class="mr-1">{% trans from 'messages' %}authentication.not_registered_yet{% endtrans %}</span>
    <span>{% trans from 'messages' %}authentication.create_account{% endtrans %}</span>
  </a>

</div>
