{% extends layout %}

{% form_theme delivery_import_form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block breadcrumb %}
<li><a href="{{ path(stores_route) }}">{% trans %}adminDashboard.stores.title{% endtrans %}</a></li>
<li><a href="{{ path(store_route, { id: store.id }) }}">{{ store.name }}</a></li>
<li>{% trans %}stores.deliveries{% endtrans %}</li>
{% endblock %}

{% block subnav %}
  {% include "store/_partials/subnav.html.twig" %}
{% endblock %}

{% block content %}

{% if delivery_import_form.vars.submitted and (not delivery_import_form.vars.valid and not delivery_import_form.file.vars.valid) %}
  <div class="alert alert-danger">
    <ul class="list-unstyled">
    {% for error in delivery_import_form.file.vars.errors %}
      <li>{{ error.message }}</li>
    {% endfor %}
    </ul>
  </div>
{% endif %}

<h3>{{ 'basics.today'|trans }}</h3>
{% include '_partials/delivery/list.html.twig' with { deliveries: today } %}

<h3>{{ 'deliveries.section.upcoming'|trans }}</h3>
{% include '_partials/delivery/list.html.twig' with { deliveries: upcoming } %}

<hr>

<h3>{{ 'deliveries.section.past'|trans }}</h3>
{% include '_partials/delivery/list.html.twig' %}

<nav class="text-center">
  {{ knp_pagination_render(deliveries) }}
</nav>

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="export-deliveries-modal-label" id="export-deliveries-modal">
  <div class="modal-dialog" role="document">
    {{ form_start(delivery_import_form, { attr: { class: 'modal-content' } }) }}
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="export-deliveries-modal-label">{% trans %}basics.import{% endtrans %}</h4>
      </div>
      <div class="modal-body">
        {{ form_row(delivery_import_form.file) }}
      </div>
      <div class="modal-footer">
        <a class="mr-4" href="{{ path('spreadsheet_example_deliveries') }}">{{ 'spreadsheet.download_example'|trans }}</a>
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}basics.cancel{% endtrans %}</button>
        <button type="submit" class="btn btn-primary">{% trans %}basics.import{% endtrans %}</button>
      </div>
    {{ form_end(delivery_import_form) }}
  </div>
</div>

{% endblock %}

{% block styles %}
  {{ encore_entry_link_tags('delivery-list') }}
{% endblock %}

{% block scripts %}
  {{ encore_entry_script_tags('delivery-list') }}
{% endblock %}
