{% extends layout %}

{% form_theme delivery_import_form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block breadcrumb %}
<li><a href="{{ path(stores_route) }}">{% trans %}adminDashboard.stores.title{% endtrans %}</a></li>
<li><a href="{{ path(store_route, { id: store.id }) }}">{{ store.name }}</a></li>
<li>{% trans %}stores.deliveries{% endtrans %}</li>
{% endblock %}

{% block subnav %}
  <div class="text-right">
    <a href="#" class="btn btn-success mr-4" data-toggle="modal" data-target="#export-deliveries-modal">
      <i class="fa fa-upload"></i> {% trans %}basics.import{% endtrans %}
    </a>
    <div class="dropdown mr-4 d-inline-block">
      {% include '_partials/delivery/sort.html.twig' %}
    </div>
    <a href="{{ path(routes.store_new, { id: store.id }) }}" class="btn btn-success">
      <i class="fa fa-plus"></i> {{ 'delivery.createNew'|trans }}
    </a>
  </div>
{% endblock %}

{% block content %}

{% if delivery_import_form.vars.submitted and (not delivery_import_form.vars.valid and not delivery_import_form.file.vars.valid) %}
  <div class="alert alert-danger">
    <ul class="list-unstyled">
    {% for error in delivery_import_form.file.vars.errors %}
      <li>{{ error.message }}</li>
    {% endfor %}
    </ul>
  </div>
{% endif %}

<h3>{{ 'basics.today'|trans }}</h3>
{% include '_partials/delivery/list.html.twig' with { deliveries: today } %}

<h3>{{ 'deliveries.section.upcoming'|trans }}</h3>
{% include '_partials/delivery/list.html.twig' with { deliveries: upcoming } %}

<hr>

<h3>{{ 'deliveries.section.past'|trans }}</h3>
{% include '_partials/delivery/list.html.twig' %}

<nav class="text-center">
  {{ knp_pagination_render(deliveries) }}
</nav>

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="export-deliveries-modal-label" id="export-deliveries-modal">
  <div class="modal-dialog" role="document">
    {{ form_start(delivery_import_form, { attr: { class: 'modal-content' } }) }}
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="export-deliveries-modal-label">{% trans %}basics.import{% endtrans %}</h4>
      </div>
      <div class="modal-body">
        {{ form_row(delivery_import_form.file) }}
        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
            <p class="form-control-static">
              <a role="button" data-toggle="collapse" href="#spreadsheet-container" aria-expanded="false" aria-controls="collapseExample">
                {{ 'basics.view_example'|trans }}
              </a>
            </p>
          </div>
        </div>
        <div class="collapse" id="spreadsheet-container">
          <div id="spreadsheet" style="max-width: 100%; overflow: scroll; border: 1px solid;"></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}basics.cancel{% endtrans %}</button>
        <button type="submit" class="btn btn-primary">{% trans %}basics.import{% endtrans %}</button>
      </div>
    {{ form_end(delivery_import_form) }}
  </div>
</div>

{% endblock %}

{% block styles %}
  {{ encore_entry_link_tags('delivery-list') }}
{% endblock %}

{% block scripts %}
  {{ encore_entry_script_tags('delivery-list') }}
{% endblock %}
