{% extends 'store/layout.html.twig' %}

{% form_theme form 'form/store.html.twig' %}

{% set admin_deliveries_pricing = path('admin_deliveries_pricing') %}

{% block breadcrumb %}
<li><a href="{{ path(stores_route) }}">{% trans %}adminDashboard.stores.title{% endtrans %}</a></li>
<li>{% if store.id is not empty %}{{ store.name }}{% else %}{% trans %}adminDashboard.stores.createNew{% endtrans %}{% endif %}</li>
{% endblock %}

{% block subnav %}
{% endblock %}

{% block store_content %}

{{ form_start(form) }}

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="general">
      {% include "store/form/_partials/general.html.twig" %}
    </div>
    <div role="tabpanel" class="tab-pane" id="settings">
      {% include "store/form/_partials/settings.html.twig" %}
    </div>
  </div>

  <hr>

  <div class="d-flex">
  {#
  Make sure the "save" button is *BEFORE* the "delete" button in the DOM
  to avoid deleting when hitting "enter"
  #}
  <div class="flex-fill">
    <button type="submit" class="btn btn-block btn-lg btn-primary">{{ 'basics.save'|trans }}</button>
  </div>
    {% if form.delete is defined %}
      <div class="flex-shrink-1 ml-2">
      {{ form_widget(form.delete, { attr: { class: 'btn-block btn-lg btn-danger' } }) }}
      </div>
    {% endif %}
  </div>

{{ form_end(form) }}

{% endblock %}

{% block scripts %}
  {{ encore_entry_script_tags('store-form') }}
{% endblock %}
