{% extends 'store/layout.html.twig' %}

{% form_theme form 'form/store.html.twig' %}

{% set admin_deliveries_pricing = path('admin_deliveries_pricing') %}

{% block breadcrumb %}
<li><a href="{{ path(stores_route) }}">{% trans %}adminDashboard.stores.title{% endtrans %}</a></li>
<li>{% if store.id is not empty %}{{ store.name }}{% else %}{% trans %}adminDashboard.stores.createNew{% endtrans %}{% endif %}</li>
{% endblock %}

{% block subnav %}
{% endblock %}

{% block store_content %}

{{ form_start(form) }}

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="general">
      {% include "store/form/_partials/general.html.twig" %}
    </div>
    <div role="tabpanel" class="tab-pane" id="settings">
      {% include "store/form/_partials/settings.html.twig" %}
    </div>
  </div>

  <hr>

  <button type="submit" class="btn btn-lg btn-block btn-primary">{% trans %}basics.save{% endtrans %}</button>

{{ form_end(form) }}

{% endblock %}

{% block scripts %}
{{ encore_entry_script_tags('store-form') }}
{% endblock %}
