{% if stores|length > 0 %}
  <table class="table">
    <thead>
      <th>{{ 'basics.name'|trans }}</th>
      {% if is_granted('ROLE_ADMIN') %}
        <th></th>
        <th></th>
      {% endif %}
      <th></th>
    </thead>
    <tbody>
    {% for store in stores %}
      <tr data-testid="store_{{ store.name|replace({' ': '_'})|escape('js') }}__list_item">
        <td><a href="{{ path(store_route, { id: store.id }) }}">{{ store.name }}</a></td>
        {% if is_granted('ROLE_ADMIN') %}
        <td>
          {% if store.pricingRuleSet is not null %}
            <a href="{{ path('admin_deliveries_pricing_ruleset', { id: store.pricingRuleSet.id }) }}">
              {{ store.pricingRuleSet.name }}
            </a><br>
          {% endif %}
          {% if store.packageSet is not empty %}
            <a href="{{ path('admin_packages', { id: store.packageSet.id }) }}">{{ 'form.store_type.package_set.label'|trans }} {{ store.packageSet.name }}</a>
          {% endif %}
          {% if store.prefillPickupAddress or store.createOrders or store.timeSlot is not empty or store.packageSet is not empty %}
            <ul class="list-unstyled nomargin">
              {% if store.prefillPickupAddress %}
                <li>
                  <small class="text-muted">{{ 'form.store_type.prefill_pickup_address.label'|trans }}</small>
                </li>
              {% endif %}
              {% if store.createOrders %}
                <li>
                  <small class="text-muted">{{ 'form.store_type.create_orders.label'|trans }}</small>
                </li>
              {% endif %}
              {% if store.timeSlot is not empty %}
                <li>
                  <small class="text-muted">{{ 'form.store_type.time_slot.label'|trans }} {{ store.timeSlot.name }}</small>
                </li>
              {% endif %}
            </ul>
          {% endif %}
        </td>
        {% endif %}
        <td class="text-right">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {% trans %}stores.manage{% endtrans %}   <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
              <li>
                <a href="{{ path(store_route, { id: store.id }) }}">
                  {% trans %}stores.settings{% endtrans %}
                </a>
              </li>
              <li>
                <a href="{{ path(store_deliveries_route, { id: store.id }) }}">
                  {% trans %}stores.deliveries{% endtrans %}
                </a>
              </li>
              <li>
                <a href="{{ path(store_delivery_new_route, { id: store.id }) }}">
                  {% trans %}stores.createNewDelivery{% endtrans %}
                </a>
              </li>
              {% if is_granted('ROLE_ADMIN') %}
                <li>
                  <a href="{{ path('admin_store_users', { id: store.id }) }}">
                    {% trans %}stores.users{% endtrans %}
                  </a>
                </li>
              {% endif %}
            </ul>
          </div>
        </td>
        <td>
          <a class="text-danger">
             <i data-store-name="{{ store.name }}" data-store-id="{{ store.id }}" class="fa fa-trash delete-store"></i>
          </a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <nav class="text-center">
   {{ knp_pagination_render(stores) }}
  </nav>
{% else %}
  <div class="alert alert-info">
  {% trans %}stores.list.noStores{% endtrans %}
  </div>
{% endif %}

{% block scripts %}
  {{ encore_entry_script_tags('stores-list') }}
{% endblock %}
