{% extends 'store/layout.html.twig' %}

{% block breadcrumb %}
  <li><a href="{{ path(stores_route) }}">{% trans %}adminDashboard.stores.title{% endtrans %}</a>
  </li>
  <li><a href="{{ path(store_route, { id: store.id }) }}">{{ store.name }}</a></li>
  <li>{% trans %}stores.recurrence_rules{% endtrans %}</li>
{% endblock %}

{% block store_content %}

  <h3>{{ 'stores.recurrence_rules'|trans }}</h3>

  {% include '_partials/recurrence_rule/list.html.twig' with { items: recurrence_rules, empty_message: 'stores.recurrence_rules.empty_message' } %}

  <div class="text-center">
    {{ knp_pagination_render(pagination, '@KnpPaginator/Pagination/twitter_bootstrap_v3_pagination.html.twig') }}
  </div>

{% endblock %}
