{% extends 'store/layout.html.twig' %}

{% block breadcrumb %}
<li><a href="{{ path(stores_route) }}">{% trans %}adminDashboard.stores.title{% endtrans %}</a></li>
<li><a href="{{ path(store_route, { id: store.id }) }}">{{ store.name }}</a></li>
<li>{% trans %}stores.users{% endtrans %}</li>
{% endblock %}

{% block store_content %}

<p class="text-right">
  <a href="#" class="btn btn-success"
    data-toggle="modal" data-target="#invite-user-modal">
    <i class="fa fa-plus"></i> {% trans %}adminDashboard.users.invite{% endtrans %}
  </a>
</p>

{% if users|length > 0 %}
  <table class="table">
    <thead>
      <th>{{ 'Name'|trans }}</th>
      <th>{{ 'Firstname'|trans }}</th>
      <th>{{ 'Lastname'|trans }}</th>
    </thead>
    <tbody>
    {% for user in users %}
      <tr>
        <td>{{ user.username }}</td>
        <td>{{ user.givenName }}</td>
        <td>{{ user.familyName }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% else %}
  <div class="alert alert-info">
  {% trans %}basics.no_entries{% endtrans %}
  </div>
{% endif %}

<div id="user-search"></div>
{{ form_start(add_user_form) }}
  {{ form_widget(add_user_form) }}
{{ form_end(add_user_form) }}

<div class="modal fade" tabindex="-1" role="dialog" id="invite-user-modal">
  <div class="modal-dialog" role="document">
    {{ form_start(invite_form, { attr: { class: 'modal-content' } }) }}
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{{ 'adminDashboard.users.invite'|trans }}</h4>
      </div>
      <div class="modal-body">
        {{ form_widget(invite_form) }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'basics.cancel'|trans }}</button>
        <button type="submit" class="btn btn-primary">{{ 'basics.save'|trans }}</button>
      </div>
    {{ form_end(invite_form) }}
  </div>
</div>

{% endblock %}

{% block scripts %}
<script>
new CoopCycle.Search(document.querySelector('#user-search'), {
  url: "{{ path('admin_users_search', { format: 'json'  }) }}",
  placeholder: "Rechercher un utilisateur…",
  onSuggestionSelected: function(suggestion) {
    $('#add_user_user').val(suggestion.id);
    $('#add_user_user').closest('form').submit();
  }
});
</script>
{% endblock %}
