<section class="mb-4">
  <div class="mx-auto px-4">
    <div class="swiper swiper-homepage">
      <ol class="swiper-wrapper">
        {% for slide in this.filteredSlides %}
        <li class="swiper-slide">
          <a href="{{ slide.href }}" target="_blank" style="display: contents;">
            {# This wrapper <div> is needed for the CSS shadow to work #}
            <div class="px-1 py-2 h-full">
              <div class="card shadow-sm h-full flex flex-row" style="background-color: {{ slide.backgroundColor }};">
                <div class="swiper-slide-content-left">
                  <h4 class="coopcycle-homepage-bg-{{ slide.colorScheme ?? 'light' }}">{{ slide.title }}</h4>
                  <p class="coopcycle-homepage-bg-{{ slide.colorScheme ?? 'light' }}">{{ slide.text }}</p>
                  <button type="button" class="btn btn-default btn-xs">
                    <span>{{ slide.buttonText }}</span>
                    {{ ux_icon('lucide:arrow-right', { class: 'ml-2' }) }}
                  </button>
                </div>
                <div class="swiper-slide-content-right">
                  {% if slide.image is defined and slide.image is not empty %}
                    <img src="{{ slide.image }}" />
                  {% endif %}
                </div>
              </div>
            </div>
          </a>
        </li>
        {% endfor %}
      </ol>
      <button class="btn swiper-nav-prev">
        <i class="fa fa-arrow-left"></i>
      </button>
      <button class="btn swiper-nav-next">
        <i class="fa fa-arrow-right"></i>
      </button>
    </div>
  </div>
</section>
