{% set restaurant_image = coopcycle_asset(restaurant, 'imageFile', 'restaurant_thumbnail') %}
{% if restaurant_image is empty %}
  {% set restaurant_image = '//via.placeholder.com/512.jpg' %}
{% endif %}

{% set restaurant_path_params = {} %}
{% if address is defined and address is not empty %}
  {% set restaurant_path_params = restaurant_path_params|merge({ address: address }) %}
{% endif %}

<a class="thumbnail restaurant-item {% if not restaurant.enabled %}restaurant-item--disabled{% endif %}"
  href="{{ local_business_path(restaurant, restaurant_path_params) }}">
  <img class="restaurant-image" src="{{ restaurant_image }}" alt="{{ restaurant.name }}">
  <div class="caption text-center">
    <h4>{{ restaurant.name|truncate(24, false, '…') }}</h4>
    {% if restaurant.description is not empty %}
      <p class="text-muted">{{ restaurant.description }}</p>
    {% else %}
      <p class="text-muted">{{ restaurant.address.streetAddress }}</p>
    {% endif %}
  </div>
  <div class="restaurant-item__top-right"
    data-fulfillment="{{ path('restaurant_fulfillment_timing', { id: restaurant.id }) }}">
    {# Managed with React #}
  </div>
  {% if not restaurant.enabled and (is_granted('ROLE_ADMIN') or is_granted('ROLE_RESTAURANT')) %}
    <div class="restaurant-item__top-left">
      <span class="btn btn-sm btn-warning">
        <i class="fa fa-eye"></i>  {{ 'restaurants.visible_by_you_only'|trans }}
      </span>
    </div>
  {% elseif restaurant.enabled and restaurant.exclusive %}
    <div class="restaurant-item__top-left">
      <span class="btn btn-sm btn-warning">
        <i class="fa fa-star"></i>  {{ 'adminDashboard.restaurants.exclusive'|trans }}
      </span>
    </div>
  {% endif %}
</a>
