{% set restaurant_image = coopcycle_asset(restaurant, 'imageFile', 'restaurant_thumbnail') %}
{% if restaurant_image is empty %}
  {% set restaurant_image = '//via.placeholder.com/512.jpg' %}
{% endif %}

{% set restaurant_path_params = {
  id: restaurant.id,
  slug: restaurant.name|slugify
} %}

{% if address is defined and address is not empty %}
  {% set restaurant_path_params = restaurant_path_params|merge({ address: address }) %}
{% endif %}

{% set isOpen = restaurant.isOpen %}

<a class="thumbnail restaurant-item {% if not restaurant.enabled %}restaurant-item--disabled{% endif %}"
  href="{{ path('restaurant', restaurant_path_params) }}">
  <img class="restaurant-image" src="{{ restaurant_image }}" alt="{{ restaurant.name }}">
  <div class="caption text-center">
    <h4>{{ restaurant.name|truncate(24, false, '…') }}</h4>
    {% if restaurant.description is not empty %}
      <p class="text-muted">{{ restaurant.description }}</p>
    {% else %}
      <p class="text-muted">{{ restaurant.address.streetAddress }}</p>
    {% endif %}
  </div>
  <div class="restaurant-item__top-right">
    {% if isOpen %}
      <span class="btn btn-sm btn-success">
        <i class="fa fa-check"></i>
        <span>
          {{ 'basics.open'|trans }}
        </span>
      </span>
    {% else %}
      <span class="btn btn-sm btn-warning">
        <i class="fa fa-clock-o"></i>
        <span>
          {% set nextOpeningDate = restaurant.nextOpeningDate %}
          {# Open later on same day #}
          {% if nextOpeningDate|date('Y-m-d') == 'now'|date('Y-m-d') %}
            {{ nextOpeningDate|localizeddate('none', 'short') }}
          {# Open tomorrow #}
          {% elseif nextOpeningDate|date('Y-m-d') == 'tomorrow'|date('Y-m-d') %}
            {{ 'basics.tomorrow'|trans }} {{ nextOpeningDate|localizeddate('none', 'short') }}
          {% else %}
            {{ time_diff(nextOpeningDate) }}
          {% endif %}
        </span>
      </span>
    {% endif %}
  </div>
  {% if not restaurant.enabled and (is_granted('ROLE_ADMIN') or is_granted('ROLE_RESTAURANT')) %}
    <div class="restaurant-item__top-left">
      <span class="btn btn-sm btn-warning">
        <i class="fa fa-eye"></i>  {{ 'restaurants.visible_by_you_only'|trans }}
      </span>
    </div>
  {% elseif restaurant.enabled and restaurant.exclusive %}
    <div class="restaurant-item__top-left">
      <span class="btn btn-sm btn-warning">
        <i class="fa fa-star"></i>  {{ 'adminDashboard.restaurants.exclusive'|trans }}
      </span>
    </div>
  {% endif %}
</a>
