<h5 class="menu-item-name">{{ product.name }}</h5>
{% if not product.enabled %}
  <small class="menu-item-description">{{ 'restaurant.unavailable'|trans }}</small>
{% else %}
  {% if product.description is not null %}
    <small class="menu-item-description">{{ product.description }}</small>
  {% endif %}
  {% if product.allergens is not empty %}
    {% set allergens = [] %}
    {% for allergen in product.allergens %}
      {% set allergens = allergens|merge([('allergens.' ~ allergen)|trans]) %}
    {% endfor %}
    <small class="menu-item-allergens">
      <i class="fa fa-warning"></i> <span>{{ allergens|join(', ') }}</span>
    </small>
  {% endif %}
  {% if product.restrictedDiets is not empty %}
    {% set restrictedDiets = [] %}
    {% for restrictedDiet in product.restrictedDiets %}
      {% set restrictedDiets = restrictedDiets|merge([('restricted_diets.' ~ restrictedDiet)|trans]) %}
    {% endfor %}
    <small class="menu-item-restricted-diets">
      <i class="fa fa-check"></i> <span>{{ restrictedDiets|join(', ') }}</span>
    </small>
  {% endif %}
{% endif %}
