<h4>
  {% trans %}form.local_business.stripe_account.title{% endtrans %}
</h4>

<p class="help-block">
  <i class="fa fa-info-circle"></i> {% trans %}form.local_business.stripe_account.help{% endtrans %}
</p>

{% if not stripe_can_enable_testmode() and not stripe_can_enable_livemode() %}
  {# TODO Add message #}
{% else %}
  <table class="table">
    {% set test_stripe_account = restaurant.getStripeAccount(false) %}
    {% set live_stripe_account = restaurant.getStripeAccount(true) %}
    <tr>
      <td>
        <span class="label label-default">TEST</span>
      </td>
      <td></td>
      <td class="text-right">
        {% if test_stripe_account is not empty %}
          <span class="text-success">
            <i class="fa fa-check"></i>
          </span>
        {% else %}
          <a href="{{ path(stripe_oauth_redirect_route, { id: restaurant.id, livemode: 'no'}) }}" class="stripe-connect">
            <span>{{ 'form.local_business.stripe_account.connect_button.text'|trans }}</span>
          </a>
        {% endif %}
      </td>
    </tr>
    <tr>
      <td>
        <span class="label label-success">LIVE</span>
      </td>
      <td>
        {% if not stripe_can_enable_livemode() %}
          <span class="text-danger">{{ 'form.local_business.stripe_account.not_configured'|trans }}</span>
        {% endif %}
      </td>
      <td class="text-right">
        {% if live_stripe_account is not empty %}
          <span class="text-success">
            <i class="fa fa-check"></i>
          </span>
        {% else %}
          {% if stripe_can_enable_livemode() %}
            <a href="{{ path(stripe_oauth_redirect_route, { id: restaurant.id, livemode: 'yes'}) }}" class="stripe-connect">
              <span>{{ 'form.local_business.stripe_account.connect_button.text'|trans }}</span>
            </a>
          {% else %}
            <span class="text-danger">
              <i class="fa fa-ban"></i>
            </span>
          {% endif %}
        {% endif %}
      </td>
    </tr>
  </table>
{% endif %}
