{% if customer.hasUser() %}
  <a href="{{ path('admin_user_details', { username: customer.username }) }}"
    class="d-inline-block text-truncate" style="max-width: 120px;"
    title="{{ customer.user.username|e('html_attr') }}">
    <i class="fa fa-user mr-1"></i>
    <span>{{ customer.user.username }}</span>
    {% if customer.tags|length > 0 %}
    <span class="ml-1">
      {% for tag in customer.tags|expand_tags %}
        <i title="{{ tag.slug }}" class="fa fa-circle mr-1" style="color: {{ tag.color }};"></i>
      {% endfor %}
    </span>
    {% endif %}
  </a>
{% else %}
  <span
    class="d-inline-block text-truncate" style="max-width: 120px;"
    title="{{ customer.emailCanonical|e('html_attr') }}">
    <i class="fa fa-user mr-1"></i>
    <span>{{ customer.emailCanonical }}</span>
  </span>
{% endif %}
