{% set options_adjustments = item.getAdjustments('menu_item_modifier') %}
{% set packaging_adjustments = item.getAdjustments('reusable_packaging') %}
<tr data-testid="order-item-{{ index }}">
  <td>
    <span class="text-muted">{{ item.quantity }} × </span><span data-testid="name">{{ item.variant.name }}</span>
    {% if options_adjustments|length > 0 or packaging_adjustments|length > 0 %}
    <ul class="list-unstyled">
    {% for adjustment in options_adjustments %}
      <li data-testid="adjustment-{{ loop.index0 }}">
        <small class="text-muted">
          <span data-testid="name">{{ adjustment.label }}</span> <span data-testid="price">{{ adjustment.amount|price_format }}</span>
        </small>
      </li>
    {% endfor %}
    {% for adjustment in packaging_adjustments %}
      <li>
        <small class="text-muted">
          {{ adjustment.label }} {{ adjustment.amount|price_format }}
        </small>
      </li>
    {% endfor %}
    </ul>
    {% endif %}
  </td>
  <td class="text-right" data-testid="total">
    {{ item.total|price_format }}
  </td>
</tr>
