<table class="table">
  <thead>
    <th>#</th>
    <th>{% trans %}order.list.type{% endtrans %}</th>
    {% if is_granted('ROLE_ADMIN') %}
    <th>{% trans %}order.list.customer{% endtrans %}</th>
    {% endif %}
    <th>{% trans %}order.list.state{% endtrans %}</th>
    <th>{% trans %}order.list.summary{% endtrans %}</th>
    {% if is_granted('ROLE_ADMIN') %}
    <th class="text-right">{% trans %}order.total_excluding_tax{% endtrans %}</th>
    <th class="text-right">{% trans %}basics.platform_fees{% endtrans %}</th>
    {% endif %}
    <th class="text-right">{% trans %}order.total_including_tax{% endtrans %}</th>
    <th class="text-center">{% trans %}order.list.receipt{% endtrans %}</th>
    <th class="text-right">{% trans %}order.list.shippedAt{% endtrans %}</th>
  </thead>
  <tbody>
  {% for order in orders %}

  <tr>
    <td width="5%">
      <a href="{{ path(routes.order, { id: order.id }) }}">
        {% if order.number is not null %}
        {{ order.number }}
        {% else %}
        #{{ order.id }}
        {% endif %}
      </a>
    </td>
    <td width="5%">
      {% if order.foodtech %}
        <i class="fa fa-cutlery"></i>
      {% else %}
        <i class="fa fa-bicycle"></i>
      {% endif %}
    </td>
    {% if is_granted('ROLE_ADMIN') %}
    <td width="10%">
      {% if order.customer is not null %}
        {% include '_partials/order/customer.html.twig' with { customer: order.customer } %}
      {% endif %}
    </td>
    {% endif %}
    <td width="10%">{% include '_partials/order/state.html.twig' %}</td>
    <td>
      {% if order.foodtech %}
        {% if order.restaurant.deleted or not order.restaurant.enabled %}
          {% trans with {
            '%restaurant_name%': order.restaurant.name
          } %}order.list.summary.deleted_restaurant.text{% endtrans %}
        {% else %}
          {% trans with {
            '%restaurant_url%': path(routes.restaurant, { id: order.restaurant.id }),
            '%restaurant_name%': order.restaurant.name
          } %}order.list.summary.restaurant.text{% endtrans %}
        {% endif %}
      {% else %}
        {% for item in order.items %}
          {{ item.variant.name }}
        {% endfor %}
      {% endif %}
    </td>
    {% if is_granted('ROLE_ADMIN') %}
    <td class="text-right">
      <span>{{ (order.itemsTotal - order.itemsTaxTotal)|price_format }}</span>
    </td>
    <td class="text-right">{{ order.getFeeTotal()|price_format }}</td>
    {% endif %}
    <td class="text-right">
      <span>{{ order.total|price_format }}</span>
    </td>
    <td width="10%" class="text-center">
      {% if order.hasReceipt() %}
      <a target="_blank" href="{{ path(routes.order_receipt, { orderNumber: order.number }) }}">
        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
      </a>
      {% elseif order.foodtech and order.state == 'fulfilled' %}
        <button type="button" class="btn btn-xs btn-default"
          data-toggle="modal" data-target="#order-receipt-modal"
          data-action="{{ path(routes.order_receipt_generate, { orderNumber: order.number }) }}">{{ 'order.list.generate_receipt'|trans }}</button>
        </form>
      {% endif %}
    </td>
    <td class="text-right">{{ order.shippedAt|localizeddate('short', 'short') }}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
