{% set step = 1 %}
{% if app.request.get('_route') == 'order' %}
  {% set step = 2 %}
{% endif %}
{% if app.request.get('_route') == 'order_payment' %}
  {% set step = 3 %}
{% endif %}
{% if app.request.get('_route') == 'order_confirm' %}
  {% set step = 4 %}
{% endif %}

<ol class="steps mb-5">
  <li class="step step-primary">
    <a href="{{ path((order.isMultiVendor() ? 'hub' : 'restaurant'), {
        id:   order.vendor.id,
        slug: order.vendor.name|slugify
      }) }}">
      <span>
        <span class="block pt-2 mb-2">
          <i class="fa fa-shopping-basket fa-lg"></i>
        </span>
        <span class="hidden md:inline text-sm">{{ order.vendor.name }}</span>
      </span>
    </a>
  </li>
  <li class="step {% if step >= 2 %}step-primary{% endif %}">
    {% if order is defined and step < 4 %}
      <a href="{{ path('order') }}">
    {% else %}
      <span>
    {% endif %}
      <span>
        <span class="block pt-2 mb-2">
          <i class="fa fa-info-circle fa-lg"></i>
        </span>
        <span class="hidden md:inline text-sm">{{ 'checkout.breadcrumb.address'|trans }}</span>
      </span>
    {% if order is defined and step < 4 %}
      </a>
    {% else %}
      </span>
    {% endif %}
  </li>
  <li class="step {% if step >= 3 %}step-primary{% endif %}">
    <div>
      <span>
        <span class="block pt-2 mb-2">
          <i class="fa fa-credit-card fa-lg"></i>
        </span>
        <span class="hidden md:inline text-sm">{{ 'checkout.breadcrumb.payment'|trans }}</span>
      </span>
    </div>
  </li>
  <li class="step {% if step == 4 %}step-primary{% endif %}">
    <div>
      <span>
        <span class="block pt-2 mb-2">
          <i class="fa fa-check fa-lg"></i>
        </span>
        <span class="hidden md:inline text-sm">{{ 'checkout.breadcrumb.confirm'|trans }}</span>
      </span>
    </div>
  </li>
</ol>
