{% extends "base.html.twig" %}

{% block body %}
<div class="container container--full-height">
  <div class="row {{ embed_context.enabled ? 'pt-4' : '' }}">
    <div class="col-xs-12">
      {% include 'order/breadcrumb.html.twig' %}
    </div>
  </div>
  {% include 'order/_partials/content.html.twig' %}
</div>

<div id="optins"
  data-brand-name={{ coopcycle_setting('brand_name')|json_encode|e('html_attr') }}></div>
{% endblock %}

{% block styles %}
  {{ encore_entry_link_tags('order-details') }}
  {{ encore_entry_link_tags('optins') }}
{% endblock %}

{% block scripts %}
  {{ encore_entry_script_tags('order-details') }}
  {% include 'order/_partials/scripts.html.twig' %}
  {{ encore_entry_script_tags('optins') }}
{% endblock %}
