{% extends "base.html.twig" %}

{% form_theme form 'form/order.html.twig' %}

{% block banner %}
{% endblock %}

{% block body %}
<div class="container container--full-height">

  {% if not order.empty %}

    {% set user_with_same_email_exists_code =
      constant('AppBundle\\Validator\\Constraints\\UserWithSameEmailNotExists::USER_WITH_SAME_EMAIL_EXISTS_ERROR') %}

    {% if form.customer.email is defined and not form.customer.email.vars.valid
      and form.customer.email.vars.errors.findByCodes(user_with_same_email_exists_code)|length > 0 %}
      <div class="alert alert-warning">
        <div class="mb-3">
          <i class="fa fa-warning mr-1"></i>
          <span>{{ 'guest_checkout.user_with_same_email_exists'|trans }}</span>
        </div>
        <div class="d-flex justify-content-between">
          <button type="button" class="btn btn-warning"
            data-toggle="collapse" data-target="#guest-checkout-signin"
            aria-expanded="false" aria-controls="guest-checkout-signin">{{ 'layout.login'|trans({}, 'NucleosUserBundle') }}</button>
          <button type="button" class="btn btn-transparent">{{ 'guest_checkout.use_another_email'|trans }}</button>
        </div>
        <div class="collapse mt-4" id="guest-checkout-signin">
          <form action="{{ path("nucleos_user_security_check", { _target_path: path('order') }) }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
            <input type="hidden" name="_username" value="{{ form.customer.email.vars.data }}" />
            <div class="input-group">
              <input type="password" name="_password"
                class="form-control" id="guest-checkout-password"
                placeholder="{{ 'security.login.password'|trans({}, 'NucleosUserBundle') }}">
              <span class="input-group-btn">
                <button type="submit" class="btn btn-primary">
                  {{ 'security.login.submit'|trans({}, 'NucleosUserBundle') }}
                </button>
              </span>
            </div>
            <a class="help-block mb-0" href="{{ path('nucleos_user_resetting_request') }}">
              {% trans from 'messages' %}authentication.forgot_password{% endtrans %}
            </a>
          </form>
        </div>
      </div>
    {% endif %}

    {{ form_start(form, { attr: { style: 'padding-bottom: 66px;', class: (embed_context.enabled ? 'pt-4' : '') } }) }}

    <div class="row">
      <div class="col-xs-12">

        {% include 'order/breadcrumb.html.twig' %}

        {% for suggestion in coopcycle_checkout_suggestions(order) %}
          {% if suggestion.type == 'CONTINUE_SHOPPING_HUB' %}
            <div class="alert alert-info p-3 d-flex justify-content-between align-items-center">
              <div>
                <i class="fa fa-lg fa-info-circle mr-2"></i>
                <span>
                  {% trans with { '%name%': suggestion.hub.name } %}checkout.suggestions.continue_shopping_hub{% endtrans %}
                </span>
              </div>
              <div class="ml-2">
                <a class="btn btn-sm btn-info h-100 d-flex align-items-center"
                  href="{{ path('hub', { id: suggestion.hub.id, slug: suggestion.hub.name|slugify }) }}">
                  {{ 'index.view_all_merchants'|trans }}
                </a>
              </div>
            </div>
          {% endif %}
        {% endfor %}

        {{ form_errors(form) }}

        <h2 class="font-weight-bold m-0 mb-5">{{ order.vendor.name }}</h4>
        <div class="border-bottom mb-5">

          <h4 class="bg-light p-3 m-0">{{ 'order.cart.title'|trans }}</h4>
          <div id="items">
            {% include '_partials/order/items.html.twig' with {
              with_taxes: false,
              with_items: false,
              with_tip_form: form_tip
            } %}
            <div class="row">
              <div class="col-xs-12 col-sm-3 col-sm-offset-9 text-right">
                <a role="button"
                  data-toggle="collapse"
                  href="#promotion-coupon-collapse"
                  aria-expanded="false"
                  aria-controls="promotion-coupon-collapse"
                  class="d-block mb-4 font-weight-bold">
                  {{ 'form.checkout_address.promotion_coupon.label'|trans }}
                </a>
                <div class="collapse" id="promotion-coupon-collapse">
                  <div class="form-group">
                    <div class="input-group input-group-sm">
                      <input type="text" class="form-control" id="coupon-code">
                      <span class="input-group-btn">
                        <button class="btn btn-primary" type="button" id="apply-coupon">{{ 'form.checkout_address.add_promotion.label'|trans }}</button>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% if form.reusablePackagingEnabled is defined %}
              {{ form_row(form.reusablePackagingEnabled) }}
            {% endif %}
          </div>

        </div>

        {% if order.takeaway %}
        <div class="alert alert-warning">
          <i class="fa fa-warning mr-2"></i>
          {{ 'form.checkout_address.takeaway.disclaimer'|trans }}
          {% if order.restaurant.telephone %}
            {{ 'form.checkout_address.takeaway.contact'|trans({ '%telephone%': (order.restaurant.telephone|phone_number_format('NATIONAL')) }) }}
          {% endif %}
          <span class="text-danger">{{ 'form.checkout_address.takeaway.no_show_disclaimer'|trans }}</span>
        </div>
        {% endif %}

        {{ form_row(form.customer) }}

        <div>
          {% if form.shippingAddress is defined %}
            {{ form_row(form.shippingAddress.streetAddress) }}
            {{ form_row(form.shippingAddress.description) }}
          {% endif %}
        </div>

        <div>
          {{ form_row(form.notes) }}
        </div>

      </div>
    </div>
    <nav class="checkout-nav border-top">
      <div class="container">
        <div class="d-flex flex-row justify-content-between align-items-center py-3">
          <span class="text-success">
            <i class="fa fa-clock-o fa-lg mr-2"></i>
            <strong>{{ form.shippingTimeRange.vars.value|time_range_for_humans }}</strong>
          </span>
          <div>
            {% if form.quote is defined %}
              {{ form_widget(form.quote, { attr: { class: 'btn-lg btn-default mr-2' } }) }}
            {% endif %}
            <button class="btn btn-lg btn-primary" type="submit">
              {% trans %}cart.widget.button{% endtrans %}
            </button>
          </div>
        </div>
      </div>
    </nav>
    {{ form_end(form) }}

    <div class="d-none">
      {{ form_start(form_tip) }}
        {{ form_widget(form_tip) }}
      {{ form_end(form_tip) }}
    </div>

    <div class="d-none">
      {{ form_start(form_coupon) }}
        {{ form_widget(form_coupon) }}
      {{ form_end(form_coupon) }}
    </div>

    <div class="modal fade" id="modal-loopeat" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-body mb-0 p-0">
            <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
              <iframe class="embed-responsive-item" allowfullscreen></iframe>
            </div>
          </div>
          <div class="modal-footer justify-content-center">
            <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">{{ 'basics.close'|trans }}</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal" id="modal-loopeat-redirect-warning" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <p>{{ 'loopeat.oauth_redirect.warning'|trans }}</p>
          </div>
          <div class="d-flex justify-content-between p-4 border-top">
            <button type="button" class="btn btn-default btn-rounded btn-md" data-dismiss="modal">{{ 'basics.close'|trans }}</button>
            <button type="button" class="btn btn-primary btn-rounded btn-md" data-continue>{{ 'basics.continue'|trans }}</button>
          </div>
        </div>
      </div>
    </div>

  {% else %}
    <div class="alert alert-warning">
      {% trans from 'validators' %}cart.empty{% endtrans %}
    </div>
  {% endif %}
</div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block styles %}
  {{ encore_entry_link_tags('checkout-summary') }}
{% endblock %}

{% block scripts %}
{% if not order.empty %}
{{ encore_entry_script_tags('checkout-summary') }}
{% endif %}
{% endblock %}
