{% extends "base.html.twig" %}

{% form_theme form 'form/order.html.twig' %}

{% block banner %}
{% endblock %}

{% block body %}

<div class="container container--full-height">

  <div id="react-root"></div>

  {% if not order.empty %}

    {{ form_start(form, { attr: { style: 'padding-bottom: 66px;', class: (embed_context.enabled ? 'pt-4' : '') } }) }}
    <div class="row">
      <div class="col-xs-12">
        {% include 'order/breadcrumb.html.twig' %}

        <div id="order-error-container">
          {% if pre_submit_errors is defined and pre_submit_errors|length > 0 %}
            {% include 'order/_partials/errors.html.twig' with {
              errors: pre_submit_errors,
            } %}
          {% endif %}
        </div>

        <h2 class="font-weight-bold m-0 mb-5">{{ order.vendor.name }}</h2>
        <div>
          <h4 class="bg-light p-3 m-0">{{ 'order.cart.title'|trans }}</h4>
          <div id="items">
            {% include '_partials/order/items.html.twig' with { with_taxes: false, with_items: false } %}
          </div>
        </div>

        <div class="mb-4">
          <h4 class="bg-light p-3 m-0 mb-4">{% trans %}order.payment.title{% endtrans %}</h4>
          <div>

            {% if error is defined %}
              <div class="alert alert-danger">
                {{ error }}
              </div>
            {% endif %}

            {{ form_errors(form) }}

            {% if form.method is defined %}
              {{ form_row(form.method) }}
            {% endif %}

            {{ form_widget(form.stripePayment.stripeToken) }}
            {{ form_widget(form.stripePayment.savedPaymentMethodId) }}

            <div id="card-element">
              <!-- a React element will be inserted here. -->
            </div>

            <div id="card-errors" role="alert" class="text-danger"></div>

          </div>
        </div>
      </div>
    </div>
    <nav class="checkout-nav border-top">
      <div class="container">
        <div class="d-flex flex-row justify-content-between align-items-center py-3">
          <!-- React component will be inserted here -->
          <div id="order__fulfilment_time_range__container">
          </div>
          <div>
            <button type="submit" class="btn btn-block btn-lg btn-primary btn-payment" disabled="disabled">
              <i class="btn__loading_indicator fa fa-spinner fa-spin"></i> {% trans with { '%total%': order.total|price_format } %}order.payment.total{% endtrans %}
            </button>
          </div>
        </div>
      </div>
    </nav>
    {{ form_end(form) }}

  {% else %}
    <div class="alert alert-warning">
      {% trans from 'validators' %}cart.empty{% endtrans %}
    </div>
  {% endif %}
</div>

  <div id="js-order-data"
       data-order-node-id="{{ order|get_iri_from_item }}"
       data-order-shipping-time-range="{{ shipping_time_range is not null ? shipping_time_range|json_encode|e('html_attr') }}"
       data-order-access-token="{{ order_access_token is defined ? order_access_token }}"></div>

{% endblock %}

{% block footer %}
{% endblock %}

{% block styles %}
  {{ encore_entry_link_tags('order-payment') }}
{% endblock %}

{% block scripts %}
{% if not order.empty %}
  {{ encore_entry_script_tags('order-payment') }}
  {% include 'payment/scripts.html.twig' with {
    order: order,
    payment_form_selector: 'form[name="checkout_payment"]',
    token_element_selector: '#checkout_payment_stripePayment_stripeToken',
    order_access_token: order_access_token,
    with_saved_cards: true
  } %}
{% endif %}
{% endblock %}
