{% extends "base.html.twig" %}

{% block body %}
<div class="container container--full-height">

  {% if not order.empty %}

    {% include 'order/breadcrumb.html.twig' %}
    {% include 'order/_partials/time.html.twig' %}

    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="border mb-3">

          <h4 class="bg-light p-3 m-0">{{ order.restaurant.name }}</h4>
          <div class="px-3 py-4">
            {% include "_partials/order/restaurant_details.html.twig" %}
          </div>

          <h4 class="bg-light p-3 m-0">{{ 'order.cart.title'|trans }}</h4>
          <div id="items">
            {% include '_partials/order/items.html.twig' with { with_taxes: false } %}
          </div>

        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="border mb-3">
          <h4 class="bg-light p-3 m-0">{% trans %}order.payment.title{% endtrans %}</h4>
          <div class="p-4 text-center">
            <div id="wait-waiting">
              <p>{{ 'order.payment.waiting_for_confirmation'|trans }}</p>
              <p class="text-danger">{{ 'order.payment.do_not_close'|trans }}</p>
              <i class="fa fa-spinner fa-spin fa-2x my-4"></i>
            </div>
            <div id="wait-success" class="hidden">
              <p>{{ 'order.payment.waiting_success'|trans }}</p>
              <i class="fa fa-check-circle fa-2x my-4 text-success"></i>
            </div>
            <div id="wait-failure" class="hidden">
              <p>{{ 'order.payment.waiting_failure'|trans }}</p>
              <i class="fa fa-times-circle fa-2x my-4 text-danger"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    {{ form_start(form) }}
      {{ form_widget(form) }}
    {{ form_end(form) }}

  {% else %}
    <div class="alert alert-warning">
      {% trans from 'validators' %}cart.empty{% endtrans %}
    </div>
  {% endif %}
</div>
{% endblock %}

{% block scripts %}
{% if not order.empty %}
<script type="text/javascript" src="https://js.stripe.com/v3/"></script>
<script type="text/javascript">

{% if stripe_options.stripe_account is defined %}
var stripe = Stripe("{{ coopcycle_setting('stripe_publishable_key') }}", { stripeAccount: "{{ stripe_options.stripe_account }}" });
{% else %}
var stripe = Stripe("{{ coopcycle_setting('stripe_publishable_key') }}");
{% endif %}

// https://stripe.com/docs/sources/best-practices

// After some amount of time, we should stop trying to resolve the order synchronously:
var MAX_POLL_COUNT = 30; // We will wait for 5 minutes
var pollCount = 0;

function pollForSourceStatus() {
  stripe
    .retrieveSource({
      id: "{{ source_id }}",
      client_secret: "{{ client_secret }}"
    })
    .then(function(result) {
      var source = result.source;

      if (source.status === 'chargeable') {

        // Make a request to your server to charge the Source.
        // Depending on the Charge status, show your customer the relevant message.

        document.querySelector('#wait-waiting').classList.add('hidden');
        document.querySelector('#wait-success').classList.remove('hidden');

        setTimeout(function() {
          document.querySelector('form[name="charge_stripe_source"]').submit();
        }, 500);

      } else if (source.status === 'pending' && pollCount < MAX_POLL_COUNT) {
        // Try again in a second, if the Source is still `pending`:
        pollCount += 1;
        setTimeout(pollForSourceStatus, 10000);
      } else {
        // Depending on the Source status, show your customer the relevant message.
        document.querySelector('#wait-waiting').classList.add('hidden');
        document.querySelector('#wait-failure').classList.remove('hidden');
      }
    });
}

setTimeout(pollForSourceStatus, 5000);

</script>
{% endif %}
{% endblock %}
