{% extends "base.html.twig" %}

{% block body %}
<div class="container container--full-height">

  {% if not order.empty %}

    {% include 'order/breadcrumb.html.twig' %}
    {% include 'order/_partials/time.html.twig' %}

    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="border mb-3">

          <h4 class="bg-light p-3 m-0">{{ order.restaurant.name }}</h4>
          <div class="px-3 py-4">
            {% include "_partials/order/restaurant_details.html.twig" %}
          </div>

          <h4 class="bg-light p-3 m-0">{{ 'order.cart.title'|trans }}</h4>
          <div id="items">
            {% include '_partials/order/items.html.twig' with { with_taxes: false } %}
          </div>

        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="border mb-3">
          <h4 class="bg-light p-3 m-0">{% trans %}order.payment.title{% endtrans %}</h4>
          <div class="p-4 text-center">
            <div id="wait-waiting">
              <p>{{ 'order.payment.waiting_for_confirmation'|trans }}</p>
              <p class="text-danger">{{ 'order.payment.do_not_close'|trans }}</p>
              <i class="fa fa-spinner fa-spin fa-2x my-4"></i>
            </div>
            <div id="wait-success" class="hidden">
              <p>{{ 'order.payment.waiting_success'|trans }}</p>
              <i class="fa fa-check-circle fa-2x my-4 text-success"></i>
            </div>
            <div id="wait-failure" class="hidden">
              <p>{{ 'order.payment.waiting_failure'|trans }}</p>
              <i class="fa fa-times-circle fa-2x my-4 text-danger"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

  {% else %}
    <div class="alert alert-warning">
      {% trans from 'validators' %}cart.empty{% endtrans %}
    </div>
  {% endif %}
</div>
{% endblock %}

{% block scripts %}
{% if not order.empty %}
<script type="text/javascript" src="https://js.stripe.com/v3/"></script>
<script type="text/javascript">

{% if stripe_options.stripe_account is defined %}
var stripe = Stripe("{{ coopcycle_setting('stripe_publishable_key') }}", { stripeAccount: "{{ stripe_options.stripe_account }}" });
{% else %}
var stripe = Stripe("{{ coopcycle_setting('stripe_publishable_key') }}");
{% endif %}

// https://stripe.com/docs/payments/giropay/accept-a-payment#handling-the-redirect

// After some amount of time, we should stop trying to resolve the order synchronously:
var MAX_POLL_COUNT = 30; // We will wait for 5 minutes
var pollCount = 0;

function pollForPaymentIntent() {

  stripe
    .retrievePaymentIntent("{{ client_secret }}")
    .then(function(response) {

      if (response.error) {

        // TODO Show the actual error
        document.querySelector('#wait-waiting').classList.add('hidden');
        document.querySelector('#wait-failure').classList.remove('hidden');

      } else if (response.paymentIntent) {

        // https://stripe.com/docs/payments/intents#intent-statuses
        if (response.paymentIntent.status === 'succeeded') {

          document.querySelector('#wait-waiting').classList.add('hidden');
          document.querySelector('#wait-success').classList.remove('hidden');

          setTimeout(function() {
            var form = document.createElement('form');
            form.setAttribute('method', 'post');
            document.body.appendChild(form);
            form.submit();
          }, 500);

        } else if (response.paymentIntent.status === 'requires_payment_method') {

          document.querySelector('#wait-waiting').classList.add('hidden');
          document.querySelector('#wait-failure').classList.remove('hidden');

        } else {

          if (pollCount < MAX_POLL_COUNT) {
            pollCount += 1;
            setTimeout(pollForPaymentIntent, 10000);
          } else {
            document.querySelector('#wait-waiting').classList.add('hidden');
            document.querySelector('#wait-failure').classList.remove('hidden');
          }

        }

      }

    }).catch(function(e) {
      // TODO Show the actual error
      document.querySelector('#wait-waiting').classList.add('hidden');
      document.querySelector('#wait-failure').classList.remove('hidden');
    });
}

setTimeout(pollForPaymentIntent, 5000);

</script>
{% endif %}
{% endblock %}
