{% extends "base.html.twig" %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block body %}
<div class="container">
  <div class="row">
    <h3 class="col-md-12 mb-4">Detalle del pedido {{order.number}}</h3>
    <div class="adhoc-order-detail col-12 col-md-5">

      {% include '_partials/order/items.html.twig' with { with_total_excluding_tax: true } %}
    </div>
    <div class="adhoc-order-form col-12 col-md-7">
      <h4 class="title mb-4">Complete la siguiente información para finalizar el pedido</h4>
      {{ form_start(form) }}

        {{ form_errors(form) }}

        {{ form_row(form.shippingAddress) }}

        {{ form_row(form.shippingTimeRange) }}

        {% if form.payment is defined %}

          <div class="text-right">
            <a href="{{ path('public_adhoc_order', { hashid: order|hashid }) }}">{{ 'basics.edit'|trans }}</a>
          </div>

          <hr>

          {{ form_errors(form.payment) }}

          {{ form_widget(form.payment.stripeToken) }}
          <div id="card-element" class="mt-4">
            <!-- a React element will be inserted here. -->
          </div>

          <input type="hidden" name="checkout_payment[method]" value="card">

          <!-- Used to display form errors -->
          <div id="card-errors" role="alert"></div>

          <div class="text-center mb-4">
            <button type="submit" class="btn btn-block btn-lg btn-primary btn-payment" disabled="disabled">
              <i class="btn__loading_indicator fa fa-spinner fa-spin"></i> {% trans with { '%total%': order.total|price_format } %}order.payment.total{% endtrans %}
            </button>
          </div>
        {% endif %}

        {% if payment.state in ['authorized', 'completed'] %}
          <div class="alert alert-success mt-4">
            <i class="fa fa-check"></i> {{ 'embed.delivery.paid_at'|trans({ '%date%': payment.updatedAt|format_datetime('medium', 'short') }) }}
          </div>
        {% elseif payment.state == 'failed' %}
          <div class="alert alert-danger">{{ payment.lastError }}</div>
        {% elseif payment.state == 'failed' %}
        {% endif %}

        {% if not form.payment is defined and payment.state not in ['authorized', 'completed'] %}
        <button type="submit" class="btn btn-lg btn-block btn-primary">{{ 'basics.continue'|trans }}</button>
        {% endif %}

      {{ form_end(form) }}
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}

{% if form.payment is defined and payment.state in ['new', 'cart'] %}
  {% include 'payment/scripts.html.twig' with {
    order: order,
    payment: payment,
    payment_form_selector: 'form[name="adhoc_order"]',
    token_element_selector: '#adhoc_order_payment_stripeToken'
  } %}
{% endif %}

{% endblock %}
