{% extends "base.html.twig" %}

{% if payment_form is defined %}
  {% form_theme payment_form 'bootstrap_3_layout.html.twig' %}
{% endif %}

{% block menu %}
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ path('homepage') }}">
        <img src="{{ asset('img/logo.svg') }}" width="20" height="20" />
      </a>
      <a class="navbar-brand" href="{{ path('homepage') }}">{{ coopcycle_setting('brand_name') }}</a>
    </div>
  </div>
</nav>
{% endblock %}

{% block body %}
<div class="container">

  {% for message in app.flashes('embed_delivery') %}
    <div class="alert alert-success">
      {{ message|raw }}
    </div>
  {% endfor %}

  <div class="row">
    <div class="col-md-6">
      <section>
        <div id="map" style="height: 400px; margin-bottom: 20px;"></div>
      </section>
    </div>
    <div class="col-md-6">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="nomargin">{{ 'embed.delivery.summary.title'|trans }}</h4>
        </div>
        <div class="panel-body">
          <p class="nomargin text-right">
            <i class="fa fa-clock-o"></i> {{ 'basics.created_at'|trans({ '%date%': order.createdAt|format_datetime('medium', 'short') }) }}
          </p>
        </div>
        {% include "_partials/order/items.html.twig" %}
      </div>

      {% if last_payment.state == 'failed' %}
        <div class="alert alert-danger">{{ last_payment.lastError }}</div>
      {% endif %}

      {% if last_payment.state == 'completed' %}
        <div class="alert alert-success">
          <i class="fa fa-check"></i> {{ 'embed.delivery.paid_at'|trans({ '%date%': last_payment.updatedAt|format_datetime('medium', 'short') }) }}
        </div>
      {% endif %}

      {% if payment_form is defined %}
        {{ form_start(payment_form) }}

          {{ form_errors(payment_form) }}

          {% if payment_form.method is defined %}
            {{ form_row(payment_form.method) }}
          {% endif %}

          {{ form_widget(payment_form.stripePayment.stripeToken) }}
          <div id="card-element">
            <!-- a React element will be inserted here. -->
          </div>
          <!-- Used to display form errors -->
          <div id="card-errors" role="alert"></div>

          <div class="text-center">
            <button type="submit" class="btn btn-block btn-lg btn-primary btn-payment" disabled="disabled">
              <i class="btn__loading_indicator fa fa-spinner fa-spin"></i> {% trans with { '%total%': order.total|price_format } %}order.payment.total{% endtrans %}
            </button>
          </div>

        {{ form_end(payment_form) }}
      {% endif %}

    </div>
  </div>
</div>
{% endblock %}

{% block footer %}
<div style="padding: 20px 0;">
  <div class="container">
    <div class="text-center">
      <img src="{{ asset('img/logo.svg') }}" width="20" height="20" />  {{ 'basics.powered_by'|trans|raw }}
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}

{% set gateway = payment_gateway_resolver.resolve() %}
{% set gateway_configs = {} %}
{% set country = country_iso %}

{% if gateway == 'stripe' %}
<script type="text/javascript" src="https://js.stripe.com/v3/"></script>
{% set gateway_configs = gateway_configs|merge({
  stripe: {
    publishableKey: coopcycle_setting('stripe_publishable_key'),
    createPaymentIntentURL: path('stripe_create_payment_intent', { hashId: last_payment|hashid }),
  }
}) %}
{% endif %}

{% if gateway == 'mercadopago' %}
<script src="https://sdk.mercadopago.com/js/v2"></script>
{% set gateway_configs = gateway_configs|merge({
  mercadopago: {
    publishableKey: coopcycle_setting('mercadopago_test_publishable_key'),
    country: country
  }
}) %}
{% endif %}

{{ encore_entry_script_tags('delivery-map') }}
<script>
new CoopCycle.DeliveryMap('map', {
  pickup: [ {{ order.delivery.pickup.address.geo.latitude }}, {{ order.delivery.pickup.address.geo.longitude }} ],
  dropoff: [ {{ order.delivery.dropoff.address.geo.latitude }}, {{ order.delivery.dropoff.address.geo.longitude }} ],
  polyline: "{{ order.delivery.polyline|e('js') }}"
});
</script>
{% if payment_form is defined %}
<script type="text/javascript" src="https://js.stripe.com/v3/"></script>
<script type="text/javascript">
new CoopCycle.PaymentForm(document.querySelector('form[name="checkout_payment"]'), {
  card: "{{ gateway }}",
  amount: {{ order.total }},
  gatewayConfigs: {{ gateway_configs|json_encode|raw }},
  tokenElement: document.querySelector('#checkout_payment_stripePayment_stripeToken'),
  selectPaymentMethodURL: "{{ path('order_payment_select_method', { hashId: last_payment|hashid }) }}"
});
</script>
{% endif %}
{% endblock %}
