<h3>Delivery #{{ delivery.id }}</h3>
{% if delivery.store is not empty %}
<h4>{{ delivery.store.name }}</h4>
{% endif %}
<p>{{ delivery.pickup.address.streetAddress }}</p>
<p>{{ delivery.pickup.address.name }}</p>
<p>{{ delivery.dropoff.address.streetAddress }}</p>
<p>{{ delivery.dropoff.address.name }}</p>
