<mj-table>
	<tr style="border-bottom: 1px solid #ecedee; text-align: left;">
	  <th>{{ 'order.items.products_with_count'|trans({ '%count%': order.countItems }) }}</th>
	  <th style="text-align: right;">Total</th>
	</tr>
  {% for item in order.items %}
  <tr style="text-align: left;">
    <td>{{ item.quantity }} × {{ item.variant.name }}</td>
    <td style="text-align: right;">{{ item.total|price_format }}</td>
  </tr>
  {% endfor %}
  <tr style="border-top: 1px solid #ecedee; text-align: left;">
    <th>{{ 'order.items_total'|trans }}</th>
    <td style="text-align: right;">{{ order.itemsTotal|price_format }}</td>
  </tr>
  {% set delivery_adjustments = order.getAdjustments('delivery') %}
  {% if delivery_adjustments|length > 0 %}
  {% set delivery_adjustment = delivery_adjustments|first %}
  <tr style="text-align: left;">
    <th style="text-align: left;">{{ delivery_adjustment.label }}</th>
    <td style="text-align: right;">
      {{ delivery_adjustment.amount|price_format }}
    </td>
  </tr>
  {% endif %}
  {% set promotion_adjustments = [] %}
  {% for adjusment in order.adjustments %}
    {% if adjusment.type == 'delivery_promotion' or adjusment.type == 'order_promotion' %}
      {% set promotion_adjustments = [ adjusment ]|merge(promotion_adjustments) %}
    {% endif %}
  {% endfor %}
  {% if promotion_adjustments|length > 0 %}
    {% for adjustment in promotion_adjustments %}
    <tr style="text-align: left">
      <th>{{ adjustment.label }}</th>
      <td style="text-align: right">
        {{ adjustment.amount|price_format }}
      </td>
    </tr>
    {% endfor %}
  {% endif %}
  <tr style="text-align: left;">
    <th>Total</th>
    <th style="text-align: right;">{{ order.total|price_format }}</th>
  </tr>
</mj-table>
