<table border="0" cellpadding="0" cellspacing="0" style="width:600px; margin: 20px auto; line-height: 30px;">
  <thead style="background-color: #ebebeb; font-size: 14px; font-weight: 200;">
    <tr>
      <th style="text-align: left; padding-left: 20px; width: 40px;">#</th>
      <th style="text-align: left; padding-left: 20px;">Item</th>
      <th style="width: 120px; text-align: left; padding-left: 20px;">
        {% trans from 'emails' %}order.quantity{% endtrans %}
      </th>
      <th style="width: 100px; text-align: right; padding-right: 20px;">Total</th>
    </tr>
  </thead>
  <tbody>
    {% for item in order.items %}
      <tr>
        <td style="text-align: left; padding-left: 20px;">{{ loop.index }}</td>
        <td style="text-align: left; padding-left: 20px;">{{ item.variant.name }}</td>
        <td style="text-align: left; padding-left: 20px;">{{ item.quantity }}</td>
        <td style="text-align: right; padding-right: 20px;">{{ item.total|price_format }}</td>
      </tr>
    {% endfor %}
    <tr style="background-color:#ebebeb;">
      <td colspan="3" style="padding-left: 20px;">Taxes</td>
      <td style="text-align: right; padding-right: 20px;">{{ order.taxTotal|price_format }}</td>
    </tr>
    {#
    <tr style="background-color:#ebebeb;">
      <td colspan="3" style="padding-left: 20px;">{% trans from 'emails' %}order.confirmationMail.delivery{% endtrans %}</td>
      <td style="text-align: right; padding-right: 20px; ">{{ order.delivery.price|price_format }}</td>
    </tr>
    #}
    <tr style="font-weight: 600; background-color: #BFBFBF;">
      <td colspan="3" style="padding-left: 20px;">Total</td>
      <td style="text-align: right; padding-right: 20px;">{{ order.total|price_format }}</td>
    </tr>
  </tbody>
</table>
