<div class="hidden">

  {{ form_row(form.pickup) }}
  {{ form_row(form.dropoff) }}

  {% if form.vehicle is defined %}
    {{ form_row(form.vehicle) }}
  {% endif %}
  {% if form.weight is defined and not form.weight.rendered %}
    {{ form_row(form.weight) }}
  {% endif %}
  {% if form.packages is defined and not form.packages.rendered %}
    {{ form_row(form.packages) }}
  {% endif %}

  {{ form_row(form.name) }}
  {{ form_row(form.email) }}
  {{ form_row(form.telephone) }}

  {{ form_widget(form.billingAddress) }}

</div>
