{% extends 'profile/invitation_define_password.html.twig' %}

{% block header %}
  <div class="d-none d-md-block">
    <h5>Business account creation</h5>
  </div>
  <div class="step d-flex align-items-center step-{{flow.getCurrentStepNumber()}}">
    {% for step in flow.steps %}
      <span class="step-number {{ step.number != flow.getCurrentStepNumber() ? 'inactive': '' }}">{{ step.number }}</span>
      <span class="text-nowrap {{ step.number != flow.getCurrentStepNumber() ? 'label-inactive': 'font-weight-bold' }}">{{ step.label|trans }}</span>
    {% endfor %}
  </div>
{% endblock %}

{% block form_content %}
  <div class="alert alert-info">
    <i class="fa fa-info-circle"></i>
    {% trans with {
      '%brandName%': coopcycle_setting('brand_name'),
    } %}registration.alert.business.account.text{% endtrans %}
  </div>
  {{ form_start(form) }}
    {% if flow.getCurrentStepNumber() == 1 %}
      {% include '_partials/profile/personal_information_form.html.twig' with {
        form: form.user
      } %}
    {% endif %}
    {% if flow.getCurrentStepNumber() == 2 %}
      {% include '_partials/profile/business_account_company_information_form.html.twig' with {
        form: form.businessAccount
      } %}
    {% endif %}
    {% if flow.getCurrentStepNumber() == 3 %}
      {% include '_partials/profile/business_account_invitation_form.html.twig' %}
    {% endif %}
  {{ form_end(form) }}
{% endblock %}

{% block scripts %}
  <script>
    const widgetSwitch = document.querySelector('[data-widget="company-address-for-billing-switch"]')
    const billingAddressEl = document.querySelector('[data-billing-address]')

    if (widgetSwitch) {
      const targetSelector = widgetSwitch.dataset.switchTarget;
      const el = document.querySelector(`[name="${targetSelector}"]`)

      if (el.checked) {
        billingAddressEl.classList.remove('d-none')
        document.querySelector('[id$=_businessAccount_billingAddress_streetAddress]').setAttribute('required','')
      }

      new CoopCycle.Switch(widgetSwitch, {
        checked: el.checked,
        onChange: function(checked) {
          el.checked = checked
          if (checked) {
            billingAddressEl.classList.remove('d-none')
            document.querySelector('[id$=_businessAccount_billingAddress_streetAddress]').setAttribute('required','')
          } else {
            billingAddressEl.classList.add('d-none')
            document.querySelector('[id$=_businessAccount_billingAddress_streetAddress]').removeAttribute('required')
          }
        }
      });
    }
  </script>
{% endblock %}
