{% extends 'profile/invitation_define_password.html.twig' %}

{% block header %}
  <h5>{{ 'registration.navigation.title'|trans }}</h5>
{% endblock %}

{% block info_section %}
  <div class="info-section rounded">
    <h5>{{ 'registration.info.title'|trans }}</h5>
    <p>{{ 'registration.info.text'|trans }}</p>
    {% if businessAccountInvitation is not null and not businessAccountInvitation.isInvitationForManager %}
      <strong>{{ 'registration.info.business.account.attachment'|trans({ '%businessAccountName%': businessAccountInvitation.businessAccount.name }) }}</strong>
    {% endif %}
  </div>
{% endblock %}

{% block form_content %}
    <div class="alert alert-info">
      <i class="fa fa-info-circle"></i>
      {% trans with {
        '%brandName%': coopcycle_setting('brand_name'),
        '%invitedBy%': invitationUser.customer.fullname|default(invitationUser.username)
      } %}registration.alert.text{% endtrans %}
    </div>
  {{ form_start(form) }}
      {% include '_partials/profile/personal_information_form.html.twig' %}
  {{ form_end(form) }}

  <div id="existing_user_login_form" class="hidden">
    {% include '_partials/profile/existing_user_ask_login_form.html.twig' with {
      form: form,
      action_path: path('nucleos_user_security_check', { _target_path:
        businessAccountInvitation ? path('associate-loggedin-user-to-business-account', {code: businessAccountInvitation.invitation.code}) : ''
      }),
      warning_message:
        businessAccountInvitation ? 'registration.business_account.loggin.warning_message'|trans({'%name%': businessAccountInvitation.businessAccount.name })
          : 'registration.email.taken.loggin.warning_message'|trans()
    } %}
  </div>

{% endblock %}
