<div class="form-section">
  <div class="alert alert-warning">
    <i class="fa fa-warning mr-1"></i>
    <span>{{ 'business_account.registration.user_with_same_email_exists'|trans }}</span>
  </div>

  <form class="form" action="{{ path("nucleos_user_security_check", { _target_path: path('invitation_define_password', {code: invitation.code}) }) }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
    <input type="hidden" name="_username" value="{{ form.email.vars.data }}" />
    <div class="input-group">
      <input type="password" name="_password"
        class="form-control" id="guest-checkout-password"
        placeholder="{{ 'security.login.password'|trans({}, 'NucleosUserBundle') }}">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary">
          {{ 'security.login.submit'|trans({}, 'NucleosUserBundle') }}
        </button>
      </span>
    </div>
    <a class="help-block mb-0" href="{{ path('nucleos_user_resetting_request') }}">
      {% trans from 'messages' %}authentication.forgot_password{% endtrans %}
    </a>
  </form>
</div>
