<div class="form-section">
  <div class="header rounded-top">
    <h5>{{ 'registration.form.title'|trans }}</h5>
  </div>
  <div class="form rounded-bottom">
    {{ form_start(form) }}
      {{ form_row(form.username) }}
      {{ form_row(form.email) }}
      <div class="row">
      <div class="col-md-6">
        {{ form_row(form.plainPassword.first) }}
      </div>
      <div class="col-md-6">
        {{ form_row(form.plainPassword.second) }}
      </div>
      </div>
      {% if form.legal is defined %}
        {{ form_row(form.legal) }}
      {% elseif form.termsAndConditionsAndPrivacyPolicy is defined %}
        {{ form_row(form.termsAndConditionsAndPrivacyPolicy) }}
      {% endif %}
      {% for optin in form.optins.vars.value|split(',') %}
        {{ form_row(form[optin]) }}
      {% endfor %}
      <div class="row">
        <div class="col-md-6"></div>
        {% if form.save is defined %}
          <div class="col-md-6">
              <button name="{{ field_name(form.save) }}" type="submit" class="btn btn-block btn-md bg-primary">
              {{ 'registration.submit'|trans({}, 'NucleosProfileBundle') }}
              <i class="fa fa-angle-right ml-2"></i>
              </button>
          </div>
        {% else %}
          {% include '@CraueFormFlow/FormFlow/buttons.html.twig' with {
            craue_formflow_button_class_last: 'btn btn-primary',
            craue_formflow_button_class_back: 'btn',
            craue_formflow_button_class_reset: 'btn btn-warning',
                craue_formflow_button_render_reset: false,
          } %}
        {% endif %}
      </div>
    {{ form_end(form) }}
  </div>
</div>

{% if form.termsAndConditionsAndPrivacyPolicy is defined %}
  <div id="termsAndConditionsAndPrivacyPolicy">
  </div>
{% endif %}
