<div class="form-section">
  <div class="header rounded-top">
    <h5>{{ 'registration.step.personal'|trans }}</h5>
  </div>
  <div class="form rounded-bottom">
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    <div class="row">
    <div class="col-md-6">
      {{ form_row(form.plainPassword.first) }}
    </div>
    <div class="col-md-6">
      {{ form_row(form.plainPassword.second) }}
    </div>
    </div>
    {% if form.legal is defined %}
      {{ form_row(form.legal) }}
    {% elseif form.termsAndConditionsAndPrivacyPolicy is defined %}
      {{ form_row(form.termsAndConditionsAndPrivacyPolicy) }}
    {% endif %}
    {% for optin in form.optins.vars.value|split(',') %}
      {{ form_row(form[optin]) }}
    {% endfor %}
    {% if form.save is defined %}
      <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
            <button name="{{ field_name(form.save) }}" type="submit" class="btn btn-block btn-md btn-primary">
            {{ 'registration.submit'|trans({}, 'NucleosProfileBundle') }}
            <i class="fa fa-angle-right ml-2"></i>
            </button>
        </div>
      </div>
    {% elseif flow is defined %}
      {% include '_partials/profile/flow_buttons.html.twig' %}
    {% endif %}
  </div>
</div>

{% if form.termsAndConditionsAndPrivacyPolicy is defined %}
  <div id="termsAndConditionsAndPrivacyPolicy">
  </div>
{% endif %}

{% block styles %}
  {{ encore_entry_link_tags('register') }}
{% endblock %}

{% block scripts %}
  {{ encore_entry_script_tags('register') }}
{% endblock %}
